[2017-11-15 00:17] #313 closed

[2017-11-15 00:40] benjamincburns commented on #416
@geminifund from your error message it looks like you're running node v0.10.44. TestRPC is meant to run against node v6.11.5 and later, however I'd highly recommend choosing the latest lts release, v8.9.0.

Please reopen if updating to a later version of node does not fix your problem.

[2017-11-15 00:40] #416 closed

[2017-11-15 01:27] youtweakit commented on #419
Addition possible exploit injection found in /usr/lib/node_modules/truffle/build/chain.bundled.js: Html.Exploit.CVE_2017_8738-6336184-2 FOUND Reported by ClamAV

[2017-11-15 04:00] benjamincburns commented on #387
This is happening because `TestRPC` doesn't sign transactions. Instead it uses `ethereumjs-tx/fake.js` to fake out a signed transaction hash. I have a fix in the works for this, but it breaks some forking behaviour, so it'll take a bit of time to sort that out.

[2017-11-15 08:07] roderik commented on #417
No, no interval mining for me.

This is my docker image and startup command

[code]

[2017-11-15 09:21] roderik commented on #417
I updated the docker image to the latest version, and included #425
I will start using it this way and report back if I have more information

[2017-11-15 09:40] roderik commented on #417
No joi 😢
[code]

* clean startup
* truffle migrate
* In the log where the long list of `net_version` lines start, that is where i'm setting up a set of contracts using `truffle-contract` in my code, and I assume doing the .deployed() call on them.

Same code on v5 and a recent Parity node work fine btw

[2017-11-15 10:34] wighawag commented on #378
Hi @benjamincburns thanks for getting back. I ll let you know if I can encounter the issue with newest version.

[2017-11-15 12:40] jamesray1 commented on #382
I'm still not interested in using LLL (and thus trying to use web3 and testRPC) as I have other priorities related to focusing on research, e.g. scalability and Casper.

[2017-11-15 13:58] bulgakovk commented on #236
Any update on this?

[2017-11-15 16:37] sohkai commented on #359
I'm seeing this as well, on `EthereumJS TestRPC v6.0.1 (ganache-core: 2.0.0)`.

@jimkberry @cgewecke An interesting workaround I found while running into this issue was to reorganize some of my tests. Initially I had left all the tests for asserting failures to the end, with something like this:

[code]

Doing this either gives me the `NotFoundKey` error or this:

[code]

On any test files run aft

[2017-11-15 18:12] romanov-alex commented on #423
@benjamincburns "interval mining" - are you about —blocktime flag? I always use auto-mining. I call functions manually from web interface. When I tested it I called about every 20-40 seconds. And there were calls to another contract (every 5 second).

Most important things for me: is it problem with testrpc or not? I mean...will I get the same problem in real ethereum network?

[2017-11-16 02:31] benjamincburns commented on #219
Apologies we didn't get to this one sooner. `ganache-core` has been updated to use `ethereumjs-util` v5.0.1 for some time now.

Thanks for letting us know!

[2017-11-16 02:31] #219 closed

[2017-11-16 02:41] benjamincburns commented on #252
This should have been closed when Tim merged the PR. Thanks again for your contribution, @mpolci!

[2017-11-16 02:41] #252 closed

[2017-11-16 02:44] benjamincburns commented on #317
I've reached out to the folks at Blockgeeks, but haven't heard back. Closing this, as there's not much else I can do. Sorry, guys.

[2017-11-16 02:44] #317 closed

[2017-11-16 02:52] benjamincburns commented on #263
We're at 0.19.1 now.

[2017-11-16 02:52] #263 closed

[2017-11-16 02:54] benjamincburns commented on #274
We've had great feedback from Windows users of TestRPC since we made the switch to webpack, so I think it's safe to close this one.

[2017-11-16 02:54] #274 closed

[2017-11-16 02:59] benjamincburns commented on #327
@PavelPolyakov is this still an issue for you with latest TestRPC?

[2017-11-16 02:59] benjamincburns commented on #327
Also sorry it took us so long to respond!

[2017-11-16 03:01] benjamincburns commented on #345
All - this issue should be fixed in the latest version of TestRPC. TestRPC v4.x didn't yet support the new opcodes introduced by the Byzantium update, so this was expected behaviour at that time. Please reopen if you are still receiving this error.

[2017-11-16 03:01] #345 closed

[2017-11-16 03:02] benjamincburns commented on #361
Done. Thanks for the request, @retotrinkler!

[2017-11-16 03:02] #361 closed

[2017-11-16 03:10] benjamincburns commented on #405
I've reproduced this.

[2017-11-16 03:14] benjamincburns commented on #245
Thanks for the issue, @chevdor -- the prefix bugs me as well. The good news is, as of tomorrow, we'll actually be renaming testrpc to ganache-cli.

http://truffleframework.com/ganache/

[2017-11-16 03:15] #245 closed

[2017-11-16 03:17] benjamincburns commented on #299
This has long since been updated. As such I'm closing this case, like a good project maintainer...

[2017-11-16 03:17] #299 closed

[2017-11-16 03:20] benjamincburns commented on #339
@mdance is this one still giving you trouble? I've used the `--account` option numerous times lately with success, but I confess I haven't tested the balance portion of it rigorously.

[2017-11-16 03:23] benjamincburns commented on #369
@MechanicalSloth I'm sorry it's been so long without a response from us! I think you're correct that this is a web3 issue. It should be calling the provider's `sendAsync` method rather than `send` in this case. I'd suggest raising the issue with them.

If you feel I'm wrong on this, please don't hesitate to reopen.

[2017-11-16 04:40] ojones commented on #364
Giveth relies on websockets so we use forked version of testrpc created by perissology: "ethereumjs-testrpc": "git://github.com/perissology/testrpc.git#81216dbc"
You can see more about how we use it at https://github.com/Giveth/feathers-giveth

[2017-11-16 07:02] jimitpatel commented on #382
Requires 'c' capital of contract. Additionally requires `new` keyword. So it should be

`VotingContract = web3.eth.Contract(abiDefinition)`

The output

[code]

[2017-11-16 07:11] Shrugs opened #426 "evm_revert occasionally crashes testrpc"
My testrpc instance occasionally crashes directly after an `evm_revert` rpc call is issued, complaining about `toJSON`. Relevant output:

[code]

## Expected Behavior
Testrpc should revert to snapshot with id `1`.

## Current Behavior
Testrpc cli crashes.

## Steps to Reproduce (for bugs)
Again, this is only "occasionally" (which I'm aware is infuriating), so apologies for the lack of concrete inf

[2017-11-16 07:11] Shrugs commented on #426
this is related to https://github.com/trufflesuite/ganache/issues/82

[2017-11-16 08:07] PavelPolyakov commented on #327
@benjamincburns
I think that was error in my contract, not `testrpc`.

Thanks for reminding me to close the issue.

[2017-11-16 08:07] #327 closed

[2017-11-16 09:24] lastperson commented on #355
Doesn't reproduce on 6.0.3, works as expected. Probably can be closed.

[2017-11-16 10:07] sohkai commented on #359
Actually @jimkberry, @cgewecke, I realized my tests were messed up in the above scenario and it was due to "un-waited-for" promises.

I forgot to wait for the returned promises from the `assertRevert()` call above, probably deferring their actual execution to until the other tests started running with new EVM contexts.

Making sure that I wait for them makes the tests run without a problem in thei

[2017-11-16 10:57] jamesray1 commented on #382
Thanks for the tip. I'll keep it in mind if I use LLL in future. Perhaps the code should be corrected in the LLL tutorials.

[2017-11-16 11:40] jamesray1 commented on #382
Actually I think that my issue was caused by using ‘web3’ rather than 'web3'. Similarly "foo" should be used rather than “foo”.

[2017-11-16 14:27] LiorRabin commented on #417
any way to workaround this?

[2017-11-16 14:40] Silur commented on #421
@vitaliy-kuzmich are you using a docker setup?

[2017-11-16 14:57] vitaliy-kuzmich commented on #421
@Silur no

[2017-11-16 23:37] marcelomorgado commented on #405
I've got the same error using geth console:

"0xd8341e95a9ed5ef366426e472fbd5e7d74f1ecf2"

Error: Account not found

Error: Account not found
    at web3.js:3104:20
    at web3.js:6191:15
    at web3.js:5004:36
    at <anonymous>:1:1

[2017-11-17 09:24] parth5049 commented on #397
Hello @abec @petermunnings
I am also facing the same issue. I am using open-zeppelin contracts and imported those contracts to create my contract and override createTokenContract method to create my token.
I am using EthereumJS TestRPC v4.1.3 (ganache-core: 1.1.3), Ubuntu 16.04.
As @abec suggested to check require inside the constructor, the open-zeppelin contracts has these require statements, so

[2017-11-17 19:11] ruby32 opened #428 "npm install fails because of uglifyjs-webpack-plugin"
## Expected Behavior
Install succeeds

## Current Behavior
Install fails

## Possible Solution
A newer version of uglifyjs-webpack-plugin exists, maybe move to that new version?

## Steps to Reproduce (for bugs)
1. `npm install -g ethereumjs-testrpc`
2.

[code]
## Your Environment
* Operating System and version: Ubuntu 16.04

[2017-11-17 19:15] ruby32 commented on #428
I found a solution:

[code]

but this is a bad solution, it might be better to upgrade dependencies to exclude packages that still refer to `node` instead of `nodejs`

[2017-11-17 19:31] benjamincburns commented on #428
@ruby32 from the console log you pasted, it looks like you're using node v4.2.6. TestRPC is only supported on node v6.11.5+. I'd recommend having a look at creationix/nvm or alternatively build TestRPC yourself as a docker image per the instructions in the README.

[2017-11-17 19:31] #428 closed

[2017-11-17 19:40] benjamincburns commented on #397
@parth5049 can you give the latest TestRPC a try? It should be v6.0.3 as of today.

[2017-11-17 19:41] benjamincburns commented on #397
@parth5049 also what version of the solidity compiler are you using?

[2017-11-17 21:41] bwheeler96 commented on #265
Why is the default balance `100` ETH anyways? Seems silly to limit the amount of fake money like that. Base 10 numbers are great for writing tests with from a mental math perspective

[2017-11-17 22:27] danfinlay opened #429 "Requesting tx by unknown hash should return null, not an error."
Currently requesting a tx by unknown hash returns an error with an internal testrpc stack trace.

Geth/Parity simply return `null`, to represent no entry by that hash.

We could use this behavior corrected in MetaMask to help us detect when testrpc is reset, so we can fix our nonce calculation in development situations:
https://github.com/MetaMask/metamask-extension/issues/1999

[2017-11-18 05:07] benjamincburns commented on #429
Sounds like an easy one. Will short list it if it’s blocking you guys.
On Fri, Nov 17, 2017 at 2:27 PM Dan Finlay <notifications@github.com> wrote:

[2017-11-18 05:42] danfinlay commented on #429
It would definitely make it much easier to help these devs, thank you!

[2017-11-19 14:50] natanrolnik commented on #220
@fabioberger how did you solve this?

[2017-11-19 18:08] natanrolnik commented on #220
@fabioberger @vethan I've opened the above PR to fix it!

[2017-11-20 18:33] andreyFreeman commented on #316
@entelechii same here. Did you figure this out?

[2017-11-20 19:07] benjamincburns commented on #236
I promise this is a high priority for me and that I'll post back here when there's some news.

[2017-11-20 19:52] bulgakovk commented on #236
@benjamincburns Great! Can't wait good news from you!

[2017-11-21 03:35] amanuelz91 commented on #139
--port <portNumber> will override the default 8545 port setting

[2017-11-21 06:14] benjamincburns commented on #236
I'm not certain that WebSockets are a requirement for Mist, but I _think_ IPC is. Either way, this issue is somewhat blocking progress on those fronts, should anyone wish to lend a helping hand. https://github.com/ethereum/web3.js/issues/1188

[2017-11-21 06:17] benjamincburns commented on #316
@andreyFreeman chances are if you're still experiencing issues with `npm install -g ethereumjs-testrpc` (or `npm install -g ganache-cli` as it's now called), you're on a version of node older than 6.11.5. I suggest checking out NVM, or our shiny new [docker images](https://hub.docker.com/r/trufflesuite/ganache-cli).

[2017-11-21 06:17] #316 closed

[2017-11-21 06:18] benjamincburns commented on #331
https://hub.docker.com/r/trufflesuite/ganache-cli

Docker container mentioned in docs is now available. ;-)

[2017-11-21 06:18] #331 closed

[2017-11-21 06:25] benjamincburns commented on #369
This wasn't a web3 issue, but rather an issue with our provider. I'll have this fixed as part of the WebSockets work.

[2017-11-21 11:37] MechanicalSloth commented on #369
Thank you ! 👍

[2017-11-21 19:37] benjamincburns commented on #426
@Shrugs if you have time to get together a more reliable repro/minimal example, I'd be much obliged.

And either way, thanks for reporting!

[2017-11-21 23:14] benjamincburns commented on #429
Just capturing some external conversation here - it looks like `ganache-cli` v6.0.3 has the correct behaviour, as does Ganache v1.0.1. @danfinlay said he was testing with TestRPC v4.1.3. I'll double check the annotated code, but I'm betting we added the checks which produce this output between v4.1.3 and v6.0.3.

@danfinlay - please reopen if there's still an issue.

[2017-11-21 23:14] #429 closed

[2017-11-22 11:52] xx11dragon opened #430 "testrpc: command not found on Mac"
I am trying to install testrpc on  my mac (macOS v10.13.1, npm v 5.5.1, node v8.9.1).

`Command:   sudo npm install -g ethereumjs-testrpc`
Log:
[code]

and i starting testrpc.
`Command:   testrpc`
Log:
`-bash: testrpc: command not found`

How start testrpc?

[2017-11-22 11:53] sk4092 commented on #113
`contractInstance.MyEvent({}, {fromBlock:0, toBlock:'latest'}).get(function(err, results){})`
works fine for me but if I remove the empty parenthesis (ie. first parameter) it returns only latest event.
ie. if you use `contractInstance.MyEvent({fromBlock:0, toBlock:'latest'}).get(function(err, results){})`
eth apply the filter as fromBlock: latestBockNumber

[2017-11-22 13:30] kvbik commented on #331
i don't see the `hub.docker` link in the docs btw..

[2017-11-23 01:09] benjamincburns commented on #359
@sohkai Even still, TestRPC shouldn't crash because of that. Are you able to submit a minimal example so that I can debug it more thoroughly? I have a feeling this is a manifestation of #234.

[2017-11-23 01:10] benjamincburns commented on #359
Doh, sorry @sohkai - too many context switches - I scrolled up and saw your example! Thanks for doing that!

[2017-11-23 03:53] benjamincburns commented on #355
Thanks, @lastperson!

[2017-11-23 03:53] #355 closed

[2017-11-23 11:04] chukwuemekanweke commented on #84
Definately a testrpc issue. Deployed a contract to the testnet. works fine

[2017-11-23 17:28] romanov-alex commented on #423
Anybody...
Most important things for me: is it problem with testrpc or not? I mean...will I get the same problem in real ethereum network?

[2017-11-23 20:06] palanisn commented on #379
I'm seeing the same problem when using ganache-cli

# Environment

Version used : Ganache CLI v6.0.3 (ganache-core: 2.0.2)
Metamask version : v3.12.0
Environment name and version : iterm2
Operating System and version : Mac OS High Sierra 10.13.1
nodeJS version : v8.6.0
npm version : 5.5.1

[2017-11-23 21:14] rmeissner opened #431 "Sending too many parameters to an eth_X function crashes testrpc"
## Expected Behavior
When calling an eth_X function with a wrong set of parameters a 400 should be returned (or at least the testrpc should not crash)

## Current Behavior
if too many parameters are send with an eth_X call than the client crashes with the following error:

[code]

## Steps to Reproduce (for bugs)

1. start testrpc (tested with `testrpc -s 42`)
2. send `eth_getBalance` (was also te

[2017-11-23 23:40] Asone commented on #430
That's odd

have you check that you got access to testrpc through /usr/local/bin ?

Other wise you might need to create a symlink there pointing to testrpc

`sudo ln -s /usr/local/bin/testrpc <pathToTestRPC>`

[2017-11-23 23:49] hackingbeauty opened #432 "Where is TestRPC?"
This is confusing.  I came to this page expecting information on TestRPC; however, instead it's a repo on Ganache-CLI which appears to be new.

I'm just interested in installing and starting TestRPC from the terminal.  Is this gone now?

[2017-11-24 01:38] benjamincburns commented on #432
‘ganache-cli’ is the same TestRPC that you know and love, but we’ve
migrated it under the Truffle org and renamed it to be more in line with
the Truffle suite of tooling we’re building out.

Today the only thing that has changed is the repo location on GitHub, the
npm package name, and the command you type to launch it. Have a look at the
updated README for more info!
On Thu, Nov 23, 2017 at 6:49

[2017-11-24 10:02] sontuphan opened #433 "VM Exception while processing transaction: revert"
Anyone plz help me, I'm believing that I'm crazy with this Byzantium update. I just have stucked around revert(), require()... with some fking bugs since a month. Plzzz, Can anyone take me out of this problems. Massive thanks.

## Expected Behavior

I try to call this function from a smartcontract:
[code]
And it should be run without error.

## Current Behavior

TestRPC logs are like that:
`Transa

[2017-11-24 10:35] Shrugs commented on #426
Haven't had the time to construct a project, but this also occurs occasionally after running the zeppelin-solidity tests:

[code]

[2017-11-24 14:37] gixita commented on #339
Did you try to change of network, because it didn't update the amount automatically (go to main network and then on localhost). For me it works

[2017-11-25 04:12] eosrei commented on #249
This code has moved to `trufflesuite/ganache-core`. The problem is:
https://github.com/trufflesuite/ganache-core/blob/4d2a063b475f362eaa08d5d681e95653177e46d8/lib/blockchain_double.js#L179-L180

[2017-11-25 17:52] jakublipinski opened #434 "web3.utils.soliditySha3() is not available via TestRPC"
[web3.utils.soliditySha3()](https://web3js.readthedocs.io/en/1.0/web3-utils.html#soliditysha3) is part of the standard Web3 interface. Unfortunatelly is not available from TestRPC. Please consider adding it.

[2017-11-26 06:08] jakublipinski opened #435 "TestRPC VM Exception: invalid opcode when require() in contract generates REVERT opcode"
## Expected Behavior
You can use [`require()`](https://solidity.readthedocs.io/en/develop/control-structures.html#error-handling-assert-require-revert-and-exceptions) to ensure valid contract conditions. It executs`REVERT` opcode when `require()` condition is not met.  It seems TestRPC does not support it and throws `Error: VM Exception while processing transaction: invalid opcode` when `REVERT` i

[2017-11-26 11:23] Jacke commented on #405
I've got the same bug 👍

[2017-11-27 08:25] Eenae commented on #249
\+ even if set to specific block

Here we could see that the block_number parameter is ignored: https://github.com/trufflesuite/ganache-core/blob/4d2a063b475f362eaa08d5d681e95653177e46d8/lib/subproviders/geth_api_double.js#L286

And later, in implementation of eth_call we are heading straight to the latest block: https://github.com/trufflesuite/ganache-core/blob/4d2a063b475f362eaa08d5d681e95653177

[2017-11-27 17:11] JackPickering commented on #397
Do all of your tests pass?
As my contracts compile and migrate successfully, all tests pass successfully however, Truffle fails with the error:

[code]

After the tests have ran.

[2017-11-27 17:23] JackPickering commented on #397
I found that the reason this was happening on mine, was because I throw an exception when a non-owner of the contract and tries to call a function which requires onlyOwner. This causes Truffle to throw the invalid opcode exception.

http://truffleframework.com/tutorials/testing-for-throws-in-solidity-tests

Here is a link which describes how to run tests with a ThrowProxy contract if anyone else h

[2017-11-27 21:38] stefek99 opened #436 "Warning: Source file does not specify required compiler version! Consider adding pragma solidity "code":-32000"
Am I the right place?

https://www.npmjs.com/package/ethereumjs-testrpc redirects here...

Following the tutorial - https://www.ethdocs.org/en/latest/contracts-and-transactions/accessing-contracts-and-transactions.html

The trouble I have - the `eth_compileSolidity` is not supported.

Either way...

---

It's either warning or error.

If it is warning - should allow operation to complete, instead

[2017-11-28 01:37] LogvinovLeon opened #437 "Gas estimate returns 0x0000000000000000000000000000000000000000033b2e3c9fd0803ce8000000"
## Expected Behavior
Gas estimate should return expected gas usage or an error

## Current Behavior
Sometimes it returns `0x0000000000000000000000000000000000000000033b2e3c9fd0803ce8000000`
It's equal to `1000000000000000000000000000` which is `10^27`

## Possible Solution
No idea

## Steps to Reproduce (for bugs)
1. I don't have a 100% repro. Possible repro steps are described in Context.

## Con

[2017-11-28 04:27] benjamincburns commented on #430
@xx11dragon try `npm install -g ganache-cli` and run using the `ganache-cli` command. This is the same as TestRPC, we've just renamed it.

Also chances are if you have to run `npm install -g` with `sudo` you aren't using creationix/nvm. I highly recommend using this tool.

[2017-11-28 04:30] benjamincburns commented on #417
Sorry guys, this one is definitely on my list. Will take me a little while to circle 'round to it, however.

[2017-11-28 04:55] #430 closed

[2017-11-28 16:47] benjamincburns commented on #430
@xx11dragon I'll assume that by closing this issue that my last response got you sorted. Glad I could help, and don't hesitate to reach out again in the future.

[2017-11-28 17:24] karianne commented on #359
I also experience this problem.

[2017-11-28 20:40] benjamincburns commented on #412
Note to self - is #367 related?

[2017-11-28 20:45] benjamincburns commented on #417
@roderik one more question for you - can you please post your command line args? For instance, are you using the forking feature?

[2017-11-28 21:06] benjamincburns commented on #407
Right now for the `--db` option to work correctly you need to run `ganache-cli` the second time using the same mnemonic and network id.

In a future release we'll store this information in the database and retrieve it on start, and give a warning when the user specifies a mnemonic or network id which is different from the one which was stored.

[2017-11-28 21:08] benjamincburns commented on #307
All,

To use the `--db` option, you must also specify the mnemonic and network ID.

I'll be making ganache remember these details in the database in a future release.  I'll track that under case #407. As such, please comment there if the workaround of specifying the mnemonic & network id isn't working for you.

[2017-11-28 21:08] #307 closed

[2017-11-28 21:21] benjamincburns commented on #288
This is closed as of the changeover to ganache-cli.

[2017-11-28 21:21] #288 closed

[2017-11-28 21:29] benjamincburns commented on #292
Related to #234.

[2017-11-28 22:01] #432 closed

[2017-11-28 22:07] roderik commented on #417
[code]

[2017-11-28 23:21] benjamincburns commented on #403
The issue where transactions produce events with incorrect state seems to be fixed. However we still have the problem where TestRPC is producing duplicate (colliding) transaction hashes. Resolving that problem is blocked by ethereumjs/ethereumjs-tx#80.

[2017-11-28 23:47] benjamincburns commented on #403
I've submitted a PR with the fix. ethereumjs/ethereumjs-tx#81

[2017-11-29 01:28] benjamincburns commented on #417
Nice mnemonic ;-)

[2017-11-30 15:10] dkent600 commented on #307
Providing the mnemonic and networkId as suggested is working for me!  :-)

[2017-11-30 17:08] nikita-fuchs opened #438 "Stuck loading if port already in Use #bug"
Ganache is stuck in launching screen when the port is already in use.

## Expected Behavior
Show an error message.

## Current Behavior
Stuck at launching screen.

## Possible Solution
Show some warning.

## Steps to Reproduce (for bugs)

1. Start geth on :8545
2. Set Ganache to start on :8545

## Your Environment
* Version used: 1.0.1.
* Operating System and version: Ubuntu 16

[2017-12-01 10:24] hiqua commented on #435
Which version of testrpc are you using? testrpc (ganache-cli) supports revert as of v6.0.1 according to https://github.com/trufflesuite/ganache-cli/releases/tag/v6.0.1.

[2017-12-02 02:35] sim-sliver commented on #138
Ran into this issue today until I saw this thread.

I was using truffle to test against a contract. Because of test scripts have dependency, I implemented a manual snapshot - revert workflow to reset to previous state.

Little did I know a reverted snapshot is 'used up', plus truffle secretly utilize and generate new snapshots when running tests, my manually saved snapshot is overwritten by tuffle

[2017-12-02 11:49] dwalintukan commented on #397
I believe I fixed this issue by deleting my `build` folder and recompiling again. It was so long ago so I am not absolutely sure.

[2017-12-02 16:53] bwheeler96 commented on #379
Me as well

[2017-12-02 18:44] kimiylilammi opened #439 "debug_traceTransaction fails on forked chain"
Forking a chain and calling "debug_traceTransaction" throws exception "Error: Number can only safely store up to 53 bits" with a simple transaction.

## Expected Behavior
debug_traceTransaction should return trace

## Current Behavior
after calling debug_traceTransaction genache-cli throws error "Error: Number can only safely store up to 53 bits"

## Steps to Reproduce (for bugs)
1. Run parity/get

[2017-12-04 08:02] elenadimitrova opened #440 "Transaction Receipts do not include logsBloom"
The transaction receipts are missing the `logsBloom` property. Below are outputs from a non-specific transaction using `testrpc` and `parity` where the property is available.

Test with `testrpc`
[code]

Test against Parity:
[code]

The property is otherwise available on the `block` using `testrpc`.
[code]
According to the yellow paper, both the `block` and the `transaction` receipt define `logsBl

[2017-12-04 10:05] JanezStupar commented on #433
Any news about this? I am getting the same error.

[2017-12-04 10:07] sontuphan commented on #433
I believe that truffle team doesn't give f**k about this. Poor man.

[2017-12-04 22:31] pszwec opened #441 "Help Wanted"
I'm a noob an not sure where to ask a question so I'm trying here. I've downloaded this and installed it on a Windows 10 PC. My question is how do I create some "test" ether to use? Or do I actually have to purchase some and send it to some the accounts (those 10) that it creates when it starts up? Seems like I would lose the real ether once I closed it down.

Thanks and sorry in advance,

Peter

[2017-12-05 00:35] InsidiousMind commented on #248
It seems TestRPC (now GanacheCLI/TestRPC) https://github.com/trufflesuite/ganache-cli  is implemented.

However, when trying to use the remix library, I get 'Number can only safely store up to 53 bits' after running  TraceTransaction. Anyone on here might know why that's happening?

[2017-12-05 16:18] kimiylilammi commented on #441
Check out the readme. You can generate ether on your account with --account parameter, like this:
ganache-cli --account="<privatekey>,balance" [--account="<privatekey>,balance"]

where balance is amount of wei you want to add to your account.

[2017-12-05 22:18] pszwec commented on #441
Where are you getting the extra info? I did check out the read me 1st and it says the account to specify the number of account to create...I didn't see balance anywhere. Thanks Peter
Command Line

$ ganache-cli <options>
Options:

-a or --accounts: Specify the number of accounts to generate at startup.

[2017-12-06 18:10] pszwec commented on #441
Thank you. I saw that and thought chicken and egg. I need an account to add fake ether to yet the 10 accounts are created upon generation so what to use as the 64 bit account number......I guess I use my real account from my wallet, right?

[2017-12-06 20:31] Ashwin-Kapes opened #442 "Error: Invalid JSON RPC response: undefined"
Executing a function after deploying a contract gives me an error Error: Invalid JSON RPC response: undefined However it's working fine on localhost:8000

Currently installed packages in my system.
[code]
Later I uninstalled ethereumjs-testrpc and installed ganache-cli but getting same error.
Here's the snapshot:
![delete_embark](https://user-images.githubusercontent.com/510118/33683909-7865dbda-d

[2017-12-06 23:31] mickys commented on #359
I'm been having the same issues while running my 300+ test suite ( split into about 30 separate js test case files ) on a debian 9.2 linux machine that has node 8.9.2.

Package versions:
EthereumJS TestRPC v4.1.3 (ganache-core: 1.1.3)
Truffle v3.4.11.

My tests work fine on
- sierra 10.12.6 using node 8.7.0.
- debian 9.2 using node 8.7.0.

Seems there is a breaking change after 8.7.0 that relates

[2017-12-07 02:32] jorgeog96 opened #443 "Error install"
I can´t migrate contracts to the network. Truffle doesn´t find a network specified.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. Configured truffle.json
2. Compile code
3. Try to migrate (truffle migrate)
4. "Could not connect to your Ethereum client"

## Context

jorgeog96@Jorge-Osorio:~$ npm install -g ganache-cli
npm ERR! path /home/jorg

[2017-12-07 03:22] jorgeog96 commented on #443
Reinstall Truffle in another way and reinstalling ganache-cli...now it looks better. Ganache CLI v6.0.3 installed, node v9.2.0, Truffle v4.0.1, Solidity v0.4.18, npm v5.5.1 and nvm 9.2.0.

But the same error appears when I'm trying to deploy a contract...in the migration step:

jorgeog96@Jorge-Osorio:/mnt/c/Users/jorge/Desktop/OVX/Solidity/Token/OVXET$ truffle migrate
Could not connect to your Eth

[2017-12-07 10:03] kimiylilammi commented on #441
You can launch the ganache-cli once and it will print out few keypairs that you can use. You can also use your real account (but I wouldn't recommend it). You can also use any other wallet to generate keypair.

[2017-12-07 16:44] Freydal commented on #405
I have run into the same issue.   I was also curious if the password can be anything for a successful response?  I also assumed the 10 default accounts can be param for the unlock.  I haven't seen any documentation on the method.

[2017-12-07 18:32] yoann-losbar commented on #338
same issue here with a very simple and basic contract. @jclangst  Did you find a workaround ?

[2017-12-08 12:54] Mani7TAM commented on #433
I got the same error. This is due to the testprc's gas limit is not enough to process your transaction.

[2017-12-09 06:45] Freydal commented on #405
I finally found some time to dig in to find the issue.  I found that personal_unlockAccount looks to the state for personal_accounts and account_passwords.  Both of these are set to an empty object. The test case will need to generate a new account with personal_newAccount providing the desired password, then use the address in the response as the address to unlock.  Test setup may also need to pa

[2017-12-09 11:50] Jacke commented on #405
So can we solve this issue by passing cli option? Who wants to make a pull request for this feature?

[2017-12-09 17:09] Freydal commented on #405
I think that is a good set of options to provide, but I think handling that in this project will require change is made in [ganache-core](https://github.com/trufflesuite/ganache-core) first.  Initialization of personal_accounts and account_passwords when an option is present needs to be added within the statemanager.

The biggest obstacle will be determining what to pass in to generate or how to h

[2017-12-10 02:46] apergam commented on #216
benjamincburns suggestion of using nvm solved the issue for me, thanks!

[2017-12-10 15:34] pszwec commented on #441
I'm still stuck.  I've copied out the 10 default private keys and accounts. The problem as I see it is the private keys don't match the read.me.
•	--account: Specify --account=... (no 's') any number of times passing arbitrary private keys and their associated balances to generate initial addresses:
$ ganache-cli --account="<privatekey>,balance" [--account="<privatekey>,balance"]
Note that private

[2017-12-10 17:18] alex-miller-0 commented on #84
I was getting this error trying to `call` a contract in metamask. I noticed my `to` variable was mistyped, meaning I was passing `undefined` as the calling contract address. Please double check your variables.

[2017-12-11 08:58] beether opened #444 "Throwing within a `.call()` consumes all gas when it shouldn't."
## Expected Behavior
According to the specs, low-level calls such as `.call()` should capture exceptions and continue.

From:  http://solidity.readthedocs.io/en/develop/control-structures.html#error-handling-assert-require-revert-and-exceptions

"When exceptions happen in a sub-call, they “bubble up” (i.e. exceptions are rethrown) automatically. Exceptions to this rule are send and the low-level f

[2017-12-11 09:09] beether opened #445 "When >1 transactions in a block, incorrect .gasUsed and .cumulativeGasUsed."
## Expected Behavior
When multiple transactions occur in a block, each transaction's `.gasUsed` should reflect the gas used in that transaction alone.

## Current Behavior
Each transaction's `.gasUsed` will equal the `.cumulativeGasUsed`.

## Possible Solution

## Steps to Reproduce (for bugs)
I'm too lazy to post this now.  It honestly has not been worth my time posting things because they often

[2017-12-11 12:03] JanezStupar commented on #433
@Mani7TAM you are correct - this error appears when you don't add the "gas" parameter to "send" method. Too bad that it is not documented anywhere...

So the correct method call should be: contract.methods.mymethod.send({from: account, gas: <whatever the appropriate gas limit>})

[2017-12-11 18:42] beether commented on #444
This was a bug in testRPC and appears to have been fixed in ganache

[2017-12-11 18:42] #444 closed

[2017-12-11 18:49] beether opened #446 "When >1 transactions per block, all logs are included in all transactions."
## Expected Behavior
Each transaction's logs should contain logs only relevant to that transaction, and not other transactions in the same block.

## Current Behavior
Each transaction's logs will contain all logs of all transactions that occurred on the block.

## Possible Solution

## Steps to Reproduce (for bugs)

Create two transactions in one block and look at the logs.

## Context

## Your En

[2017-12-12 05:37] benjamincburns commented on #441
@pszwec definitely don't use your real account! There's no need, and you may inadvertently risk leaking your secrets!

Ganache (CLI or otherwise) goes best with [truffle](http://truffleframework.com/)! For instance, with truffle you can easily write JavaScript tests like:

[code]

Have a look at these tutorials to see how best to get started, though I highly recommend having a look through the ent

[2017-12-12 05:37] #441 closed

[2017-12-13 04:30] JasonGiedymin commented on #432
Might be useful to just say outright that "`testrpc` has been renamed to `ganache-cli`. Use `ganache-cli` in place of `testrpc`".

[2017-12-13 04:31] JasonGiedymin commented on #432
Otherwise, thanks for adopting it. 👍

[2017-12-13 04:57] benjamincburns commented on #432
@JasonGiedymin good idea!

[code]

;-)

[2017-12-13 05:21] JasonGiedymin commented on #432
Just need one more arrow/sign. A few too many new people are coming from testrpc docs. Which say depreciated. So they’re not going to ‘npm install’ it. They almost don’t believe the rename I guess (cautious ppl?).

In fact I was asked this very question by a dev for the second time. Which is why I’m here, got off my ass to see what happened.

I’ll PR it if I get asked one more time. :-D

[2017-12-13 06:13] benjamincburns commented on #432
@JasonGiedymin -- thanks for this. Can you please point me at the docs to which you're referring so that I can update them? Alternatively feel free to submit a PR if you're talking about our README.md!

[2017-12-13 07:16] joaomontenegro opened #447 "'out of gas' error when running a payable function on Remix+TestRPC"
I'm using Remix connected to TestRPC 6.0.3 and I'm getting an 'out of gas' error when calling the sendEther() function  of the following contract with the argument set to the address of one of the accounts created by TestRPC at startup:

[code]

I know that an out of gas error usually means that there was some kind of exception in the function. I tried this in geth + Mist Wallet and it worked fine

[2017-12-13 16:42] elenadimitrova commented on #359
At Colony we also see this with roughly the 10% frequency that @cgewecke reports.
Environment:
`testrpc 6.0.3`
`node 9.1.0`

Copy of the last error from Circle CI
[code]

[2017-12-13 20:49] habdelra commented on #359
I've tried all the suggestions made in this thread and still have not seen anything to conclusively workaround this problem. The one thing I'm observing that seems pretty consistent is that the more tests that we have the more often we encounter this problem. To work around this issue, I wrote a shell script that stops and starts testrpc in between test files, so that we are generally not running

[2017-12-14 01:58] mickys commented on #359
@habdelra since you're already running them in a separate instance, why not go the extra mile and run them in separate threads.

It's not like running the tests is that resource intensive.
Each test could log their output into their own log file, and after all of them finish you combine them and display the result in the order you want.

This should work just fine as long as you're not doing cover

[2017-12-15 09:34] q3k commented on #417
Disclaimer: I am not a JS programmer, treat everything below with a grain of salt and with your red herring detector turned up to 11.

I've taken a quick look at this (also been bitten by this), and it seems like this is a race between modifying `Trie._getDBs` (via `checkpoint`/`commit`) and accessing it in `Trie._getRaw`. Not sure if it's a bug in the merkle-patricie-tree module or how it's being

[2017-12-15 19:22] AugustoL commented on #447
Same error here

[2017-12-16 21:07] AugustoL commented on #445
I updated to the latest version and Im having weird errors about the gasUsed too, dont know why, and my backs have 1 tx all of them, usually is when ETH is transfered using `transfer` method.

[2017-12-17 07:59] parth5049 commented on #397
Hello @benjamincburns
I am using following versions
EthereumJS TestRPC v6.0.3 (ganache-core: 2.0.2)
solc Version: 0.4.18+commit.9cf6e910.Linux.g++

[2017-12-19 10:31] elenadimitrova opened #449 "Testrpc occasionally crashes with "Process 24102 exited with code 7" error"
Testrpc occasionally crashes with the error below. The frequency is ~30-40% of all builds which significantly slows down our releases.

[code]
## Steps to Reproduce (for bugs)
Cannot find the pattern to allow us to reproduce but it seems related to the reasons described in #359

## Your Environment
* Version used: EthereumJS TestRPC v6.0.3 (ganache-core: 2.0.2)
* Node: 9.1.0

[2017-12-19 10:48] benjamincburns commented on #397
For those still experiencing this issue, are you using `truffle test` to run your tests? If so, are you certain that you've configured Truffle to connect to testrpc/ganache? Are you seeing console logs from testrpc or ganache-cli indicating that truffle is hitting it correctly?

I ask because Truffle 4 has a feature which will use an embedded version of ganache-core when you run `truffle test` wit

[2017-12-19 10:50] benjamincburns commented on #397
@parth5049 for you specifically, can you please either `npm install -g truffle@latest` or `npm install --saveDev truffle@latest` (depending on how you've installed truffle) and confirm whether this problem still persists?

[2017-12-19 21:58] benjamincburns commented on #442
@Ashwin-Kapes sorry for the late response on this!

I've seen this issue while using Truffle as well, but it's intermittent and I haven't been able to nail it down. By any chance does this reproduce reliably for you? If so, could you possibly package up that reproduction somehow? A PR w/ a test that fails would be amazing, but I'm totally happy with some easy-to-follow numbered steps submitted via

[2017-12-19 22:02] benjamincburns commented on #417
@q3k sorry I didn't respond sooner. I totally agree w/ the sentiment on the "heisenbugish race" you mention. :-(

Your thoughts on the cause echo my own, though I have a feeling that they're more developed w.r.t. the actual root cause. However I think it's telling that the issue manifests in a couple of different ways (see the traces in @roderik's initial report).

[2017-12-19 23:12] benjamincburns opened #450 "Bounty: An automated reproduction for issue #417"
In issue #417 we see at least two distinct types of crashes: `TypeError: Cannot read property 'pop' of undefined` and `TypeError: Cannot read property 'get' of undefined` (see issue for full traces). We believe that this issue is the most common cause of crashes Ganache and `ganache-cli`.

We believe that these crashes share an underlying root cause, and while we have some idea of where this is ha

[2017-12-19 23:31] benjamincburns commented on #449
@elenadimitrova thanks for submitting. It looks like you're running testrpc/ganache-cli as a child process? If you hook into the stderr you should be able to get the log output.

Out of curiosity, if you need to run ganache-cli as part of your application, why do you fork a child process rather than embedding the server module, or skipping the network entirely and just using the ganache-core Provi

[2017-12-19 23:52] benjamincburns commented on #440
@elenadimitrova per the JSON RPC wiki, the `logsBloom` field is meant to be defined on the `eth_getBlock*` responses, but not on [`eth_getTransactionReceipt`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt).

That said, I'm still uncertain as to how much we should treat that wiki page as a spec. Further, I need to balance the goal of adhering to the spec (weakly-defined a

[2017-12-19 23:53] benjamincburns commented on #359
I think this and #417 are related, but I can't be certain, so I won't call this a dupe just yet.

[2017-12-19 23:54] benjamincburns commented on #417
I think this and #359 are related, but I can't be certain so I won't call this a dupe just yet.

[2017-12-19 23:55] benjamincburns commented on #417
@q3k and others trying to debug this: just a heads up that we're in the process of publishing a bounty for this over on #450. It's not live yet, but I suspect it will be later today. Wanted to notify here first given the work the people in this thread have already done to troubleshoot this!

[2017-12-20 04:28] benjamincburns commented on #447
Hi @joaomontenegro and @AugustoL - what happens when you call `eth_estimateGas` for the transaction in question? Have you tried setting the gas for the transaction manually?

[2017-12-20 16:22] drdaeman commented on #322
Just a side note that could be relevant.

Also, please be aware that it seems multiple addresses for `eth_newFilter` are not supported.
Unlike geth (which `address: DATA|Array`), ganache is only capable of filtering on a single address.

It has something in lines of `blockLogs.filter(function(log) { return (expectedAddress == null || log.address == expectedAddress); })` which obviously only assume

[2017-12-20 18:14] elenadimitrova commented on #440
It is breaking for `ethers` which expects this in the transaction receipt
https://github.com/ethers-io/ethers.js/blob/511fff1390ba56ba56237053fd00ae0ec87b1e7b/providers/provider.js#L296

As for `geth` this also returns logsBloom in the transaction receipt:
[code]

This points to omission in the JSON RPC wiki but the yellow paper clearly defines it.

[2017-12-20 23:08] joepagan commented on #430
Just as a heads up `yarn global add ganache-cli` doesn't seem to add `ganache-cli` as a command, whereas `npm install -g ganache-cli` does.

[2017-12-20 23:39] joepagan commented on #397
Probably not be the issue for the other users, but, may help some myself...

I have been working with a hardcoded contract address.

I hadn't yet setup a contract (or a contract address to interact with) on the new environment using testrpc or ganache-cli.

[2017-12-21 01:49] benjamincburns commented on #440
That's good enough for me, then - we'll go ahead and add it.

[2017-12-21 01:53] benjamincburns commented on #322
@drdaeman it would be great if you raised a new issue for that so that we don't lose track of it!

[2017-12-21 02:03] benjamincburns commented on #450
Reddit discussion on this bounty: https://www.reddit.com/r/ethdev/comments/7l5ug9/the_truffle_team_is_offering_up_a_05_eth_bounty/

[2017-12-21 05:57] benjamincburns commented on #243
@Arachnid I assume you'd be happy if TestRPC behaved identically to either geth or parity per the diagram submitted above?

[2017-12-21 06:02] benjamincburns commented on #440
From comparison of both objects you submitted, it seems we also don't respond with the `root` field.

[2017-12-21 07:49] elenadimitrova commented on #440
As per the JSON RPC this is actually correct as it states the transaction receipt returns either the `root` (pre Byzantium) or the `status`. The latter is returned in `testrpc`.

To enable that in `parity` we had to switch to `1.8.3-beta` and turn the `"eip658Transition": 0` parameter in config. We haven't tried in `geth` yet.

[2017-12-21 10:39] juanfranblanco opened #451 "TransactionReceipt Status returns an integer instead of Hex"
## Expected Behavior
The TransactionReceipt Status field should return a Hex value, this is the standard (if it has not changed :)) for all Eth RPC calls.

## Current Behavior
Returns an integer, so when trying to convert from a hex string it fails.

## Steps to Reproduce (for bugs)
1. Send a Transaction
2. Get the Receipt
3. Inspect Json output.
4.

[2017-12-21 12:20] drdaeman commented on #322
@benjamincburns Sure. Found the relevant code and posted an issue in ganache-core: https://github.com/trufflesuite/ganache-core/issues/38

[2017-12-21 19:41] owocki commented on #450
@avdaredevil i see that you've claimed the issue but dont see any comments from you.  do you have a reproduction of the issue ready?  what is your plan?  let us know.

i hope you understand that, out of respect to the other community members, we can't keep your claim active for a long time unless it's clear that this is a top priority for you and you're going to solve it soon.

best,
kevin

[2017-12-21 23:09] benjamincburns commented on #440
@elenadimitrova what version of geth was that output from above? It seems strange that it also has the `root` field but is missing the `status` field. Looks like I need to fire up a light client for myself...

[2017-12-22 08:27] elenadimitrova commented on #440
I'm on `geth` Version: 1.7.3-stable

[2017-12-22 14:37] elenadimitrova commented on #359
https://github.com/trufflesuite/ganache-cli/issues/426 is most likely related

[2017-12-24 08:38] zhahaoyu commented on #300
Hi I run into the same problem today. As I am trying to assign "web3" object into the state tree, redux dev tool throws like this:
[code]

[2017-12-25 07:53] benjamincburns commented on #450
I haven't had the chance to actually run these tests yet, but on first glance they certainly look like they quality for the bounty -- great work, @0xNPE! I'll pull & run the tests first thing tomorrow morning and report back.

In the mean time, given that it's Christmas, I expect it might be a couple of days until @owocki is able to get things sorted for you.

[2017-12-25 11:59] pradeeps opened #452 "ganache-cli command not found MacOS High Sierra"
running ganache-cli returns command not found

## Expected Behavior
ganache-cli should return something and should not say command not found

## Current Behavior

MacBook-Pro:~ susarla$ ganache-cli
-bash: ganache-cli: command not found

## Steps to Reproduce (for bugs)
ganache-cli

## Context
I am trying to run ganache-cli

## Your Environment
I am running MacOS HS 10.13.1 with

MacBook-Pro:~ susa

[2017-12-25 13:17] 0xNPE commented on #450
No problem, and no rush. Merry Christmas to the both of you!

[2017-12-25 23:13] owocki commented on #450
@avdaredevil no showed, so i'm rejecting his claim.  @0xNPE feel free to claim at https://gitcoin.co/funding/details?url=https://github.com/trufflesuite/ganache-cli/issues/450

[2017-12-25 23:15] benjamincburns commented on #450
I've merged your PR, @0xNPE -- thanks so much for this! @owocki is going to clear out the invalid claim now so that you can go ahead and register your claim to receive the bounty. I expect he'll pay it out quickly once you're able to register your claim.

[2017-12-25 23:15] #450 closed

[2017-12-25 23:17] benjamincburns commented on #450
Also @0xNPE if you want to continue on with your work on this, the next bounty on this will be to fix the underlying problem. I'm writing that bounty up now - should be good to go in 15-30 mins.

[2017-12-25 23:32] benjamincburns opened #453 "Bounty: Fix race conditions causing problems identified in #417"
As a result of #450, in trufflesuite/ganache-core#41, @0xNPE gave us some [much needed tests](https://github.com/trufflesuite/ganache-core/blob/863fcc242ebef2811e6334d43a6d91b3193f3b6e/test/stability.js#L93-L143) which reproduce the underlying problems behind #417. This bounty is for a fix for the underlying problem which those tests identify.

Bounty acceptance criteria:

1. Bounty claimant must

[2017-12-25 23:36] benjamincburns commented on #417
Thanks to @0xNPE, we now have a reproduction of this issue merged to the `develop` branch. As you can see above, @owocki and I are opening a second bounty for the actual fix over in #453. Submissions welcome :-D

[2017-12-26 02:42] #220 closed

[2017-12-26 02:46] 0xNPE commented on #450
Thanks guys, I've placed a claim on gitcoin. I'd love to work on the fix for this issue too, but I have some higher priority things to finish first. If no one has taken a stab at it in a week or so, I'll give it a go.

[2017-12-26 03:29] benjamincburns commented on #265
I've accepted trufflesuite/ganache-core#18 with some light modifications - just wiring it up to `ganache-cli` now.

[2017-12-26 03:50] benjamincburns commented on #265
Done. Note that the changes to `ganache-cli` will have no effect until a release of `ganache-core` which contains trufflesuite/ganache-core#18 is made, and this project is updated to make use of that release.

[2017-12-26 03:50] #265 closed

[2017-12-27 01:23] owocki commented on #450
just posted a bounty for https://github.com/trufflesuite/ganache-cli/issues/453

[2017-12-27 15:03] 0xNPE commented on #452
did you `npm install -g ganache-cli`?

see: https://github.com/trufflesuite/ganache-cli#installation

[2017-12-29 11:15] ner0x652 commented on #452
I've encountered same issue after installing `ganache-cli` with `npm` on `Debian 9 x86_64`.

[2017-12-29 13:11] sudeep30m opened #454 "-a/--accounts option not working"
I am using ganache-cli version 6.0.3. It gives an error when -a option is used.

On typing the command on MacOS 10.13 -

` ganache-cli -a 10
`

The following error is generated -
[code]

[2017-12-29 13:19] #454 closed

[2017-12-29 17:35] helxsz opened #455 "can not receive the event?"
I am just installing **latest ganache-cli** yesterday, my web3 version is **web3@1.0.0-beta.26**, I am deploying the contract on the localhost:8545.

**Here is my contract example.**

[code]
and here is my js code

**init the contract instance**

`  var Contract = new this.web3.eth.Contract(abi_json,address);
`

**button click events**

[code]
**watch events**

[code]

## Expected Behavior
The js

[2017-12-30 12:31] fraylopez commented on #134
I had this issue on windows too. Fixed by installing Visual C++ 2015 Build Tools through Visual Studio, then deleting `node_modules ` and `npm i` made the trick.

[2017-12-31 02:53] jlstr commented on #397
Hello there,

I'm experiencing the same problem here. I'm trying to compile the **Minimum Viable Token** [Contract](https://www.ethereum.org/token).
[code]

Here's my test, which usually passes:

[code]

But it later fails when the contract is invoked from truffle console:

TestRPC Output for that Transaction is as follows:

If I remove the **require** statements from the Contract's **transfer()**

[2017-12-31 19:23] beether commented on #378
I'm getting this error now when trying to mine multiple transactions in one block.

[2018-01-01 00:55] ltfschoen commented on #383
I have the same problem using ganache-cli 6.0.3.

I setup Ganache CLI with:
[code]

Then I try to use [RPC](https://github.com/ethereum/wiki/wiki/JSON-RPC) with cURL to start mining with:
[code]

This gives error:
[code]

I then tried to attach to Ganache TestRPC with Geth:
[code]

When I run `eth.mining` it returns `true`. Does Ganache CLI automatically start mining?

[2018-01-01 18:56] petarjs commented on #405
Is there a workaround around this issue? I'm trying to create a new account and unlock it right after, something like:

[code]

[2018-01-01 20:40] benjamincburns commented on #378
@beether can you please raise a separate issue for this problem? I believe that is different from the one originally reported here.

[2018-01-01 20:41] benjamincburns commented on #378
@beether actually, it looks like this is already reported. See #383.

[2018-01-01 20:48] benjamincburns commented on #455
This is expected behaviour at present when using web3 1.0.0, as ganache-cli doesn't yet have support for websockets, which web3 1.0.0 requires for event subscriptions. This is something I'm actively working on this week. You can follow #257 or trufflesuite/ganache-core#14 for progress.

In the mean time the workaround is to use web3 0.x.x.

[2018-01-01 20:48] #455 closed

[2018-01-02 00:49] benjamincburns commented on #405
@petarjs if it helps any, you can look to our tests to see how we support runtime [creation](https://github.com/trufflesuite/ganache-core/blob/be896a9b1390f06c040942d0855458f6ef5fe80b/test/requests.js#L974-L982) and [unlocking](https://github.com/trufflesuite/ganache-core/blob/be896a9b1390f06c040942d0855458f6ef5fe80b/test/requests.js#L1004-L1012) of personal accounts.

Note that [`web3.eth.account

[2018-01-02 00:51] benjamincburns commented on #405
And to answer your original question, the workaround is to use the combination of the `--secure` and `--unlock` command line arguments, as specified by the README in the [command line section](https://github.com/trufflesuite/ganache-cli#command-line) under "Special Options."

[2018-01-02 01:07] benjamincburns commented on #405
Back to the original bug, I think there are a couple of concerns here:

1. How to lock/unlock autogenerated accounts at runtime via RPC
2. How to unlock "impersonated" accounts (accounts for which you don't have the private key) at runtime via RPC.

I think it might make sense to add a `--personalAccount` flag which can be repeated multiple times and which allows you to specify a comma-delimited a

[2018-01-02 01:15] benjamincburns commented on #397
@jlstr please give [`truffle debug`](http://truffleframework.com/docs/getting_started/debugging) a try. This will help you to trace through what failed and why.

[2018-01-02 12:35] d10r commented on #138
If this is expected behaviour, it should at least be documented (one sentence more in the Readme would do the job) as that's not how snapshot semantics usually work.

[2018-01-02 16:22] owocki commented on #453
happy new year!  im going to spend some cycles this week sourcing someone to take this on..

[2018-01-02 18:12] vsdigitall opened #456 "eth_blockNumber with param ["latest"] kills ganache-cli with TypeError: callback is not a function"
When I send the following request to ganache-cli:
[code]
it throws:
[code]

If I send this command (without "latest"):
[code]
Ganache-cli successfully process request and returns correct reply:
[code]

[2018-01-02 21:17] federicobond commented on #453
Hi, I am the author of https://github.com/ethereumjs/merkle-patricia-tree/pull/28.

I also looked at the pop error and I think it's related to reading a non-existent trie node (maybe due to some confusion about the currently active DB).

IIRC, the problematic call stack goes like this:
[code]
Where `_updateNode` is then called with an undefined value for `stack`.

If you look at the `_walkTrie` fu

[2018-01-02 21:39] 0xNPE commented on #453
@federicobond your analysis of the call stack is similar to what I observed.

but I don't think the root cause can be fixed in merkle-patricia-tree.

I think the root cause pertains to ethereumjs-vm working on its cache of statemanager while in checkpoint mode, then when it tries to persist its cache after certain revert actions, there is a reference to a node that never existed in the db, hence y

[2018-01-02 21:45] federicobond commented on #453
That makes sense. I'll see if I find anything else.

[2018-01-03 00:26] kammerdiener commented on #453
So a quick update on this. Based on what I have found I think that both issues are currently originating from [ethereumjs/merkle-patricia-tree](https://github.com/ethereumjs/merkle-patricia-tree). I have fixed the get being undefined. Currently working on figuring out what is going on with pop coming back undefined.

[2018-01-03 01:14] kammerdiener commented on #453
Believe I have fixed it all within [ethereumjs/merkle-patricia-tree](https://github.com/ethereumjs/merkle-patricia-tree). The Pull Request is here: [PR #30](https://github.com/ethereumjs/merkle-patricia-tree/pull/30). I tried to take into account all of the information talked about from above and was sure to check @federicobond PR to help fix the _getDBs portion. All of the tests pass now with no

[2018-01-03 14:20] sontuphan commented on #433
@vsdigitall thanks for your contribution, appreciate it.

[2018-01-03 14:46] vsdigitall commented on #433
@sontuphan I have just noticed that in my case it was not ganache-cli problem, moreover it was expected behaviour. I was transferring funds to smart contract like to normal eth-wallet. However I should call a payable smart contract function instead.

It is possible that in your case you have to check argumetns you provide to smart contract function. Make sure you have set all the following args du

[2018-01-03 14:54] sontuphan commented on #433
@vsdigitall Ah, may be you met a different problem from me. In my situation, my code worked perfectly on rinkeby but not testrpc. It seems that testrpc does not work well with Byzantium update. It's ok, anyway thanks for your help 👍 . I think I should close this bug without a clear solution.

[2018-01-03 16:05] vsdigitall commented on #456
My fault, misundestood documentation. Closing this.

[2018-01-03 16:05] #456 closed

[2018-01-04 09:10] edgraaff commented on #359
In our project I made two .js files to test two contracts, the order they run in seems to be the pattern for failure. If test1.js runs before test2.js, all is fine, but if test2.js runs before test1.js it always fails.

Either way, a workaround was to add a one-second delay at the end of the contract test.

[code]

[2018-01-04 09:32] edgraaff commented on #359
Sorry, that wasn't entirely correct. It turned out that test2.js had a test that did not return the promise. In other words; the contract test was ended before all tests actually completed. Explains why the second delay fixed it.

[code]

[2018-01-04 22:52] benjamincburns opened #457 "Upgrade ganache-* to use Web3 1.0"
Just filling out the epic for this one (#257) to properly account for the subtasks involved. This is necessary for websocket support, especially to test it.

- [x] update ganache-core to web3 1.0
- [x] update ganache-cli to web3 1.0
- [x] update ganache to web3 1.0 - see https://github.com/trufflesuite/ganache/pull/299

[2018-01-04 23:51] benjamincburns commented on #257
I'm cleaning up my workflow a bit, and getting organized using epics on ZenHub. This ticket is the epic for WebSockets and web3 1.0 support.

In [my last status update](https://github.com/trufflesuite/ganache-core/pull/14#issuecomment-354037332) I was a bit optimistic on timeline. Also to a scheduling issue, @perissology and I haven't connected since then.

My current line of work started from tru

[2018-01-05 10:03] benjamincburns commented on #257
I'm finally over the subscriptions hump! Now I just have forking to look forward to... :joy:

I've pushed my WIP to the [`websockets-pr-redux` branch](https://github.com/trufflesuite/ganache-core/tree/websockets-pr-redux) of ganache-core. Ideally I'd be adding this in w/ trufflesuite/ganache-core#14 but last I tried I couldn't push to that repo.

[2018-01-05 22:45] dolgiyspb commented on #405
Hi!
@benjamincburns, proposal with `personalAccount` does not work for me:
[code]
I tried to unlock:
[code]
Next i tried to look at account list and it is empty:
[code]
But eth_accounts lloks like it's expected:
[code]

BTW, in case with account, created by `personal_newAccount`, all works fine:
[code]

Why i don't find autogenerated accounts in `personal_listAccounts` and can't unlock it?

[2018-01-06 04:50] chris-shyft commented on #248
+1 to this

[2018-01-06 15:57] elenadimitrova commented on #359
Since Friday the frequency this shows it's ugly head has gone from 10% to solid 100%

[2018-01-07 01:24] kammerdiener commented on #453
I went into the node_modules folder and replaced the items and am attaching a screenshot of it passing the race conditions test. Once the PR for Merkle Patricia Trees is merged then. Should I go ahead and submit a PR for this with it including the race conditions test (removing the skip command)?

<img width="1516" alt="screen shot 2018-01-06 at 8 22 00 pm" src="https://user-images.githubuserconte

[2018-01-07 18:00] szerintedmi opened #458 "uint x minus x throws "base fee exceeds gas limit""
## Current Behavior
Ganache throws when a transaction has an operation of x - z and the result is 0 (i.e. x == z)

## Steps to Reproduce (for bugs)
[code]

Calling sub(1) or sub1() on ganache:
[code]

## Your Environment
* Version used: Ganache CLI v6.0.3 (ganache-core: 2.0.2)   but fails with TestRPC v4.1.3 ganache-core: 1.1.3 too
* Remix IDE

[2018-01-07 18:08] ntulsy commented on #293
I have exactly the same issue. However I am able to find a workaround to the problem. In my case I have two transactions to be mined in one block, and the execution of second transaction depends directly on the first one. (The first one is an initialization and the second transaction requires the contract to be initialized.)

The workaround (took me a few hours although simple) is to put a delay e

[2018-01-07 18:20] szerintedmi commented on #458
even this throws the same error:
[code]

[2018-01-07 22:54] benjamincburns commented on #453
@kammerdiener there are actually a couple of different competing submissions at this point. I'll be taking some time early this week to evaluate them. I realize now that I said that the goal was to make the tests pass, but the real goal is to fix #417. The best thing that you can do at this point is to manually test ganache-cli with your fix in place (you can use npm link to do this) and determine

[2018-01-07 22:54] benjamincburns commented on #453
@roderick by any chance would you like to help with evaluating these fixes, as I believe you've been impacted by this bug quite regularly?

[2018-01-08 00:03] benjamincburns commented on #257
I pushed a bunch of work on the forking tests late in the day last week. The only remaining problem there is that the blocknumber oracle test is failing in a way that makes very little sense to me at present.

The upshot of this is that while I don't yet fully trust the forking feature on this branch, I think it'd be awesome if those following along were to pull this branch, and get a local build

[2018-01-08 02:36] benjamincburns commented on #453
@kammerdiener, as I feared, when testing your fix, I observe a new issue. I believe this is due to what 0xNPE & @federicobond were discussing above. That said, your changes do make ganache much more stable, so until a proper fix is found we will likely include this fix in future releases (provided that it is accepted by the ethereumjs/merkle-patricia-tree maintainers).

The newly observed issue:
[

[2018-01-08 02:38] kammerdiener commented on #453
Alright thanks for the information. I will start working trying to figure this out as well. Do you have any more information on how you caused this error?

[2018-01-08 03:00] benjamincburns commented on #453
@kammerdiener it's fairly easy to do this with [trufflesuite/ganache](https://github.com/trufflesuite/ganache). I recommend using the `develop` branch on there, as that will let you see your logs on crash a bit more easily by hitting the "report issue to github" button (just do me a favor and don't submit the issue that it opens up).

Also I'd expected ganache-cli to have good sourcemap support by

[2018-01-08 03:02] kammerdiener commented on #453
@benjamincburns I will be watching for it. Thanks for the tip. I will see what I can do to fix it and make it more stable!

[2018-01-08 03:03] benjamincburns commented on #453
Also be advised that the error I reported will be visible as an error response in your tests. Ganache doesn't crash in this case, but it's also useless for future tests (rerunning tests w/o restarting Ganache just spits out the same error)

[2018-01-08 03:07] benjamincburns commented on #453
@kammerdiener I managed to fix sourcemaps. I'll commit that to the `develop` branch of `ganache-cli` within the next few minutes.

In the mean time, here's the mapped stacktrace:

[code]

[2018-01-08 03:09] benjamincburns commented on #453
Actually now that I read that a bit more carefully, it seems that it's actually broken the truffle side of things. I'll dig in a bit further and see if I can't figure out what's gone amiss.

[2018-01-08 03:24] benjamincburns commented on #453
@kammerdiener I'm afraid I also just observed the original issue with your fix in place:

TypeError: Cannot read property 'pop' of undefined
    at CheckpointTrie.Trie._updateNode (ganache-cli/build/webpack:/merkle-patricia-tree/baseTrie.js:359:1)
    at ganache-cli/build/webpack:/merkle-patricia-tree/baseTrie.js:106:1
    at ganache-cli/build/webpack:/merkle-patricia-tree/baseTrie.js:460:1
    at

[2018-01-08 07:45] roderik commented on #453
@benjamincburns gladly!

[2018-01-08 11:22] benjamincburns commented on #257
Good news, everyone! I've got everything done with the exception of code review and whatever work the MetaMask team will require from me to complete MetaMask/provider-engine#207.

What my list is looking like now

- [x] update to latest web3-provider-engine
- [x] update dependency on web3 to 1.0
- [x] pull assorted small fixes and test maintenance from my prior `websockets` branch into @perissolog

[2018-01-08 11:30] benjamincburns commented on #293
@hynese thanks for reporting this!

@ntulsy & @hynese - is there an immediate reason that either of you need to be using interval mining? If not, I highly recommend dropping the `-b` flag.

It seems like for some reason we've queued an invalid (undefined) transaction. I'll look into this and see what might've caused it.

[2018-01-08 13:32] NTTLuke commented on #447
any news ? I have the same error.

[2018-01-08 22:41] dolgiyspb opened #459 "New accounts without funds if load saved chain (`--db` option)"
## Expected Behavior

If i save chain state using `--db` option i expect ganache-cli does not create new users and show me saved users accounts and keys.

## Current Behavior

If i use `--db` option each time when I restart ganache-cli I get the list of new accounts with no funds, moreover old accounts still exists.

## Steps to Reproduce (for bugs)

I use official docker image through docker-comp

[2018-01-08 23:51] step21 commented on #365
Seconded. How to kill it?

[2018-01-09 00:42] elie222 commented on #397
`truffle debug` doesn't work well with inheritance

[2018-01-10 04:22] benjamincburns commented on #359
@elenadimitrova can you please diff your tests and check for changes which might cause transactions/calls to be run after truffle/mocha think the test is meant to be completed? Based on what @edgraaff is saying, I think this is often a problem caused by `evm_revert` happening while some other task (call/transaction/getBalance) are running.

[2018-01-10 04:23] benjamincburns commented on #359
@elenadimitrova also if you can roll your changes back to whatever things looked like on Friday and the problem goes back to a 10% nuisance, there may be some valuable insight gained which can help us to fix this.

[2018-01-10 08:10] elenadimitrova commented on #359
@area successfully patched this for us using https://github.com/ethereumjs/merkle-patricia-tree/pull/30 plus disabling the use of `evm_revert`

[2018-01-10 09:27] nadavhollander commented on #359
@elenadimitrova Likewise clawing my eyes out right now on this issue.  How did you disable use of `evm_revert`

[2018-01-10 09:29] koertvankleef commented on #266
Can also be caused by an outdated npm version. In my case updating npm v 3.1.0 to 5.6.0 fixed this problem.

[2018-01-11 02:02] owocki commented on #450
hey @0xNPE im giving out some schwag to the top gitcoin contrigbutors for the last month.  are you on slack?  gitcoin.co/slack  - i want to send you the link so i know what t shirt size you are..  email me at kevin@gitcoin.co or DM me on slack

[2018-01-11 08:15] isonlaxman opened #460 "ganace-cli is not recognized"
## Expected Behavior

I installed ganache-cli using `npm install -g ganache-cli`  as told

## Current Behavior

When I type `ganache-cli` it returns `ganache-cli : The term 'ganache-cli' is not recognized`

## Possible Solution

Change %PATH%. Did that, added Node_Modules to the path variable. Run as admin, did that, nothing changes.
When I go to %appdata%\Roaming\npm and type `.\ganache-cli` it r

[2018-01-11 09:44] ongweijie opened #461 "Is this an error? if yes, how to solve it?"
I have tried to install the ethereum-testrpc web3 on the node.js `8.9.4` but I keep getting this error. I don't know if it is a problem if I want to use this while learning how to code ethereum.
[code]

[2018-01-11 09:55] poperechnyi1 commented on #433
I have the same problem

[2018-01-11 10:54] poperechnyi1 opened #462 "Error: VM Exception while processing transaction: revert"
When I try to call the method from one contract ERC20 to another for transfer tokens on contract address I get an error.
I have  ERC20 contract which has an instance of another contract, that will call the method of third contract. In RopstenTestNet my contracts work well, but when I try do it locally via testing, I get an error.

Logs of my testrpc.
[code]

And code of test:
[code]

## Expected B

[2018-01-11 14:05] davesecure commented on #419
Hey guys,
I am currently working on client/server web app intended to be mapped to an Instant messaging platform.
At the testing face, my AV has been detecting clam.html.exploit.cve_2017_8738-6336184-2 as a threat.
I've not finished my analysis, but I welcome any ideas or recommendation(s)

[2018-01-11 23:48] szerintedmi commented on #365
I've been struggling with this issue for a while and I found the following workaround which works with high enough nodejs versions:
Ctrl-Z
then `kill %1`

the trick that it's only working with node > 8.3.0 , I've no clue why :)
I played a bit and 8.5.0 I've found the best version to use so far.
With 8.4.0 it seemed to have worse performance and with new version it regularly crashes.

[2018-01-12 01:20] ongweijie commented on #415
I have tried to install the ethereum-testrpc web3 on the node.js 8.9.4 but I keep getting this error. I don't know if it is a problem if I want to use this while learning how to code ethereum.

npm WARN deprecated ethereumjs-testrpc@6.0.3: ethereumjs-testrpc has been renamed to ganache-cli, please use this package from now on.
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promi

[2018-01-12 02:26] benjamincburns commented on #461
That error is likely occurring because we have a dependency on something which is fetched from its git repository rather than the NPM package repository. NPM is complaining that you don't have Git installed on your system, so it can't fetch that package.

There's actually two things you need to fix here:

1. Install git, and/or make sure the directory where the `git` binary lives can be found in y

[2018-01-12 02:26] #461 closed

[2018-01-12 03:49] benjamincburns commented on #460
Do other npm modules installed with the `-g` flag run?

Try the following

1. Open PowerShell, and try to run `npx` - verify that it doesn't run
2. Run `npm install -g npx`
3. Try to run `npx` now - is the command found?

If `npx` is found on step 3, and if `ganache-cli` still doesn't run, then this is likely a problem with `ganache-cli`. If `npx` does run, try running `Get-Command npx`, then go l

[2018-01-12 03:49] #460 closed

[2018-01-12 04:06] benjamincburns commented on #419
Thanks for reporting this, @igorbarinov, @youtweakit, and @davesecure. Fortunately for all of us, this is definitely a false negative.

From the [vulnerability announcement for CVE-2017-8738](https://nvd.nist.gov/vuln/detail/CVE-2017-8738):

Ganache is an Electron application. I'll spend a minute or two to see if I can't track down which of our bundled dependencies is making ClamAV anxious. If it'

[2018-01-12 04:06] #419 closed

[2018-01-12 04:40] benjamincburns commented on #419
I just installed `clamav` for Linux as well as ClamXAV for OS X, and I can't reproduce these false positives with fresh installs of `ganache-cli` or `truffle`. @igorbarinov, @youtweakit, @davesecure, please make sure your install of `clamav` is up to date, and make sure that you're using the latest signatures.

[2018-01-12 05:46] davesecure commented on #419
Thanks for the update.
I have confirmed too... it's false negative.

[2018-01-12 06:52] #365 closed

[2018-01-12 08:28] benjamincburns commented on #454
Thanks for closing this once you figured it out, @sudeep30m!

[2018-01-12 08:34] benjamincburns commented on #447
@NTTLuke see my previous comment.

[2018-01-12 08:39] benjamincburns commented on #459
Thanks for reporting this, @dolgiyspb. I believe this issue duplicates #407. I agree that this is a problem, but there's a good workaround which can be used until the problem is resolved.

[2018-01-12 08:39] #459 closed

[2018-01-12 08:42] benjamincburns commented on #397
I'm closing this issue because it's no longer tracking the original problem (that the original submitter was seeing different results on different machines). To those finding this issue after the fact, please see my advice in [this comment](https://github.com/trufflesuite/ganache-cli/issues/397#issuecomment-352709042), and/or open a new issue to discuss your problem.

[2018-01-12 08:42] #397 closed

[2018-01-12 09:03] benjamincburns commented on #462
Hi @poperechnyi1. I'm afraid this is likely a bug in your contract, or a misunderstanding of how `transfer` is meant to work.

Your code REVERTs on
`instanceOfFromContract.transfer(addressContractReceiver, 400000000, {from: accountDeployerReceiver, gas: 3900000});`

Please check prior to this that `instanceofFromContract.balanceOf.call(accountDeployerReceiver)` and validate that it is `>= 40000000

[2018-01-12 09:03] #462 closed

[2018-01-12 10:35] isonlaxman commented on #460
That fixed it, thanks a lot! When I ran `npx -v` it returned "Path must be a string". Upon installing npx it works perfectly.

[2018-01-12 14:49] poperechnyi1 commented on #462
Thanks for the responce. I checked that instanceofFromContract.balanceOf.call(accountDeployerReceiver) returns true. But I wanted to send tokens to the contract(to ContractReceiver not a simple address) from instanceOfToContract and it worked.  In the next step I want send token to the ContractReceiver from instanceofFromContract and it is not work. ContractReceiver has functionFallBack which the

[2018-01-13 05:23] dwalintukan commented on #397
Yes, my original post was related to the build folder having to be deleted, which seems to be fixed in the latest version.

[2018-01-13 08:33] roderik commented on #415
install "git" to fix this

[2018-01-14 16:23] rthijs commented on #447
I tried with this:

`pragma solidity ^0.4.19; // solhint-disable-line compiler-fixed

contract WithdrawalTest {

    function WithdrawalTest() public payable {

    }

    function getContractEtherBalance() public constant returns (uint) {
        return this.balance;
    }

    function withdraw() public returns (bool) {
        uint amount = this.balance;
        if(msg.sender.send(amount)) {

[2018-01-14 18:24] Stradivario commented on #433
How do you solve this problem because i was not having it previews week ?

please check i have created issue related with it because i don't know is it comming from "truffle-contract" or "truffle" or "genache-cli" or "genache-desktop-app"

https://github.com/trufflesuite/truffle/issues/748

[2018-01-14 23:18] Stradivario commented on #412
I think i am stuck to the same issue but i am not running out of gas... my code was working fine previews week now i am stuck for 14 hours figuring out how to fix this....

https://github.com/trufflesuite/truffle/issues/748

[2018-01-15 02:11] benjamincburns commented on #447
@rthijs - what happens when you call eth_estimateGas for the transaction in question? Have you tried setting the gas for the transaction manually?

[2018-01-15 02:12] benjamincburns commented on #447
... maybe one of you will answer me eventually 😆

[2018-01-15 02:16] benjamincburns commented on #433
@JanezStupar this parameter is documented in at least [two](https://web3js.readthedocs.io/en/1.0/web3-eth.html#id62) [places](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendtransaction). We don't include it in our docs because our goal is to represent the RPC standard which is already documented by the Ethereum foundation.

[2018-01-15 02:29] benjamincburns commented on #433
@poperechnyi1 and @Stradivario posts saying "I have the same problem" on already closed issues isn't very helpful to you or me. I'm not saying this because I want you to go away, quite the contrary! I'm thrilled to have you in our community. It's just that when you do this, you're not adding any new, actionable information. As the person responsible for fixing things, seeing this makes me feel a b

[2018-01-15 03:28] benjamincburns commented on #433
@sontuphan after reading through this issue more carefully, I think you closed it prematurely. I have seen very few issues with testrpc/ganache pertaining to the Byzantium update, but that doesn't mean that you haven't found one here. I'll have a look at this issue today.

[2018-01-15 03:34] benjamincburns commented on #433
@sontuphan some tips straight off - use solidity modifiers for `isValidPoL` and `existedPoL`

[2018-01-15 03:57] benjamincburns commented on #433
@sontuphan I can't reproduce this. See sontuphan/Proof-of-Loss#. I added a test to try and reproduce this, and the test passes. If you want me to investigate further, please modify that test to reproduce the problem and repoen this issue.

Note that I ran this test on node 8.9.3 with a fresh install of truffle & ganache-cli. I also tested on Ganache 1.0.2 for good measure. If you're running a vers

[2018-01-15 03:57] #433 closed

[2018-01-15 04:05] sontuphan commented on #433
@benjamincburns really helpful, let me check again.

[2018-01-15 04:12] benjamincburns commented on #433
No problem, and sorry it took me so long to get back to you.

[2018-01-15 05:15] Enigmatic331 commented on #451
I think what happened was previously the transaction hash (hex) was returned, but with the Byzantium fork a status (integer) is returned instead... Hmm. Still trying to figure out how to get around this.

Below an example screenshot of Testrpc (pre-Byzantium) vs Ganache (post-Byzantium) when I deploy the same contract:

![image](https://user-images.githubusercontent.com/28551011/34928080-19f3eccc-

[2018-01-15 05:54] rthijs commented on #447
Setting the gas limit does not change anything. Works fine with "Javascript VM", fails when using testrpc. I did not have time to write something in js to call eth_estimateGas and I don't know if I can do that from within Remix but above you can find the exact code to reproduce it.

To me it looks like a bug in testrpc.

[2018-01-15 06:03] Enigmatic331 commented on #451
To support what @juanfranblanco had mentioned - Below is a screenshot of status returned from ethereum mainnet vs Ganache. Still thinking of a way around this....

![image](https://user-images.githubusercontent.com/28551011/34929092-c3c86736-f9fc-11e7-9eec-4712116142a0.png)

[2018-01-15 08:27] NTTLuke commented on #447
Hi @benjamincburns thank you for your answer. Unfortunately I still have the same error.
I did the same things @rthijs did. Same error on testrpc but using Javascript VM it works fine.
I found the same issue reported on truffle repo and on stackexchange.
 I think it's a known behavior and it seems they are working on it.
https://github.com/trufflesuite/ganache-cli/issues/398
https://ethereum.stack

[2018-01-15 08:31] benjamincburns commented on #447
@NTTLuke I'm afraid I'm the "they" in this case.

I'm also afraid that you didn't answer my question. What happens when you call `estimateGas`?

[2018-01-15 08:37] benjamincburns commented on #447
You can call estimate gas via web3.

[code]

If you're using web3.eth.Contract in `1.0` it's just `myContractInstance.methods.myContractFunctionName.estimateGas` and in 0.22.x it's `myContractInstance.myContractFunctionName.estimateGas`

[2018-01-15 08:38] benjamincburns commented on #451
Thanks for reporting, @juanfranblanco & @Enigmatic331! This is fixed in the current `develop` branch and will go out with the next release.

[2018-01-15 08:38] #451 closed

[2018-01-15 08:40] NTTLuke commented on #447
not at home now, I'll answer you tonight as soon as I get home and I try. I will do.
Sorry I had lost question.

thanks a lot @benjamincburns

[2018-01-15 12:58] W3stside commented on #394
this should be closed.

[2018-01-15 14:53] W3stside opened #463 "evm_mine arbitrarily increase latest block time"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]
* Link to my question on gitter:

## Expected Behavior

```web3.eth.getBlock('latest').timestamp // 1516043000```

[code]

## Current Behavior

```web3.eth.getBlock('latest').timestamp // e.g 1516043000```

[code]

When increasing by `5` from `1516043000` I get --> ```e.g 1516043037``` NOT `1516043005`

Mining on test netwo

[2018-01-15 19:13] rthijs commented on #447
I could not get the estimate gas to work, I did build a quick page to test it and this does work:

solidity:
`
pragma solidity ^0.4.19; // solhint-disable-line compiler-fixed

contract WithdrawalTest {

    function WithdrawalTest() public payable {

    }

    function getContractEtherBalance() public constant returns (uint) {
        return this.balance;
    }

    function withdraw() public ret

[2018-01-15 19:21] rthijs commented on #447
This is the js library for the code in my previous post.

[web3.min.js.zip](https://github.com/trufflesuite/ganache-cli/files/1632782/web3.min.js.zip)

[2018-01-15 23:49] #440 closed

[2018-01-15 23:50] benjamincburns commented on #440
Fixed in `develop` branch now. Will go out with latest release. Thanks for reporting this, @elenadimitrova!

[2018-01-16 03:35] pkieltyka commented on #243
the change to the behaviour of eth_sign in geth to mimic personal_sign without a password makes sense, except it should have never happened because its caused a terrible mess between different implementations across geth, parity, testrpc, metamask and web3. what a mess.

the only solution is for all clients/nodes to update to what is the current spec, the new eth_sign semantics as per geth.

what

[2018-01-16 07:27] benjamincburns commented on #257
You all might've noticed that trufflesuite/ganache-core#49 is now merged to develop. Good news - there's a beta release of `ganache-cli` out now with these changes integrated. To use it, just `npm install -g ganache-cli@beta`. Please report any issues specific to websockets either here or in a separate issue!

[2018-01-16 08:51] benjamincburns commented on #417
So there's a simple fix to this issue which I've been avoiding making because it feels a little like sweeping it under the rug. That fix is to process each request serially. I've made this change in trufflesuite/ganache-core#53, and this seems to eliminate this problem, and various others, entirely.

I've just published `ganache-cli@7.0.0-beta.0` which has this change, as well as support for webso

[2018-01-16 08:51] #417 closed

[2018-01-16 08:54] benjamincburns commented on #426
I've just published `ganache-cli@7.0.0-beta.0` which I believe fixes this bug, as well as adds support for websockets, and contains numerous other fixes. You can get it by doing `npm install -g ganache-cli@beta`.

Closing this case for now, but please reopen if this problem shows its ugly face again.

[2018-01-16 08:54] #426 closed

[2018-01-16 08:55] benjamincburns commented on #359
I've just published `ganache-cli@7.0.0-beta.0` which I believe fixes this bug, as well as adds support for websockets, and contains numerous other fixes. You can get it by doing `npm install -g ganache-cli@beta`.

Closing this case for now, but please reopen if I've got it wrong and this problem shows its ugly face again.

[2018-01-16 08:55] #359 closed

[2018-01-16 08:56] benjamincburns commented on #268
I've just published `ganache-cli@7.0.0-beta.0` which I believe fixes this bug, as well as adds support for websockets, and contains numerous other fixes. You can get it by doing `npm install -g ganache-cli@beta`.

Closing this case for now, but please reopen if I've got it wrong and this problem shows its ugly face again.

[2018-01-16 08:56] #268 closed

[2018-01-16 08:59] benjamincburns commented on #442
I've just published `ganache-cli@7.0.0-beta.0` which I believe fixes this bug, as well as adds support for websockets, and contains numerous other fixes. You can get it by doing `npm install -g ganache-cli@beta`.

Closing this case for now, but please reopen if I've got it wrong and this problem shows its ugly face again.

[2018-01-16 08:59] #442 closed

[2018-01-16 09:05] benjamincburns commented on #431
Thanks for reporting this @rmeissner - I'm sorry it's gone unnoticed for so long!

I ran into this today, myself. I'll make sure it's fixed in time for the 7.0 release.

[2018-01-16 09:26] benjamincburns commented on #447
@joaomontenegro I just tried to reproduce this using Remix, `ganache-cli@7.0.0-beta.0`, and the contract you provided, and it seems to work fine.

@rthijs you seem to have concluded that you're experiencing a problem with remix. I'm happy to help you troubleshoot this, but to do so I'll need you to please raise a new issue with the full output from `ganache-cli --verbose` after reproducing the pro

[2018-01-16 09:26] #447 closed

[2018-01-16 09:36] benjamincburns commented on #398
Hi @vikas1188. I think you might be on the right track here, but you may be misunderstanding the role that ganache (formerly testrpc) is meant to play.

Ganache isn't a client in the same way that MetaMask is. Rather, it's meant to behave more like Infura, geth, or Parity. That is, when you fire off an `eth_sendTransaction` to Ganache or one of these other nodes implementations, they expect that y

[2018-01-16 09:37] benjamincburns commented on #398
Closing this one as it's quite old, and from what I can tell the issue stemmed from misunderstanding of gas limits moreso than an issue w/ ganache.

[2018-01-16 09:37] #398 closed

[2018-01-16 09:50] benjamincburns commented on #370
Looks like you opened this twice. Closing in favor of #371.

[2018-01-16 09:50] #370 closed

[2018-01-16 09:52] benjamincburns commented on #371
@sivachaitanya I believe this issue was likely due to truffle setting the gas limit for you. That problem is now fixed. Given the age of this case, I think it's best to close, but please do reopen if this is still a problem for you.

[2018-01-16 09:52] #371 closed

[2018-01-16 09:52] benjamincburns commented on #371
And sorry for taking so long to get back to you!

[2018-01-16 09:54] benjamincburns commented on #294
@o0ragman0o thanks for reporting this -- I can't believe none of us got back to you until now!

Is this still a problem for you? If so, I think it'd be an EVM bug, but I'm happy to dive in and help diagnose to make sure. That said, we're now beta testing ganache-cli v7.0.0... I think we've had many improvements to the EVM since testrpc 3.0.3!

[2018-01-16 10:01] benjamincburns commented on #458
Hi @szerintedmi, thanks for reporting this.

My strong suspicion is that remix is setting a very low gas limit for the transaction you're running. That is, the error is telling you that your gas limit is so low that it won't even bother to try and run the transaction in question. As for why this is happening, see [this](https://ethereum.stackexchange.com/a/13041/17829) excellent StackOverflow answ

[2018-01-16 10:04] benjamincburns commented on #440
@elenadimitrova I've actually just pushed out a beta release of `ganache-core` 3.0.0 and `ganache-cli` 7.0.0. This change will be in there amongst other major things like websockets support, fixing #417, and fixes for other various race condition and stability bugs, including the pesky "key not found" db error. I hope that you'll find it to be a much better experience.

[2018-01-16 10:10] benjamincburns commented on #463
the intention behind `evm_increaseTime` is to set a fixed offset from the current wall clock time. That is, it sets the clock skew.

There is an open PR (trufflesuite/ganache-core#13) for this change in behavior, with similar motivations to what you describe here, however I'm still on the fence about whether or not it's a good idea to accept this change.

My reasoning for not wanting to accept the

[2018-01-16 10:11] rthijs commented on #447
Thanks @benjamincburns , I'll do my best to help out but I have a deadline coming up. I'll see what I can do but I don't think I can make adequate time to test untill february.

[2018-01-16 10:13] benjamincburns commented on #463
Also if you're using interval mining for your test suite (the `-b` flag), unless there's a big reason that you need it, I think your life will be much happier and more productive if you switch to instamining (drop the `-b` flag). You can still call `evm_mine` when you need arbitrary blocks created. Your test suite will certainly execute much faster as a result of this change.

[2018-01-16 10:17] benjamincburns commented on #369
@MechanicalSloth this is now fixed and available (along with websockets support) in our `7.0.0-beta.0` release. You can get this release by running `npm install -g ganache-cli@beta`

Thanks for reporting this issue!

[2018-01-16 10:17] #369 closed

[2018-01-16 10:38] roderik commented on #417
Awesome!

[2018-01-16 10:47] benjamincburns commented on #383
The error/crash is almost certainly due to trufflesuite/ganache-core#51. `miner_start` expects a `threads` parameter, which is a bit sad, because it's unused.

You can work around this issue by doing the following: `curl -X POST --data '{"jsonrpc":"2.0","method":"miner_start","params":[0x0]}' localhost:8545`

The fix will be to 1) fix trufflesuite/ganache-core#51, and 2) edit `evm_mine` in `geth_a

[2018-01-16 10:56] owocki commented on #453
@kammerdiener did you still want to claim the work here, or should i release it to someone else?

[2018-01-16 11:09] kammerdiener commented on #453
@owocki I'll work on it some more. I think I have an idea for the fix.

[2018-01-16 11:17] Stradivario commented on #433
@benjamincburns hey man hope you can check if this is the same situation because more than 48 hours i cannot make it work... i created test repository where i am facing this bug.
https://github.com/trufflesuite/truffle/issues/748

[2018-01-16 12:48] szerintedmi commented on #458
[ganache.out](https://gist.github.com/szerintedmi/c0a10c1773f0f916b03a4abfbd7c89fe) for this code:
[code]

[2018-01-16 13:31] yarrumretep commented on #293
Same result here when using miner_stop to stop auto mining and then either calling evm_mine or miner_start after queueing a couple of contract function invoking transactions.  I was not able to recreate with just ether moving transactions.

NOTE: the same behavior was observed with `truffle develop` using inline ganache.

This is using:
[code]

PLATFORM: darwin
GANACHE VERSION: 1.0.2

EXCEPTION:
[

[2018-01-16 13:32] benjamincburns commented on #458
I don't see the error you listed above in that output.

[2018-01-16 13:39] benjamincburns commented on #293
@yarrumretep if you're keen, can you please try running this on `ganache-cli@beta`? That [release](https://github.com/trufflesuite/ganache-cli/releases/tag/v7.0.0-beta.0) fixes a number of widespread issues, one of which may be responsible for this problem.

[2018-01-16 13:58] yarrumretep commented on #293
@benjamincburns same result.  Let me see if i can make a mini-project that shows this.

[2018-01-16 14:10] elenadimitrova commented on #449
I think this has been resolved as part of fixing #359

[2018-01-16 14:10] #449 closed

[2018-01-16 14:27] yarrumretep commented on #293
@benjamincburns here you go: https://github.com/yarrumretep/ganache293

Also, I noticed that if you comment out the third 'transfer' transaction, the mining will go through (no gasPrice issue).  HOWEVER, it seems the evm_mine invocation will only mine 1 transaction per block (hence the 3 mine() calls).  Do you want a separate ticket for the 1 transaction per evm_mine call?

Also, evm_mine does not

[2018-01-16 14:30] cedricwalter commented on #390
status? will it be in soon?

[2018-01-16 17:05] Frax0r commented on #451
Good work guys thanks for fix!

[2018-01-16 19:08] benjamincburns commented on #390
There's an open PR on this trufflesuite/ganache-core#2. Last I knew the changes @scnale submitted there had errors that needed fixing. I'll double check, but I don't think that's been done yet. If someone wants to submit another PR that finishes the work, I'd be all for it.

[2018-01-16 19:13] benjamincburns commented on #293
Not unless it's causing you trouble. This is expected behavior.

I'll have a look at the project, thanks a lot for that - will make sorting this out much easier!

[2018-01-16 19:16] yarrumretep commented on #293
@benjamincburns - hrm - yeah, the idea was that we would queue up some transactions and then call evm_mine to cause them to be mined in the same block.  We are looking to exercise conditions in our contracts which could be an issue if multiple transactions executed in the same block.  Would it make sense to see about getting the evm_mine call to do as many xas as will fit?  Or is there some other

[2018-01-16 19:16] benjamincburns commented on #293
@yarrumretep just to help me understand how people are using ganache, can you please explain why you're doing this? Most people don't tend to want or need to control the creation of blocks within Ganache in this way

[2018-01-16 19:18] benjamincburns commented on #293
Looks like you might've already answered my question! Can you elaborate a bit on those "conditions in [your] contracts which could be an issue if multiple transactions executed in the same block?" I'd love to understand further.

[2018-01-16 19:21] yarrumretep commented on #293
Hi @benjamincburns - yeah, any time you condition based on block.number (as you might, for instance, if you are using minime style Checkpoint structures), you could run into problems with 'concurrent' (same block) transaction mining.  We want to be able to synthesise these sorts of diabolical conditions to build robust test suites.

[2018-01-16 19:23] benjamincburns commented on #293
Sounds like a problem to avoid altogether if possible! Either way, see the edit to my last comment - sounds like you should raise that issue, and I'll look into why we're crashing here!

[2018-01-16 19:23] yarrumretep commented on #293
See this comment: https://github.com/trufflesuite/ganache-cli/issues/108#issuecomment-250600965

[2018-01-16 19:25] benjamincburns commented on #449
Sweet! I love it when that happens!

[2018-01-16 19:28] benjamincburns commented on #293
Sounds like he either never got around to that, or we (I?) broke it after the fact. I'll double check the code, but I think even when calling `evm_mine` manually you still only get one tx per block. This would be a relatively easy change to make though - just need to enforce a max block size. Good PR fodder!

[2018-01-16 19:35] benjamincburns commented on #293
https://github.com/trufflesuite/ganache-core/blob/develop/test/mining.js#L169-L204
^ looks like we never validate that the transactions occur in the same block number... whoops!

[2018-01-16 19:47] benjamincburns commented on #293
If you're only getting one TX per block, I suspect you're running into this scenario. Try increasing your block gas limit: https://github.com/trufflesuite/ganache-core/blob/develop/test/mining.js#L249-L286

[2018-01-16 20:14] #293 closed

[2018-01-16 20:16] benjamincburns commented on #293
@hynese thanks for reporting this one, and @yarrumretep thanks for that sample project, it was really illustrative, and I learned a lot from our conversation!

@yarrumretep I've confirmed that with this change your test should work, and that you should only need to call `evm_mine` once per batch of transactions, provided they fit within the block gas limit.

The fix in 8e080b4 will go out with our

[2018-01-16 20:27] benjamincburns commented on #378
The issue @beether mentioned has now been fix. Apologies for closing this one prematurely. It seems this has been a bug for quite a long time!

[2018-01-16 20:43] benjamincburns commented on #452
To fix this problem make sure that

1. You've installed ganache-cli globally by doing `npm install -g`
2. Your npm global bin directory is in your `PATH`. You can find your npm global bin directory by running `npm bin -g`

For #2, copy and paste this one-liner and it'll tell you whether or not you're in good shape:

`echo $PATH | grep -q "$(npm bin -g)" && echo "Your PATH is set up correctly." ||

[2018-01-16 20:43] #452 closed

[2018-01-16 20:48] benjamincburns commented on #431
Turns out that this case duplicates #255. Since that's the older issue, lets track this over there.

[2018-01-16 20:48] #431 closed

[2018-01-16 20:49] benjamincburns commented on #255
Thanks for reporting this @aakilfernandes - I'm sorry it's gone unnoticed for so long!

I ran into this today, myself. I'll make sure it's fixed in time for the full-blown 7.0 release.

Note to self or anyone who wants to take this on as a PR: to fix, add a check for request.params.length == method.length - 1 in geth_api_double's handleAsync, plus relevant tests.

[2018-01-16 23:03] #255 closed

[2018-01-16 23:06] benjamincburns commented on #255
Thanks for reporting this, @aakilfernandes and @rmeissner! This issue is now fixed, and will go out in the next release!

[2018-01-17 00:48] v4nz666 commented on #257
So far so good! Thanks a lot @benjamincburns

[2018-01-17 03:35] #383 closed

[2018-01-19 15:55] W3stside commented on #463
@benjamincburns Thanks for the response and mind food.

I really just boils down to the fact that we'd like to have a deterministic testing environment. Maybe introducing a new flag for removing this time skew could keep default `truffle` like you originally intended and allow users like us to set the determinism.

Just as an example we are using pricing function sensitive to time that we would li

[2018-01-19 19:02] yarrumretep commented on #354
@benjamincburns - we are hitting this as well (also worked around in the project i submitted for #293).  we can work around it if necessary but shouldn't it return a list of the transactions it mines?

[2018-01-19 19:30] xavierlepretre commented on #354
I don't see why. This command is to order the miner to start. The response should be "ok started".

[2018-01-19 21:11] posix4e commented on #462
Can we reopen this?

[2018-01-19 22:20] yarrumretep opened #464 "ganache-cli@beta not reporting failed transactions via truffle-contract"
## Expected Behavior
When invoking a contract function via truffle-contract that reverts, the truffle contract's promise should reject indicating that there was a VM execution error.  "VM Exception while processing transaction: revert"

## Current Behavior
When invoking a truffle-contract function that reverts (or otherwise errors) against ganache-cli@beta, the resultant Promise resolves rather th

[2018-01-20 23:27] stern0 opened #465 "VM Exception while processing transaction: stack underflow"
I have the following functions which store some info in a map:

The following are JS and Solidity code:
[code]
[code]

When invoked I get the following error:
```Error: VM Exception while processing transaction: stack underflow```

I have tried both ganache and testrpc here are the logs:

[code]

[2018-01-21 07:49] nguyendangdung commented on #7
In my case, I sent 30 wei instead of 30 Eths. That's why I not see the balances were updated

[2018-01-21 08:54] vikas1188 commented on #398
Hi,
i got your point @benjamincburns . Thanks.

[2018-01-21 11:32] fivetwentyseven opened #466 "web3.eth.getBalance returns "missing trie node""
[code]

[2018-01-21 18:21] yarrumretep commented on #354
@xavierlepretre - I believe the command is to mine a single block upon command.  miner_stop & miner_start stop and re-start mining.  evn_mine should mine a block and return receipts for the transactions it mines, methinks.  Am I off base?

[2018-01-21 18:30] yarrumretep commented on #464
UPDATE: I cannot recreate this on my linux box (Mint 18).  But have recreated with truffle 4.0.5 and ganache-cli@beta on my OSX box.

[2018-01-21 21:56] myFairCatsSick opened #467 "ganache-cli issue testing with MyEtherWallet - hello world"
## Expected Behavior
Trying to run a full stack hello world ethereum contract on Mac OS, using ganache-cli and MyEtherWallet.com on local host.  Ganache GUI doesn't work at all.

## Current Behavior
When I deploy a contract it shows:
Error: sender doesn't have enough funds to send tx. The upfront cost is: 5970310000000000 and the sender's account only has: 0 at runCall (/usr/local/lib/node_modules

[2018-01-21 22:30] kammerdiener commented on #453
@owocki I have exhausted all of my potential fixes. If you would go ahead and release it in the interest of getting this fixed sooner. I will look for other issues to try and tackle.

[2018-01-21 23:56] benjamincburns commented on #453
@owocki are claims mutually exclusive, or can multiple people register a claim to the bounty at once? If only one claim can be registered at a time, I think it's best if we reject @kammerdiener's claim until he's resubmitted. I really appreciate your work, @kammerdiener, but I worry that people may see a claim for the bounty here and be put off from trying to solve the issue.

[2018-01-22 00:11] kammerdiener commented on #453
@benjamincburns totally understand and totally agree. I am out of ideas as to what to check (although I will be watching for the solution just because of my own curiosity).

[2018-01-22 03:32] benjamincburns commented on #464
@yarrumretep Thanks for reporting this! This is actually more of a `truffle-contract` bug than a ganache-cli bug. That is because, per the [release notes](https://github.com/trufflesuite/ganache-cli/releases/tag/v7.0.0-beta.0), we switched `ganache-cli` to report transaction failures in the same way that other clients (geth/Parity/etc) report errors.

This means that if `truffle-contract` is faili

[2018-01-22 03:32] #464 closed

[2018-01-22 03:34] benjamincburns commented on #354
This is a pretty quick one to fix - great first time contribution for anyone who wants to submit a PR.

[2018-01-22 08:14] poperechnyi1 commented on #462
Yes, ofcourse.

2018-01-19 23:11 GMT+02:00 Alex Newman <notifications@github.com>:

[2018-01-22 10:15] xavierlepretre commented on #354
@yarrumretep `evm_mine` orders the miner to start. You then have to wait for a block to be mined. Depending on the start-up settings of Ganache this can be a few seconds. Only when you have received a block would you consider stopping the mining. You understand that you cannot wait for a block to be mined to return from this `evm_mine` command.

[2018-01-22 12:14] benjamincburns commented on #354
Sorry, I should've clarified earlier that I think this is out of scope for `evm_mine` - per @xavierlepretre's comment, `evm_mine` is meant to trigger mining of a new block. We don't want to add nonstandard functionality for getting transaction receipts and the like, as our goal is to be a testing tool which accurately simulates full blown Ethereum clients.

[2018-01-22 13:34] yarrumretep commented on #354
OK - I think I'm clear on what you are saying @xavierlepretre - evm_mine only requests the miner to mine one block according to whatever settings it has (instamine, or periodic).  Its up to the client to independently listen for that block to mine.  Makes sense.

In this case it should just return empty result so web3 extend call doesn't fail.

I was thrown off by this discussion: https://github.c

[2018-01-22 13:53] psychoplasma commented on #467
Did you check whether or not the ganache-cli still works without crashing in the meantime? Because in my case when I try to sign a contract, the ganache-cli crashes which makes the wallet that you added drop to 0 ETH balance. And if you try to deploy that contract without knowing that the ganache-cli crashed, MyEtherWallet gives that error. But the more importantly what is the reason for the crash

[2018-01-22 14:05] myFairCatsSick commented on #467
That is a good point - I have had that crash, which seems to happen when I enter the bytecode without the initial "0x".  I simply restarted the cli and thought that was good enough.

This is why I was hoping to have a function to reload balances to test accounts.  What is the solution here after this crash?  Do I just need to start an entirely new wallet or something further?

[2018-01-22 14:30] yarrumretep commented on #354
In looking at the code on ganache-core@develop, it appears that evm_mine indeed mines one block _immediately_ (regardless of if the auto-mining setting is periodic).  It then returns errors (including runtime errors) from the transactions mined.

I'll submit a PR that changes evm_mine to return true with the errors (if any).  This is parallel to the miner_start function.  Sound right?

[2018-01-22 14:41] psychoplasma commented on #467
I think, every time you start the ganache-cli, it creates different wallets and if MyEtherWallet tries to check wallet balance that you added, it returns 0 balance, even if you restart ganache-cli. I mean you need to add a new wallet each time when you start the ganache-cli with those available accounts on the console.

But anyways, I think that the main problem is that "AssertionError: The field

[2018-01-22 14:48] owocki commented on #453
Hi @benjamincburns -- only one person can claim work for an issue at a time.    We do this so that the network is not an enabler of spec work.

I'm rejecting @kammerdiener 's claim now.. Thanks for the work and the solid communication.

[2018-01-22 15:56] posix4e commented on #462
Master totally fixed me
On Mon, Jan 22, 2018 at 12:14 AM Stepan <notifications@github.com> wrote:

[2018-01-22 17:05] perissology commented on #257
@benjamincburns how do you enable websockets? the cli doesn't appear to have an option to do it

[2018-01-22 17:12] perissology commented on #257
ah, I see. it's enabled by default on the same port as the http server `8545`

[2018-01-22 22:11] benjamincburns commented on #358
@yuyaogawa it sounds like you've resolved your issue now, and either way this question is quite old.

In the future if you're not sure how things are supposed to work please check our [docs](http://truffleframework.com/docs/) and [tutorials](http://truffleframework.com/tutorials/) pages, and ask questions in our [gitter channel](https://gitter.im/ConsenSys/truffle).

[2018-01-22 22:11] #358 closed

[2018-01-22 22:11] benjamincburns commented on #379
This is fixed in the current develop branch and will go out with the next beta.

[2018-01-22 22:11] #379 closed

[2018-01-22 22:20] benjamincburns commented on #453
I think the best (only?) way that this can be solved such that the band-aid fix of processing each request individually can be removed is if instances of `merkle-patricia-tree` are short-lived and not shared between requests. Rather, each instance should share the same backing `db`.

I had a local branch open a while ago that did this, and which also created instances of the EVM as needed, but I n

[2018-01-22 23:47] benjamincburns commented on #467
@psychoplasma the assertion error you mention is fixed in current `develop` branch. I don't think that's the cause of @myFairCatsSick's issue.

@myFairCatsSick the question you asked in your most recent comment is probably best asked on [gitter](https://gitter.im/ConsenSys/truffle). However I think @psychoplasma's most recent comment likely applies. Also bear in mind that you can launch `ganache-c

[2018-01-22 23:47] #467 closed

[2018-01-22 23:53] benjamincburns commented on #354
Yes, that's the expected/intended behaviour.

I believe most rpc calls which have no real return value just set the `result` field of the JSONRPC response to `'0x0'` on success. That said, the exact value doesn't matter, so long as it's a hex number encoded as a string.  On error the JSONRPC spec doesn't include the `result` field, so success is determined by the existence of `result` more so than

[2018-01-22 23:57] benjamincburns commented on #293
Yes, have a look at the [`npm link` command](https://docs.npmjs.com/cli/link).

In short, you'll want to clone both `ganache-core` and `ganache-cli` then, assuming both are cloned to a common parent directory:

[code]

[2018-01-23 04:11] clehene commented on #453
The tests expose two different issues both in the https://github.com/ethereumjs/merkle-patricia-tree. There may be additional problems between the ganache doubles

* One of them is a race condition caused by non-uniform lock acquisition (mainly the fact that checkpoint should happen under a lock)
* The other is a logical issue caused by incomplete error propagation across the "inverted callback st

[2018-01-23 06:43] Asone commented on #379
Excellent news ! thanks for the info @benjamincburns :D

with the race condition fix incoming too, stability of the tool is going to be greatly improved ! Nice work from the community ! ( to the mooooooon ? :p )

[2018-01-23 08:57] Asone commented on #466
Hi @use-r, some problems with tries have been addressed.

You'll find most of those in #453, mostly  [this comment](https://github.com/trufflesuite/ganache-cli/issues/453#issuecomment-354877557).

Another related issue was #417 .

Some developpers are working around this problem, maybe yours is related to the same bug.

[2018-01-23 14:47] owocki commented on #453
hey @clehene are you the claimee above?

[2018-01-23 16:32] clehene commented on #453
@owocki hey, yes

[2018-01-23 20:11] benjamincburns commented on #354
Fixed in current `develop`, meaning it'll go out with the next release. Thanks once again for your contribution, @yarrumretep!

[2018-01-23 20:11] #354 closed

[2018-01-23 20:46] benjamincburns commented on #379
This issue is fixed in the current beta release of `ganache-cli` (v6.1.0-beta.0)

[2018-01-23 22:34] benjamincburns commented on #453
That's exciting news, @clehene! I'm eager to see what you've come up with!

[2018-01-23 22:37] benjamincburns commented on #466
@use-r thanks for reporting this, but why did you close? It seems likely that we're just not returning a zero balance when the account isn't found. This is separate from the bugs that @Asone mentioned above and should be fixed if still present.

[2018-01-23 22:40] benjamincburns commented on #453
@clehene Just a tip - if you're going to test using Ganache like [I described here](), you'll want to be sure to disable the request queuing in ganache-core, found in `lib/provider.js`.

[2018-01-23 22:50] Asone commented on #466
Sorry if i lead to some confusion, that was not my intention, just intended to provide some information in case it could be useful.

Obviously, it was a mistake, i'll remain silent until i get in a deeper understanding of those topics.

Again, sorry

[2018-01-23 22:51] #457 closed

[2018-01-23 22:53] benjamincburns commented on #466
No need to apologize, @Asone - I thought your comment was quite helpful.

[2018-01-24 05:27] onbjerg commented on #257
@benjamincburns Just for reference, if what @perissology says is true, then I think you should change the port to 8546, since that is the de facto standard for WebSocket RPC right now

[2018-01-24 08:17] MicahZoltu commented on #257
It is the defacto standard within Ethereum (because Geth) but it is not proper WS behavior for the rest of the world.  WebSockets are designed to serve over the same port as HTTP via WS upgrade.  I think gnache is doing the right thing here, and I hope (dare to dream) that one day geth and parity follow suite.

[2018-01-24 09:24] Cript commented on #339
Also have this problem with balance

[2018-01-24 22:32] monokh opened #468 "Handling of pending blocks and pending transactions is broken"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle):
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5a67cd2f0ad3e04b1b5ddd88

## Expected Behavior

Calling eth_getTransactionByHash for a transaction hash that is pending (not included in a block) on the ganache node should return the given transaction.

This is the behaviour that a full node (geth, parity)

[2018-01-25 10:31] MartinKrmer opened #469 "Ganache client does not start"
Hi,
am doing tutorial but I am stuck at the beginning.
If I try to run ganache-cli, I get:

ar Module;if(!Module)Module=(typeof Module!=="undefined"?Module:null)||{};var moduleOverrides={};for(var key in Module){if(Module.hasOwnProperty(key)){moduleOverrides[key]=Module[key]}}var ENVIRONMENT_IS_WEB=false;var ENVIRONMENT_IS_WORKER=false;var ENVIRONMENT_IS_NODE=false;var ENVIRONMENT_IS_SHELL=false;i

[2018-01-25 10:35] benjamincburns commented on #469
Hi @MartinKrmer - Can you please include the actual error? It seems you've copied some arbitrary part in the middle of the output here, but missed the relevant bits.

[2018-01-25 10:37] MartinKrmer commented on #469
Error: listen EADDRINUSE :::8545
    at Object._errnoException (util.js:1003:13)
    at _exceptionWithHostPort (util.js:1024:20)
    at Server.setupListenHandle [as _listen2] (net.js:1366:14)
    at listenInCluster (net.js:1407:12)
    at Server.listen (net.js:1495:7)
    at Server.server.listen (/usr/local/lib/node_modules/ethereumjs-testrpc/build/cli.node.js:106030:17)
    at Object.<anonymous>

[2018-01-25 10:38] benjamincburns commented on #465
Hi @stern0 - have you tried stepping through this with `truffle debug`?

[2018-01-25 10:39] MartinKrmer commented on #469
I am sorry that's the error.
I hope you can help me.

[2018-01-25 10:41] benjamincburns commented on #443
@jorgeog96 try replacing `localhost` in your `truffle.js` with `127.0.0.1`. `ganache-cli` only listens on IPv4, and IIRC on some systems when you use the `localhost` hostname it won't try falling back to IPv4 after it tries IPv6.

[2018-01-25 10:42] benjamincburns commented on #443
also I think you don't need the `--network` flag when you invoke `truffle migrate` because you've set the `development` network, but just to rule out that problem please try doing `truffle migrate --network development`

[2018-01-25 13:53] Asone commented on #469
The port chosen for the service seems to be used  :
`Error: listen EADDRINUSE :::8545`

Which means that either you have already another instance already running, either you have another service or software using this port.

[2018-01-25 14:05] MartinKrmer commented on #469
This was really dumb sorry. I did found that open terminal.

[2018-01-25 14:46] Asone commented on #469
no problem, however can you close the issue then ? Thanks ! :D

[2018-01-25 14:49] #469 closed

[2018-01-25 15:29] Mirajjj commented on #454
@sudeep30m Could you please explain what you did to make any ganache-cli command work? I have the same issue but on Windows 8.

[2018-01-26 05:51] jordanglassman commented on #379
Are these infinite `eth_getBlockByNumber` calls a MetaMask bug?  I don't see a related issue on their tracker.

[2018-01-26 06:16] benjamincburns commented on #379
Not a bug. They poll for the latest block number.

[2018-01-26 15:26] yarrumretep commented on #464
Hi @benjamincburns - for the record , is there a git issue on truffle-contract that tracks this, I'm happy to log there if desired.  Or, even better, is there a beta of truffle-contract that fixes this?  I'm also happy to dive in if noone else has the baton on this one.

We really can't exercise your beta without this being fixed as our tests depend on rejected promises from truffle-contract to ca

[2018-01-26 15:29] clehene commented on #453
@benjamincburns hey first sorry for the delay.
Second, I'm afraid I'll need a bit more info on how to do that test or the one mentioned in #417 - i.e. concrete instructions

I tried a few things, but I'm otherwise doing many things for the first time, so likely missing some context.

* I have the development branch of ganache
* I can only find `lib/provider.js` in ganache-core
 * I can't tell what

[2018-01-26 20:00] propercoil commented on #433
Getting this error too. Would love to see it resolve.

[2018-01-27 01:30] sontuphan commented on #433
In my case, It’s about your smartcontract, not ganache-cli. So please
review carefully your smartcontract again. If it’s still there, let me know
and I am willing to see your repo to investigate.

Vào Th 7, 27 thg 1, 2018 lúc 03:00 propercoil <notifications@github.com> đã
viết:

[2018-01-27 08:00] poperechnyi1 commented on #433
I do not resolve this problem.

27 янв. 2018 г. 3:30 ДП пользователь "Phan Sơn Tự" <notifications@github.com>
написал:

[2018-01-27 09:43] benjamincburns commented on #464
Hi @yarrumretep definitely. I think trufflesuite/truffle-contract#93 is what you're looking for.

[2018-01-28 04:06] chris-shyft commented on #158
One of the issues with this is that when you use Remix connected to ganache-cli, it will throw a "VM Exception while processing transaction: out of gas" error instead of processing the function (at all).

[2018-01-28 23:45] stern0 commented on #465
Hi @benjamincburns I am not using truffle.

[2018-01-29 10:01] benjamincburns commented on #453
Request queuing is [here](https://github.com/trufflesuite/ganache-core/blob/d165da8e8bdb0ae32082ec0cb001d90242b63f6e/lib/provider.js#L91-L95)

Easiest way to disable it is to pass an `options` object with `asyncRequestProcessing = false`. You can hard code this in `ganache` in `src/chain.js` to make life a little easier.

Just a heads up that if you don't pass `asyncRequestProcessing = false` then

[2018-01-29 10:03] benjamincburns commented on #453
Also @clehene if you're thinking it's working well in ganache-cli, I'm happy to help test it in the Ganache UI if you're having difficulties - just need you to point me at the branch(es) which contain(s) your fix(es).

[2018-01-29 10:22] benjamincburns commented on #433
I'm afraid that I need to lock this issue. There are lots and lots of possible reasons why contract calls revert, and there's no possible way that I can sort them all out here.

If you're finding this issue via search and wishing you could leave a comment, I recommend first asking for help on [gitter](https://gitter.im/ConsenSys/truffle). After asking on gitter, if you're confident that you're exp

[2018-01-29 10:31] benjamincburns commented on #465
Ah, that's a bit sad. I suspect `truffle debug` would help in this case.

Either way, can you please post a minimum runnable example? The code you posted gives a hint, but it doesn't show me how you call `storeData` in JavaScript. A running example is the fastest way for me to diagnose this.

[2018-01-29 11:52] benjamincburns commented on #453
@clehene actually, I can do one better than that. I've just pushed a branch to ganache-core called `fix-forking-debug`. In this branch I add `test/forked_debug.js`, which is essentially the same test as `test/debug.js` except I'm debugging a transaction from a forked chain. The changes I've made in that branch should have been enough to make things work, but unfortunately I run into the missing st

[2018-01-29 18:15] clehene commented on #453
@benjamincburns I spent some time over the weekend: I had a bit of trouble figuring out how to link modules to run the cli with my version of ganache-core.
Guessing the two options you mentioned were `_queueRequest` vs `_sendAsnyc.

I had my initial work based on just the unit tests provided, so had to re-introduced some scaffolding in the otherwise cleaned up code.

The two unit tests address 2 d

[2018-01-29 18:18] clehene commented on #453
@benjamincburns the current fix (which will need a lot of scaffolding cleanup so may take a bit of time this evening) fixes the missing stack and also a good degree of the get issues scenarios.

[2018-01-29 19:16] Asone commented on #453
![y9w6o_s-200x150](https://user-images.githubusercontent.com/441960/35529379-2cc2c080-0531-11e8-9c1a-6b043a0ea2fb.gif)

@clehene : I don't know how to say it, but thanks for the coming patch ! I've never been F5'ing an issue so much :p

This bug has been so annoying ! So thanks again a thousand times ! Also Thanks to the ganache-cli team for the tools you provide :3

I'll take a rare pleasure to r

[2018-01-30 04:04] XertroV opened #470 "`eth_getBlockByHash` request without second param crashes ganache"
If you make a bad `eth_getBlockByHash` request (including only the block hash) then ganache crashes. This also occurs with `eth_getBlockByNumber` - not sure about other methods.

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

## Expected Behavior

RPC error instead of crashing

## Current Behavior

Crash

## Possible Solution

The error thrown is `callback is not a fun

[2018-01-30 04:56] nuevoalex commented on #412
Pinging this issue again as it is preventing us from developing against TestRPC and it would be great to be able to do so. Thanks!

[2018-01-30 07:54] seesemichaelj commented on #412
I looked into this issue a little bit, and it appears the first `revert` error is caused due to not providing a `gas` option for an `eth_call` transaction. I believe this is the same behavior as #411 but with `eth_call` (and looking at that issue, @MicahZoltu was also stating `eth_call` should succeed regardless if `gas` is provided).

I implemented the fix in https://github.com/trufflesuite/ganac

[2018-01-30 08:15] realChainLife commented on #432
@JasonGiedymin tx man, saved a life

[2018-01-30 08:43] benjamincburns commented on #412
Hi @seesemichaelj I decided to look into this again today as well, and it seems we're on the same track, though there is already a fix in place which causes `eth_call` to use the block gas limit if no `gas` argument is specified. If memory serves, this fix should be present in `ganache-cli v6.0.3`. I could be mistaken however, as I've been testing with `ganache-cli v6.1.0-beta.0` today.

From what

[2018-01-30 08:44] benjamincburns commented on #412
Yanno, @seesemichaelj I really should've clicked that PR link before replying - I would've seen that it was already merged! :blush:

[2018-01-30 10:24] benjamincburns commented on #412
Forget edit 2 in my comment above. If I set an absurdly high block gas limit, and if I change `localCall` and `remoteCall` in `source/libraries/ContractInterfaces.ts` to specify said absurdly high block gas limit (less 1 because we apparently have an off-by one in the gas limit check 😞), then the test passes.

As @seesemichaelj pointed out, `eth_call` seems to not be running using the block gas li

[2018-01-30 10:27] benjamincburns commented on #412
Also a heads up as well that there appears to be a race condition around nonce calculation. That is, if I comment out the `ethjsquery.estimateGas` call in `remoteCall` in `source/libraries/ContractInterfaces.ts`, I get incorrect nonce errors. It's entirely possible that this is a problem with ganache's new request queuing logic, however.

[2018-01-30 11:49] benjamincburns commented on #199
Closing this one as it's quite old and we now have tests which show this isn't the case.

[2018-01-30 11:49] #199 closed

[2018-01-30 12:06] benjamincburns commented on #470
Thanks for reporting this @XertroV. Can you please try `npm install -g ganache-cli@beta`? This issue should be fixed in that version.

[2018-01-30 12:06] #470 closed

[2018-01-30 12:29] benjamincburns commented on #367
This is an EVM bug. I've raised ethereumjs/ethereumjs-vm#255 to address it.

[2018-01-30 12:30] benjamincburns commented on #367
And thanks for reporting, @carver!

[2018-01-30 14:21] leonprou commented on #469
Sometimes ganache-cli is still running in the background, even when all by terminals are closed.

This issue is also described here: https://github.com/sc-forks/solidity-coverage/issues/109

[2018-01-30 22:32] XertroV commented on #470
@benjamincburns - Confirmed the beta version fixes this. Thanks 👍

[2018-01-30 23:53] benjamincburns commented on #468
Hi @monokh this is actually a known issue, though I keep forgetting to actually raise an issue for it - thanks for doing that!

We actually don't handle pending blocks very well, either. I've retitled this ticket and I'll do my best to address it, though I think it's a lower priority at the moment as compared to some other issues. As a result, a PR from the community would be excellent!

[2018-01-31 00:02] benjamincburns opened #471 "New error reporting in beta causes undefined results in numerous cases"
## Expected Behavior

When the `vmErrorsOnRPCResponse` option is set to `true` in the provider, submitting a transaction via `eth_sendTransaction`, `eth_sendRawTransaction`, or `personal_sendTransaction`, always returns a response with a transaction hash in the `results` field.

## Current Behavior

In some cases such as out of gas, or gas exceeds block gas limit, the `result` field on the JSON RP

[2018-01-31 00:03] benjamincburns commented on #471
Thanks to @cgewecke for pointing this out to me!

[2018-01-31 00:06] benjamincburns commented on #469
@leonprou can you please raise a new issue describing that problem? Please make sure to include the version of `ganache-cli`, as well as type/version of your OS, and version of nodejs.

[2018-01-31 00:12] benjamincburns commented on #468
Actually, fixing this might make for a good bounty case! I'll discuss with the team.

[2018-01-31 05:32] nickjm commented on #471
Thanks for looking into this! I have reason to believe that the issue isn't just out of gas, but also in case of revert being thrown (which doesn't burn up the rest of your gas). Just wanted to clarify.

[2018-01-31 05:42] clehene commented on #453
I fixed that last `get` undefined issue (and added a few additional locks in places where it was clear it could have caused issues). However this last issue was trickier and is partially a break of encapsulation problem: `getRaw` should probably be private but is called directly from Account.

To recap, when doing a checkpoint we end up with two dbs and all reads (`getRaw->db.get`) happen on both

[2018-01-31 07:38] clehene commented on #453
https://github.com/ethereumjs/merkle-patricia-tree/pull/33

[2018-01-31 08:12] Olivierwenger opened #472 "When using -db which files created are related to ganache-cli logs and which ones are the actual Blokchain?"
Hello,

For a project I'm using ganache-cli and truffle to know the actual size of a blockchain after a given scenario. For that I launch this command:
`ganache-cli -l 300000000 -p 7545 -g 1 --db blockchain`

My question is which files do I have to erase in my "blockchain" directory to have only the one related to Ethereum ?

I tried to run my truffle's test with  #geth but couldn't achieve it bec

[2018-01-31 09:35] benjamincburns commented on #471
Hi @nickjm. Revert, stack underflow, invalid jump, invalid opcode, out of gas, etc, are all cases of VM runtime errors. Ethereum nodes like geth/Parity don't report these errors when you call `eth_sendTransaction` and similar. Instead, you're meant to fetch the transaction receipt and check the value of the `status` field.

This case deals specifically with transaction rejection, which triggers an

[2018-01-31 09:54] benjamincburns commented on #453
Great work @clehene! I've added a comment to the PR, however bear in mind that I don't maintain that repo, so I can't accept that PR. I'll flag down some of the ethereumjs folks tomorrow and see if we can get someone to review it.

[2018-01-31 10:28] leonprou commented on #469
@benjamincburns hey, after another investigation I come to conclusion that the problem was (probably) with the script that we were using to start `ganache`. I'll get a look in the script and If I see something weird I'll open an appropriate issue. Thanks for now 👍

[2018-01-31 15:11] onbjerg commented on #257
@MicahZoltu Yeah, I know, was just pointing out the de facto standard, but I agree this way is better, with the exception that Web3 1.0 defaults to 8546 for WebSockets 😊

[2018-01-31 22:07] nickjm commented on #471
@benjamincburns I'm a little confused. When I run a transaction that fails because of a **revert**, I don't have the opportunity to check the receipt with this version of ganache because an error is thrown and that error has an undefined `data` field and the message field doesn't include any additional information, just says "invalid json rpc response." Is this expected behavior? I was under the i

[2018-01-31 22:54] benjamincburns commented on #471
Sorry for the confusion - what you describe is not expected behavior, and it's what this issue, plus trufflesuite/ganache-core#62 are meant to address.

[2018-01-31 22:58] benjamincburns commented on #471
Ugh, I just reread and it seems that I've been missing what you're saying all along! So sorry about that...

Here's the intended behavior on a REVERT tx runtime error:

if `vmErrorsOnRPCResponse` is true, you should get back a response from `eth_sendTransaction` which contains both a `result` field and an `error` field. The `result` field will contain the transaction hash.

if `vmErrorsOnRPCRespon

[2018-02-01 02:54] tomasgcs opened #473 "Events not fired via websockets when using web3.eth.sendSignedTransaction"
## Context
Currently I'm using `1.0.0-beta.18`

Connected via
`new Web3.providers.WebsocketProvider('ws://localhost:8545')`

## Expected Behavior
When using `web3.eth.sendSignedTransaction` and using websocket connection events should fire as soon as the transaction is mined.

## Current Behavior
When I try to use using `web3.eth.sendSignedTransaction`, the transaction is mined successfully, but t

[2018-02-01 06:56] seesemichaelj commented on #412
After some more testing, I've concluded that only `remoteCall` in `source/libraries/ContractInterfaces.ts` requires the large gas limit to get the test to pass.

Changing `gas = BN.min(new BN(6950000), gas.add(gas.div(new BN(10))));` to `gas = new BN(6500000);` (note the difference in the "large gas limit"; 6950000 is too large in my test) provides a successful test pass.

Still investigating root

[2018-02-01 21:18] benjamincburns commented on #412
@seesemichaelj thanks so much for taking the time to look into this! I'm sorry to say that I've been juggling too many things to follow this thread as deeply as you have.

Given the behavior you describe, my strong suspicion at this point is that the underlying cause is a bug in [ethereumjs-vm](https://github.com/ethereumjs/ethereumjs-vm). There's really very little `ganache-core` can do to impact

[2018-02-01 21:28] seesemichaelj commented on #412
No problem! I've been getting pretty familiar with the `ganache-core`/`ethereumjs-vm` relationship/inner workings so it's within my grasp to work on, and the bug is currently preventing me from moving forward on my solidity debugger.

I agree with you that this seems to be pointing at an `ethereumjs-vm` bug. I will probably continue to document my findings here until I can find it's an issue somew

[2018-02-01 21:36] benjamincburns commented on #412
Feel free!

[2018-02-02 00:29] miguelmota opened #474 "Websocket Support?"
Does ganache support websockets?

[2018-02-02 00:58] miguelmota commented on #474
Found the answer here

https://github.com/trufflesuite/ganache-cli/issues/257#issuecomment-357874959

[2018-02-02 00:58] #474 closed

[2018-02-02 03:01] aleybovich opened #475 "When running with `--account=0xaddress,balance`, the account has zero balance"
Run `ganache-cli --account=<private key>,<balance>`  and check that account's balance.

Actual behavior: account balance is zero.

Expected behavior: the account has the specified balance

[2018-02-02 03:30] aleybovich commented on #475
UPDATE: If I run without specifying balance (but keeping the trailing comma) the accounts are created with 100 ETH balance. When there is no trailing comma, the app crashes.

[2018-02-02 03:43] clehene commented on #453
Quick update.
summarizing the PR mention here as I closed it for now:
As I updated multiple methods to use the semaphore, there were two without callbacks and I missed fully fixing them.
As `checkpoint` takes a semaphore and changed from sync to async, there are implications to call sites and wanted to revalidate after changing the callsites.
I also realized the second one was unnecessary after in

[2018-02-02 04:02] aleybovich commented on #475
On initial testing, when you pass an account without comma and balance, the argument is converted form hex to decimal, which invalidates it. That leads Ganache to create random accounts instead of the one specified.

[2018-02-02 04:18] aleybovich commented on #475
@benjamincburns how do I sumbit a hotfix for this? It doesn't let me push my branch - I get permissions denied.

[2018-02-02 04:45] benjamincburns commented on #475
Hi @aleybovich,

Thanks for submitting this issue. Please refer to the GitHub docs on [submitting a pull request](https://help.github.com/articles/about-pull-requests/).

The gist is that you fork the repo, push your branch to your forked repo, and then submit the PR to the parent repo from your forked repo.

[2018-02-03 21:04] Blackening999 commented on #435
TID-s3vvc WARN: IOError: VM Exception while processing transaction: invalid opcode

Error appear just by performing a simple transaction of checking balance:

[code]

Tests are written in Solidity - passes

pragma solidity ^0.4.18;

Ganache CLI v6.0.3 (ganache-core: 2.0.2)

[2018-02-04 00:05] seesemichaelj commented on #412
Given the fix you put in at https://github.com/trufflesuite/ganache-core/commit/2421f4a987539fc08a1d47dca1b5b1efd4aacc28, the next `revert` error was happening in a remote call that came from https://github.com/AugurProject/augur-core/blob/master/source/tests-integration/TestFixture.ts#L54

I noticed one thing that in that transaction, we were receiving a 15,000 gas refund for a SSTORE; from the y

[2018-02-04 13:27] elie222 commented on #84
Same issue here. Works on Rinkeby, but doesn't work with `truffle test` / `truffle develop`.

The issue I have is with the line of code: `teams.push(_team);` below:
[code]

[2018-02-04 15:10] elie222 commented on #84
I figured out our issue in case anyone runs into this in the future. It does seem like a bug in truffle in any case because it worked fine on Rinkeby.

I solved it by doing a push to the array in the contract constructor. After this, a push to the array in the function also worked as expected. I assume the error was thrown due to pushing to a null array, but this somehow works when you do it in th

[2018-02-04 18:36] almindor commented on #471
We're getting exactly hat nickjm with Metamask only. Everything works on tests with ganache-cli but if we "plug in" metamask and do the same function call (it's a call, not a tx) we get an error-less response as well.

In latest ganache-cli the error is completely undefined. In 1.0.2 it was:

[code]

[2018-02-05 13:11] akvadrako opened #476 "TypeError: web3.toBigNumber is not a function"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

## Expected Behavior

Not throw an error

## Current Behavior

[code]

## Possible Solution

?

## Steps to Reproduce (for bugs)

[code]

## Context

Docker image doesn't work with --fork option.

## Your Environment
* Version used: latest
* Version of Truffle/Remix/Other tools used:
* NodeJS Version: [ ] 6.x, [ ] 7.x (uns

[2018-02-07 04:14] seesemichaelj commented on #412
Ha! I'm reading your chat now in Gitter on `ethereumjs-lib` and it seems y'all came up to the same conclusion as me. I can put write issues/PRs if you'd like?

[2018-02-07 16:53] almindor commented on #471
Turns out in our case it was just the error reporting change causing issues.

We had a piece of code do a call on every "element" which was expected to fail if such element was not present in a specific state in another contract.

This was expected and the error message was supposed to contain "revert" in that case. Since this changed we bubbled up the original error back (the "erorrless RPC error

[2018-02-09 06:54] raindecastro opened #477 "Is there a way to stop the automatic mining?"
Hey everyone, sorry i'm just a beginner in this. I'm trying to do the mining manually rather than it automatically happening. Can anyone give me some help?

[2018-02-09 22:17] CoolSpot commented on #439
Looks like in the method BlockchainDouble.prototype.getTransactionReceipt()
passes targetBlock.header into ForkedBlockchain.getBlock() which expects string or number, but targetBlock.header is instance of Buffer.

[2018-02-10 13:27] hs1gab commented on #461
I solved this issue as below  :
$yarn add ethereumjs-testrpc
$yarn add fs-promise
$yarn add tar.gz
$yarn add minimatch
$yarn add web3

< Anan@Bangkok >

[2018-02-10 19:34] dave-k opened #478 "install ganache-cli : node-pre-gyp ERR!"
$ npm --version
5.6.0
$ node --version
v9.1.0
**Input**
sudo npm install -g ganache-cli

**Output**
/usr/local/bin/ganache-cli -> /usr/local/lib/node_modules/ganache-cli/build/cli.node.js
 

 
node-pre-gyp ERR! Tried to download(undefined): https://fsevents-binaries.s3-us-west-2.amazonaws.com/v1.1.3/fse-v1.1.3-node-v59-darwin-x64.tar.gz 
node-pre-gyp ERR! Pre-built binaries not found for fsevents@

[2018-02-12 03:48] kmturley commented on #471
i'm having the same issue on Ganache 1.1.0-beta.0 for Mac
`owner.transfer(price);`

It throws the error:

However when I download the previous release v1.0.2 from here:
https://github.com/trufflesuite/ganache/releases

and run the same code I get the message:

[2018-02-12 07:44] pizzae opened #479 "Out of gas errors"
Given that I run:

`
ganache-cli -p7545 -l 990000000000000
`

What are the causes as to why I would be getting this error:

[code]

My test code is simply just initialising a map of structs, and in the struct I have about 10 uint256's. I don't even initialise or write to the blockchain anything yet, Truffle fails to migrate because ganache runs out of gas.

I tried this with both the GUI and the c

[2018-02-12 20:59] k06a opened #480 "TypeError: Cannot read property 'modified' of undefined"
Crash on transaction.

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5a81fc9ce217167e2c766824

## Expected Behavior

Do no crash ganache-cli

## Current Behavior

Crash with following output:
[code]
Full here: https://travis-ci.org/MyEtherHODL/MyEtherHODL/builds/342224314

## Possible Solution

No

[2018-02-13 20:57] benjamincburns commented on #461
Hi @hs1gab,

When you did `yarn add ethereumjs-testrpc` you may have noticed a deprecation warning. We've renamed the module to `ganache-cli` and will no longer be publishing updates to `ethereumjs-testrpc`. I strongly encourage you to reference `ganache-cli` instead.

[2018-02-13 20:59] benjamincburns commented on #84
I've observed this bug again in latest beta. Reopening, and will closed once I've got it licked.

[2018-02-13 21:10] benjamincburns commented on #435
Truffle was updated to depend on the post-byzantium release of ganache-core as of Truffle v4.0.3.

If you're still experiencing this issue when running `truffle test` against truffle's internal test network (the default behavior), or when running the `test` command after running `truffle develop`, please make sure you've updated to the latest release of Truffle.

If you're still experiencing this

[2018-02-13 21:10] #435 closed

[2018-02-13 21:12] benjamincburns commented on #435
@Blackening999 per my previous comment, can you please open a new issue for that? What you're describing is a bit different from the original issue which @jakublipinski raised, and may require a separate fix.

[2018-02-14 00:16] #84 closed

[2018-02-14 00:16] #471 closed

[2018-02-14 02:30] benjamincburns commented on #405
This was fixed by trufflesuite/ganache-core#62. Autogenerated accounts will now unlock with any password when locked.

[2018-02-14 02:30] #405 closed

[2018-02-14 03:05] benjamincburns commented on #393
@chevdor thanks for reporting this, and sorry it's taken me so long!

You have a few issues here.

1. You want `--account`, not `-a`. Until recently this was incorrect in our `README.md` file :-(.
2. Don't specify the the address as part of the argument, it'll be calculated for you from the private key
3. You need a leading `0x` in front of your private key
4. `-u 1` is incorrect, because you've o

[2018-02-14 03:05] #393 closed

[2018-02-14 03:07] benjamincburns commented on #439
Thanks for reporting this, @kimiylilammi! I actually already have a fix in the works for this (see trufflesuite/ganache-core@fix-forking-debug) but it depends on the fix for #453...

[2018-02-14 03:22] benjamincburns commented on #412
@seesemichaelj sorry it took me so long to get back to you - I was traveling last week.

Writing up the relevant issues/PRs is encouraged, thanks!

[2018-02-14 03:25] seesemichaelj commented on #412
No worries; I've been moving forward! I will go ahead and take charge on this one.

Thanks for the help!

[2018-02-14 03:26] benjamincburns commented on #478
Hi @dave-k.

Normally when I install `ganache-cli` on darwin, fsevents comes over as a prebuilt binary, so I'm afraid I'm not much help. My guess is that the prebuilt binary couldn't be found for your OS. My hope is that this is due to a transient network/server issue on NPM's side, but it could also be because you're running an older version of OS X.

I notice you're running `npm install` with `s

[2018-02-14 03:57] benjamincburns commented on #439
Opened trufflesuite/ganache-core/#68 with my WIP changes.

[2018-02-14 07:14] IntenseRave commented on #54
I think i am facing similar problem, I have used a infura address instead if localhost"`const web3 = new Web3(new Web3.providers.HttpProvider("https://kovan.infura.io/TOKEN_ID"));
`and when i am executing the `web3.eth.getAccounts((err, acc) => {
    console.log(acc);
});` it is returning an empty array, but my metamask window have 2 accounts

[2018-02-14 11:18] benjamincburns commented on #54
@IntenseRave to understand what's going on there, see the [JSONRPC wiki page for `eth_accounts`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_accounts).

When you run `web3.eth.getAccounts` with an HTTP provider pointed at infura, you're sending the `eth_accounts` RPC request over to Infura. Infura is then responding with the (empty) list of accounts it owns. "Owns" in this context means "ho

[2018-02-14 11:20] benjamincburns commented on #54
Also just a tip for the future - you're far more likely to get a quick/informative response to questions like this on our [gitter channel](https://gitter.im/ConsenSys/truffle) than you are here. There are ≥3000 people there to answer things. Here there's just me, and sometimes I can take over a week to respond.

[2018-02-14 13:58] IntenseRave commented on #54
@benjamincburns  thank you for clearing the confusion.

[2018-02-14 15:40] kmturley commented on #471
Great, are you able to also change the default version delivered to github, npm and your site to be the official major/minor releases? Beta versions should not be the default, as they are not production ready!

If you go here:
http://truffleframework.com/ganache/

The download on a mac links to:
https://github.com/trufflesuite/ganache/releases/download/v1.1.0-beta.0/Ganache-1.1.0-beta.0.dmg

On Gi

[2018-02-14 18:10] JamesLefrere commented on #473
I'm also experiencing this issue, though I can't see any reference to `sendSignedTransaction`; I'm finding this with `sendRawTransaction`, which is invoked with the library I'm using (https://github.com/ethers-io/ethers.js/).

I have been able to get this to work with an older version of Ganache (version 1.0.1 of the UI, not sure which version of ganache-core it's using), so I might have to do a b

[2018-02-14 19:16] benjamincburns commented on #471
Thanks for pointing that out, @kmturley.

On the download link, it seems I forgot to tick the "prerelease" box on the "releases" page. I've fixed that, and the download link should be pointing at v1.0.2 now as a result.

On develop vs master, we've made that change intentionally in some (most?) of our repositories so that PRs automatically target the correct branch. If we don't do this, then peopl

[2018-02-14 19:47] kmturley commented on #471
cool, I have some other suggestions for user onboarding/tutorials, will make a separate ticket for those!

[2018-02-15 04:16] benjamincburns commented on #453
Hi @clehene, how are things going? I can't help but feel like you were sooooo close with the changes you submitted last time. No pressure, but let me know if there's anything I can do to be of assistance!

[2018-02-15 04:47] clehene commented on #453
@benjamincburns hey, I've integrated the changes in VM in order to use the async checkpoint. However I've started seeing the ou of gas errors after (`The contract code couldn't be stored, please check your gas amount.`). I don't think my fix is causing it necessarily, but it may make it occur more frequently now  (https://github.com/trufflesuite/truffle/issues/558).
Hence I've instrumented all lib

[2018-02-15 04:50] benjamincburns commented on #453
"... with one hand tied behind his back!" :joy:

No pressure - definitely take it easy if you're still in recovery.

I appreciate you trying to sort out trufflesuite/truffle#558, but I think if you're reasonably confident that the change you've made is necessary to fix #417, then you've just exposed some other existing flaw in the process, not created a new one. I'm overjoyed if you want to take t

[2018-02-16 13:16] Asone commented on #479
From what i know there's an amount of gas that a block can have. i'm not sure that you can define any value you want for limit as it's possible it is hard capped and can just specify lower values.

Any way, if your contract is small but when trying to call or deploy a contract, it's possible that your contract or method contains some errors. Have you tried to deploy it with remix IDE just to check

[2018-02-16 13:42] pizzae commented on #479
@Asone I figured it out, it was a bug with how Solidity had compiled my code. I had to turn on optmisation, so its not the fault of ganache

[2018-02-16 13:42] #479 closed

[2018-02-16 16:27] raindecastro commented on #477
Got it! thank you! it's working now, sorry about that! Thanks for giving me the link to Truffle Gitter will check that out for sure!

[2018-02-17 16:10] lazaridiscom commented on #453
@benjamincburns , @owocki  the bounty shows up as "open" with "expired funds". It looks that someone is working on this, pleas clarify the status.

[2018-02-17 19:53] clehene commented on #453
@lazaridiscom I claimed it and started working on it but it's indeed not showing that. Not sure why

[2018-02-17 19:58] lazaridiscom commented on #453
gitcoin.co has a few hickups! A personal note: please remember that we have only 2 hands, and usually there are no spare parts!

Good luck with your hunt.

[2018-02-19 02:46] naddison36 commented on #440
I've installed Ganache v1.2.0-beta.0 and I am still getting this problem when using Ethers.js
Should this fix be included in the v1.20 release?
Thanks

[2018-02-19 06:57] Rxyz58 opened #484 "TypeError: web3.eth.accounts.create is not a function"
the javascript file for webpage is

$(document).ready(function(){

if (typeof web3 !== 'undefined'){
  console.log('Web3 found');
    web3 = new Web3(web3.currentProvider);
  } else {
    web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
}

$("#creatAccountSubmit").click(function(){
var count = $("#noOfAccount").val();
for (let index = 0; index < count; index++) {
  var ac

[2018-02-19 15:16] elie222 commented on #463
On this topic is there a way to increase the current block number more rapidly?

We're doing this right now in testing and to mine a lot of blocks take a lot of time!

[2018-02-19 18:08] vitaliy-kuzmich opened #485 "Error: Error: sender doesn't have enough funds to send tx. The upfront cost is:"
Hey, it is not possible to specify amount of ether. It just does not works as described in docs. Thanks.

  # We define 10 accounts with balance 1M ether, needed for high-value tests.
   accounts=(
    --account="0x2bdd21761a483f71054e14f5b827213567971c676928d9a1808cbfa4b7501200,99999999999999999999999999999999999999999999999999999999999999"
    --account="0x2bdd21761a483f71054e14f5b827213567971c6

[2018-02-19 18:09] vitaliy-kuzmich commented on #485
it displays correct amount before any transactions, but once at least 1 transaction executed, it set the value to 100 ether...

[2018-02-20 02:06] benjamincburns commented on #440
I caught up with @naddison36 offline, but for those reading along, this is in the `v1.1.0-beta.1` release which is up now.

[2018-02-20 02:17] naddison36 commented on #440
Thanks, @benjamincburns. I can confirm that the new version fixed this problem

[2018-02-20 12:54] Dvisacker commented on #397
Just for information, I just had the same error (inconsistency between Travis and my local tests). I updated testrpc and the latest truffle version on both and I still had the same error.
I solved the issue by installing ganache-cli instead of ethereumjs-testrpc.

[2018-02-20 20:12] kc1116 opened #486 "ganache eth_getTransactionCount not returning correct value"
Hi I am using Using the geth project as a library inside my own project. Right now I am trying to get the nonce for an account on my running ganache-cli instance. The response from ganache is "0x02". The client.NonceAt method inside the geth project is trying to unmarshal this into a type of hexutil.Unit64.

[code]
Is this the correct implementation inside ganache or would I have to make adjustmen

[2018-02-20 20:47] benjamincburns commented on #486
Hi @kc1116 what version of ganache-cli are you running? Can you tell me whether this is a problem in the current beta? `npm install -g ganache-cli@beta`

[2018-02-20 20:51] benjamincburns commented on #484
Hi @Rxyz58,

I'm afraid the issue that you're reporting has nothing to do with Ganache. You're looking for a function in web3 which apparently is no longer there. Web3 is a separate project.

I'd suggest checking the documentation for web3. https://web3js.readthedocs.io/en/1.0/web3-eth.html

[2018-02-20 20:51] #484 closed

[2018-02-22 06:25] owocki commented on #453
first; sorry for the slow response.. been traveling and doing ETHDenver.com stuff..

bounty is still open, please proceed knowing that the funds are still available.  ive got a note to update the issue in the system later this week

[2018-02-22 18:46] DavidKuennen opened #487 "How to keep accounts"
Unfortunately, unlike the ganache application, ganache-cli creates completely new accounts on each restart. This is very annoying, because I always have to reimport a new account into my metamask to test my application.

Is there a way to keep the accounts in ganache-cli as well?

* Version used: 6.1.0-beta
* Version of Truffle/Remix/Other tools used: 4.0.6
* NodeJS Version: 8.2.1
* Operating Syst

[2018-02-22 20:01] DavidKuennen commented on #486
Having same issue.

Using Version 6.1.0-beta.

[2018-02-22 20:01] DavidKuennen commented on #487
Ok, figured it out.

[2018-02-22 20:01] #487 closed

[2018-02-25 07:11] claykohut opened #488 "getTransactionReceipt not returning 'from' address"
Using web3.eth.getTransactionReceipt is not returning 'from' address when using a gananche as a provider.

## Expected Behavior

web3.eth.getTransactionReceipt() should return both the 'from' / 'to' fields as part of the receipt object

## Current Behavior

Currently neither from/to are returned in the receipt object as pictured below:

![screen shot 2018-02-25 at 2 02 49 am](https://user-images.g

[2018-02-26 04:42] kc1116 commented on #486
fixed in beta

[2018-02-26 04:42] #486 closed

[2018-02-26 07:10] chatch commented on #268
I got the exact same error when setting a transaction value of 1/3 of a finney:
    web3.toWei(web3.toBigNumber(1), 'finney').dividedBy(3)

Can confirm for this value that 7.0.0-beta.0 fixed this issue.

Any chance of porting it back to ganache v6 and also the next version of truffle? My test breaks inside the "truffle develop" environment ..

[2018-02-26 08:30] benjamincburns commented on #268
Hi Chris. Check the releases page :-)
On Mon, Feb 26, 2018 at 8:10 PM Chris Hatch <notifications@github.com>
wrote:

[2018-02-26 15:11] Steffen93 commented on #445
I can confirm this issue. Calling the same method multiple times in one block with a fixed blocktime multiplies the amount of `gasUsed` in the transaction receipt.
I'm using version 6.0.3

[2018-02-26 22:56] vs77bb commented on #453
@clehene Please treat this one as if it were yours. We're working to get the status changed on Gitcoin and it should be updated shortly here. cc @owocki

[2018-02-26 23:23] owocki commented on #453
just re-added the work status here.. thanks for your patience @clehene

[2018-02-27 10:00] boorac commented on #180
Definitely would love to see this happen

[2018-02-27 12:01] benjamincburns commented on #390
@scnale seems to have ghosted, and the changes he submitted were incomplete. If anyone else wants to take this on, I'd be much obliged.

[2018-02-27 12:13] roderik commented on #390
Funny, just looking for a solution to this issue as well :)
Anyone knows a workaround?

[2018-02-28 21:33] LogvinovLeon opened #489 "Support additional parameters for debug_traceTransaction"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

## Expected Behavior

Currently in `ganache-cli` `debug_traceTransaction` doesn't respect any additonal configuration.
In Geth you can specify a [bunch of configs](https://github.com/ethereum/go-ethereum/wiki/Management-APIs#debug_tracetransaction)

I think `disableStorage`, `disableStack`, `disableMemory` are quite easy t

[2018-03-01 05:02] clehene commented on #453
@owocki @vs77bb  thanks, no problem :) I've rebased things in the weekend but had to retest things a bit. I was unable to use `npm link` for most parts and haven't spent time trying to make that work so have to do multiple diffs every time I rebase.  Currently changes are in merkle-patricia-tree, ethereumjs-vm and ganache-core. I'm pushing them and re-creating the PRs

[2018-03-01 08:47] clehene commented on #453
I'll need to rebase one more time. These are the updates
https://github.com/clehene/merkle-patricia-tree/commit/d4ca2388b5f32c0bf09ab1901ed4a1b09be1aa8d
https://github.com/clehene/merkle-patricia-tree/commit/7f070d2ec9cd14ea6fea98dc0ef696f715e9916e
https://github.com/clehene/ganache-core/commit/5b6a8df30b571b9d40db044c3d464db39310c1d7
https://github.com/clehene/ethereumjs-vm/commit/b51229c77d78cbb

[2018-03-01 16:28] cgewecke commented on #489
@LogvinovLeon Hi. I work over at Truffle and contribute to `solidity-coverage` where we've also been talking (here(https://github.com/sc-forks/solidity-coverage/issues/150) and here(https://github.com/sc-forks/solidity-coverage/issues/111) about re-writing the project to use an in-memory trace for a while, since its current instrumentation strategy is brittle and slow. Also think a gas-profiler is

[2018-03-01 20:33] akuanti opened #490 "--help flag does not output the full list of options"
Observed in version `6.1.0-beta.4`

## Expected Behavior

`ganache-cli --help` and `ganache-cli -?` should both output the full list of options

## Current Behavior

When I do `ganache-cli --help` I only get a few options:

[code]

If I do `ganache-cli -?` I get a lot more
[code]

## Your Environment
* Version used: 6.1.0-beta.4
* Version of Truffle/Remix/Other tools used: N/A
* NodeJS Version: [

[2018-03-02 01:06] naumenkogs commented on #394
@W3stside I assume this is supposed to be used with web3.js before 1.0. Do you know how it could be used in web3.js 1.0?

[2018-03-02 01:13] benjamincburns commented on #394
@naumenkogs there is little change in the web3 1.0 version, namely, `sendAsync` changes to `send`.

[code]

[2018-03-02 01:13] #394 closed

[2018-03-02 19:38] starlabs007 commented on #485
This is pretty annoying, the `-e` (`--defaultBalanceEther`) doesn't work either. Looks like it defaults to 100 eth as well.

[2018-03-03 00:41] chrisciszak commented on #487
@DavidKuennen obviously there is no point of actually answering your own question once you found the answer.

[2018-03-04 19:27] crzndx opened #491 "Array reset leads to out of gas error using ganache-cli"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5a9c271ee4d1c63604bee393

## Expected Behavior

Given the code

[code]

it should be able to execute the checkArray() function and set `arr[0]` to 0 with `arr[0] = 0; `.

## Current Behavior
When running ganache-cli in current version v6.0.3 (ganache-co

[2018-03-04 19:31] crzndx commented on #491
This issue #458 seems to be related

[2018-03-05 02:58] clehene commented on #453
Did another rebase with latest merkle-patricia-tree changes, but can't reproduce pop error

[2018-03-05 20:20] tjade273 opened #492 "ganache-cli crashes on calls to address "0x08""
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

## Expected Behavior

Address "0x08" should implement the EIP-197 bn_128 pairing check precompile.

## Current Behavior
When sent a transaction of the form
`eth.call({to:"0x0000000000000000000000000000000000000008", data:""})`
ganache crashes with
[code]

## Possible Solution
This seems like it may be an upstream problem w

[2018-03-05 20:40] AnthonyBroadCrawford commented on #468
@benjamincburns  is it possible if I fix this issue?  I'm now, and this has a "good first time contribution tag".  That okay?

[2018-03-07 03:17] benjamincburns commented on #492
@tjade273 thanks for reporting this. I believe this is fixed in v6.1.0 which is out now.

[2018-03-07 03:17] #492 closed

[2018-03-11 20:30] whathewatt commented on #397
I updated truffle and installed ganache-cli and I resolve my `Error: VM Exception while processing transaction: invalid opcode` issue :
`
npm install -g truffle@latest
npm install -g ganache-cli
`

[2018-03-12 11:00] mimoo commented on #487
can you answer @DavidKuennen ?

[2018-03-12 22:40] EralpB commented on #248
+1

[2018-03-13 03:14] owocki commented on #453
hi all.  i just killed [the bounty](https://gitcoin.co/funding/details?url=https://github.com/trufflesuite/ganache-cli/issues/453) for this issue for [some gitcoin-internal migration reasons](https://github.com/gitcoinco/web/pull/589) but wanted to let you know that, regardless of the issue description on gitcoin.co.. im good to pay out this bounty when the time is right.  just @ me back then!

[2018-03-13 03:24] liangzan commented on #476
I encountered the same error. The error is due to web3. `toBigNumber` is a function in web3 v0.x versions. It was replaced by `toBN` in v1.x. It means it assumes it is calling the v0.x version of web3 when the v1.x version is in the scope. To resolve it, make sure the correct web3 is in scope.

[2018-03-14 11:27] holgerd77 commented on #417
Hi, for information: just released ``ethereumjs/merkle-patricia-tree`` [v2.3.1](https://github.com/ethereumjs/merkle-patricia-tree/releases/tag/v2.3.1)  with the fix from @federicobond https://github.com/ethereumjs/merkle-patricia-tree/pull/28 on npm.

Lost a bit track how much of this bug is fixed by this and what workarounds you already implemented. Feel free to get in contact or open new PRs if

[2018-03-16 09:55] elenadimitrova opened #493 "Running with noVMErrorsOnRPCResponse option does not return transaction on contract error"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5aaa29ccf3f6d24c6878adc8

## Expected Behaviour
When running with `--noVMErrorsOnRPCResponse` option to return a valid transaction when a contract code errors. We should then be able to check if the transaction failed via its `status` property.

## Curr

[2018-03-16 20:52] cgewecke commented on #493
@elenadimitrova Truffle is responsible for this - it throws an error on status 0 because (after some debate) it was decided that doing otherwise would make it possible for tests to fail silently. The transaction receipt is being [appended to the error object](https://github.com/trufflesuite/truffle-contract/blob/develop/statuserror.js#L29-L31) as a key, ex: `err.receipt`.

[2018-03-16 21:50] elenadimitrova commented on #493
Thanks for the explanation @cgewecke
It's not what I expected but we can handle it.

[2018-03-16 21:50] #493 closed

[2018-03-18 02:43] stern0 commented on #465
@benjamincburns here is an example of the using the `storeData` function.

[code]

[2018-03-20 09:46] jonasman commented on #328
@kevin-smets solution worked for me

[2018-03-21 15:54] carver opened #494 "Filtering with checksum addresses"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]

## Expected Behavior

- A deployed contract is emitting logs.
- A filter is created that specifies a from address using the checksum address format from EIP-55
- The events are triggered in new blocks
- A client requests new entries tied to the created filter
- The logs are returned

## Current Behavior

Everything as expe

[2018-03-22 11:45] jordanjambazov commented on #494
I confirm the issue was reproducible 24 days ago with latest version of Docker Ganache-CLI: v6.1.0-beta.2

[2018-03-23 02:28] chetmurthy opened #495 "failed transactions: differing behaviour from go-ethereum (which is correct?)"
I have a trivial smart contract with an entrypoint that fails ("require(false)").  When run against ganache-cli, I get a VM exception back.  When run against go-ethereum, I get a tran-hash, and the associated receipt is found, but clearly the tran did not execute.

FURTHERMORE (though), it seems clear that several well-respected projects (openzeppelin, gnosis/MultiSigWallet) both write their tests

[2018-03-24 18:20] ericwooley opened #496 "VM error with a contract that deploys another contract"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
I talked to ngidian? in truffle at the end of feb about this before I went on vacation. So I can't find the log now.

## Expected Behavior
The test should complete with a rejection or tx result.

## Current Behavior
VM spits out error on method call

[code]

[Contract code](https://github.com/ericwooley/EtherAds/blob/e2ad40

[2018-03-25 11:09] mojuss opened #497 "Remix + ganache-cli: VM exception while processing transaction: out of gas"
## Expected Behavior

**I'm testing a sample contract as below. The contract is called from Remix, using Environment - Web3 Provider ganache CLI v6.1.0, core 2.1.0**

[code]

**I'm invoking the function moveFund (before that I call donate, to transfer some ether to the contract. Ether should be sent from the contract to the selected address.**

## Current Behavior

Remix is saying that: _transact

[2018-03-27 10:12] macbem opened #498 "Feature request: silence output / blacklist certain output."
It'd be really awesome to be able to silence `eth_getBlockByNumber`, `net_version` and `eth_getBalance` command logs - they are ran all the time by Web3/Metamask and it clogs my terminal output. I can't get to any useful logs, because all I can see are those commands.

Maybe we should be able to blacklist certain output? Or silence it completely.

[2018-03-30 13:10] Asone commented on #498
I do agree with you at some point. However, as far as i understand it, the log output is coming from ganache-core and not from ganache-cli it self.

Digging in ganache-core code i could find [these lines](https://github.com/trufflesuite/ganache-core/blob/d0fa6dd45677e6a96faf41944cae087423c44e87/lib/httpServer.js#L46)

They seems to correspond to the logging process in console. As you'll see there'

[2018-03-30 13:12] Asone commented on #453
hi @clehene ! Sorry if i'm being annoying but is there any update or info about this bugfix ?

Thanks, and much datalove !

[2018-03-30 15:32] clehene commented on #453
@Asone hey, yes. I the last few updates above were up to date and ready for PR-ing. I think I've made one fix after I had those. I'd have to rebase things locally to get latest changes and can push again. IMO those can be made PRs, but finalizing would require a conversation around some of the original intentions in the code.

The two problems were that concurrent tests were still problematic afte

[2018-03-30 18:44] rhlsthrm commented on #243
I have spent hours debugging issues related to signing and recovering signatures due to the fact that Metamask's signature comes out differently than truffle's client. Is there any way for this to be reconciled? How can you set up your contract functions to use ecrecover to take care of both cases? Does anyone have an example?

[2018-03-31 01:39] clehene commented on #453
@Asone it took me a while to get back the context of where I left this.

I pushed the latest rebased versions including some wip related to the put problem which adds the new err param. I've had some trouble figuring out which callback is getting called on error here (https://github.com/clehene/merkle-patricia-tree/blob/master/baseTrie.js#L495) as sometimes it's unexpected (or maybe my debugger is

[2018-03-31 05:49] bharatbiswal opened #500 ""ganache-cli -e" throws Error: while converting number to string"
$ ganache-cli -e

Error: while converting number to string, invalid number value 'true', should be a number matching (^-?[0-9.]+).
    at d (/usr/local/lib/node_modules/ganache-cli/build/cli.node.js:2:1537966)
    at Object.toWei (/usr/local/lib/node_modules/ganache-cli/build/cli.node.js:2:1538769)
    at Object.toWei (/usr/local/lib/node_modules/ganache-cli/build/cli.node.js:2:100396)
    at Stat

[2018-03-31 07:34] evaon1017 opened #501 "Where to find/retrive generated account's password?"
for visual studio unit test purpose, can I get password of auto-genereated account? I know I can use --unlock parameter to unlock what I need but... I would test multiple account of different privatekey to doing transaction call. maybe not a good idea if I unlock all using accounts.
please guild me how to find or retrive password via privatekey and account parsed from --acctKeys output.

[2018-04-01 01:38] stefek99 commented on #447
Related: https://ethereum.stackexchange.com/questions/44410/remix-ide-transact-to-errored-vm-exception-while-processing-transaction/44411?noredirect=1#comment51865_44411

`npm install -g ganache-cli@v7.0.0-beta.0`

Lessons learned - always run the latest version of the tool!

[2018-04-02 06:07] PhABC commented on #390
Just made a very simple PR that helped me solve the problem for certains tests ; https://github.com/trufflesuite/ganache-core/pull/95

[2018-04-02 13:31] PhABC commented on #390
In addition, the PR [mentioned](https://github.com/trufflesuite/ganache-core/pull/2) above works as expected [see comment #377928638](https://github.com/trufflesuite/ganache-core/pull/2#issuecomment-377928638).

[2018-04-02 15:37] fumecow commented on #243
@rhlsthrm the script above used to work on geth, parity, testrpc (truffle's old client).  it's a starting point but it's almost a year old and it was never tested against MetaMask / Infura.

[2018-04-02 17:53] rhlsthrm commented on #243
@fumecow the problem is I want the contract to work regardless of which client signs the message. When I am in my test environment I am using ganache which includes the prefix, but Metamask does not. This is really bad for me, since I have to use two versions of the contract in each test environment.

[2018-04-02 18:10] fumecow commented on #243
without knowing the details, i think you'll have to make adjustments in the calling code based on the node you're running on, like the script above does.  note that the contract then works with all the variations because it adjusts the 'v' parameter internally.  other than that, i don't think there's a better solution until the signing is standardized between clients.

[2018-04-05 10:32] Thebarda opened #502 "After few seconds, accounts are flushed"
Hi everyone.

When after created my blockchain's test, after a few seconds, my accounts balance are flushed.

## Current behavior

Balance's accounts is 0.0000001 ether

## Expected behavior

Balance's accounts should be 100 ether

## Step to reproduce

I just run `ganache-cli` on my server then I wait a few seconds, sometime a minute, then all balance's account are flushed.
I'm on a Debian 9 amd6

[2018-04-05 18:28] Cryptonious commented on #344
This also and currently still occurs with the Ganache UWP client (not just the CLI)

[2018-04-07 13:53] jbarros35 commented on #97
Missing write access to /usr/local/lib/node_modules/ganache-cli
macOS high Sierra

[2018-04-07 13:56] jbarros35 commented on #328
NOENT: no such file or directory, access '/usr/local/lib/node_modules/ganache-cli'

[2018-04-07 13:56] jbarros35 commented on #372
NOENT: no such file or directory, access '/usr/local/lib/node_modules/ganache-cli'

[2018-04-07 13:57] jbarros35 commented on #430
NOENT: no such file or directory, access '/usr/local/lib/node_modules/ganache-cli'

[2018-04-07 13:58] jbarros35 commented on #452
NOENT: no such file or directory, access '/usr/local/lib/node_modules/ganache-cli'
still not working

[2018-04-07 13:59] jbarros35 commented on #452
npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
npm WARN deprecated nomnom@1.8.1: Package no longer supported. Contact support@npmjs.com for more info.
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules/ganache-cli
npm WARN webpack-cli@2.0.14 requires a peer of webpa

[2018-04-07 14:00] jbarros35 commented on #478
not working.

[2018-04-07 16:49] cgewecke opened #503 "Client randomly disconnects on large test suites"
Hi @benjamincburns  :) This is a companion issue to [truffle 729](https://github.com/trufflesuite/truffle/issues/729) and possibly a duplicate of #417 / #453 here. @barakman has recently [posted a script](https://github.com/trufflesuite/truffle/issues/729#issuecomment-379433643) in 729 that consistently reproduces the disconnect for them.

Example of the error:

[code]

[2018-04-08 01:27] elie222 commented on #463
So I think in the end we used time rather than block number, but I'm trying to think if that actually helps in terms of making the simulation easier.
I don't think I had a good solution with block number, but with timestamp we had a more workable solution although I don't remember the details.

[2018-04-08 18:40] karneaud opened #504 "Ganache-cli outputs cli.node.js contents when running commands in docker image"
Trying to run ganache testrpc service in docker container using installed npm package and in running command ` ganache-cli --account=0x627142118b4a998f24db31ff38ab5e8f49299e63,1234567890123456789123456789 --account=0xc0ce36fc004bf4ea51d9a30bb8737c7012ec5d1f,1234567890123456789123456789` the command outputs file contents and docker container exits

## Expected Behavior

Should execute the command s

[2018-04-09 09:52] kaushiksk opened #505 "npm ERR! Unexpected end of JSON input while parsing when installing ganache-cli"
I am unable to install ganache-clie and get the following error

```npm ERR! Unexpected end of JSON input while parsing near '...},"dist":{"shasum":"e'```

## Environment

* NodeJS Version:  9.x
* npm version: 5.6.0
* Operating System and version: Ubuntu 16.04 LTS

[2018-04-09 19:25] surabhil commented on #502
I am getting this error too. Any updates on this

[2018-04-09 21:33] m4rg4sh commented on #502
same issue here...

[2018-04-10 00:08] blackwatertepes commented on #502
Same here.

Ganache v6.1.0

[2018-04-10 04:02] kingjerod opened #506 "blockTime option does not work"
## Expected Behavior

Running `ganache-cli -b 60` would only mine 1 block every 60 seconds.

## Current Behavior

Seems to just automine. Start `ganache-cli -b 60` then running `truffle deploy` allows all the contracts to be deployed immediately.

Output:
[code]

## Steps to Reproduce (for bugs)

1. Run `ganache-cli -b 60`
2. Send multiple transactions (truffle deploy works)
3. See that all the tr

[2018-04-10 07:43] Thebarda commented on #502
@blackwatertepes All of them in my case

[2018-04-10 07:51] m4rg4sh commented on #502
The bug seems to match, the funds of all the accounts get moved to 0x6ef57be1168628a2bd6c5788322a41265084408a from what I can see

[2018-04-10 09:30] Thebarda commented on #502
I'm trying to catch his IP address to ban him.
Thanks @m4rg4sh

[2018-04-10 16:31] blackwatertepes commented on #502
I'm experiencing this issue on a private Ethereum network, with no world access. So, this issue does not only exist on the public test nets, and is most likely caused from something related to the Ethereum codebase.

[2018-04-11 07:44] EralpB commented on #506
Same issue :'(((((((((((((((((((

The other issue says our tests will run much faster with automining but imagine you want to have 500 transactions per block, if automining is on you have to mine 500 blocks.

Do you think block "mining" computation is insignificant so it wouldn't matter if 500 blocks with 1 tx each or 1 block with 500 tx? I can't test because it automines instantly, any way to bat

[2018-04-11 08:25] zatsepinvl opened #507 "sendTransaction to account address with data"
I try to send transaction with data to external account (user address) using MetaMask and ganache-cli (ganache-core v2.1.0) :
`
web3.eth.sendTransaction({"from":"0x...","to":"0x..","value":1,"data":"0x..."}, (err,result) => {});
`
and get the error:
![image](https://user-images.githubusercontent.com/11683340/38604973-a5fc3266-3d7a-11e8-96c5-b46b368b0994.png)

But if I use previous version testrpc

[2018-04-11 17:08] kingjerod commented on #506
@EralpB I've had success with the Ganache UI app, the setting for block time does work: http://truffleframework.com/ganache/

[2018-04-11 18:39] Plinpod commented on #506
Does the Ganache UI run ontop of the CLI and if so which version? Maybe a recent update to the CLI broke the` --blockTime` flag

[2018-04-11 18:57] Tudmotu commented on #502
Did anyone find a workaround for this issue, other than blocking port 8545?

[2018-04-11 19:01] Thebarda commented on #502
It solve the problem for me.
Of course, you can catch his IP address and ban him.
So, can I close this issue ?

[2018-04-11 19:02] Tudmotu commented on #502
How can you perform transactions via MetaMask on your blockchain if you block 8545?

[2018-04-11 19:11] Tudmotu commented on #502
How do you perform transactions on your blockchain?

[2018-04-11 20:49] Thebarda commented on #502
I'm using web3.js because I develop a web application

[2018-04-11 21:06] Tudmotu commented on #502
I apologize, but I'm trying to solve this for me as well and I still don't understand.. :confused:
Are you using web3 in the browser or only on server-side? What provider are you giving web3? When you do:
[code]

[2018-04-11 21:11] kingjerod commented on #506
It does, looks like 6.1.0. I tried copying what I saw in the UI for initializing ganache-cli, looks like it sends options with `{blocktime: X}` but could not get it to work:

[code]

[2018-04-11 21:37] Plinpod commented on #506
Odd. I just ran the Ganache UI and blockTime worked me using that as well. However it's rather inconvenient to use for my current setup.

[2018-04-11 21:40] kingjerod commented on #506
This is where I compiled the above code from if you want to try it yourself, maybe I missed something:
https://github.com/trufflesuite/ganache/blob/master/src/chain.js
https://github.com/trufflesuite/ganache/blob/master/src/Services/Settings.js

The UI part that sets server.blocktime:
https://github.com/trufflesuite/ganache/blob/master/src/Components/Config/ConfigScreens/ServerScreen.js

[2018-04-11 21:52] Thebarda commented on #502
So, in my case, I use web3 on server-side.
In my other application, I use web3 on client-side.
To declare a provider, you can use this :
`const web3 = new Web3(new Web3.providers.HttpProvider("http://myprovider.com:providerPort"));`

Also you can use websockets instead of HTTP :
`const web3 = new Web3(new Web3.providers.WebsocketProvider("ws://myprovider.com:providerPort"));`

I hope that will hel

[2018-04-12 01:17] Plinpod commented on #506
@kingjerod

Ya I can see that here
 https://github.com/trufflesuite/ganache-cli/blob/develop/cli.js
line 118
` blockTime: argv.b || argv.blockTime,`

it sets blockTime as the option that goes to ganache-core
https://github.com/trufflesuite/ganache-core/blob/develop/lib/statemanager.js
line 63
`this.blocktime = options.blocktime;`

it looking for blocktime without a capital t

[2018-04-12 02:54] Plinpod commented on #506
Looks like I can confirm that the issue is
line 118 in https://github.com/trufflesuite/ganache-cli/blob/develop/cli.js
blockTime has a capital T

I forked ganache-cli and did the fix, built the code and it seems to be working
https://github.com/Plinpod/ganache-cli/

[2018-04-12 07:58] Thebarda commented on #502
So, I will close this issue
@Tudmotu If you have any question about web".js, please send me an email ;)

[2018-04-12 07:58] #502 closed

[2018-04-12 08:00] Galti opened #508 "Firefox Quantum problem"
Mozilla Firefox doesn't connect to ganache-cli

Firefox Quantum 59.0.2 (64-bit)

[2018-04-12 14:14] #506 closed

[2018-04-12 15:02] #476 closed

[2018-04-12 15:05] benjamincburns commented on #387
Fixed in `develop` by trufflesuite/ganache-core#92. Thanks for the contribution @AusIV!

[2018-04-12 15:09] benjamincburns commented on #357
@rstormsf You shouldn't need to set a block time. The behavior you're describing sounds like you're using async migrations in truffle.

In order to make this work correctly, you'll need to follow the following pattern in your migration file:

[code]

[2018-04-12 15:09] #357 closed

[2018-04-12 15:39] #489 closed

[2018-04-12 15:59] benjamincburns commented on #390
Fixed in current `develop` - thanks for following up on this, @PhABC!

[2018-04-12 15:59] #390 closed

[2018-04-13 10:38] olaf89 commented on #496
I have the same issue

[2018-04-13 13:51] AusIV commented on #387
@benjamincburns  - I'm not sure trufflesuite/ganache-core#92 actually fixes this. My PR addressed block level hashes, but not transaction hashes.

[2018-04-15 09:00] Fi1osof commented on #447
@stefek99 run on ganache-cli@v7.0.0-beta.0, still got this error. On rinkiby works fine.

[2018-04-15 12:44] cleanunicorn opened #509 "Hangs when sending a malformed defaultBlock parameter"
Making a request and setting the default block to something else but `latest` or a hex number (`0x1`) hangs the request

This hangs
[code]

## Expected Behavior

Return error or zero.
Probabily zero is a better result and more resilient.

## Current Behavior

It hangs indefinitely.

## Possible Solution

If you want to respond like geth you must return this
[code]

---

A nicer result
[code]
This

[2018-04-17 14:48] FlyTing opened #510 "What are the other 2 mnemonics represent for?"
I download the Ganache on Windows, it gives me 10 accounts and 12 mnemonics when I launch it, I think that the first 10 mnemonics are represent for 10 accounts, but what are the other 2 mnemonics represent for? I cant catch that...so can anybody help me about this? Thanks

[2018-04-18 08:46] rustyx commented on #466
This is not a web3 issue but a Geth issue. The JSON RPC returns this error:

[code]

[2018-04-19 01:47] FlyTing commented on #510
I got this from StackExchange. The mnemonic is made up of the 12 words, If only I remember the mnemonic, I can get the same 10 accounts.

[2018-04-19 01:47] #510 closed

[2018-04-20 04:14] ltfschoen opened #511 "Unable to deploy to Vyper smart contract to Ganache CLI, only works so far with Truffle Develop and a Geth Node"
## Summary of Issue

I'm trying to integrate support for Vyper smart contract programming language into Truffle's suite.
I've created this repo https://github.com/ltfschoen/vyper-test that includes a script https://github.com/ltfschoen/vyper-test/blob/master/scripts/main.py and instructions in the README.md. I've written it in the latest Web3.py 4.1.0 that allows you to compile Vyper smart contrac

[2018-04-20 05:58] owidder commented on #458
I do get the same error. The following contract throws this error when "setTestVal" is called at first with 1 and then with 0:
[code]
On a local geth node it works fine.

(Ganache 1.1.0 on Mac)

[2018-04-20 07:55] zatsepinvl opened #512 "Default account balances are set to 0 after a while"
Using ganache-cli via docker (https://hub.docker.com/r/trufflesuite/ganache-cli/) with latest tag and MetaMask 4.2.0 in Firefox Developer Edition **from different machines simultaneously**, all default account balances are set to 0 after a while (checked by command `web3.eth.getBalance(web3.eth.accounts[0]).toNumber()` through truffle console).

docker-compose to start ganache:
[code]

The same be

[2018-04-20 09:55] GabrielKidane opened #513 "infinite getFilterChanges loop after event.watch()"
## Expected Behavior
It should return the values emitted through the smart contract's event.

## Current Behavior

Attempts to retrieve the values emitted but get's stuck in an infinite getFilterChanges loop.
Like so `eth_call
eth_getFilterLogs
eth_getFilterChanges
eth_getFilterChanges
eth_getFilterChanges
eth_getFilterChanges
eth_getFilterChanges`

## Possible Solution
I don't know but the issue

[2018-04-22 13:46] ehanoc opened #514 "400 Bad Request When Navigating to RPC URL in Browser"
Ubuntu 16.04
Node v9.3

Steps :

$ npm install -g ganache-cli
$ ganache-cli

Trying to open on localhost:8545 gives 400 Bad Request

[2018-04-23 05:59] YanDav78 commented on #386
I can confirm that we still have this issue.
Now there is a hard limit at 6,721,975 no matter what number we give at the configuration.
It happens both in testrpc and truffle develop.

[2018-04-23 10:54] FlyRabbit commented on #505
same problem

[2018-04-24 00:45] LayneHaber commented on #465
@stern0 did you end up figuring out why this was happening? Running into something similar, and not sue why

[2018-04-24 11:41] marktrs commented on #512
Same here, it happened after last transaction has been sent about 5 min.
I take a look at block explorer and figure out that all account in ganache-cli send all of eth to one address.
but that address doesn't exist in `web3.eth.accounts`

[2018-04-24 13:41] j10sanders commented on #497
I've run into this same issue.  It took me a long time to realize it was a ganache issue, but realized when I used the JVM in Remix.  https://ethereum.stackexchange.com/questions/46494/cant-transfer-value-from-mapping-inside-mapping

[2018-04-24 21:26] ekreda commented on #386
Same here a 6,721,975 hard limit! ignoring higher custom limit set at init.

[2018-04-25 17:37] pipermerriam commented on #494
Ping, any chance this can be fixed soon?  We get a steady stream of people encountering this error over in https://github.com/ethereum/web3.py

[2018-04-25 18:12] 5hanth commented on #494
"Force addresses to lower-case in the filter before searching" is accepted solution to fix this for now?

[2018-04-26 08:36] eedsilva commented on #513
I am having the same issue

[2018-04-26 11:57] GabrielKidane commented on #513
I am currently just using metamask with connected with the rinkeby testnet

[2018-04-26 16:48] rhlsthrm commented on #243
Not to mention now we are supposed to use personal_sign or even eth_signTypedData instead of eth_sign (see [this](https://medium.com/metamask/scaling-web3-with-signtypeddata-91d6efc8b290)).

Does ganache plan to support these new features anytime soon?

[2018-04-27 00:22] rhlsthrm opened #515 "Add support for eth_signTypedData"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5ae26c212b9dfdbc3ad31939

## Expected Behavior
Support for eth_signTypedData from this [EIP](https://github.com/ethereum/EIPs/pull/712).

## Current Behavior
Error message: `Error: Method eth_signTypedData not supported.`

[2018-04-27 11:57] vidhyaramani opened #516 "syntax error: Unexpected Identifier"
Same error am getting again and again. I have asked the same question on issue number: #910. I have followed the same procedure but still the error is there. Please help me to solve this.

truffle(develop)> migrate--reset
evalmachine.<anonymous>:1
migrate--reset
         ^^^^^

SyntaxError: Unexpected identifier
    at new Script (vm.js:51:7)
    at createScript (vm.js:136:10)
    at Object.runInC

[2018-04-27 14:32] samanthawardhaugh commented on #372
@jbarros35 I had a similar issue so I thought I'd let you know how I solved it. When I cd'd to /usr/local/lib/node_modules and ran ls -la I found a symlink to another directory, ../../../../Users/sam/projects/node_modules/ganache-cli. The folder project existed, but nothing below it. I found a package-lock.json file in the project folder, deleted it, unlinked the symlink (unlink /usr/local/lib/nod

[2018-04-28 15:11] cgewecke commented on #516
`reset` is a command-line option. More info [here](http://truffleframework.com/docs/advanced/commands#migrate) at the truffle commands documentation.
[code]

[2018-04-28 15:11] #516 closed

[2018-04-28 17:57] Pet3ris commented on #439
I'm facing the same issue. And in general I'm facing different behavior for a chain vs. a forked chain based on it.

[2018-04-28 18:05] Pet3ris commented on #453
Just another person rooting for a fix :).

[2018-04-28 20:32] askysu commented on #512
It's **Internet Wide Ethereum JSON-RPC Attack** on port **8545**, **DONOT** listen to inbound queries!

- [Internet Wide Ethereum JSON-RPC Scans](https://blog.3or.de/internet-wide-ethereum-json-rpc-scans.html)
- [Internet Wide Ethereum JSON-RPC Scans - Another](https://isc.sans.edu/forums/diary/Internet+Wide+Ethereum+JSONRPC+Scans/23061/)

[2018-04-29 16:53] adamsoffer commented on #390
I'm also running into this issue. Which version of ganach-cli has the fix?

[2018-05-01 18:33] zatsepinvl commented on #512
@askysu That's right. Changing mnemonic to private one and locking all created addresses solve the problem.

[2018-05-01 18:34] #512 closed

[2018-05-02 06:52] boolafish commented on #494
Ping! we would really like to see this solved as well

[2018-05-02 11:27] phillipgibb commented on #504
I have the problem if I do anything incorrect with the --account option.
In your case I am thinking that you are using the account public key and not the private key.
but still put the 0x before the private key otherwise you get the same problem.

[2018-05-02 13:32] lbrth commented on #494
Does any one know when the issue will be solved ?

[2018-05-02 14:09] ColdFire87 commented on #134
On Windows 7 x64, Node v8.9.3:
1. delete `node_modules` folder
2. start an elevated command prompt (run as administrator)
3. install build tools: `npm install --global --production windows-build-tools`
4. run `npm install` which will use the build tools to compile scrypt

NOTE: `npm install` must be run from the same elevated command prompt (compiling scrypt without admin rights will fail).

[2018-05-02 19:16] barakman commented on #359
@benjamincburns:

The `--noVMErrorsOnRPCResponse` flag does not seem to take effect when an 'invalid opcode' (`assert` failure) occurs on the contract side.

`ganache-cli` returns "'Invalid JSON RPC response..." to `truffle test`.

This appears to be in contrast with when a 'revert' (`require` failure) occurs on the contract side, so is it possible that you've missed handling the specific case of

[2018-05-03 09:35] bbrh commented on #488
Have the same issue. Is it expected behaviour?

[2018-05-03 11:35] fastchain commented on #488
Same problem here

[2018-05-03 21:12] #504 closed

[2018-05-05 00:27] emi-silva opened #517 "--blockTime not working"
## Expected Behavior

`ganache-cli --blockTime 15` should wait 15 seconds before mining each block.

## Current Behavior

`ganache-cli --blockTime 15` behaves exactly like `ganache-cli`

## Steps to Reproduce

1. clone my repository at https://github.com/emi-silva/lease.git and reset to commit 287b481de1df7b0ca5e8033990d434514b571754

2. run ganache-cli on port 8875 without the --blockTime option

[2018-05-05 01:56] stern0 commented on #465
I did not continue with it, but I think it's still a pending issue.

[2018-05-07 09:26] dostu commented on #517
This is already fixed in ganache-core develop branch (https://github.com/trufflesuite/ganache-core/pull/101), but they need to make a new release.

[2018-05-07 12:16] tal-beja commented on #515
+1

[2018-05-08 16:34] kagansari commented on #248
+1

[2018-05-08 18:43] barakman commented on #503
Added more information at [truffle 729](https://github.com/trufflesuite/truffle/issues/729).

[2018-05-08 18:44] barakman commented on #359
Added more information at [truffle 729](https://github.com/trufflesuite/truffle/issues/729).

[2018-05-08 19:10] stefanks commented on #513
Also seeing an infinite loop of ﻿eth_getFilterChanges

[2018-05-09 06:17] rafalf opened #518 "Tool crashes when starting on a different host"
This is pretty much the same issues as the following one reported by me yesterday:
https://github.com/trufflesuite/ganache/issues/604

[code]

## Your Environment
* Version used: Ganache CLI v6.1.0 (ganache-core: 2.1.0)
* NodeJS Version: 6.1.15
* Operating System and version Windows 10, 2012 srever rtm

[2018-05-09 06:46] #518 closed

[2018-05-10 19:19] jinchung commented on #468
Hi, has there been any progress made on this, from the community or otherwise?

[2018-05-11 19:36] mgraczyk commented on #346
@benjamincburns Easy repro:

Run this
[code]

Then in another shell, run
[code]

[2018-05-11 19:40] mgraczyk commented on #346
If you'd like a repo to compare with `geth`, try:

Geth:
[code]

ganache-clie
[code]

[2018-05-12 20:58] gokigaligo commented on #415
Git is installed i am even running (npm install -g ethereumjs-testrpc) from gitbash, but still not working

[2018-05-14 14:42] llxxee commented on #494
exact same issue with Ganache CLI v6.0.3 (ganache-core: 2.0.2)

[2018-05-15 17:16] 5hanth commented on #494
I can give a PR if I may know what excatly is the agreed solution to fix this. Force lowercase addresses?

[2018-05-16 07:37] lbrth commented on #494
@5hanth  Force lowercase addresses works for me but by default with the current version of web3.py you will raise an exception : `InvalidAddress("Address has an invalid EIP checksum", value)`. To fix that we have to edit the current version of web3.py, or get correct patch. Please see #826 (by the way, thank's to @gakonst) to see how it's work and how to fix.

[2018-05-16 10:27] harikrishnanp opened #520 "How to configure Ganache CLI for Rinkeby?"
How to configure Ganache CLI for Rinkeby?

I have tried this `ganache-cli -i 4` where 4 is the network-id of Rinkeby.

[2018-05-16 11:09] CupCakeArmy commented on #505
for me running `rm -rf node_modules package-lock.json` and `npm cache clean --force` solved it

[2018-05-16 17:26] carver commented on #494
Yes, since it seems that ganache expects lower-case hex data internally, then it should force all incoming hex to lower-case (addresses, filter parameters, block hashes, etc)

json-rpc clients should be able to send hex-encoded binary in any case: upper, lower, or mixed. So changing how web3.py works is not a good solution here. (Even if web3.py forced all hex to lower case, then the same change w

[2018-05-16 19:26] benjamincburns commented on #468
I'd advise against fixing this at the moment, as I'm presently doing a fairly major refactoring of the `ganache-core` internals. I expect this issue will be mostly fixed by this refactoring, however, as we'll have an actual "pending block" containing pending transactions at that time.

[2018-05-16 21:33] rmeissner opened #521 "Revert not returning error message"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5afc9aafa2d9513633465dc4

## Expected Behavior
When calling a function that reverts with an error message (`revert("Some message")`) the message should be returned as data (as described here: http://solidity.readthedocs.io/en/v0.4.24/control-structures.

[2018-05-16 21:38] confused1108 commented on #134
May be this was just with me:
I was using const ganache=require('ganache');

which was giving me this error
It is actually require('ganache-cli');

Silly mistake but it fixed

[2018-05-16 23:30] rmeissner commented on #521
This might be a ganache-core issue

[2018-05-17 00:58] benjamincburns commented on #521
@rmeissner what happens when you run with `--noVMErrorOnRPCResponse` (see README and recent release notes for info on this flag)

[2018-05-17 09:10] rmeissner commented on #521
@benjamincburns I was using the flag, but this only changed the behaviour when performing a transaction.

I am connected via remix to my ganache-cli. If I don't use `--noVMErrorOnRPCResponse` I get a error when performing a transaction, if I do use it it gives me a transactionhash.

When using `eth_call` it always errors.

[2018-05-17 18:06] frangio opened #522 "Remove webpack-cli from production dependencies"
Please correct me if I'm wrong but I think `webpack-cli` should be in `devDependencies`. This is resulting in a lot of unnecessary installed packages for projects that depend on Truffle.

[2018-05-18 08:52] rmeissner commented on #521
I will close this issue as it is something that needs to be adjusted in ganache-core

[2018-05-18 08:52] #521 closed

[2018-05-18 11:31] jasperdg opened #523 "Ganache does not seem to be to handle web3's sendSignedTransaction."
When I try to use the sendSignedTransaction function according to the web3 documentation:
https://web3js.readthedocs.io/en/1.0/web3-eth.html#sendsignedtransaction

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5afeb76ee0b50c2d05d177a3

## Expected Behavior

If I call:
`this.web3.eth.sendSignedTrans

[2018-05-22 01:06] backslash112 commented on #512
Hi Vladimir, could you please give more details about it?

[2018-05-22 10:40] zatsepinvl commented on #512
@backslash112, first of all generate custom mnemonic using MetaMask or other tool. Then, start ganache-cli using this mnemonic:
`ganache-cli -m "<your mnemonic>" -i 4448 -n`
Where,
`-n` or `--secure`: Lock available accounts by default (good for third party transaction signing) ([link](https://github.com/trufflesuite/ganache-cli#command-line)).
Then, configure your `truffle.json` file:
[code]
Wher

[2018-05-22 15:35] Uxio0 commented on #520
I don't understand your question, Ganache-Cli creates its own private test network

[2018-05-22 18:36] robinagist commented on #494
same issue here.  straightout rejection by web3.py on addresses.

[2018-05-30 10:51] nanmu42 commented on #387
Meet the same problem when sign tx by myself.
This is causing a little trouble, since I am fetching tx receipt by tx hash.

version: ganache-1.1.0-x86_64

[2018-05-31 17:34] benjamincburns commented on #453
@clehene are you still intending to complete this fix? I'd love to award this bounty if possible.

Either way, @seesemichaelj is going to take over responsibility from me for tracking this. I'll still be around, however if you guys have any questions for me.

[2018-05-31 22:57] clehene commented on #453
@benjamincburns @seesemichaelj  this got more or less blocked with the final bits as I saw two different ways which depend on input from EVM / merkle-tree. I.e. we'd need to understand the author's intentions there as the logic is a bit convoluted and undocumented or otherwise discuss what's the best thing based on context.

I wouldn't mind taking another stab. TBH the bounty was just the cherry o

[2018-06-01 13:10] kyriediculous commented on #479
I deleted my build/contracts/ folder  and everything worked afterwards with default ganache settings.

[2018-06-01 15:27] edevil commented on #494
Sad that web3.py and Ganache cannot interoperate correctly. They were my goto tools for ethereum development.

[2018-06-01 18:05] elenadimitrova commented on #506
This fix was merged in April and there have been no releases since March. The current Ganache CLI v6.1.0 uses `ganache-core: 2.1.0` which does not include it. @benjamincburns ?

[2018-06-01 18:13] seesemichaelj commented on #506
Hey @EralpB, you can install a specific branch doing the following:
`npm install --save trufflesuite/ganache-cli#develop`

or you can modify your `package.json` and do an `npm install`:
[code]

I just joined the Truffle team, so I'm not quite sure what our release schedule is looking like, but I'll chat with Ben to see what we can. In the meantime, you can use the above technique.

[2018-06-01 20:29] benjamincburns commented on #494
I'll do my best to get this one fixed & released in the next week or two.

[2018-06-04 11:44] YanDav78 commented on #386
Is there any progress on this?
We are still getting stuck on this hard limit of 6,721,975

[2018-06-04 12:48] ekreda commented on #386
This issue (we still exists on:
Ganache CLI v6.1.0 (ganache-core: 2.1.0)

**It's still impossible to deploy a contract that is above 6.7 million gas limit.**

I'm using a private Blockchain with custom genesis block setting the gas limit to 16,000,000.
I wish a could do the same on Ganache !

BTW, even the current gas limit on the main net is about 8,000,000 now..