[2022-03-18 15:00] davidmurdoch commented on #2627
In the meantime you can start ganache programmatically with this script:

[code]

to run it:
[code]

Let me know if that works for you.

[2022-03-18 17:09] davidmurdoch commented on #2627
I think we should (temporarily?) remove our use of `implies` in our options, as a) it's broken, and b) the yargs error message isn't descriptive enough.

It's broken because: our options are strongly typed and expect namespace-less option names (`implies: ["url"]` instead of `implies: ["fork.url"]`) but yargs needs the namespace here. Fixing it correctly will take longer and doesn't add much value

[2022-03-18 17:19] davidmurdoch opened #2633 "Include Truffle Dashboard in ganache"
It'd be great to be able to use Truffle Dashboard for signing transactions instead of using Ganache's internal wallet feature.

[2022-03-19 17:47] BlinkyStitt opened #2643 "Support binding to port 0"
If you ask linux to bind to port 0, it will automatically pick an open port for you. This can be really helpful when running multiple instances of ganache on the same machine. Currently, ganache says `Invalid port number '0'`

Please make ganache support binding to port 0.

It would also be helpful (though not necessary) if it wrote this port to a file somewhere.

[2022-03-19 18:14] davidmurdoch commented on #2643
uWebSockets, the library we use, does [support this](https://github.com/uNetworking/uWebSockets.js/blob/9b3efbdfa315f4ec559fc8a6afe78083007bb7df/examples/AutomaticPortSelection.js). We just need to provide a way for the user to get this port - we should probably just copy node's API here.

We'll also need to update our [fork of uwebsockets](https://github.com/trufflesuite/uws-js-unofficial) as I d

[2022-03-20 00:54] BlinkyStitt opened #2646 "Very large eth_debugTrace responses get dropped"
If I run a forked node and then try to query debug_traceTransaction for [0x2cb2393747247606d0d534950fcbfe2f787161c909c693189c0aed1dacf1f02b](https://etherscan.io/tx/0x2cb2393747247606d0d534950fcbfe2f787161c909c693189c0aed1dacf1f02b), it thinks for a while and then I get back nothing.

[code]

[code]

If I send this query to my erigon node, it returns a whopping 987 MB of data.

Hardhat also fails

[2022-03-20 00:59] BlinkyStitt commented on #2646
I'm running ganache v6 above. I'm pretty sure it happens on v7, too. I'll get that installed and confirm though.

[2022-03-20 02:12] davidmurdoch commented on #2646
v7 can return traces > 10GB, so it shouldn't be a problem, but it is very slow when traces are large (there is a PR to fix it). v6 can't handle large traces. You may need to increase Node.js's max old space size (e.g., `NODE_OPTIONS=--max-old-space-size=16000 ganache`). Let me know if it works.

[2022-03-20 04:02] BlinkyStitt commented on #2646
I had NODE_OPTIONS set (should have included that in my first post). v7 is printing out lots and lots of logs though. Since v7 works, I think we can close this.

[2022-03-20 04:02] #2646 closed, assigned to nobody

[2022-03-20 04:02] BlinkyStitt commented on #2646
What is the PR to fix very large traces? I have a bunch of transactions with traces ~1 GB and so would really appreciate that.

[2022-03-20 12:35] davidmurdoch commented on #2646
The PR actually only speeds up websocket connections: https://github.com/trufflesuite/ganache/pull/2634/files

[2022-03-20 15:51] BlinkyStitt commented on #2643
You probably don't want me writing any JavaScript haha

[2022-03-20 16:53] davidmurdoch commented on #2643
Haha. No worries. Do you know of any cli tools that can "bind" to port 0 and then output the actual port to a file?

[2022-03-21 02:24] jeffsmale90 commented on #2185
@davidmurdoch I looked into various approaches to responding to this, and pushed an interim change to https://github.com/trufflesuite/ganache/commit/54b38e023edf039860b6edfbb55f0017e47b5f43

Once close() is called, all subsequent responses will have `end(body, closeConnection: true)` called. This will require a change to the .js fallback in uws-js-unofficial to support the `closeConnection` parame

[2022-03-21 08:49] leykun10 opened #2662 "Chain Id mismatch on development network"
[code]
initialized in the smart contract, evaluates to 1 on a ganache development network
[code]
while  on the same network
[code]
evaluates to  1377, causing a chain Id mismatch between off-chain and on-chain.
I am using EIP712 standard to sign signatures which requires chainId to be the same on-chain and off-chain.
This issue arises only on the development network.

[2022-03-21 13:42] davidmurdoch commented on #2662
What version of ganache?

[2022-03-21 13:53] leykun10 commented on #2662
version
[code]

[2022-03-21 14:03] davidmurdoch commented on #2662
Please update up v7: https://github.com/trufflesuite/ganache/blob/develop/UPGRADE-GUIDE.md

[2022-03-21 14:33] leykun10 commented on #2662
Working! Awesome I appreciate it!

[2022-03-21 14:33] #2662 closed, assigned to nobody

[2022-03-21 14:49] Chiray1 opened #2665 "can't find evm_unlockUnknownAccount"
`evm_unlockUnknownAccount : Unlocks any unknown account. Accounts known to the personal namespace and accounts returned by eth_accounts cannot be unlocked using this method; use personal_unlockAccount instead.`

This was supported in ganache-cli to add an account at runtime but I cannot find it anywhere in ganache. Is there something else?

[2022-03-21 14:57] davidmurdoch commented on #2665
What version of ganache are you using? The `ganache-cli` package is deprecated. Use the `ganache` package instead.

[2022-03-21 15:05] Chiray1 commented on #2665
i am using the ganache v7 but it hasnt the evm_unlockUnknownAccount function which is available in ganache-cli

[2022-03-21 17:54] davidmurdoch commented on #2665
Ah, sorry. I misunderstood. You should use `evm_addAccount` followed by `personal_unlockAccount` to unlock it.

[2022-03-22 14:36] Chiray1 commented on #2665
I'm trying to add an account where I don't know the key from. If I used evm_addAccount followed by personal_unlockAccount I get an error saying it doesn't know the key.

[2022-03-22 15:25] davidmurdoch commented on #2665
Are you doing something like the following with Ganache v7.0.3?

[code]

[2022-03-22 15:28] eggplantzzz commented on #2392
Closing for issue maintenance.

[2022-03-22 15:28] #2392 closed, assigned to nobody

[2022-03-22 15:35] Chiray1 commented on #2665
yes, is that wrong?

[2022-03-22 15:42] Chiray1 commented on #2665
I did do a callback and waited for the response, I just tried with a sleep in between and it seems to work. I'm guessing ganache does some more stuff in the background even after it gives back the response that the account has been added?

[2022-03-22 15:44] Chiray1 commented on #2665
It seems very slow though, I have to do a 200ms sleep. Firing up a new ganache provider and unlocking the address there only takes about 80ms.

[2022-03-22 16:29] davidmurdoch commented on #2665
It doesn't do anything in the background here. Can you share your code?

[2022-03-22 16:32] Chiray1 commented on #2665
[code]

[2022-03-22 18:17] davidmurdoch commented on #2625
Thanks @0xslipk, we don't actually have a spec for this just yet. Would you like me to ping you when we do come up with some concrete steps, hopefully within the next few months?

[2022-03-22 19:19] davidmurdoch commented on #2481
Closing this one as I don't think there is a solution possible on Ganache's side.

[2022-03-22 19:19] #2481 closed, assigned to nobody

[2022-03-22 19:26] davidmurdoch commented on #2665
I think the web3 provider lets you either pass a callback _or_ `await`, but not both. So you'll need to do something like:

[code]

[2022-03-22 19:33] Chiray1 commented on #2665
I tried this:

[code]
As of web3 1.0, provider.send is no longer synchronous and must be passed a callback as its final argument.

[2022-03-22 19:36] Chiray1 commented on #2665
[code]

I tried this now and I get: Error: authentication needed: passphrase or unlock

[2022-03-22 22:02] davidmurdoch commented on #2665
You aren't waiting for each command to finish before starting the next one. you need to `await` the calls to `ganacheProvider.send`. Do NOT pass a callback here.

[2022-03-22 22:12] Chiray1 commented on #2665
I need to pass a callback otherwise I get the error that since web3 1.0 a callback is requiered... and the await sleep(500); should have bene enough so that the other commands finish, right?

[2022-03-22 22:14] Chiray1 commented on #2665
do you get it to work?

[2022-03-22 22:25] Chiray1 commented on #2665
also when I unlock the address through the provider options, so wallet: {unlockedAddresses: [address]}
and try to send a transction from the address with

[code]

 I get the error: insufficient funds for gas * price + value
even though eth.getBalance returns 10eth. `web3.eth.signTransaction` doesn't work as it should I think

web3.eth.sendTransaction(tx) works for some reason

[2022-03-23 00:18] davidmurdoch commented on #2665
You account has enough gas, but the transaction does not. You probably need to pass a valid gas price (or base fee for a type 2 transaction) to `signTransaction`.

I'll close this since the original issue is resolved. Please open another if you find any bugs!

[2022-03-23 00:18] #2665 closed, assigned to nobody

[2022-03-23 01:53] Grantmac75 commented on #1966
Hi David, Still getting a similar issue when I ran C:\Users\gmac7\demos\web3_py_simple_storage>npm install --global ganache@rc.

No idea what I am doing sorry.

[2022-03-23 01:57] teknoxic opened #2680 "Transaction can't be replaced, mining has already started"
Hi,

**ganache v7.0.2 (@ganache/cli: 0.1.3, @ganache/core: 0.1.3)
node v14.10.0
Ubuntu 20 Sever**

I'm building an ERC20 token DEX, i'm currently using ganache, it uses an order book system. Everything works well, but when i make multiple transactions within a quick succession i get the following error:
[code]

The error doesn't appear on ganache-cli itself, it appears on my backend script that se

[2022-03-23 02:09] davidmurdoch commented on #2680
Probably a duplicate of https://github.com/trufflesuite/ganache/issues/2509. We're working on a fix. In the meantime you may be able to work around this race condition if you can keep track of account nonces locally and set the nonce property on the transactions before sending to ganache.

[2022-03-23 02:15] davidmurdoch commented on #1966
Install ganache@latest instead. 😁

[2022-03-23 03:24] Grantmac75 commented on #1966
Hah yeah that's what I had done first and thought this might have fixed my issue. It might be I need the latest visual studio so I am going to try that. That's the only think I can think of.

[2022-03-23 10:23] 0xslipk commented on #2625
Yeah, I would like that. Let me know when you guys are ready to start and I will help with it.

[2022-03-26 08:50] ghost opened #2700 "to resolve, close the issue"
to resolve, close the issue

[2022-03-26 12:56] davidmurdoch commented on #2700
I don't think this has anything to do with "supporting other chains", and more likely that you're Internet connection wasn't working or the node was being flaky (which is usually the case with BSC).

[2022-03-27 14:49] davidmurdoch commented on #2105
Of interest: https://www.npmjs.com/package/cronometro

[2022-03-28 04:18] #2700 closed, assigned to nobody

[2022-03-28 18:30] MicaiahReid opened #2725 "Ensure that only hex values are used in hex strings"
Currently `json-rpc-base-types` validates that a string is prefixed with "0x" but not that the actual data is hex data. For example, `"0x a string"` is valid according to the base type.

[2022-03-28 18:42] davidmurdoch commented on #2725
Note: we plan to throw out all of the current JSON-RPC stuff, because it is trash (except the actual interface since doing things like `Data.from` is rather pleasant)

[2022-03-28 19:32] MicaiahReid opened #2728 "Don't allow negative numbers to be used as `Quantity`"
Don't do it!

[2022-03-29 07:48] BlinkyStitt opened #2736 "add rate limit logic"
While using a free host for testing some scripts, I hit some rate limiting errors. Ganache should make it easy to set rate limits for the forked node.  If I set rate limits in my scripts, they aren't very reliable because sometimes queries to ganache don't hit the remote node at all and I end up rate limiting myself needlessly. I also think that at other times a single query to ganache can generat

[2022-03-29 13:07] davidmurdoch commented on #2736
Have you tried the --fork.requestsPerSecond option?

[2022-03-29 17:10] BlinkyStitt commented on #2736
Oh. I missed that. Too used to older versions of ganache.

[2022-03-29 17:10] #2736 closed, assigned to nobody

[2022-03-29 17:38] davidmurdoch commented on #2736
Cool! Let me know if it works for you. Rate limiting is not an exact science, and it's probably that the advertised rate limit applies is accurate over a specific period of time (a sampling "window"), and Ganache's window may not match Moralis's (it was tuned for Infura).

If you do discover issues please let me know, as I am interested in making it compatible with Moralis if the current configura

[2022-03-29 22:02] MicaiahReid commented on #2728
This TODO and four other similar TODOs on the same file need to be fixed once this is merged: https://github.com/trufflesuite/ganache/pull/2565/files#diff-7c45b1ed67b5ed69774d3ae2bf54711bd5fd4522eccff16f7e8d6a16f6dd582aR484

[2022-03-29 22:03] MicaiahReid commented on #2725
This TODO and four other similar TODOs on the same file need to be fixed once this is merged:
https://github.com/trufflesuite/ganache/pull/2565/files#diff-7c45b1ed67b5ed69774d3ae2bf54711bd5fd4522eccff16f7e8d6a16f6dd582aR482

[2022-03-30 02:16] jeffsmale90 commented on #2728
There's a couple of todos here https://github.com/trufflesuite/ganache/pull/2716 also.

[2022-03-30 16:37] BlinkyStitt commented on #2736
So far this flag is working for me against moralis. I haven't hit any more rate limits.

[2022-03-31 14:07] MicaiahReid commented on #408
This has been implemented in Ganache v7. See our [Upgrade Guide](https://github.com/trufflesuite/ganache/blob/develop/UPGRADE-GUIDE.md) if you want to use this feature!

[2022-03-31 21:11] jeffsmale90 opened #2773 "Remove uws-js fork"
We presently maintain a fork of uws-js (https://github.com/trufflesuite/uws-js-unofficial/) with two purposes:

- support electron applications
- include a javascript native fallback for unsupported architectures / nodejs versions

The author of uws-js has indicated that the upstream project should support electron out of the box here: https://trufflesuite.slack.com/archives/C037QLAJ2MA/p164876120

[2022-03-31 21:19] #1594 closed, assigned to jeffsmale90

[2022-04-01 09:44] Ataye opened #2781 "Cannot specify start block on BSC network"
When I fork the BSC mainnet and specify a start block, I get the following error (yes, this is PowerShell):

[code]

But runs fine without the @16520058.

If I use the following command, I get the error:

[code]

So, I take it you cannot specify a start block when forking the BSC network (or rather, a non Ethereum network)?

cheers

[2022-04-01 13:57] MicaiahReid commented on #2781
Hi @Ataye, thanks taking the time to open this issue.

It looks like there are a few issues here. First, for some reason Ganache isn't parsing the `@blockNumber` in the fork url.

In your second attempt, you are using `--fork blocknumber=16520058` instead of `--fork.blockNumber=16520058`, so Ganache thinks you are specifying `blocknumber` as the fork network.

If you fix the startup command to be:

[2022-04-01 19:51] Ataye commented on #2781
Hello,

Thanks for looking into this.  I originally specified fork.blocknumber but I get Unknown Argument so thought I was doing it wrong:

[code]

Then I realised it is case sensitive after seeing your command, I missed the N: --fork.blockNumber :(

I can live without the unlocked account being specified on the command line, so I'll unlock using RPC.

So that's got me going from a specific block,

[2022-04-01 20:14] davidmurdoch opened #2788 "Track all HTTP connects and force them closed on server shutdown"
For clients that connect to the ganache server over HTTP with keepAlive ganache will not immediately close those connections when the server is shutdown, these connections wait until the keepAlive timeout is finished (10 seconds) or until the client sends another request.

See https://github.com/uNetworking/uWebSockets.js/issues/663 and https://github.com/trufflesuite/ganache/pull/2667

This isn't

[2022-04-01 20:43] davidmurdoch opened #2790 "Handle backpressure properly"
uWS example for handling backpressure: https://github.com/uNetworking/uWebSockets.js/blob/master/examples/Backpressure.js#L12-L13

Note: we may need to update out uWS fallback implementation as well.

[2022-04-01 21:23] BlinkyStitt opened #2791 "Mining a block with an old timestamp only half works"
I wrote [some code for brownie scripts](https://gist.github.com/WyseNynja/608d522ff68fd06ccc2d9c057ba4c206) that replays an old block locally so that I can use debug_traceTransaction when I only have access to a remote node that does not allow this RPC. In order for this to work, I have to mine the transaction with the old timestamp. This looked like it was working on first glance, but then I noti

[2022-04-01 21:30] #2185 closed, assigned to davidmurdoch, jeffsmale90

[2022-04-01 22:00] davidmurdoch commented on #2791
Hm, interesting. Not sure what could be going wrong here. In the meantime can you use ganache forking with `debug_traceTransaction` with the original transaction's hash, or do you have to replay the transaction locally first?

[2022-04-01 22:06] davidmurdoch commented on #2791
Oh! `ganache` doesn't have `evm_setAutomine`. Instead, you can call `miner_stop` to stop the miner, and `miner_start` to resume auto mining. While the miner is "stopped" you can call `evm_mine` to force the miner to mine momentarily. Can you try that and let me know if it works?

I'm not sure why hardhat used a different name for their miner start/stop RPC method, as miner_stop and miner_start is

[2022-04-02 00:35] BlinkyStitt commented on #2791
That explains it. I wasn't checking the response for evm_setAutomine.

[2022-04-02 00:35] #2791 closed, assigned to nobody

[2022-04-02 00:38] BlinkyStitt commented on #2791
Yeah. That's what I'm going to do instead. That should work faster, too.

EDIT: actually, this seems to be slower. I'm hitting 90 second timeouts on things that worked before

[2022-04-02 01:18] davidmurdoch commented on #2791
Fetching all the necessary state from the remote node is slow the first time. If you always fork at a specific block number successive runs will be faster, add they'll run from a local cache. Let me know if that helps!

[2022-04-04 13:49] seaona commented on #1470
+1! It would be very helpful to have support for `eth_feeHistory` in ganache

[2022-04-04 17:32] davidmurdoch commented on #1470
@seaona Would you like to add it?

[2022-04-04 18:27] MicaiahReid opened #2814 "author"

[2022-04-04 18:27] #2814 closed, assigned to nobody

[2022-04-04 18:28] davidmurdoch commented on #2814
excellent work

[2022-04-04 18:32] MicaiahReid opened #2815 "list"
assignee

[2022-04-04 18:32] #2815 closed, assigned to nobody

[2022-04-04 18:33] MicaiahReid opened #2816 "list"

[2022-04-04 18:34] #2816 closed, assigned to nobody

[2022-04-04 19:22] #2095 closed, assigned to jeffsmale90

[2022-04-04 19:24] davidmurdoch commented on #2816
:star::star::star::star::star:

[2022-04-04 19:26] davidmurdoch commented on #2815
![clapping-hands](https://user-images.githubusercontent.com/187813/161617371-a13c58d4-e45c-42df-ae0f-23cfe1751b0d.gif)

[2022-04-04 19:32] jeffsmale90 commented on #2095
[code]

^^ No warnings :)

[2022-04-05 00:57] BlinkyStitt opened #2818 "Empty debugTraceTransaction with 0 gas when forking fantom"
[code]

https://ftmscan.com/tx/0x832d9d462e779d5131994fda140c9fc84489f7e4ecd6c345ff827edc45d13cfd#internal

The brownie code is pretty much just making a json request. Its not doing any actual parsing.

[2022-04-05 01:17] BlinkyStitt commented on #2818
Another one with the same issue: https://ftmscan.com/tx/0xf55d6fa8c9e599491e857ceabf35ca38ac1e4813601bf216c480e84bdcfecd9e#internal

[code]

[2022-04-05 10:33] seaona commented on #1470
@davidmurdoch sure! I'll try my best 😊

[2022-04-05 19:02] davidmurdoch commented on #2818
This is likely related to https://github.com/trufflesuite/ganache/issues/2394

I think the problem is that Ganache treats that as mainnet, because it doesn't know what hardforks are active at any given block. So when you run a transaction at block 5735462 Ganache thinks it needs to activate whatever hardfork was currently active at that time _on mainnet_. :grimacing:

What we need to do is apply t

[2022-04-05 22:55] davidmurdoch opened #2827 "Have ganache cli check for a new version once per day (à la npm's prompt) and let the user know about it"
We should probably give users a command to turn the feature off, and we should also try to detect CI and then avoid the feature all together.

[2022-04-05 23:56] BlinkyStitt commented on #2818
Could we change truffle to raise some sort of error instead of providing incorrect data?

[2022-04-05 23:57] BlinkyStitt commented on #2818
I believe I am able to get debug traces for some transactions. I can give txids for those if that might help.

[2022-04-06 00:36] MicaiahReid commented on #2526
@jeffsmale90 and I were playing with Geth and it seems that this isn't the case. We had a future nonce transaction queued up in the transaction pool and filled the nonce gap by sending another transaction. The nonce gap filling transaction was mined and the future nonce transaction moved from the "queued" to "pending" position in `txpool.content`, but was not included on the block.

[2022-04-06 02:25] davidmurdoch commented on #2526
Interesting. Since this is a developer only feature, I think we could defer to what we/users expect, instead of geth, in this case. Definitely requires more thought and conversation.

[2022-04-06 02:26] jeffsmale90 opened #2831 "Don't remove a transaction from the txpool if it's maxFeePerGas < baseFeePerGas"
If a transaction's `maxFeePerGas` is too low (< `baseFeePerGas` for the pending block) after the transaction is removed from the "pending" queue, an error will be thrown within the vm:

https://github.com/trufflesuite/ganache/blob/8f8feb4473a5cc770c4ea92daeb5469dc932a433/src/chains/ethereum/ethereum/src/miner/miner.ts#L461

During analysis of the behaviour in Geth, we discovered that the transacti

[2022-04-06 03:55] jeffsmale90 commented on #2176
To paraphrase @MicaiahReid: "The best course of action is to add our check in the transaction-pool.ts prepareTransaction function to validate that a transaction's maxFeePerGas >= baseFeePerGas, and we'll do the rest in #2831"

For reference, the same behaviour is described in Geth here: https://github.com/ethereum/go-ethereum/blob/06540146524222f648d8b19c5bcb00a8fd3dd339/core/state_transition.go#L

[2022-04-07 04:08] fainashalts commented on #2781
@Ataye it sounds like your issue is resolved, thanks so much for bringing it up and for following up. I'm going to close this for issue maintenance but please feel free to open a new issue if something new comes up!

[2022-04-07 04:08] #2781 closed, assigned to nobody

[2022-04-07 15:54] MicaiahReid opened #2848 "Forking from url's `@blockNumber` doesn't work for BSC"
For some reason Ganache isn't parsing the `@blockNumber` in the fork url.

In your second attempt, you are using `--fork blocknumber=16520058` instead of `--fork.blockNumber=16520058`, so Ganache thinks you are specifying `blocknumber` as the fork network.

If you fix the startup command to be:
[code]
you get a step closer, but you'll still get this strange error: `CodedError: empty resp`. This ha

[2022-04-07 15:55] MicaiahReid opened #2849 "Catching unhandled exceptions at top level and rethrow with call to action to open issue"
Hi @Ataye, thanks taking the time to open this issue.

It looks like there are a few issues here. First, for some reason Ganache isn't parsing the `@blockNumber` in the fork url.

In your second attempt, you are using `--fork blocknumber=16520058` instead of `--fork.blockNumber=16520058`, so Ganache thinks you are specifying `blocknumber` as the fork network.

If you fix the startup command to be:

[2022-04-07 18:14] davidmurdoch commented on #2818
@WyseNynja we can't know if we are returning "incorrect data" as we don't know what the correct data is (otherwise we'd just return that :-p). If you are asking if we could error if we don't support the chain, then we'd error for all chains except Ethereum mainnet and it's well-known test nets.

If you want to provide some additional transactions and other information for when we switch the way ga

[2022-04-07 19:40] koraykoska commented on #2125
@MicaiahReid As it is merged already, is there any update?

[2022-04-07 20:02] davidmurdoch commented on #2125
@koraykoska You can try the new web3 release candidate that contains their fix now: https://github.com/ChainSafe/web3.js/releases/tag/v1.7.2-rc.0

[2022-04-07 20:04] koraykoska commented on #2125
@davidmurdoch I am not using web3.js. It's a dependency of ganache and I only use ganache with ethers.

[2022-04-07 23:09] davidmurdoch commented on #2125
Web3 is most certainly not a dependency of Ganache. 😁

Are you suggesting ethers doesn't like the Ganache provider type?

[2022-04-07 23:11] koraykoska commented on #2125
Yes, so at least Typescript can’t compile properly.

On Fri, 8 Apr 2022 at 00:10, David Murdoch ***@***.***> wrote:

[2022-04-07 23:26] davidmurdoch commented on #2125
What is the error?

[2022-04-07 23:30] BlinkyStitt commented on #2818
Is there ever a valid case where gas is "0". That seems like it should only be an error.

[2022-04-08 00:02] davidmurdoch commented on #2818
Ah, I missed that, sorry. You are right, I think we are likely swallowing an error on this case and we should show that to the user instead!

[2022-04-08 07:04] koraykoska commented on #2125
Pretty much what is described here:
https://githubhot.com/repo/trufflesuite/ganache-core/issues/2134

I get exactly the same errors and the last working version is 7.0.0-beta.1

On Fri, 8 Apr 2022 at 00:27, David Murdoch ***@***.***> wrote:

[2022-04-08 15:39] davidmurdoch commented on #2125
Does adding `"skipLibCheck": true` temporarily fix it for you?

[2022-04-08 17:14] MicaiahReid opened #2857 "RPC Quantity should not allow `"0x"`"
Geth errors with: `cannot unmarshal hex string \"0x\" into Go struct field`

[2022-04-08 17:40] #2558 closed, assigned to nobody

[2022-04-10 10:52] Toeplitz commented on #643
Has there been any progress on this since this reply in 2021?

[2022-04-11 14:47] mjay0 opened #2879 "Uncaught connection exceptions using Ganache as EIP-1193 provider"
First of all, love the project. Thanks for all the great work!

I've written a simple honeypot checking script using Ganache as EIP-1193 provider. However I'm running into a couple of unhandled promise rejection errors when the forking / connecting process fails. The simplest script I can write to trigger the problem is the following:

[code]
Ends in:
[code]

Other errors I'm not able to catch in

[2022-04-11 16:11] davidmurdoch commented on #2879
Are you using a local build or a published build (from npm or Docker)? If a published build, what version?

[2022-04-11 16:44] davidmurdoch opened #2882 "`develop` branch doesn't currently allow robot@trufflesuite.com to merge into develop"
Before we fully automate our publishing step we'll need to set up a github account for `robot@trufflesuite.com` and add it to the ganache branch settings as an account that can merge into develop.

[2022-04-11 17:28] mjay0 commented on #2879
Apologies, that should have been included. I'm running latest version on npm:

[code]

[2022-04-11 19:43] davidmurdoch commented on #2879
Thanks,

Looks like we need to surface a way for callers to handle errors thrown by the background promise. The only way to do it right now is listen for an unhandled promise rejection:

[code]

The last one error is very interesting. Do you know what Cronos block number were you connecting at?

[2022-04-12 18:30] MicaiahReid opened #2891 "Look into validating data for `evm_setAccount*` RPC methods"
I've done a lot of testing in Geth to see how their `eth_call` overrides work. Here are the results:
<google-sheets-html-origin>

Override Type | Tested Value | Geth Response
-- | -- | --
Balance | null | Balance remains
Balance | "" | Balance 0
Balance | "0x", undefined, "123", {}, 123, -9 | Rejected
Code | null | Code remains
Code | "" | Clears code
Code | "0x" | Clears code
Code | undefined, "1

[2022-04-13 13:54] MicaiahReid commented on #649
These features are implemented by #2337.

[2022-04-13 13:55] MicaiahReid commented on #1889
Implemented by #2337.

[2022-04-13 13:55] #1889 closed, assigned to nobody

[2022-04-13 14:41] cds-amal commented on #2882
Can we rename a robot to skynet?

[2022-04-13 18:11] cds-amal commented on #2594
Closing for issue maintenance

[2022-04-13 18:11] #2594 closed, assigned to nobody

[2022-04-15 15:10] davidmurdoch opened #2907 "`eth_getBlockBy*` is polymorphic but the TypeScript type of the return value is not appropriately narrowed"
The TS type of the `result` below should be a `Block` whose `transactions` property is an array of transaction objects

[code]

whereas

[code]

should be a `Block` whose `transactions` property is an array of transaction hashes (strings).

We currently return `transactions: string[] | Transaction[]` (it's a bit more complicated in actuality, but you get the idea).

TypeScript might be able to do

[2022-04-15 15:26] davidmurdoch commented on #2907
There is a PR open to fix our types: https://github.com/trufflesuite/ganache/pull/2527. So work may need to be done on (or based on) that branch if it isn't merged into develop already.

Relevant permalinked entry points in that branch:

https://github.com/trufflesuite/ganache/blob/614030ccbd8cd75cc64567b37acf73ed80b905f9/src/chains/ethereum/ethereum/src/provider.ts#L216-L240

https://github.com/t

[2022-04-16 22:16] Anti83 opened #2911 "Wrong latest block after forking."
Hello.
I use Ganache with nodejs with web3 and fork eth mainnet from my local geth node with
let web3Ganache = await new Web3(Ganache.provider({fork: {url: "ws://localhost:7546"}});
But if latest mined block in mainnet is for example 10000, I fork from 10000, but latest block of forked chain becomes 10001 and it is an empty block(no transactions)...
So If I fork from blocknumber 10000 , I can not

[2022-04-16 23:01] davidmurdoch commented on #2911
That empty block changes the amount of ether in your initial start up accounts.

[2022-04-16 23:04] Anti83 commented on #2911
But I start with totalAccounts: 0.

So, is it inevitable?

[2022-04-16 23:06] davidmurdoch commented on #2911
Currently, yes. Let's keep this open to further conversation and consideration in a future version.

I'm curious why this extra block is causing an issue for you. Can you share why the current situation isn't ideal?

[2022-04-17 13:52] VarunSaiTeja opened #2918 "Ganache Installation issues"
`npm i ganache -g`
--Getting following error, please help me how to resolve this issue?

[code]

[2022-04-18 11:45] thomasoss commented on #515
I had a similiar problem. In truffel.js the networkId was set to 1337. In the Ganache GUI, too. But when I return the the chainId with the contract function

    function getChainId() public view returns (uint256 chainId) {
         assembly {
            chainId := chainid()
        }
    }
then i got 1 for the chainId. I know that the networkId is not the chainId. But theres is no way to configu

[2022-04-18 13:13] juliusgambe commented on #2535
Hey, sorry for the late reply. I tried to update my xcode-command line tools and it is still throwing the same error. I don't think this error is related to it as it does not mention xcode or its clt anywhere as what the stack overflow question stated too. My current workaround is simply just using the old ganache-cli.

[2022-04-18 15:06] MicaiahReid commented on #515
@thomasoss It's on our road map to get Ganache UI updated with the latest Ganache. Since your problem is now more related to Ganache UI, I'm going to make your comment an issue in the `ganache-ui` repo. Thanks!

[2022-04-18 21:51] #2279 closed, assigned to MicaiahReid

[2022-04-18 21:51] #2882 closed, assigned to MicaiahReid

[2022-04-19 13:48] MicaiahReid opened #2934 "Add tests to check for `eth_call` side effects"
If i'm not \wrong about the above then we don't yet have exhaustive tests that check if `eth_call` has side effects and we should add those.

_Originally posted by @davidmurdoch in https://github.com/trufflesuite/ganache/pull/2565#discussion_r851433168_

[2022-04-19 15:02] davidmurdoch commented on #2934
We do have a test ("does not create a transaction on the chain" -- which is not a very robust test). The new code introduced in #2565 modifies state directly now, so we need to be extra careful that those state changes don't stick around.

[2022-04-19 15:48] dminglv opened #2935 "Ganache does not return a detailed exception"
Hi! I found an error that Ganache does not return a detailed exception when calling contract function.

I use Ganache in Docker `trufflesuite/ganache:v7.0.4`

And Run it how:

[code]

Everything works, but does not return a detailed exception error when calling the contract.

What do I get instead of getting a **Time Limit** exception:

`AssertionError: Expected transaction to be reverted with Tim

[2022-04-19 15:54] dminglv commented on #2935
I also try to add flag `--chain.vmErrorsOnRPCResponse true`, but it doesn't work.

[2022-04-19 16:03] davidmurdoch commented on #2935
What did it used to return for you?

[2022-04-19 16:04] davidmurdoch commented on #2935
This could be related to this recent change: https://github.com/trufflesuite/ganache/releases/tag/v7.0.1#user-content-v7.0.1-fixes-0

[2022-04-19 17:10] dminglv commented on #2935
I use it for hardhat tests.

[code]

I can replace this with the following, but then I won't be able to track the exception error. This is very important for testing the operation of smart contracts!

[code]

[2022-04-19 17:20] davidmurdoch commented on #2935
`0x08c379a00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000a54696d65206c696d697400000000000000000000000000000000000000000000` is "Time Limit":

`08c379a` means there is revert reason to follow
`0...2...0` is just low-level RLP encoding things
`0a` is the length of the revert reason string in hex -> `10`
`54696d65206c696

[2022-04-19 17:27] dminglv commented on #2935
But if I use the [Ganache app on Mac](https://trufflesuite.com/ganache/) or run tests on any public node, there are no errors.

Error only in `trufflesuite/ganache`

P.s in old package `trufflesuite/ganache-cli` everything works fine and I get a detailed error!

[2022-04-19 17:34] dminglv commented on #2935
Just checked on the `trufflesuite/ganache:v7.0.0`.
Everything works there too.

The error is **only in new versions**!

I use the following package versions:

[code]

[2022-04-19 17:37] davidmurdoch commented on #2935
Ganache UI currently uses an old version of ganache.

The old version of ganache returned the revert reason string in a non-standard way, we now align with Geth. Tools like Waffle likely handled our non-standard format; I believe we now return the reason the same way Geth does.

So the error is in old versions, tools like waffle handled the non-standard formatting.

Have you tried the waffle alpha

[2022-04-19 17:42] dminglv commented on #2935
It's also doesn't work on alpha version

[2022-04-19 17:43] dminglv commented on #2935
When I tested via private Geth node, I also had no problems...

[2022-04-19 17:44] davidmurdoch commented on #2935
It could be related to https://github.com/TrueFiEng/Waffle/issues/646

Waffle doesn't detect the revert reason on a testnet.

[2022-04-19 17:49] dminglv commented on #2935
I have no problems with Waffle. I also ran tests on my private Geth node. Everything went fine, the problem is only with ganache

[2022-04-19 17:50] davidmurdoch commented on #2935
What Geth version are you running?

[2022-04-19 17:52] dminglv commented on #2935
1.10.1

[2022-04-19 17:52] davidmurdoch commented on #2935
Ah, I didn't noticed ethers.js in the error the first time. Does https://github.com/ethers-io/ethers.js/discussions/2849 leave any clues?

[2022-04-19 17:57] dminglv commented on #2935
<img width="1639" alt="Screenshot 2022-04-19 at 20 57 05" src="https://user-images.githubusercontent.com/9155259/164066254-067a2a20-2a8b-4af6-9aa2-35a9bf3867d2.png">

[2022-04-19 18:07] dminglv commented on #2935
I add console log on tests on working version ganache (7.0.0)

[code]

Compare this with the first error in the screenshot in the message above!

<img width="1639" alt="Screenshot 2022-04-19 at 21 04 20" src="https://user-images.githubusercontent.com/9155259/164067473-0dba87ee-2f23-442e-8434-3ca58147e5ea.png">

[2022-04-19 18:39] davidmurdoch commented on #2935
It appears Ganache is working as intended. The transaction _is_ reverted with a reason string; it is returned as encoded (as it should be). The tools (either hardhat, ethers.js, or waffle) don't seem to be handling it correctly.

I'll discuss further with @micaiahreid to be sure I'm not missing anything.

[2022-04-19 18:53] dminglv commented on #2935
It's return reason string on version 7.0.0

[2022-04-19 20:13] davidmurdoch commented on #2935
Ganache 7.0.0 and earlier returned this data incorrectly, this was fixed in `7.0.1`. We _do_ return a `message` property that contains the reason string: `"VM Exception while processing transaction: revert {reason}"`. Something in your tool chain seems to be removing this `message` property before it gets to your test.

[2022-04-20 13:13] amandesai01 commented on #2575
@MicaiahReid can you elaborate? Do you want all options to do same thing? I mean `--accounts`, `--wallet.account`, `--wallet.accounts` and `--account` all have to do same thing?

[2022-04-20 14:15] MicaiahReid commented on #2575
@amandesai01 Yes, exactly. `--account`, `--accounts`, and `--wallet.account` would all be aliases for `--wallet.accounts`, so they'd all do the same thing.

@davidmurdoch in looking into this I also found that `--accounts` is already an alias for `--wallet.totalAccounts` 😱. I think we should make `--wallet.totalAccounts` _only_ have the alias `--totalAccounts` as part of this change..

[2022-04-20 16:30] davidmurdoch commented on #2575
We can't change `--accounts` to _not_ be an alias of `--wallet.totalAccounts` unless we want to release a v8.0 :sob:

The `--accounts` option is that way because that is what the option was in v6, and we designed v7 to have no breaking changes for command line use to make it easier to upgrade to, since there were already so many other breaking changes in the 7.0 release.

[2022-04-20 16:35] MicaiahReid commented on #2575
I see. Any thoughts on how we should proceed? Save this as an issue for an 8.0 release and use it to clean up all CLI options in general?

[2022-04-20 16:55] davidmurdoch commented on #2575
I guess we either need to save it for 8.0 and/or rename (with a backward compatible alias) `--wallet.accounts` to something more explicit, like `--wallet.initialAccounts`, with a top-level alias of `--initialAccounts`? :-/

[2022-04-20 20:11] HufsaEu opened #2942 "Ganache does not work with Webpack 5"
Hello,

I have a bigger project and wanted to use Ganache but I had issues with getting this to work. So I tried creating a minimal project and it looks like it fails with the same errors:

package.json
[code]

webpack.config.js
[code]

index.js (taken from one of ganache examples, no changes)
[code]

After running build command `npm run build` i get following errors:

[code]

[2022-04-20 20:29] davidmurdoch commented on #2942
Ganache is already webpacked, and I wouldn't try webpacking Ganache again, it will get complicated due to all the native dependencies. You can try to use the web version, which has all native dependencies removed `./dist/web/ganache.min.js`.

We also ship [@ganache/core](https://www.npmjs.com/package/@ganache/core), which isn't already webpacked.

To webpack yourself you'll probably want to take i

[2022-04-20 20:31] davidmurdoch commented on #2934
I think we can consider this as implemented in #2565

[2022-04-20 20:31] #2934 closed, assigned to nobody

[2022-04-20 21:01] davidmurdoch commented on #2907
TypeScript 4.7 may make this possible: https://devblogs.microsoft.com/typescript/announcing-typescript-4-7-beta/#instantiation-expressions

[2022-04-20 23:16] #554 closed, assigned to nobody

[2022-04-20 23:54] MicaiahReid opened #2945 "Log to update user of current `baseFeePerGas`"
Every time a block is mined, add to a log the new `baseFeePerGas`.

Would be dope.

[2022-04-21 07:22] Cristliu opened #2947 "Some confusing questions"
What is the consensus mechanism of ganache?
How does ganache automate mining?
Is it possible to see the time efficiency from transaction issuance to network-wide consensus in ganache?

[2022-04-21 11:20] cds-amal commented on #2535
@juliusgambe it is possible this is a PATH discrepancy.

Does `whereis python3` resolve to `"/Applications/Xcode.app/Contents/Developer/usr/bin/python3"`? If it doesn't see [Configuring Python Dependency on the node-gyp](https://www.npmjs.com/package/node-gyp)

[2022-04-21 11:30] #2947 closed, assigned to nobody

[2022-04-21 13:21] MicaiahReid commented on #2125
I've confirmed that types from Ganache v7.0.2 and above are compatible with web3 v1.7.3.

[2022-04-21 13:21] #2125 closed, assigned to MicaiahReid

[2022-04-21 17:52] haltman-at commented on #2918
Hi @VarunSaiTeja, could we get more information about your environment so we can attempt to reproduce this?  Thank you!

(Also worth noting, this issue appears to be related to #2535 and #2445.)

[2022-04-22 20:23] davidmurdoch commented on #135
WIP: https://github.com/trufflesuite/ganache/tree/feat/getRawTransactionByHash

[2022-04-22 20:24] davidmurdoch commented on #276
Closing this one since Ganache has since been refactored

[2022-04-22 20:30] davidmurdoch commented on #146
Closing this one for issue maintenance :-)

[2022-04-22 20:32] davidmurdoch commented on #154
Closing for issue maintenance :dagger:

[2022-04-22 20:37] davidmurdoch commented on #160
You can now do this via `evm_setAccountBalance`

[2022-04-22 20:50] davidmurdoch commented on #255
Closing this one for issue maintenance, as Ganache has been rewritten since this issue was first opened.

[2022-04-22 20:52] davidmurdoch commented on #287
Closing for issue maintenance.

[2022-04-22 22:29] davidmurdoch commented on #308
Closing as I've confirmed that this is no longer an issue.

[2022-04-22 22:38] davidmurdoch commented on #402
Closing as I've confirmed that this has been fixed in v7

[2022-04-22 22:47] davidmurdoch commented on #475
Closing this one since v7 has been released to "latest" (stable).

[2022-04-22 23:12] davidmurdoch commented on #453
I'd like to test this again with Ganache v7, but since the linked repo doesn't have any tests demonstrating expected behavior I'm having a hard time determining if Ganache v7 is handling things correctly or not. @haltman-at can you take a look or let me know what to expect? Tests that do something like `await assert.rejects(instance.badUtf8(), expectedRejection)` would help a lot!

[2022-04-23 00:43] haltman-at commented on #453
Oh, wow, I'd completely forgotten about this issue.  Yeah, I'll go check if this is still occurring with Ganache 7, close it if not, and get you the tests you want if so.

[2022-04-23 01:08] haltman-at commented on #453
OK, yes, the bug is still occurring.  Interestingly, I need to do a call in order to see the error in Truffle; if I do a transaction everything looks fine.  (I'm assuming the bug is still there under the hood but is just not making it through in that case.)

[2022-04-23 01:24] haltman-at commented on #453
Oh, the error is also visible with `estimateGas`, actually.  Tried these also manually with web3 in addition to via Truffle; the error is still visible when doing `call` or `estimateGas` manually with web3.  Not with transactions since the revert message doesn't go in the error in that case; so with Truffle, the error's not visible in that case because we do our own decoding rather than relying on

[2022-04-25 15:05] davidmurdoch commented on #453
@haltman-at there are still no tests at https://github.com/trufflesuite/solidity-test-cases/tree/master/returndata-test

[2022-04-25 15:28] haltman-at commented on #453
Oops, forgot to push, thanks!  Should be up now.

[2022-04-25 16:39] davidmurdoch commented on #453
Awesome! Thanks, I think this is a web3 problem, as calling ganache (i'm using v7.0.4) directly with node's `http` works fine.

Here is my modified test case:

[code]

[2022-04-25 16:59] haltman-at commented on #453
Oh, yikes.  Meanwhile I just tested it with `provider.send` and it still had the problem.  So if it's a problem with web3, it's a problem at a lower level than web3 itself; it's a problem with web3's providers.  Would web3 still be the appropriate repo to file the issue against...?

[2022-04-25 17:06] haltman-at commented on #453
...yup, just confirmed it myself with `axios` based on your suggestion.  The problem is definitely in the provider.  Dammit.  Well, closing this issue, I'll open a new one with web3, I guess...

[2022-04-25 19:28] haltman-at commented on #453
OK, filed an issue with web3: https://github.com/ChainSafe/web3.js/issues/4976

[2022-04-26 07:11] RiccardoBiosas commented on #2586
I can confirm the same error on Ganache CLI v6.12.2 (ganache-core: 2.13.2)

[2022-04-26 14:31] davidmurdoch commented on #2586
@RiccardoBiosas  `ganache-cli` and `ganache-core` are deprecated, use the `ganache` package (v7). That said, this issue also occurs in that version, but will be fixed by #2944 soon.

[2022-04-26 15:28] RiccardoBiosas commented on #2586
@davidmurdoch Yes, I downgraded it to check if it was a temporarily viable workaround for the issue. Anyway looking forward to the fix, thanks!

[2022-04-27 02:58] haltman-at commented on #2680
Closing for now as probable duplicate of #2509, but @teknoxic if you have more info that gives us reason to think this is different we can perhaps reopen this.

[2022-04-27 02:58] #2680 closed, assigned to nobody

[2022-04-28 20:17] MicaiahReid opened #3002 "Update documentation for `eth_call`"
I forgot to update documentation under #2565 cause I'm a dummy. Add `overrides` to `eth_call` RPC method documentation.

[2022-04-29 11:24] tylde opened #3004 "Ganache image options in Github Actions"
Hello, I would like to use ganache image as service container in github actions.
I cannot find how to apply options like `--wallet.seed`. Is it possible?

My current configuration:
[code]

[2022-04-29 11:51] miohtama opened #3006 "Fork transaction mining fails randomly: EIP1559FeeMarketTransaction.fillFromResul: revert"
I am running the Ganache fork against Ethereum mainnet. Sometimes transaction mining fails randomly.

[code]

Full Ganache traceback:
[code]

There are no further revert details like a reason. If I restart Ganache and attempt again there is no error. There also does not seem to be a pattern on which transaction I send, though I could be wrong and I just don't see a pattern yet.

Ganache arguments:

[2022-04-29 13:26] MicaiahReid commented on #3006
Hi @miohtama, would it be possible to post a transaction that is failing the next time this happens?

[2022-04-29 16:11] #3004 closed, assigned to nobody

[2022-04-29 20:50] abstractumx opened #3011 "ganache-cli global installation failed - permission denied"
Hello!

i am trying to install
[code]
but i have the following issue:
[code]
Should I install ganache using root profile? Is not possible to use a non root user? There is a possibility to authorize only this user  for the installation whiteout using root user?

Thank you

[2022-04-29 21:05] davidmurdoch commented on #3011
Looks like you may have used sudo to install something globally before. You probably shouldn't be using sudo with npm or yarn.

I know it sounds extreme, but if you've used sudo in order to install npm packages and don't understand the ramifications of doing so (it allows the package author, or any of the authors of dependencies that package relies on to do anything everything they desire with you

[2022-04-29 21:05] #3011 closed, assigned to nobody

[2022-04-30 08:17] miohtama commented on #3006
Happy to try to create a repeatable example. Will take some time.

Some other comments  and questions

- This is mostly an issue with long running operations (long delay between transactions)

- The same issue with the public Binance smart chain endpoint

- Would the underlying Ethereum mainnet node receiving new blocks somehow break Ganache fork?

[2022-05-02 18:14] msuscens commented on #2029
👍  I suspect this issue breaks the ganache-time-traveller library - which means I'm unable to use Ganache v7 with the project I'm developing as all my truffle tests extensively use TimeTraveller (my tests work fine with Ganache 6).

[2022-05-02 18:20] davidmurdoch commented on #2029
@msuscens, I believe this was _mostly_ fixed in https://github.com/trufflesuite/ganache/commit/c32aee8aad4ab5357c54eb5f45383316c844ceda, but we've since discovered a race condition that can cause some issues. We have a PR in progress to solve this race condition here: https://github.com/trufflesuite/ganache/pull/3016

[2022-05-02 19:31] abstractumx opened #3019 "npm install ganache -g failed | Ubuntu 21.10 | node -v v18.0.0 npm -v 8.8.0"
Hello @trufflesuite

i am trying to install ganache on ubuntu with the following

[code]
i got this errors:

[code]

i search online that on linux you have to use:

[code]
but for obv reasons, installing npm package with ```sudo``` privileges, is not a best practice
but this means that i change node_module folder parameters/variables and it could be dangerous for security reason. Am I correct?

--

[2022-05-02 19:46] abstractumx commented on #3019
I've found out that i can run it using the GUI running the following command:

[code]
but still can't work using cli terminal

[2022-05-02 19:46] davidmurdoch commented on #3019
Was my [last answer](https://github.com/trufflesuite/ganache/issues/3011#issuecomment-1113730739) to this question not sufficient?

Note: official Node 18 support will be in the next release. Try Node 16.

[2022-05-02 19:46] davidmurdoch commented on #3019
Ganache GUI and ganache, the command line package, are different things (GUI uses its own ganache cli instance internally based on ganache v6)

[2022-05-02 20:16] davidmurdoch commented on #3019
Check out https://nodejs.dev/learn/npm-global-or-local-packages for a decent explanation.

[2022-05-02 21:11] abstractumx commented on #3019
Ok so basically is functional if I want use that package for all user of just for one installing it locally. Thank you!

[2022-05-02 21:14] davidmurdoch commented on #3019
No problem. Please feel free to close this issue if it has been solved for you.

[2022-05-02 21:41] davidmurdoch commented on #3006
@miohtama

No, ganache should be unaffected. It might be possible to get some strange bits of state if you fork at the real latest block via `--fork.blockNumber {some block number here}` and that block is reorged later on.

[2022-05-02 21:48] abstractumx commented on #3019
Yes last question: reading the link you have suggested before I found this:

I dont get the point by saying _**to use the code in the package as a set of tools on your local computer.**_
I would like to understand this, just to clarify if for my needs i have to install with -g flag or not!

Thank you!

[2022-05-02 21:59] davidmurdoch commented on #3019
You can use ganache from the command line: https://github.com/trufflesuite/ganache#command-line-use or programmatically: https://github.com/trufflesuite/ganache#programmatic-use

I don't know what your needs are, but you probably want to install it globally.

[2022-05-02 22:17] #3019 closed, assigned to nobody

[2022-05-02 22:30] davidmurdoch commented on #3002
closed by #3007

[2022-05-02 22:30] #3002 closed, assigned to MicaiahReid

[2022-05-03 00:33] #2586 closed, assigned to nobody

[2022-05-03 00:33] #2600 closed, assigned to nobody

[2022-05-03 04:46] kimpace19882627 opened #3021 "bigint: Failed to load bindings, pure JS will be used (try npm run rebuild?)请求大神解决"
bigint: Failed to load bindings, pure JS will be used (try npm run rebuild?)

Compiling your contracts...
===========================
✓ Fetching solc version list from solc-bin. Attempt #1
✓ Downloading compiler. Attempt #1.
✓ Downloading compiler. Attempt #2.
✖ Downloading compiler. Attempt #3.

[2022-05-03 12:17] davidmurdoch commented on #3021
What version of node are you on and what operating system?

[2022-05-03 22:33] davidmurdoch opened #3025 "Maybe add experimental `issuance` tracking"
See: https://github.com/ethereum/go-ethereum/pull/24723

Give this a :+1: if you'd want this in Ganache!

Note: this may be impossible to do with forking unless the remote node also enables an `eth_issuance` endpoint, as crawling every single block via forking is impractical.

[2022-05-04 20:51] MicaiahReid opened #3030 "`blockTime > 0` mode mines more than one block in each call to the miner"
When `blockTime > 0`, the miner should behave more like a real node in that a new block begins mining every `blockTime` seconds. It should mine a single block, then wait `blockTime` seconds again, regardless of how many transactions are in the pool.

Currently, ganache mines _all_ transactions in the pool, regardless of how many blocks it takes, every time `blockTime` elapses.

[2022-05-05 17:34] davidmurdoch opened #3033 "Investigate using github's CODEOWNERS feature"
We can require PR approvals from the "code owner". More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

[2022-05-05 23:40] 0xvanbeethoven opened #3035 "ganache installation problem"
Ganache won't run, after installing the newest version. Error message:
zsh: abort      ganache

[2022-05-05 23:47] davidmurdoch commented on #3035
What os? What node version? What npm version? What command are you running?

[2022-05-05 23:53] 0xvanbeethoven commented on #3035
Ganache 8.9.0 on Mac Montery 12.3.1 (M1) simply running ganache

[2022-05-05 23:53] 0xvanbeethoven commented on #3035
<img width="1440" alt="Capture d’écran 2022-05-05 à 18 53 38" src="https://user-images.githubusercontent.com/103021596/167045097-28a8d62e-94e5-4837-8daa-cb540cb41bc2.png">

[2022-05-05 23:54] 0xvanbeethoven commented on #3035
<img width="1440" alt="Capture d’écran 2022-05-05 à 18 54 15" src="https://user-images.githubusercontent.com/103021596/167045156-3d53ea74-0fc1-468e-9c8e-34c71ade9368.png">

[2022-05-06 00:35] davidmurdoch commented on #3035
Ganache 8.9.0 isn't a thing, that's the npm version. It looks like you might be running npm 8.9.0 on node 12. Can you try node 14 or node 16?

[2022-05-06 00:59] 0xvanbeethoven commented on #3035
Yes, I must say I am very new to testing and using ganache, how would I go about doing that.

[2022-05-06 01:25] 0xvanbeethoven commented on #3035
Ooh I think I fixed it thanks so much

[2022-05-06 02:30] #3035 closed, assigned to nobody

[2022-05-07 22:39] merlox commented on #2918
I get the same error it's so annoying

[2022-05-07 23:43] davidmurdoch commented on #2918
Can you try using npm 6 (the default version the ships with node 14)?

[2022-05-09 19:30] ccornici commented on #2918
Same error

[code]

[2022-05-09 20:44] davidmurdoch commented on #2918
What is the result of running `npm --version`?

[2022-05-09 22:22] ccornici commented on #2918
[code]

[2022-05-10 12:11] davidmurdoch commented on #2918
Can you try using npm 6 (the default version the ships with node 14)?

[2022-05-10 12:21] ccornici commented on #2918
I don't have node 14. Is Genache only working with node 14?

[2022-05-10 13:41] davidmurdoch commented on #2918
No it works with node v12-16 (v18 support is coming in the next release). Npm can be a problem; the newer versions are very buggy.

You can also try reinstalling Node with Windows Build Tools checkbox enabled.

[2022-05-11 10:00] ccornici commented on #2918
This worked but....I'm not sure I'd call this a fix :)

[2022-05-12 13:19] kl456123 opened #3055 "incorrect hardfork options"
[code]

Type 'string' is not assignable to type 'Hardfork | undefined'.

[2022-05-12 13:20] kl456123 commented on #3055
what's wrong with the code, please help wanted!

[2022-05-12 13:42] davidmurdoch commented on #3055
Try `(options as any)`. There's a PR out to fix the types. Sorry about that!

[2022-05-12 18:05] MicaiahReid commented on #2879
Closing for issue maintenance.

[2022-05-12 18:05] #2879 closed, assigned to nobody

[2022-05-12 18:34] MicaiahReid commented on #2122
When forking, we currently set the "latest" block's timestamp to the user's current time. This can be a big gap from the previous "latest" block's (the fork block) timestamp. Add the option to auto-set that timestamp to the fork block's timestamp + 1.

[2022-05-13 12:54] kl456123 commented on #3055
Thanks, it works

[2022-05-13 12:54] #3055 closed, assigned to nobody

[2022-05-13 14:39] benjamincburns opened #3060 "Race condition between assignment of "latest" tag and persistence of the latest raw block data causing intermittent test failures"
If you wrap [the "should set storage slot and delete after" evm API test](https://github.com/trufflesuite/ganache/blob/917503b0ff9635241cc179bc2763ac94b4dfa859/src/chains/ethereum/ethereum/tests/api/evm/evm.test.ts#L207-L234) in a for loop such that it executes 100 times, you'll observe that it fails intermittently, due to the RPC method handler for `eth_getStorageAt` [throwing because it can't fi

[2022-05-13 14:51] cds-amal commented on #3060
whoa! nice @benjamincburns ! Do you have a test set up for this?

[2022-05-13 15:08] benjamincburns commented on #3060
I caught it because I was observing intermittent test failures while running tests locally for another PR.

I didn't really isolate the exact cause of the issue however, so I couldn't write a test that guards against the problem recurring. The best way to detect it that I know of for now is to run the test that I mentioned in the description many times over and over again in a loop.

[2022-05-13 17:18] success-0627 opened #3061 "docker image with custom chainId"
![image](https://user-images.githubusercontent.com/53897531/168335025-9e070671-38dd-403a-9d4b-c54001591c21.png)

![image](https://user-images.githubusercontent.com/53897531/168335074-4af3314e-aa37-4775-9d2e-72cf974c7cc3.png)

If I remove `- "--chain.chainId 56"` / `- --chain.chainId 56` / `- "--chain.chainId=56"`, everything is ok.

[2022-05-13 17:19] success-0627 commented on #3061
PS: this is what I tried inside of my custom docker composer.
![image](https://user-images.githubusercontent.com/53897531/168335382-5e5b3816-12bc-4dab-a298-a11e3d953f34.png)

[2022-05-13 17:25] davidmurdoch commented on #3061
I don't think that is how use the docker compose `command` option. See their docs here: https://docs.docker.com/compose/compose-file/compose-file-v3/#command

[2022-05-13 17:31] success-0627 commented on #3061
I tried with that too. same error

[2022-05-13 17:56] davidmurdoch commented on #3061
I don't know much about docker, so i'm afraid I won't be able to help. I'll go ahead and convert this issue to a discussion.

[2022-05-13 17:56] #3061 closed, assigned to nobody

[2022-05-16 10:09] area opened #3076 "No longer able to access state trie"
I am working on a long-overdue upgrade to the latest ganache at [Colony](https://github.com/joincolony/colonynetwork), and believe I've hit a blocker now that that the internals of the provider are no longer accessible. We have [smoke tests](https://github.com/JoinColony/colonyNetwork/blob/develop/test-smoke/colony-storage-consistent.js#L67) that alert us if the state trie hash associated with a c

[2022-05-16 12:15] davidmurdoch commented on #3076
I think we can accommodate fairly quickly and easily! Can you share the original code that used Ganache's internals?

[2022-05-16 12:54] area commented on #3076
We'd obviously be happy with any way to access this, but as it stands this is what we're using:

[code]

where the provider came from `ganache.provider`

[2022-05-16 13:47] MicaiahReid commented on #3060
Good find, @benjamincburns. I have a PR (#3016) out to fix a similar issue that was caused by block being returned before it was persisted to the database.

I believe that PR should fix this too; I will wrap the test you mentioned in a loop to confirm that failures aren't still happening.

[2022-05-16 19:25] davidmurdoch commented on #3076
Thanks @area, do you think any of geth's existing debug methods would do the trick? If we implemented  https://geth.ethereum.org/docs/rpc/ns-debug#debug_getmodifiedaccountsbyhash do you think that would solve the problem?

[2022-05-16 21:48] CharlieMc0 commented on #1575
Any updates on this issue or work around? I am running into this issue as well

[2022-05-17 08:45] area commented on #3076
I don't think so. The pattern we're using is that we know what the storage hash we expect is, which is saved in the test itself, and want to compare the storage hash at the end of the series of tests with that hash. We expect the storage hash for an address to change as blocks are mined as the tests are run, as the contracts are used. As far as I can tell, that method would just return the address

[2022-05-17 13:10] MicaiahReid commented on #1575
@CharlieMc0 we have not started on this one yet. Will the workaround that @davidmurdoch posted above not work for you?

[2022-05-18 23:18] #2942 closed, assigned to nobody

[2022-05-18 23:30] lsqproduction commented on #2935
Close for issue maintenance. Please open a new issue if needed.

[2022-05-18 23:30] #2935 closed, assigned to nobody

[2022-05-19 00:41] MicaiahReid opened #3093 "a transaction's `locked` property is overloaded, causing issues"
A transaction has the `locked` property (according to [this comment](https://github.com/trufflesuite/ganache/blob/917503b0ff9635241cc179bc2763ac94b4dfa859/src/chains/ethereum/transaction/src/runtime-transaction.ts#L60-L63)) to be:

This is pretty vague, and the current implementation marks a transaction as locked if:
 - the miner is running AND
 - a transaction is the best executable transaction f

[2022-05-19 06:26] teymourian opened #3095 "https or SSL"
Hi friends
I'm running program ganache
Can run ganache in https / SSl mode
Thanks

[2022-05-19 12:20] davidmurdoch commented on #3095
Not currently, no. What case did you have in mind for using ganache with an SSL certificate?

[2022-05-19 13:34] kl456123 opened #3098 "how to use ganache to fork avax chain"
is it works for other evm chain?

[2022-05-19 14:15] davidmurdoch commented on #3098
I don't know. What did you try?

[2022-05-19 14:15] #3098 closed, assigned to nobody

[2022-05-19 14:20] teymourian commented on #3095
HI @davidmurdoch
When I use metamask wallet [on mobile] to test my network, using SSL is mandatory.
Thanks

[2022-05-19 18:09] its-everdred commented on #2918
@ccornici, agreed. Thanks for surfacing this, we'll make sure to fix it!

[2022-05-23 07:51] jeffsmale90 opened #3118 "eth_getTransactionByBlockNumberAndIndex and eth_getTransactionByBlockHashAndIndex always return transaction with index 0"
Both functions `eth_getTransactionByBlockNumberAndIndex` and `eth_getTransactionByBlockHashAndIndex` erroneously parse the index parameter to 0, regardless of the value.

The tests of this function currently pass, because they only test for calls to these functions with index value of 0.

[2022-05-23 15:00] SeanLuis commented on #2918
With the version of node 14 it works perfectly. I had the same problem with version 16 of node on MacOS. On Windows I tried and it works perfectly with version 16 of node and npm 8, you just have to install the version of python 3.9 and Visual Studio Community Edition 2019, the latter only the development tools for desktop and Node.js.

[2022-05-24 01:48] jeffsmale90 opened #3124 "New "chain mode" configuration option"
In some cases Ganache functions differently to Geth, see: https://github.com/trufflesuite/ganache/issues/2176, and it makes sense to continue to do so as a default.

Users may want to run Ganache configured in such a way that it more closely matches Geth.

This issue covers introducing a "chain mode" configuration option so that the user may specify something like `-chain.mode=geth` (this allows f

[2022-05-24 01:55] jeffsmale90 commented on #2176
As per comment from the geth team here: https://github.com/ethereum/go-ethereum/issues/24661#issuecomment-1098844658, and @MicaiahReid 's (excellent) summary here: https://github.com/trufflesuite/ganache/pull/2840#pullrequestreview-945716643, Geth's behaviour is:

| Gas Limit | Gas Price | Result | Notes |
| -------- | -------- | -------- | ----- |
| Unspecified     | Unspecified     | No error

[2022-05-24 16:30] wrong7 commented on #643
Hey, any news about this? I would like to resync my fork on every test I run without having to restart the file

[2022-05-25 15:20] MicaiahReid commented on #643
Hi all, we have begun work on this. I don't have an estimated release date yet, but it has moved up on our priority list because of all of the community interest. Thanks for your participation to show us what's important to you!

[2022-05-26 01:35] #3118 closed, assigned to jeffsmale90

[2022-05-26 10:13] Silur commented on #2935
on version 7.2.0, revert reasons/messages are always `undefined`

[2022-05-26 10:17] kl456123 opened #3140 "cannot fork from okc"
[code]

but some error happended
[code]
then I use hardhat instead
[code]
it runs well

[2022-05-26 12:37] davidmurdoch commented on #2935
@Silur , can you open your own issue with reproduction steps?

[2022-05-26 12:44] davidmurdoch commented on #3140
Looks like OKC is blocked in the United States, so testing this will be difficult for me. However, if a chain doesn't have an "earliest" block it is absolutely not an Ethereum compatible chain. So I imagine there are many other inconsistencies as well.

You can probably disable Ganache's cache with `--fork.disableCache` to work around this issue for now.

[2022-05-26 14:51] kl456123 commented on #3140
Thanks, it works!

[2022-05-26 15:12] davidmurdoch commented on #3140
Keeping this open so we can address this.

[2022-05-26 15:45] cds-amal commented on #2535
Hi @juliusgambe. I'm closing this for issue maintenance. Please comment if you would like it reopened.

[2022-05-26 15:45] #2535 closed, assigned to nobody

[2022-05-26 17:27] MicaiahReid commented on #2274
Closed by #2529

[2022-05-26 17:27] #2274 closed, assigned to MicaiahReid

[2022-05-26 18:11] davidmurdoch opened #3142 "change truffle-cicd npm user (robot that publishes packages) to something that is more obvious"
We need a good on-brand avatar image for the account as well.

[2022-05-26 18:13] davidmurdoch opened #3143 "add `ganache-core` and `ganache-cli` to the `ganache` package's package.json `keywords` array."
Reason: the `ganache` package doesn't seem to show up in npm search results for `ganache-core` and `ganache-cli`.

[2022-05-27 21:04] #2134 closed, assigned to davidmurdoch

[2022-05-28 02:29] #823 closed, assigned to satyajeetkolhapure

[2022-05-28 14:49] davidmurdoch opened #3152 "Add documentation for the `ganache` package to the website"
This is not the same as "Interactive Docs".

[2022-05-30 06:13] slav-arcadechain commented on #3021
The same issue on the following config:
[code]

[2022-05-31 14:04] #3143 closed, assigned to nobody

[2022-05-31 16:39] tenthirtyone commented on #2918
While investigating I am noticing the following packages on Node 14+ requiring `node-gyp rebuild`.

On a Windows 10 VM I can confirm without the additional windows build tools for node-gyp this is where the install bombs out. I believe some of the related issues corroborate

[code]

Strangely, on node 16 & 18 I am noticing the prebuild package `@trufflesuite/bigint-buffer` also requiring `node-gyp

[2022-05-31 21:45] #3060 closed, assigned to MicaiahReid

[2022-06-01 00:22] #3030 closed, assigned to MicaiahReid

[2022-06-01 08:12] EasyChris opened #3166 "when i use ganache-cli can capture `logs` but use ganache i cant capture logs，the logs is null"
when i used `ganache-cli` fork mainnet ，it will show the logs
[code]

but when i use `ganache` fork mainnet,it only show `logsBloom`, `logs` show [],null array

[code]

[2022-06-01 12:36] MicaiahReid commented on #3166
Hi @EasyChris, thanks for opening the issue!

Could you help us out in getting to the bottom of this by being explicit with some details? What commands are you using to start `ganache` and `ganache-cli` in each case? What is the transaction that you are sending and the receipt for each case?

Thanks!

[2022-06-01 13:02] EasyChris commented on #3166
I'm more than happy to add details

i start ganache-cli commands is

[code]
ganache commands is:

[code]

transaction is  test mint some nft in my local fork network

[code]

hope this  detail can helps you recover the bug, if any i forget  add other detail tel me ~

because no logs that i can't subscribe the logs for test

[code]

[2022-06-01 13:17] MicaiahReid commented on #3166
Are you sure you're forking at the correct block number? Looking at your transaction receipt, it says the block number is `10774685`. The contract you're sending to, from what I can see, wasn't made until block `14864764`. It looks like you're just sending a message to the contract address before it's a contract, so nothing is happening.

That would also explain why the gas used for the transactio

[2022-06-01 13:27] EasyChris commented on #3166
@MicaiahReid  i am so sorry that is my mistake

Thanks for the correction!!!

[2022-06-01 13:27] #3166 closed, assigned to nobody

[2022-06-01 14:23] ilovers commented on #3140
This issue has been fixed by the okc community. Now it works fine with ganache.

[2022-06-01 14:54] davidmurdoch commented on #3140
Thanks @ilovers for the update. I originally kept this open because we could fall back to querying for block `0` if `"earliest"` doesn't exist. But since this is such an unlikely issue I think it is okay to close this as "won't fix".

[2022-06-01 14:54] #3140 closed, assigned to nobody

[2022-06-01 16:58] tenthirtyone commented on #2918
I was able to get this running on Windows 10 running Node 16 by rebuilding the `bigint-buffer` package supplying specific targets for Node version.

Steps:
1. I forked `@trufflesuite/bigint-buffer` [here](https://github.com/tenthirtyone/bigint-buffer).
2. I re-ran the prebuildify in node 16.9.1 for each platform while specifying targets in node 16 and 14
`prebuildify --napi --platform darwin --arc

[2022-06-02 04:03] jeffsmale90 opened #3169 "JSON-RPC data types could have valueOf removed"
`Quantity`, and `BaseJsonRpcType` both have `valueOf` methods.

These initially were intended to allow basic math to be performed, such as:

[code]

As per this comment: https://github.com/trufflesuite/ganache/pull/2983#discussion_r886200072

Outside of tests, there's no references to `valueOf` anywhere in the codebase, but they _are_ used implicitly. (Removing these functions result in test failu

[2022-06-02 15:11] HassanSayyed opened #3171 "ganache script disabled on windows"
After Installing ganache using npm

When I try to access **ganache** I receive the following error message due to restriction

[2022-06-02 15:49] tenthirtyone commented on #3171
Hello @HassanSayyed

Thank you for reporting this. The `ganache: [path]\ganache.ps1 cannot be loaded because running scripts is disabled on this system.` is a known npm issue and I can help you resolve it.

When `npm` installs ganache on Windows the `ganache.ps1` file is created. Windows PowerShell will run this script when the `ganache` command is invoked on the PowerShell command line. As a feat

[2022-06-02 16:59] davidmurdoch commented on #3006
Closing for issue maintenance. If you do create a repeatable example please to update us here!

[2022-06-02 16:59] #3006 closed, assigned to nobody

[2022-06-02 19:30] davidmurdoch opened #3173 "Investigate performance of hex string to buffer conversion"
This micro benchmark tests various ways of validating a 0x-prefixed string and converting it to a Buffer.

We should investigate if any of these are worth switching to.

[code]

[2022-06-02 22:32] HassanSayyed commented on #3171
### Resolved ✔
you was right it was an npm error, Unfortunately the Options you mentioned didn't work. but the problem was solved using [yarn](https://yarnpkg.com/)

### Solution  using yarn

1. Make sure to uninstall [ganache ](https://github.com/trufflesuite/ganache)from npm  (in case added before using npm)

- run `npm uninstall ganache-cli & npm uninstall ganache`
- from `C:\Users\%username%\A

[2022-06-02 22:32] #3171 closed, assigned to nobody

[2022-06-02 22:38] davidmurdoch commented on #3171
@HassanSayyed Take care when using `yarn`, as the resulting code you get from yarn will differ depending on _when_ you install it, as it does not respect published lock files like `npm` does; when installed via yarn the dependencies ganache requires may be different than the dependencies we used when originally tested then published ganache.

[2022-06-02 23:12] davidmurdoch commented on #3076
@area sorry we haven't gotten to this yet. Would your be able to use the `storageHash` property of `eth_getProof` if we added support for it?

It returns the account's `stateRoot`: https://github.com/ethereumjs/ethereumjs-monorepo/blob/3e4e7bed681bfa6d1c95abbcc28f6508e828339d/packages/vm/src/state/stateManager.ts#L338

[2022-06-02 23:17] jeffsmale90 opened #3174 "Handle `null` and `undefined` values in JSON-RPC data types"
## Undefined value
Presently all `JSON-RPC` data types will accept `undefined` as a value. This will be treated the same as `null` or an empty Buffer.

Consider whether `undefined` value should be rejected. This will make the behaviour more clear but will stop us from doing things such as:

[code]

## Quantity.toBuffer()
Quantity instances with null value:
[code]

Will always return `BUFFER_EMPTY`

[2022-06-06 03:22] kl456123 opened #3186 "fork mainnet at the specified block number but the timestamp is not matched with it"

[2022-06-06 03:24] kl456123 commented on #3186
now I have to specify chain.time manually before start forknet to force it

[2022-06-06 10:50] area commented on #3076
I believe that would be sufficient for us, yes.

[2022-06-06 13:20] davidmurdoch commented on #3076
@MicaiahReid want to tackle eth_getProof next?

[2022-06-06 13:23] davidmurdoch commented on #3186
What version of Ganache?

[2022-06-06 16:35] kl456123 commented on #3186
v7.1.0

[2022-06-06 17:41] drortirosh commented on #1470
It is very problematic that ganache is partial eip-1559 `eth_feeHistory` is a required part of it.

[2022-06-07 00:01] davidmurdoch commented on #3186
What command are you using?

[2022-06-07 00:04] kl456123 commented on #3186
use `chain.time` to set timestamp in options

[2022-06-07 00:05] kl456123 commented on #3186
[code]

[2022-06-07 00:20] davidmurdoch commented on #3186
How are you determining that the time is wrong?

[2022-06-07 00:26] kl456123 commented on #3186
otherwise I will get revert due to timestamp checks

[2022-06-07 00:30] kl456123 commented on #3186
This is the expiration check.
[code]

[2022-06-07 01:35] davidmurdoch commented on #3186
Ah, ganache uses your system time by default, even for forked blocks. We'll be adding a new option, `miner.timestampIncrement`, that will let you tell ganache how many seconds apart you want your blocks to be. Here is the PR for the feature: https://github.com/trufflesuite/ganache/pull/3131

This got me thinking that when forking we really should probably always set the time to the for block's tim

[2022-06-07 01:54] kl456123 commented on #3186
Yep, If that, it will not make any more confusion.:smiley:

[2022-06-08 16:11] davidmurdoch opened #3203 "interactive documentation's `debug_storageRangeAt` doesn't work"
The contract is missing the `setValue` function.

[2022-06-08 16:48] davidmurdoch opened #3204 "add "finalized" block tag"

[2022-06-09 01:19] davidmurdoch commented on #2122
fixed by #3131

[2022-06-09 01:19] #2122 closed, assigned to nobody

[2022-06-09 16:32] CryptoWizardsNet opened #3207 "-H SERVER CRASHING"
Hi team,

ganache --fork.url https://bsc-dataseed1.defibit.io -p 8545 -h <MY PRIVATE IP>

when running the command the above command, everything works fine. Until I close and reopen ganache a number of times via cron (every 15 mins). Then everything crashes and repeats transactions like what is showing on the attached. I have tried:

1. killing all ganache processes
2. uninstalling and reinstallin

[2022-06-09 17:54] davidmurdoch commented on #3207
Can you copy+paste all the output instead of a screenshot?

[2022-06-09 18:10] fainashalts commented on #2561
Might want to add a chain history file that may include a genesis file to tell Ganache what to apply to the fork. This may also be addressed in Ganache plugins, but would be nice to be able to do it from Ganache proper.

There is an older issue related this, see: #1042

[2022-06-10 02:53] mliudev opened #3210 "Way to quickly generate 1,000,000,000 accounts and unlock them."
ganache v7.0.3

Is there a quick way to startup ganache with many many accounts unlocked and with the default balance of ether?

This would be really useful for testing. I think at least 10,000 accounts with ether and unlocked would be great. I tried using `--wallet.totalAccounts 10000` but I end up with no unlocked accounts. I only get unlocked accounts when I leave that argument out.

[2022-06-10 03:04] mliudev commented on #3210
Actually closing this issue. I had `--accounts 10 and --wallet.totalAccounts 10000` defined at the same time.

[2022-06-10 03:04] #3210 closed, assigned to nobody

[2022-06-11 01:41] robmcl4 opened #3214 "Several bugs in `debug_traceTransaction`"
There are several bugs causing strange behavior of `debug_traceTransaction`.

I'll briefly enumerate the issues below, then dig into the root cause. Here is a gist with a script that demonstrates the issues: https://gist.github.com/robmcl4/164d02de04c8708817c5c32a9c325843

## Summary

1. `gas` returned does not include the gas refund, so it is over the true amount of gas spent (as an aside, I woul

[2022-06-13 20:44] MicaiahReid commented on #2398
@davidmurdoch, just to confirm, is this a typo on the title? `ganache --miner.blockGasLimit` should not accept `"estimate"` as an input value. Like your issue description says, we care about `--miner.defaultTransactionGasLimit`, right?

[2022-06-13 20:44] robmcl4 commented on #3214
It's probably important to note: I think that the work-around for (2) is not a complete fix: if the deeper call reverts, then the outer call's state must _not_ be modified.

[2022-06-13 21:12] davidmurdoch commented on #2398
Sounds like a typo. Maybe everything works fine?

[2022-06-13 21:15] MicaiahReid commented on #2398
Nope, `ganache --miner.defaultTransactionGasLimit estimate` fails with the error specified above. (so does `ganache --miner.blockGasLimit estimate`, but I don't think we want that one to work)

[2022-06-13 21:20] MicaiahReid commented on #1470
@seaona any updates on a PR for this? No worries if you haven't been (or won't be) able to, just checking in.

[2022-06-13 21:38] MicaiahReid commented on #2029
@davidmurdoch, #3016 should have fixed this. I can add tests to make sure of this.

In terms of subscription timings, we fire those off as they are ready rather than waiting for all blocks to be mined. Do you think that's a problem? I don't think we know what the preferred behavior would be, I'd vote not to hold up this issue and to leave as is. Maybe we could also put up a poll in the GitHub Disc

[2022-06-14 14:42] jeffsmale90 opened #3234 "eth_getProof not supported on forked network"
#3076 implements eth_getProof, without support for a forked network.

Need to consider whether / how we can fix this.

[2022-06-14 23:42] a3gh commented on #2096
Browser use currently doesn't work in[ the way proposed by docs](https://cdn.jsdelivr.net/npm/ganache@7.3.0/dist/web/ganache.min.js), due to big bundle size. JSDelivr returns HTTP 403 along with the content:

[2022-06-15 14:15] acaladolopes commented on #643
Hi, I'm also very interested in this feature. I need to perform simulations against the very latest state of the blockchain. I'm currently using hardhat for forking/simulation, but it's slow compared to Ganache.

[2022-06-15 20:03] davidmurdoch opened #3239 "Ensure other dev tools can handle console.log(uint256) (like remix)"

[2022-06-15 22:08] #2725 closed, assigned to nobody

[2022-06-15 22:08] #2728 closed, assigned to nobody

[2022-06-15 22:08] #2857 closed, assigned to nobody

[2022-06-15 23:21] jeffsmale90 opened #3240 "Standardise private members"
Throughout the codebase we use javascript private class fields [[see docs here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields)], and typescript `private` modifiers to signify private members.

[code]

The Javascript private class fields have a performance cost - in part due to how they are implemented in v8 (although this may not be the case in more

[2022-06-16 07:53] weiyuan95 opened #3243 "RPC call to `evm_mine` hang indefinitely with `--miner.instamine=strict` on v7.3.0"
As per title, RPC calls to `evm_mine` seem to never resolve on v7.3.0. However when tested on v7.2.0, it works as expected, and the RPC call resolves. I'm running Ganache with `--miner.instamine=strict` and `--logging.verbose` flags  via a docker container and making 2 calls to `evm_mine` with `[{ blocks: 1 }]` via RPC.

Here are the full logs, i've removed the addresses and private keys for brevi

[2022-06-16 13:12] MicaiahReid commented on #3243
Thanks for reporting this, @weiyuan95! It does look like this but was introduced by my feature in v7.3.0, I'm working on a fix now!

[2022-06-16 17:31] MicaiahReid opened #3248 "Multiple concurrent calls to `evm_mine` without awaiting will only mine 1 block"
[code]

This test fails with `expected: 5, actual: 1`

[2022-06-16 17:55] jeffsmale90 opened #3249 "`eth_getProof` tests compare with static hex values"
It would be nice if we could invert the dependencies and gain access to the underlying trie, and use the likes of SecureTrie.query in order to generate the expected values, and remove the `deterministic` flag from the provider configuration.

[2022-06-16 21:02] #3243 closed, assigned to MicaiahReid

[2022-06-19 19:18] mosinnik commented on #1056
@MicaiahReid any news?

[2022-06-20 09:35] StillFantastic commented on #3186
Agree, it makes more sense to use forked blocks' timestamp

[2022-06-21 11:52] msuscens commented on #2029
@davidmurdoch I've tried again under v7.3.1 but I still get the same issue when advancing time:  I've described the issue in full here: https://github.com/trufflesuite/ganache/discussions/3264

Is being unable to correctly advance time being caused by this issue?  Or is it another issue - in which case shall I create a new issue (from my discussion post)?

[2022-06-21 13:39] msuscens opened #3265 "calling `evm_mine` with a `timestamp` does not persist time offset"
### Discussed in https://github.com/trufflesuite/ganache/discussions/3264

I'm opening as  an issue as suggested by @davidmurdoch

<div type='discussions-op-text'>

<sup>Originally posted by **msuscens** June 21, 2022</sup>
Hello,

I have Truffle tests that successfully pass with Ganache v6 but fail with Ganache v7.3.1.  The truffle tests in question use the ganache-time-traveler utility to advanc

[2022-06-21 13:50] MicaiahReid commented on #3265
Hi @msuscens, thanks for opening this issue!

I took a look at the ganache-time-traveler library and the `advanceTimeAndBlock` function. I've tested the general functionality of advancing time via and `evm_mine` call like the `advanceTimeAndBlock` function does and it seems to be working fine. Are you able to share a repo for me to do a little more digging to see what the issue could be?

Thank yo

[2022-06-21 13:52] MicaiahReid commented on #1056
Hi @adridadou & @mosinnik, nothing yet. Since there's been some community interest, I'll be sure to increase priority on this. Thanks!

[2022-06-21 20:48] msuscens commented on #3265
Hello @MicaiahReid , thank you for looking into this issue.

I've created a public repository with a cut-down version of my full project. I've also added a README file that shows what I'm experiencing under Ganache 6.12.2 vs Ganache 7.3.1.   Simply execute 'truffle test' under each version of Ganache.

https://github.com/msuscens/Egg.git

Please let me know if you need anything else in order to in

[2022-06-22 08:04] FatTigerWang commented on #509
I have the same problem, need to be able to set the next mined block timestamp

[2022-06-22 14:58] MicaiahReid commented on #3265
Hi @msuscens. I've done some digging, and you can use the `--miner.timestampIncrement 1` flag when starting Ganache v7.3.1 or greater to fix this issue. This will have the miner set a block's timestamp to `previousBlock.timestamp + 1` rather than using your computer's time.

It looks like the `evm_mine` function _does_ correctly set the mined block to the specified timestamp. However, if the miner

[2022-06-22 15:26] MicaiahReid commented on #2788
@davidmurdoch, can you clarify on the below?

Are you saying that if the client sends another request, the keepAlive timeout will start over, and this will hole open the connection? @cds-amal and I are looking into another issue with Ganache not shutting down and are wondering if this is the cause.

[2022-06-22 18:59] davidmurdoch commented on #3265
I did some digging and I think this may be a regression in ganache v7. Previously, `evm_mine` would cause the internal clock offset to be updated to the given `timestamp` value. See:

`evm_mine` is here:
https://github.com/trufflesuite/ganache/blob/efa9c470503f667294fe78df6e0f6ee70382a151/lib/subproviders/geth_api_double.js#L557

which leads to here:

https://github.com/trufflesuite/ganache/blob/e

[2022-06-22 19:00] MicaiahReid commented on #3265
Great find, @davidmurdoch!

@msuscens, hopefully using the `--miner.timestampIncrement 1` flag will suffice as a workaround until we get a fix released.

[2022-06-22 19:34] davidmurdoch commented on #2788
As of #2667 Ganache _will_ close the connection if another request is sent within the `keepAlive` window. What I'm am saying above is that we don't _proactively_ close the keep alive connection (we wait for it to timeout or for another request to come in over the connection in order to close it).

[2022-06-22 21:13] davidmurdoch opened #3271 ""should return the `timeAdjustment` value via `evm_increaseTime` when provided as a number" test is flaky"
Presumably due to the combination of Math.floor and using the system clock for our tests.

[2022-06-23 17:17] davidmurdoch opened #3276 "Persistent cache fast-check failure for `seed: 11391120`, `path: "28"`"
https://github.com/trufflesuite/ganache/runs/7027746355?check_suite_focus=true#step:6:1595

[code]

Node 12.x on Ubuntu 20.04

[2022-06-23 17:17] davidmurdoch commented on #3142
Done (it now uses the truffle logo)

[2022-06-23 17:17] #3142 closed, assigned to nobody

[2022-06-23 18:44] msuscens commented on #3265
Thank you @MicaiahReid / @davidmurdoch,

Yes, I can confirm that using --miner.timestampIncrement 1 flag on my full project resolves the issue!  Thank you both very much!!  I can now finally use Ganache v7 🚀

I do have another issue with Truffle tests running with Ganache but I'll investigate further first and then post in the Q&A section.

Thanks again,
Mark

[2022-06-24 06:44] sangramz opened #3279 "Can't install Ganache on WSL ubuntu 22.04- Shows "idealTree Problem" and then "npm ERR! code ENOTEMPTY ""
I'm new to Nodejs and to be able to run or practice solidity locally on my PC, I tried installing ganache CLI on my Windows WSL which is in Ubuntu 22.04. However I'm seeing following errors while trying to install via npm:

![Screenshot (176)](https://user-images.githubusercontent.com/19799728/175477865-e01660ee-5546-48fd-9f45-7b6b660fa5dc.png)

After waiting for like 5-10 mins I guess, This showe

[2022-06-24 16:16] davidmurdoch commented on #3279
Hm, not sure what's happening here. Can you post the complete log of the run (in text format, not a screenshot :-) )?

[2022-06-24 16:33] davidmurdoch opened #3283 "External Contributor PRs don't have access to environment secrets and can't run checks/tests that use them"
Tests that use the `INFURA_KEY` env variable aren't run on external contributor PRs because environment variable secrets aren't available to external contributors.

Also, the bundle size check in the pr.yml action doesn't work and will _always_ fail.

We need to figure out how to allow external contributor PRs to run tests and checks that require access to secrets.

[2022-06-24 16:37] davidmurdoch commented on #3283
I think we need to use "Environment secrets" to do this.

[2022-06-24 17:23] #2398 closed, assigned to tenthirtyone

[2022-06-24 19:08] eggplantzzz opened #3287 "Change from using eth-sig-util to using @metamask/eth-sig-util"
According to the npm page for eth-sig-util, it has been deprecated in favor of @metamask/eth-sig-util (see https://www.npmjs.com/package/eth-sig-util).

[2022-06-24 19:14] davidmurdoch commented on #1245
closed by #3130

[2022-06-24 19:14] #1245 closed, assigned to davidmurdoch

[2022-06-24 19:18] davidmurdoch commented on #2918
This should be fixed by #3208 in the next release

[2022-06-24 19:18] #2918 closed, assigned to tenthirtyone

[2022-06-24 19:18] davidmurdoch commented on #2445
This should be fixed by #3208 in the next release

[2022-06-24 19:18] #2445 closed, assigned to tenthirtyone

[2022-06-24 19:18] davidmurdoch commented on #2256
This may be fixed by #3208 in the next release

[2022-06-24 19:18] davidmurdoch commented on #3021
This should be fixed by #3208 in the next release

[2022-06-24 19:18] #3021 closed, assigned to tenthirtyone

[2022-06-25 10:14] sangramz commented on #3279
Here is the log file output:
[code]

[2022-06-25 18:29] cds-amal opened #3293 "Ganache Provider does not shut down in eager mode"
Hi 👋, I notice some confusing behavior when using `Ganache.provider` with `instamine: eager`. If I call `await provider.disconnect()`, the process does not exit, however the process exits when the disconnect method is removed.

I created a [reproduction repo](https://github.com/cds-amal/ganache-no-exit) for your convenience.

- node: v16.15.1
- platform: OS X 12.3.1 m1, Ubuntu 20.04.4 LTS

[2022-06-27 14:30] CH1M4C opened #3300 "Is it intended to be able to fork without an api key?"
compiled ganache embed infura api key, so provide access archive node without own api key.
[this](https://github.com/trufflesuite/ganache/pull/1579) branch name is "free-forking" so I'm confused about whether it is intended or not.
If it is not intended, I'll open a pull request.

[2022-06-27 14:33] davidmurdoch commented on #3300
We call it zero-config forking, and yes, it is a free feature.

Enjoy!

[2022-06-27 14:33] #3300 closed, assigned to nobody

[2022-06-27 22:34] jeffsmale90 opened #3303 "`getProof` tests have a lot of static data"
The tests in `getProof.test.ts` have a number of statically defined data including:
- contract bytecode
- expected hash values
- expected proof values

Ideally we would access the underlying state trie directly, and create the assertion data, without leaking the underlying state to the exported Ganache API.

`contractCode` is presently a static string. Due to the metadata hash included in the byte

[2022-06-28 01:29] jeffsmale90 commented on #3249
Duplicate of #3303

[2022-06-28 01:29] #3249 closed, assigned to nobody

[2022-06-28 16:47] MicaiahReid opened #3308 ""eager" instamine mode does not work in browser"
When using Ganache in the browser, the following line fails:
[code]
With the error: `setImmediate is not defined`.

It looks like `setImmediate` needs to be polyfilled for "eager" mode to work properly in the browser.

[2022-06-28 17:00] davidmurdoch commented on #3308
https://github.com/trufflesuite/ganache/blob/279ab6dcd2ef5ac0a84ae928ca393b584c125c77/src/packages/ganache/index.ts#L23 🤔

[2022-06-28 17:01] MicaiahReid commented on #3308
Ooops, I was testing against the wrong branch! This was fixed in #3130

[2022-06-28 17:11] #3308 closed, assigned to nobody

[2022-06-28 17:16] MicaiahReid opened #3309 "interactive docs fail when example relies on `provider.once`"
The interactive docs that rely on `provider.once("message")` fail to actually log the expected result. For example, the [`eth_sendTransaction` example](https://trufflesuite.github.io/ganache/#eth_sendTransaction) doesn't log anything:
[code]
But it does if you remove `await provider.once("message");`. It _does_ successfully log the `txHash` if you change it to `await provider.on("message", console

[2022-06-29 13:52] MicaiahReid commented on #3279
Hi @sangramz! I'm no expert at debugging npm logs, but I'll give it a shot! It looks like it is finding that the `ganache` folder already exists in your global `node_modules` folder. The installation is attempting to rename that ganache folder so that it can procede with installation, but for some reason that isn't working. I wonder if at some point you installed npm with `sudo`, so folders in you

[2022-06-30 18:44] anishnaik commented on #1645
Is there an update on this? I believe this is causing differential behavior b/w the latest release of ganache and the deprecated `ganache-cli@6.12.2`

`eth_estimateGas` is throwing an out-of-gas error when extremely large contracts are being deployed with the latest release (v7.3.2). This does not occur with the old ganache-cli. My working assumption is that it is because `miner.callGasLimit` is n

[2022-06-30 19:06] davidmurdoch commented on #1645
@anishnaik, `gasLimit` sets `--miner.blockGasLimit` and has nothing to do with the call gas limit. Use `--miner.callGasLimit` to change the call gas limit (which currently defaults to `50_000_000`).

The v6 of ganache-cli used a different default value (`Number.MAX_SAFE_INTEGER`). We didn't list this as a breaking change because we were aligning with geth's default, so it was considered a fix at t

[2022-06-30 19:27] anishnaik commented on #1645
Hi @davidmurdoch thank you for your response. I should have mentioned that I set the `--gasLimit` super high as a failsafe in case the gas per block was not large enough for the deploy call. Additionally, I also should have noted that even when I made `--miner.callGasLimit = 9_007_199_254_740_991` which is (0x1fffffffffffff), the `eth_estimateGas` call still fails. This is why I placed this commen

[2022-06-30 20:24] anishnaik commented on #1645
Hi @davidmurdoch I have created a test environment for you / your team to go through this:
You can clone https://github.com/anishnaik/ganache-bug and checkout the `bug` branch.

The testing script is called `deploy.js`.

**Ganache@7.3.2**
Terminal 1
[code]

Terminal 2
[code]

This should fail with the following error:
[code]

You can try to set a `gasLimit` for the `deploy()` call and if it is lar

[2022-06-30 22:46] davidmurdoch commented on #1645
Thanks for the additional information, we'll look into it! I've opened https://github.com/trufflesuite/ganache/pull/3322 to correct the documentation issue.

[2022-07-02 13:42] muratogat commented on #3095
This would also be very, very useful to me.

I am also developing a mobile wallet that I need to test on local networks. iOS by default blocks any requests to insecure resources. Also when running my dapp in the in-app browser with node URL set to ganache, it rejects all requests by browser policy.

Currently doing all kinds of workarounds and dev-only settings (disabling iOS blocks, setting origi

[2022-07-05 02:15] jeffsmale90 opened #3330 "`evm_setTime` doesn't work correctly with `miner.timestampIncrement`"
When using `miner.timestampIncrement`, calling `evm_setTime` can result in unexpected values, and potentially with an error being thrown.

This is because the `timeAdjustment` is applied to the previous blocktime, so this offset is applied for every block that is mined.

With the following example, the initial block is mined correctly, as is the first block after setting the time, but subsequent b

[2022-07-05 15:13] davidmurdoch opened #3331 ""This will be removed" code wasn't"
See: https://github.com/trufflesuite/ganache/blob/197c12a4975b5d719a58b34d98897ac9accd77b9/src/chains/ethereum/block/src/runtime-block.ts#L139

[2022-07-05 15:30] davidmurdoch opened #3332 "`unlimitedContractSize` option is not applied to calls to `eth_estimateGas`"
Reporduction:

Clone https://github.com/anishnaik/ganache-bug and checkout the `bug` branch.

The testing script is called `deploy.js`.

**Ganache@7.3.2**
Terminal 1
[code]

Terminal 2
[code]

This should fail with the following error:
[code]

You can try to set a `gasLimit` for the `deploy()` call and if it is large enough, the test will pass.

**ganache-cli@6.12.2**
Terminal 1
[code]

Terminal 2

[2022-07-05 15:30] davidmurdoch commented on #3332
@anishnaik I've found the issue. `callGasLimit` _is_ working in `eth_estimateGas`, but `allowUnlimitedContractSize` is not.

`estimateGas` makes a copy of the VM before running the transaction in order to estimate it. The `allowUnlimitedContractSize` property is _not_ copied, as you can see here:

![image](https://user-images.githubusercontent.com/187813/177363101-7d9771eb-b356-4be6-8461-4d599c403

[2022-07-05 15:34] anishnaik commented on #3332
Hi @davidmurdoch this makes sense! Appreciate your help.

[2022-07-05 15:42] davidmurdoch commented on #3332
Related issue: https://github.com/ethereumjs/ethereumjs-monorepo/issues/2017

[2022-07-06 18:59] davidmurdoch commented on #3239
Related: https://github.com/ethereum/remix-project/issues/2589

[2022-07-06 22:41] haltman-at opened #3338 "`debug_storageRangeAt` fails to find storage when the slot was created earlier in the same block"
## Issue

In some cases, when the transaction index is greater than 0 (i.e. you're not looking at the first transaction in a block), `debug_storageRangeAt` will fail to find storage that was there at the start of the transaction.

This doesn't happen in all cases.  If there was storage at that slot at the start of the block, it seems like it works fine; it will correctly report the storage for tha

[2022-07-06 23:14] davidmurdoch commented on #3338
I think you're right. It looks like we only consider keys that we've seen _before_ the block that the transaction is in. Our tests initialize all slots upon deployment, so we missed this.

[2022-07-07 16:17] MicaiahReid commented on #3095
Thanks for the info, @muratogat! And thanks for the issue, @teymourian.

We've bumped up the priority on this one because of the interest. However, as it stands it still may be some time before this is started. If either of you has any interest in getting this done sooner, a PR would be welcome!

[2022-07-07 17:06] cliffoo commented on #3207
Closing for Issue Maintenance.

[2022-07-07 17:06] #3207 closed, assigned to nobody

[2022-07-07 17:18] cliffoo commented on #3186
#3131 is merged! Closing for Issue Maintenance. Thanks for opening this 🙂

[2022-07-07 17:22] davidmurdoch commented on #3186
Reopening as I do think it makes sense for the default behavior to be based off of the forked blocks timestamp. Though this might have to wait until Ganache v8.0

[2022-07-07 22:08] davidmurdoch opened #3340 "Use a dummy key in the bundle size check"
Use a dummy key in the Github Action's bundle-size check, since it doesn't need to be valid, and we want this size check to work even with external contributor PRs that don't have access to environment secrets.

[2022-07-10 20:22] jeffsmale90 opened #3346 "Reconsider `evm_setTime` behavior wrt `timestampIncrement`"
While implementing #3317, I found what feels to me like a discrepancy in the behaviour of `evm_setTime`, although in discussing this with the team there was no clear consensus on the desired behaviour. This issue is to consider whether the current behaviour is desirable, and if not, whether it's worth a breaking change to modify the behaviour.

When calling `evm_setTime`, depending on the block ti

[2022-07-11 08:19] emilbayes opened #3348 "eth_getWork is not spec compliant"
I understand this method is yet to be implemented, but right now it takes an argument that is not part of the spec (I presume a copy/paste error).

Current docs: https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/RPC-METHODS.md#eth_getwork
Spec: https://ethereum.org/en/developers/docs/apis/json-rpc/#eth_getwork

[2022-07-12 07:34] tenthirtyone commented on #2256
@canoqb10 @khelil Any luck with the latest ganache after the update that included https://github.com/trufflesuite/ganache/pull/3208

[2022-07-12 17:41] davidmurdoch commented on #281
Closing this PR since this is based off of the old v6 architecture. We're tracking the implementation in v7 in https://github.com/trufflesuite/ganache/issues/995

[2022-07-12 20:39] davidmurdoch commented on #784
Closing as the code base as changed significantly since this was opened. Issue to track this is here: https://github.com/trufflesuite/ganache/issues/135

[2022-07-12 20:51] nikolinsko commented on #643
same here.

i'm currently setting up a new instance on every request via:

[code]

i'm using this to verify the behaviour of contracts and need the data as fast as possible. Currently a call which consumes somewhere between 100k and 900k gas in total takes around 500ms-1 second. The node runs locally and is well within specs/only serves one client.

Any tips on how to speed this up currently?

[2022-07-12 21:07] davidmurdoch commented on #643
@nikolinsko you can try passing in `memdown()` (https://github.com/Level/memdown) to `options.database.db`:

[code]

[2022-07-12 21:36] davidmurdoch commented on #3152
We are probably switching to MkDocs soon. MkDocs can understand [Open APIs](https://www.openapis.org/), so we should probably do that.

[2022-07-13 00:48] kl456123 opened #3358 "`defaultGasPrice` does not work for type 2 transactions"
I get the mismatched gas price from tx object when I send tx in fork net

[code]
It means `defaultGasPrice` is not matched with `tx.gasPrice`

[2022-07-13 00:55] davidmurdoch commented on #3358
The transaction likely already has a gas price when sent to ganache. Can you run ganache in verbose mode (`ganache --verbose` or `options = { logging: { verbose: true } }`) and paste the relevant logs here?

[2022-07-13 01:56] kl456123 commented on #3358
<img width="1327" alt="Screen Shot 2022-07-13 at 09 56 08" src="https://user-images.githubusercontent.com/10957718/178634484-30149462-3ab3-49a1-b564-4b38ee82cb3a.png">

[2022-07-13 02:22] jeffsmale90 opened #3359 "Consider using EthereumJs Address class directly"
Throughout Ganache, we create a "Light" version of the EthereumJs address, with a subset of members (something like this):

[code]

This is because previous implementations of EthereumJs Address performed a lot of validation and conversions in the constructor, which were unnecessary for our usecase.

In the latest version, [the constructor](https://github.com/ethereumjs/ethereumjs-monorepo/blob/8c

[2022-07-13 12:39] davidmurdoch commented on #3358
Can you post that as text?

[2022-07-13 19:53] nikolinsko commented on #643
@davidmurdoch thanks for the tip, i did not test it isolated but forking using a scheduler together with memdown seemed to speed it up a bit.

one quick question,

I mainly use two transactions, one is an interaction with a smart contract not owned by myself the other one is a contract deployed by myself.

Would deploying the last one using ganache speed up the process?

[2022-07-14 16:02] davidmurdoch commented on #643
I don't think so. The reason it is slow is because Ganache's forking cache can't be used; transactions in the newer block may have changed the state we cached before. If you do find a way to speed things up further please do let us know.

[2022-07-15 18:12] davidmurdoch commented on #3358
Ah, `eth_sendTransaction` works strangely since EIP-1559: transactions are automatically upgraded to "type 2" transactions if `gasPrice` is not specified, and type 2 transactions don't have a `gasPrice` field, so this default doesn't get applied.

There are two workarounds: set the hardfork to pre-berlin ("istanbul" would work) or send the transaction with `"gasPrice": null`. This will prevent gan

[2022-07-18 14:23] MicaiahReid opened #3377 "Access Lists aren't properly validated"
Currently, when a transaction is sent with an access list, we use ethereum-js' `isAccessList` function to check if we have a valid access list. However, internally this function only checks if it is _not_ a buffer access list, it doesn't actually validate that it's a valid access list. So, if you send a transaction with an invalid access list, the errors are really unhelpful.

### Geth Responses (

[2022-07-18 14:25] MicaiahReid commented on #3377
Some initial ideas that I've since abandoned but could be helpful are on the [access-list-validation](https://github.com/trufflesuite/ganache/tree/access-list-validation) branch.

[2022-07-19 03:56] jeffsmale90 opened #3382 "Consider memoizing JSON RPC `to[Type]()` functions"
JSON RPC Quantity, Data and Address all have various `to[Type]()` functions. These perform various data conversions, depending on the source and target data type.

Consider whether memoizing these functions would be beneficial. We'll need to consider the additional cost of storing those values vs the potential benefit of reducing duplicate conversion overhead.

[2022-07-19 17:51] davidmurdoch commented on #3382
Should we just revert https://github.com/trufflesuite/ganache/commit/df321dac0b3c635a5e0d87b4fd7d2ac87f8f8f9d ? :trollface:

[2022-07-19 19:36] davidmurdoch opened #3387 "investigate exporting `console.sol` in the `ganache` package itself"
It'd be useful to do:

[code]

instead of

[code]

Additionally, Truffle would have an easier time ensuring that the version of `console.sol` Ganache _understands_ is always packaged with Ganache, instead of having to track two dependencies (`ganache` and `@ganache/console.log`) and make sure they are compatible.

/cc @cds-amal

[2022-07-19 19:38] davidmurdoch commented on #3387
Note: It _is_ somewhat strange for Ganache to export a Solidity file today, since Ganache doesn't even know what Solidity is, as it only ever deals with byte code. But in the near future we may ship some interesting features that make use of compilation artifacts, in which case Solidity files will most certainly be in the Ganache wheelhouse.

[2022-07-19 22:19] #894 closed, assigned to mikeseese

[2022-07-19 22:21] #826 closed, assigned to satyajeetkolhapure

[2022-07-19 22:21] #827 closed, assigned to satyajeetkolhapure

[2022-07-20 04:19] jeffsmale90 opened #3390 "Consider a new `Quantity.increment()` function"
As per https://github.com/trufflesuite/ganache/pull/3164#discussion_r923577722 consider whether a simple function could be added to `Quantity` to return a new instance of `Quantity` incremented by 1.

This is the most common use case of `Quantity.add()` and could likely be implemented in such a way to perform better in the majority of cases than the current implementation where the buffer value is

[2022-07-20 20:46] MicaiahReid commented on #2526
Hmm, I tested this further and it _does_ seem to be the case?

I sent multiple transactions with nonces 3, 2, and 1. Then I send a transaction with nonce 0 and all four transactions were on the same block. I don't know what we did for our last test :shrug:

[2022-07-20 20:56] jeffsmale90 opened #3396 "JSON-RPC methods that accept `blockNumber` should define this as an optional parameter"
As per @davidmurdoch's findings: https://twitter.com/atdavidmurdoch/status/1549825055353356289, `blockNumber` should be optional. Let's make give this a default Tag.latest (and don't forget to update assertArgLength(2, 3), too)!

[2022-07-21 03:06] #3271 closed, assigned to jeffsmale90

[2022-07-21 08:40] tenthirtyone opened #3398 "Socket fails to reconnect when socket is closed"
The socket passed [here](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/handlers/ws-handler.ts#L47) is closed.

[2022-07-21 20:43] MicaiahReid commented on #513
This has been implemented in Ganache v7.

[2022-07-21 20:49] MicaiahReid commented on #674
Closing cause @davidmurdoch regrets opening it.

[2022-07-21 20:55] MicaiahReid commented on #1244
We currently have an internal list of known supported chain ids in Ganache (just mainnet plus testnets). When someone forks a different chain id, we should display a warning or a message where the network is displayed to indicate that the chain isn't supported.

[2022-07-21 21:06] MicaiahReid commented on #2320
Closing as won't fix because it doesn't look like https://github.com/uNetworking/uWebSockets.js/issues/669 will get fixed.

[2022-07-21 21:07] MicaiahReid opened #3400 "http server is emitting an invalid HTTP/1.1 status line"
The http server is emitting an invalid HTTP/1.1 status line, eg.:

[code]

The RFC is quite clear, however (https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1):

[code]

The Reason-Phrase is allowed to be an empty string, but the separating space is not optional.

I'm unsure whether to open another issue for this, or if https://github.com/uNetworking/uWebSockets.js is where the buck sto

[2022-07-21 21:30] MicaiahReid commented on #876
Closing for issue maintenance.

PS, hi @seesemichaelj, hope all is well!

[2022-07-21 21:30] #876 closed, assigned to nobody

[2022-07-21 21:31] MicaiahReid commented on #875
Closing for issue maintenance.

[2022-07-21 21:31] #875 closed, assigned to nobody

[2022-07-21 21:32] MicaiahReid commented on #868
Closing for issue maintenance.

[2022-07-21 21:32] #868 closed, assigned to nobody

[2022-07-22 00:06] #3076 closed, assigned to davidmurdoch, jeffsmale90

[2022-07-22 11:44] area commented on #2083
Just chirping up to say that I am in the process of writing a test where I would very much like this. A large amount of setup (which I'm happy with and indeed want `eager` for speed purposes), but then needing `strict` to reproduce the behaviour I would like to test.

[2022-07-22 15:12] davidmurdoch commented on #3076
@area we plan on releasing this next Tuesday or Wednesday! You'll need to update the hardcoded state root values in your smoke tests, as Ganache v7 uses a `merkle-patricia-tree`'s `SecureTrie` (the keys are hashed before insertion) whereas Ganache v6 did not.

Just to be absolutely sure this would be a viable solution for you @jeffsmale90 created a local build of Ganache v7 that used `merkle-patri

[2022-07-22 15:32] davidmurdoch commented on #2083
@area , `eager` isn't actually faster than `strict` (it should be negligibly slower).

The problem stems from using an HTTP provider instead of WebSockets, which must use polling. But even if WebSockets is used, if the library that sends the transaction doesn't `eth_subscribe` and `provider.on("message", ...)` immediately _before_ the transaction is sent, it will fall back to polling.

While in `s

[2022-07-22 21:10] davidmurdoch commented on #618
Closing at forking has been reimplemented and these sorts of issues are likely to have been refactored away. Please open a new issue with details if you experience this with Ganache v7+!

[2022-07-22 21:14] davidmurdoch commented on #663
Closing as Ganache v7+ now has sophisticated change tracking built into forking that should prevent this sort of error. If you, dear reader from the future, experience this sort of error please open a new issues with the details!

[2022-07-22 21:20] davidmurdoch opened #3410 "Update lerna to latest once Node v12 support is dropped"
We can't update now because lerna v5+ doesn't support Node v12 but we and truffle still do.

[2022-07-22 21:37] davidmurdoch opened #3412 "Update mocha to latest once Node v12 support is dropped"
We can't update now because mocha v10+ doesn't support Node v12 but we and truffle still do.

[2022-07-23 02:40] mikeseese commented on #876
Hi @MicaiahReid! All is well; programming a game alone is lonely, but I'm enjoying it! Hope all is well with the family and that you're enjoying Truffle!

[2022-07-25 14:49] msuscens opened #3425 "`eth_estimateGas` doesn't set correct block header params for `timestamp` (when `timestampIncrement != clock`) and `difficulty`"
### Discussed in https://github.com/trufflesuite/ganache/discussions/3368

@davidmurdoch / @MicaiahReid ,

Following on from my original discussion post.  I've stripped down my code to produce a less heavy/complex example and investigated further- see the snail_breeding example (GitHub link below).  I believe the issue (intermittent revert of breed function) results from a combination of use of ps

[2022-07-25 19:30] paulmillr opened #3426 "Replace cryptography with secure & audited packages"
Metamask is planning to update cryptography to new, audited libraries aka `noble-crypto`. Ganache (metamask dep) still uses `secp256k1` and a few other projects, which haven't passed a security audit. It would be great to have all of them updated, to make both projects use same libs.

In January, EF-funded https://github.com/ethereum/js-ethereum-cryptography v1.0 was published. It contains audited

[2022-07-25 19:53] davidmurdoch commented on #3426
Interesting; `noble-crypto` is likely a few orders of magnitude slower than `secp256k1`. `secp256k1` uses bitcoin-core's own native secp256k1 implementation; my intuition tells me this isn't likely to have been compromised.

We _do_ fall back to a pure JavaScript implementation of secp256k1 (via the elliptic package, which I noticed you've analyzed as well) if the native version can't be loaded. S

[2022-07-25 19:56] paulmillr commented on #3426
Yeah, if you can use native ones, it's great to keep it around. I'm only asking to replace the js fallback with noble.

For benchmarks, see [readme](https://github.com/paulmillr/noble-secp256k1#speed). It's faster than native openssl for signing.

[2022-07-25 20:03] paulmillr commented on #3426
I think we've even developed [the file](https://github.com/ethereum/js-ethereum-cryptography/blob/master/src/secp256k1-compat.ts) to make switches like this one easy.

[2022-07-25 20:33] davidmurdoch commented on #3425
The readme is very hard to read without line formatting. Also, there are still a _lot_ of files and tests in this repo. Can you strip out everything except the first failure?

[2022-07-25 21:05] davidmurdoch commented on #3425
You may want to try starting Ganache with a specific timestamp (`ganache --time 123456`), since your tests are time dependent.

[2022-07-25 21:34] davidmurdoch commented on #3425
I did some more digging. I think this is a bug in Ganache's `eth_estimateGas` implementation caused by not predicting the next block's timestamp. When we added the `--miner.timestampIncrement` we didn't add this same logic to gas estimation.

You can workaround ganache's estimation error by passing in the `gas` yourself. Example:

[code]

Thanks for helping debug this one!

[2022-07-26 09:35] jtakalai commented on #266
EDIT: clarification: NOT hanging, but still segfaulting and exiting with 1...

I'm getting segfaults in Github CI (on my machine it works fine)

Here's excerpts from [the CI run log](https://github.com/dataunions/data-unions/runs/7517212165?check_suite_focus=true):

[Line 515](https://github.com/dataunions/data-unions/runs/7517212165?check_suite_focus=true#step:7:515)
[code]

and in the very end:

[2022-07-26 10:18] msuscens commented on #3425
Thank you @davidmurdoch that's great 🙏

I applied this to the snail's breed truffle test script and can confirm the workaround has fixed the issue.  Also, I went on to stress test the workaround using another test script that initially builds a family tree of snails by repeatedly calling breed (15+ calls to breed) and this also works a treat!!

I can now get back to my main project and apply the w

[2022-07-26 13:21] davidmurdoch opened #3428 "Segfaulting and exiting with 1..."
EDIT: clarification: NOT hanging, but still segfaulting and exiting with 1...

I'm getting segfaults in Github CI (on my machine it works fine)

Here's excerpts from [the CI run log](https://github.com/dataunions/data-unions/runs/7517212165?check_suite_focus=true):

[Line 515](https://github.com/dataunions/data-unions/runs/7517212165?check_suite_focus=true#step:7:515)
[code]

and in the very end:

[2022-07-26 16:15] davidmurdoch commented on #3428
@jtakalai this might be a jest issue (https://github.com/facebook/jest/issues/10662) and/or a node issue (https://github.com/nodejs/node/issues/35889).

Have you tried other ganache versions to try to determine if this is a recent regression or not?

[2022-07-27 21:05] #3340 closed, assigned to davidmurdoch

[2022-07-28 01:23] #3348 closed, assigned to nobody

[2022-07-28 16:10] davidmurdoch opened #3445 "investigate if this `console.log` in this test can be removed and remove it if so"
https://github.com/trufflesuite/ganache/blob/1ba2af5e7521a8ece82d1ef70c3f21189db989c7/src/packages/core/tests/server.test.ts#L1338-L1340

[2022-07-29 15:36] area commented on #3076
The new release has resolved this for us, thanks very much.

[2022-07-29 18:09] davidmurdoch opened #3454 "Issue specifically for tech debt month: update dependencies!"

[2022-07-29 18:10] davidmurdoch commented on #3454
Probably should start with dependabot warnings and then work the others. Each one should be 1:1.

[2022-07-29 20:34] gluax opened #3455 "Argument of type 'EthereumProvider' is not assignable to parameter of type 'ExternalProvider | JsonRpcFetchFunc'."
Hey all.

I would love for there to be more typescript examples and more programmatic examples.

I'm trying to programmatically spin up a local blockchain with a contract for fuzz testing. I.e. I need the ability to randomly create addresses with funds and etc on demand. I do see a lot of the functions I need available, however, it's quite a struggle to figure out how to get access to what I need

[2022-07-29 21:15] davidmurdoch commented on #3455
Are you able to find and post the type for `ExternalProvider`?

[2022-07-29 21:22] gluax commented on #3455
From ethers [lib ](https://github.com/ethers-io/ethers.js/blob/master/packages/providers/src.ts/web3-provider.ts#L13).

[2022-07-30 00:32] davidmurdoch commented on #3455
My hunch is that this is due to [`strictFunctionTypes`](https://www.typescriptlang.org/tsconfig#strictFunctionTypes) enabled in your tsconfig.json (see also: [`strict`](https://www.typescriptlang.org/tsconfig#strict)).

Ganache's provider types are _very_ strict, which let's us offer type hints like:

![image](https://user-images.githubusercontent.com/187813/181855127-aeaac668-7a66-40e2-97f5-59c0e

[2022-07-31 04:49] jaketimothy opened #3458 "Forking Arbitrum Nitro chains gives "Invalid transaction type""
Running `ganache --fork <url>` with an Arbitrum Nitro network returns `Error: Invalid transaction type: 106`.  I have attempted with Alchemy and QuickNode endpoints, and tried both Arbitrum Rinkeby and Arbitrum Goerli.

[code]

[2022-08-02 08:59] cprates commented on #962
Same problem here. Bumping version to v7.4.0 solved the problem

[2022-08-02 14:31] davidmurdoch opened #3465 "perf: `block.getTransactions` is often used in a way that not _all_ transactions need to be loaded"
Maybe we should make a `getNthTransaction`, `getAllTransactions`, and `getNTransactions` methods. Bonus points if it is implemented as an Iterator.

[2022-08-02 16:13] #962 closed, assigned to nobody

[2022-08-02 19:05] davidmurdoch opened #3467 "remove event system from debug_*"
They don't make sense here.

[2022-08-02 19:06] davidmurdoch opened #3468 "event contexts during debug_traceTransaction are shared between transactions"

[2022-08-02 19:07] davidmurdoch opened #3469 "debug_* methods `traceTransaction` and `storageRangeAt` don't emit `console.log` events"

[2022-08-02 20:36] gluax commented on #3455
Hey, all I'm trying to create the provider as stated above, however, it seems the network is never set.

I'm trying to do the following essentially:

[code]

   However, `await provider.getNetwork()` provides a name of `unknown` for the network. I didn't see any ways to configure this either in the documentation. Can I get some advice here please?

[2022-08-03 16:32] tenthirtyone opened #3473 "gas could theoretically go over `NUMBER.MAX_SAFE_INTEGER` in `blockchain.traceTransaction`"
Linking [TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/blockchain.ts#L1210) to issue.

If blocks grow large enough, `gasUsed` could exceed `NUMBER.MAX_SAFE_INTEGER`

[2022-08-03 16:57] tenthirtyone opened #3474 "add http2 support to `http-handler`"

[2022-08-03 16:59] tenthirtyone opened #3475 "handle invalid json in http-handler"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/handlers/http-handler.ts#L140)

[2022-08-03 17:04] tenthirtyone opened #3476 "websocket fails to reconnect after disconnect because `this.connection` is closed remotely"
The new'd WebSocket is passed to `this.connect` to get its handlers wired up. `this.connection`'s `onClose` attempts to reconnect by passing `this.connection` back to `this.connect`.

[2022-08-03 17:06] tenthirtyone opened #3477 "implement backoff in ws-handler `onClose`"
Implement an exponential backoff for reconnection attemps.

[2022-08-03 17:08] tenthirtyone opened #3478 "implement timeout for in-flight requests in ws-handler"
[TODO](https://github.com/trufflesuite/ganache/blob/3a776b5bf74a6a19944c8602ff03cf4506f6e9e8/src/chains/ethereum/ethereum/src/forking/handlers/ws-handler.ts#L80-L81)

[2022-08-03 17:09] tenthirtyone opened #3479 "handle invalid json in ws-handler `onMessage`"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/handlers/ws-handler.ts#L91)

[2022-08-03 17:20] tenthirtyone opened #3480 "implement LIMIT_EXCEEDED behavior for rate-limiter"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/rate-limiter/rate-limiter.ts#L233)

[2022-08-03 17:26] tenthirtyone opened #3481 "perf: make block's raw fields accessible on latest/earliest/pending"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/data-managers/block-manager.ts#L211)

[2022-08-03 17:34] tenthirtyone opened #3482 "perf: filter and compute block blockLogs loops over all addresses for every block"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/data-managers/blocklog-manager.ts#L66)

[2022-08-03 17:38] tenthirtyone opened #3483 "perf: investigate a better/faster way to find deleted keys in uncommitted checkpoints in `trie.keyWasDeleted`"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/trie.ts#L122)

[2022-08-03 17:41] tenthirtyone opened #3484 "perf: optimize finding proof of deletion in the database in `trie.keyWasDeleted`"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/trie.ts#L140)

[2022-08-03 17:43] tenthirtyone opened #3485 "perf: only resave block to cache if neeeded"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/forking/persistent-cache/persistent-cache.ts#L223)

[2022-08-03 17:53] tenthirtyone opened #3486 "investigate/safely remove upper bound checks in transaction gas calculation"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/transaction/src/base-transaction.ts#L48)

[2022-08-03 18:15] tenthirtyone opened #3487 "investigate/remove unreachable code path in transaction-factory base on activated EIPs"
[TODO](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/transaction/src/transaction-factory.ts#L83)

[2022-08-03 18:57] davidmurdoch commented on #3455
What do you expect the network name to be?

[2022-08-03 19:08] gluax commented on #3455
Something just like `"evm"` or `"ganache"` or other standard network names, but as it is now, sending transactions to a deployed contract results in
[code]
because there is no network set.

[2022-08-03 19:27] gluax commented on #3455
Update: My network error was resolved by specifying `0.0.0.0` as the server IP to start on rather than localhost. This is interesting to me considering I'm making no outbound calls. But writing it here for anyone else with a similar issue!

[2022-08-03 20:00] davidmurdoch commented on #3455
@gluax Ether's has no way of knowing that the network you created only milliseconds ago should have a name ("ganache" isn't a unique network, and all Ethereum networks use "evm"). That said, I wonder if chainId and networkId of `1337` would show as "devnet" or something similar.

@gluax Did you try `server.listen(8888, "127.0.0.1")`? The Ganache server might not be binding to a hostname of "localh

[2022-08-03 20:05] gluax commented on #3455
@davidmurdoch ah that makes more sense. I'm out for lunch at the moment but will try the actual address for localhost when I get back and open an issue if that is the problem.

[2022-08-03 21:04] davidmurdoch opened #3488 "Create a new version of `debug_storageRangeAt` that allows the caller to specify a storage key to fetch at a specific transaction"
`debug_storageRangeAt` can't be used for forking, because Ganache will never know all of the storage for a forked nework.

This new method should just return the value. It should return the whole word in hex (32 bytes). If empty or 0, return 32 bytes of 00s.

@haltman-at prefers that the method accepts the _unhashed_ key, not the hashed (SecureTrie) key.

cc @gnidan, @cds-amal

[2022-08-03 21:14] davidmurdoch commented on #3488
If this takes more than 3 months from now we should bump it to a Priority1 / High.

[2022-08-03 21:41] davidmurdoch opened #3489 "Transactions with a `type` field Ganache doesn't understand should be treated as "untyped""
Related: https://github.com/trufflesuite/ganache/issues/3458

[2022-08-03 22:23] gluax commented on #3455
Correct 127.0.0.1 works however specifying localhost does not. See issue #3491.

[2022-08-03 22:30] gluax opened #3491 "Specifying `"localhost"` in `server.listen` does not work."
The following does not work but likely should mimic common behavior between other js libs.

[code]

There's no direct error and everything seems to function. However, after deploying a contract and trying to make calls to it(at least with the ethers lib from my own testing) results in an `Error: could not detect network (event="noNetwork", code=NETWORK_ERROR, version=providers/5.6.8)`.

However, t

[2022-08-04 16:15] AbnerZheng commented on #3491
I have tested it, and 'localhost' works in my own desktop.

The mapping from `localhost` to `127.0.0.1` is done by the `hosts` file in *nix system, check `/etc/hosts`,adding one line `127.0.0.1 localhost`, it might works.

[2022-08-04 16:36] davidmurdoch commented on #3491
@gluax what OS are you running? @AbnerZheng what OS are you running?

[2022-08-04 17:09] gluax commented on #3491
I'm running on Windows 10.

[2022-08-04 18:37] davidmurdoch opened #3497 "Maybe add GitPOAP bot: https://docs.gitpoap.io/github-bot"
https://docs.gitpoap.io/github-bot

[2022-08-04 23:47] jeffsmale90 opened #3499 "Disconnecting `EthereumProvider` doesn't wait for currently executing tasks"
When calling `EthereumProvider.disconnect()` we don't wait for inflight tasks to complete. This means that:

- pending tasks are rejected (in order), before currently executing tasks are completed.
- current executing tasks _can_ reject with an internal error (e.g. "Data not open")

Ideally, we would complete currently executing tasks before shutting down the blockchain, and rejecting pending task

[2022-08-05 05:02] AbnerZheng commented on #3491
I'm running on macos.

[2022-08-05 16:52] davidmurdoch opened #3503 "`server.listen`'s callback mechanism needs to called with `process.nextTick`"
Without `process.nextTick(callback, null)` if `callback` itself throws we will end up catching the error and then calling `callback` _again_ with the `error` that it itself threw!

https://github.com/trufflesuite/ganache/blob/90b3f2b743974b13d23ec72e713350021655c6f9/src/packages/core/src/server.ts#L290

/cc @tenthirtyone

[2022-08-05 20:00] tenthirtyone opened #3504 "chore: check for cases where `assert.equal` is used where `assert.strictEqual` is preferred in unit tests"

[2022-08-05 21:05] davidmurdoch commented on #3504
Good one! I bet all of them should be `strictEqual` _unless_ it compare against `null` or `undefined`.

[2022-08-07 21:05] naddison36 commented on #2106
Node.js v12 went End-of-Life on 30 April 2022.

[2022-08-07 23:09] jeffsmale90 commented on #3330
Turns out this is a duplicate of #3265, closing as such.

[2022-08-07 23:25] jeffsmale90 commented on #3265
After attempting to resolve some of the short comings of this approach, I have decided to close the PR, and address this with a simpler fix. #3506

Initially I thought it made sense to decouple BlockTime from the Blockchain, as they are separate concerns. I have subsequently learned that with timestampIncrement !== "clock", the interface between Blockchain and BlockTime becomes quite messy. The de

[2022-08-08 13:48] MicaiahReid commented on #3265
@jeffsmale90 this is an issue and not a PR, so I don't think we should close it until the fix is merged :smile:

[2022-08-08 14:36] anthdm commented on #3095
@muratogat  @teymourian You can use a let's encrypt certificate on top of a proxy Nginx server

[2022-08-09 18:57] davidmurdoch commented on #2106
@naddison36 "End of Life" doesn't mean Node v12 stops working; it just means Node v12 is not actively maintained and that new releases are very unlikely (except for major security vulnerabilities). Node v12 is still usable (though it really _shouldn't_ be used) and many devs need and appreciate extended support.

Ganache will continue to support Node v12 at least until truffle drops support for it

[2022-08-09 21:36] davidmurdoch opened #3516 "research an eslint workflow for us that doesn’t annoy and doesn’t require new contributors to learn anything weird"
Related: https://github.com/marketplace/actions/lint-action

[2022-08-11 00:47] muratogat commented on #3095
Unfortunately not.
Let's encrypt doesn't issue SSL certificate to IP addresses, only domains.
Mobile devices can't be modified to resolve these domains to your local IP's without maintaining your own DNS server.

[2022-08-11 01:37] jaketimothy commented on #3458
Alchemy RPC request to arbgoerli:
`{ "jsonrpc": "2.0", "id": 2, "method": "eth_getBlockByNumber", "params": ["latest", true] }`

Response (note `"type": "0x6a"`):
[code]

[2022-08-11 14:12] naddison36 commented on #2106
ok, lets close this ticket when truffle drops support for Node v12

[2022-08-11 15:36] VladLupashevskyi opened #3526 "Leading zeros are trimmed in getStorageAt result"
Here is the example of request made to a normal Ethereum client:

[code]

And here is request made to a ganache client:

[code]

Leading zeros are trimmed, which should not happen.

Tested with version 7.4.0 of ganache.

[2022-08-11 19:43] MicaiahReid opened #3528 "`eth_estimateGas` does not use blockchain's `adjustedTime`"
In the blockchain, when a block is being prepared to be mined, the timestamp is adjusted by the chain's internal offset:
[code]
However, `eth_estimateGas` just uses the parent block's timestamp:
[code]

This is particularly annoying if you are using Truffle to test a contract that is time dependent because truffle calls an `eth_estimateGas` before sending your actual transaction. If you use `evm_s

[2022-08-11 19:49] davidmurdoch commented on #3528
I believe this is related to https://github.com/trufflesuite/ganache/pull/3226

[2022-08-11 20:58] jeffsmale90 commented on #3265
I haven't looked into the code to confirm this yet, but it appears that when a timestamp increment is specified, the offset _is_ persisted when `evm_mine` is called with a timestamp parameter, but not when using `clock`.

I'll pick this up today and try to get a hotfix together to resolve.

[2022-08-11 21:00] MicaiahReid opened #3529 "Miner doesn't allow completely filling a block"
If a block is being mined and has _just_ enough gas left for one empty transaction (21000 gas), the miner won't allow the transaction to be mined and will wait for the next block.

https://github.com/trufflesuite/ganache/blob/df29a09be2f2109fd4a7f4572c4a6dfaec2fa5d4/src/chains/ethereum/ethereum/src/miner/miner.ts#L366-L377

[2022-08-11 21:53] MicaiahReid commented on #3528
Hmm, I don't see the relation but would be interested in understanding how!

[2022-08-11 21:59] davidmurdoch commented on #3528
They both create a RuntimeBlock with incorrect parameters.

[2022-08-11 22:10] davidmurdoch opened #3530 "chore: check for cases where `assert.deepEqual` is used where `assert.deepStrictEqual` is preferred in unit tests"

[2022-08-11 22:16] #3504 closed, assigned to nobody

[2022-08-12 09:01] mrhouzlane commented on #1503
I fixed this by doing `nvm use 16`

[2022-08-12 12:57] MicaiahReid commented on #3528
Oh duh. Thanks!

[2022-08-12 12:57] davidmurdoch commented on #1503
@mrhouzlane what version of Ganache and what version of Node did it not work on for you? Also, what operating system?

[2022-08-12 13:37] mrhouzlane commented on #1503
With `node v18.4.0`  I have the warning : Error: Cannot find module './uws_darwin_x64_108.node'
Falling back to a NodeJS implementation; performance may be degraded.

But with `node v16.15.0` I don't have the warning.

Ganache : `ganache v7.4.0 (@ganache/cli: 0.5.0, @ganache/core: 0.5.0)`

Using **macOS Monterey.**

[2022-08-14 21:59] jeffsmale90 opened #3536 "`evm_mine` won't mine multiple blocks when called concurrently"
Executing two calls to `evm_mine` concurrently will not mine two blocks:

[code]

outputs:
[code]

[2022-08-14 22:10] jeffsmale90 commented on #3528
Also related to: #3425 ?

[2022-08-15 19:17] MicaiahReid opened #3539 "Move `removeBestAndOrigin` to Executables class"
https://github.com/trufflesuite/ganache/pull/3232/files#r942844318

[2022-08-16 16:17] MicaiahReid opened #3542 "Add some constants to `Data`"
It might be nice to store some constants on the `Data` class:

- [ ]  `Data.WordByteLength` - use this everywhere that we do `Data.from(myData, 32)`
- [ ]  `Data.EmptyWord` - to replace `Data.from("0x", Data.WordByteLength)`

Feel free to add more to this list, my dearest reader, if you come up with any.

A few examples from reviews of this being brought up:
https://github.com/trufflesuite/ganache

[2022-08-16 19:22] MicaiahReid opened #3545 "Fix test coverage report and add data to PRs"
I'd love to know what test coverage looks like any time I open a PR. I always forget to check it locally, and it can be a bit of a pain to know where to look. With the monorepo, we have separate reports for the different packages. So I guess this issue has multiple levels that would be nice to have any (or all) of:

- [ ] roll up all coverage reports into one at the top level for easy access
- [ ]

[2022-08-16 19:25] MicaiahReid opened #3546 "remove docker publish from automated release workflow"
Publishing to docker is the most unreliable part of our release workflow. If it fails, the whole release fails. Currently, this means:
 - we have a red X next to that commit in our history
 - we don't ever merge `master` back into `develop` so we have to run that part of the release manually
 - the release takes way longer than it needs to

[2022-08-17 14:43] #3489 closed, assigned to nobody

[2022-08-17 14:43] #3458 closed, assigned to nobody

[2022-08-17 20:27] davidmurdoch opened #3550 "Ganache could ask users to open a browser URL that automatically prompts metamask to add the specific ganache network to it's list."
/cc @gnidan

[2022-08-17 21:31] nikolinsko commented on #1332
Hey @davidmurdoch could you confirm that the what is described above ist the cause for the following:

i'm initializing ganache using the following on every request:

`let web3 = new Web3(ganache.provider(options));`

after the request has been handled i'm calling:

`await web3.currentProvider.disconnect();`

if 2 requests are sent within a short timeframe (up to around 5 seconds) node is occasion

[2022-08-18 17:33] #3530 closed, assigned to nobody

[2022-08-18 17:44] davidmurdoch opened #3555 "Enable `strictNullChecks` in our base tsconfig"

[2022-08-18 17:48] davidmurdoch opened #3556 "`npx <anything>` should be versioned, e.g., `npx lerna@5.0.0 ..`"

[2022-08-18 17:51] davidmurdoch commented on #2006
Blocked by https://github.com/trufflesuite/truffle/issues/5203

[2022-08-18 18:50] davidmurdoch commented on #3330
Reopening, I don't think this is a duplicate of #3265 as that one is about `clock` mode.

[2022-08-18 19:46] davidmurdoch opened #3558 "Make the release process automatically update ganache's npm-shrinkwrap.json file's `version`"

[2022-08-18 20:17] davidmurdoch commented on #3469
Alternatively, remove the event system from `debug_*`. This would have to be a v8 change. Related [#3467](https://github.com/trufflesuite/ganache/issues/3467)

[2022-08-18 20:28] davidmurdoch commented on #3412
Blocked by #2006

[2022-08-18 20:28] davidmurdoch commented on #3410
Blocked by #2006

[2022-08-18 20:47] #3497 closed, assigned to nobody

[2022-08-18 20:50] davidmurdoch commented on #3516
Is there a way to make a linter check for unused dependencies, or used dependencies that aren't in our package.json? 🤔

[2022-08-18 20:54] davidmurdoch commented on #3542
Maybe `Data.WORD_LENGTH`? or `WORD_BYTE_LENGTH` 🤷

[2022-08-19 04:00] #3293 closed, assigned to jeffsmale90

[2022-08-21 21:42] #3330 closed, assigned to nobody

[2022-08-22 15:50] davidmurdoch opened #3569 "`console.sol`'s natspec docs mention `util.format`, but don't provide context to what that is referring to."
(it's referring to node)

[2022-08-22 22:57] #3526 closed, assigned to nobody

[2022-08-23 20:23] MicaiahReid opened #3573 "Support link at the end of `ganache --help` points to discord"
Currently, running `ganache --help` directs users to https://trfl.io/support. I think we'd rather it go somewhere that we more closely monitor.

[2022-08-23 20:52] davidmurdoch commented on #3573
fixed. It now goes to: https://github.com/orgs/trufflesuite/discussions

[2022-08-23 20:52] #3573 closed, assigned to nobody

[2022-08-23 20:52] #3546 closed, assigned to nobody

[2022-08-24 21:28] jeffsmale90 opened #3578 "Rename `Account.stateRoot` to `storageRoot`"
See: https://github.com/trufflesuite/ganache/blob/591d0256975dc80bf2cec90ad8be67704ab4556b/src/chains/ethereum/utils/src/things/account.ts#L18

`Account`'s `storageRoot` property is incorrectly named `stateRoot`.

This probably has flow on impacts, as references to `Account` (or references to `RLP.decode()`) will likely use the same nomenclature.

[2022-08-25 22:12] jeffsmale90 opened #3581 "Consider allowing the user to direct log output to a file"
When using `--detach` mode, logs are piped to `/dev/null`. It could be useful to allow users to capture these logs and direct them to a file or otherwise.

[2022-08-29 19:29] surajsjain commented on #622
How do I use this now for unlocking all the accounts from a forked chain?

[2022-08-29 19:35] surajsjain commented on #588
Is there any way I can use this with the latest version (or a different branch) of Ganache CI so that I can unlock all the accounts?

[2022-08-31 22:29] keinsell opened #3595 "How to use `ganache` with `docker-compose`?"
Are there any examples on starting ganache on docker-compose?

[2022-08-31 22:34] keinsell commented on #3595
Nevermind, figured it out by looking up source of `Dockerfile`

[code]

[2022-08-31 22:34] #3595 closed, assigned to nobody

[2022-09-02 07:15] molichio commented on #3204
this would be handy right now for some merge preparation testing ☺️

[2022-09-02 17:44] AoDev opened #3606 "Issue: Invalid transaction type: 106 after Arbitrum update to Nitro"
Since Arbitrum updated to Nitro, Ganache crashes immediately when trying to run a fork.

* Ganache version: **7.4.1**

* Command example

[code]

* Error
[code]

[2022-09-03 09:10] AoDev commented on #3606
See this related issue. https://github.com/NomicFoundation/hardhat/issues/2995

[2022-09-03 15:30] baibinghere opened #3607 "Unable to set a different networkId when fork mainnet"
[code]

As you can see, I've specified the networkId to be 999, but the forked chain still has the networkId 1.

If forked chain can't change networkId, we need to know, this command should bail out instead of keep running. It may confuse many people that it's a bug cauing `--chain.networkId` un-usable.

[2022-09-04 09:44] gzeoneth commented on #3606
It seems that this is fixed in https://github.com/trufflesuite/ganache/pull/3523
wen release?

[2022-09-05 06:51] AoDev commented on #3606
Looks like it, please create a release with the current changes @davidmurdoch   🙂

[2022-09-06 16:55] MicaiahReid commented on #3606
Thanks for the issue @AoDev! We're hoping to have a release for this out this week!

I'm going to close this issue as a duplicate of #3458 for now. Thank you!

[2022-09-06 16:55] #3606 closed, assigned to nobody

[2022-09-06 22:47] davidmurdoch commented on #3204
`finalized` and `safe` will be aliases for "latest"

[2022-09-06 22:52] davidmurdoch commented on #622
You'll still need to unlock them individually before using each one. We don't yet have a way of unlocking _all_ accounts.

[code]

[2022-09-06 22:57] jeffsmale90 opened #3616 "Transaction object should include `chainId`"
Geth added `chainId` to the transaction object in https://github.com/ethereum/go-ethereum/releases/tag/v1.10.20

We should do the same.

The test `forking > blocks > should get a block from the original chain` is skipped pending this fix

[2022-09-06 23:24] davidmurdoch opened #3620 "Add --unlock-all flag to unlock all accounts, known or not."

[2022-09-06 23:29] MicaiahReid commented on #622
To add some more detail for any future readers, see #3603

[2022-09-07 21:29] tenthirtyone opened #3631 "Set default network hardfork for each network instead of for the entire application"
The latest hardfork to land on mainnet, `gray glacier`, [does not exist on any testnet](https://blog.ethereum.org/2022/06/16/gray-glacier-announcement). Setting the default hardfork in ganache to `gray glacier` breaks testnet forking unless a valid hardfork, e.g. `london` is supplied at startup.

[2022-09-08 01:00] emilyJLin95 opened #3632 "Flag to fund accounts"
When I fork a ganache instance, it'd be nice if I could add flag that funds accounts of my choice with a starting amount of eth

[2022-09-08 06:14] AoDev opened #3633 "Coded error: Invalid Request in ganache v7.4.3"
I'm getting this error when trying to launch ganache and forking Arbitrum

Command

[code]

[code]

[2022-09-08 07:42] ethangao commented on #3633
Same error to me on ethereum mainnet.
From alchemy dashboard, seems like ganache is passing params {block:earliest} to call eth_blockNumber.

➜  ~ ganache --fork https://eth-mainnet.g.alchemy.com/v2/KEY@15485091  --chain.chainId 1 --networkId 1
ganache v7.4.3 (@ganache/cli: 0.5.3, @ganache/core: 0.5.3)
Starting RPC server
CodedError: invalid request
    at /usr/local/lib/node_modules/ganache/dist/

[2022-09-08 10:02] damn1 commented on #3633
Same here on forking eth mainnet, since a few hours. Yesterday no problems with same setup.

[2022-09-08 10:11] dezzeus commented on #3633
Same issue (and same – Alchemy – provider); the block number is reported when forking.

FYI, a colleague of mine with an already forked network got the error on web3_clientVersion:

Starting RPC server
web3_clientVersion
CodedError: invalid request
    at /usr/local/lib/node_modules/ganache/dist/node/1.js:2:80254
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async

[2022-09-08 12:25] davidmurdoch commented on #3633
It looks like Alchemy has stopped responding to the "earliest" block tag which Ganache fetches on startup. I'll try to get in touch with someone from alchemy today to see if they can fix this. Thank you for all of the reports.

[2022-09-08 15:08] davidmurdoch commented on #3633
I've confirmed this is a new bug in Alchemy introduced sometime within the past 24 hours. I haven't been able to get a hold of anyone at Alchemy yet; if anyone here knows someone at Alchemy please send them the link to this issue!

In the meantime you can use ganache's built-in forking nodes for mainnet, ropsten, kovan, rinkeby, goerli (görli), and sepolia via `ganache --fork <network name>`; gana

[2022-09-08 16:06] AoDev commented on #3633
Someone from alchemy has been answering and provided this [example](https://composer.alchemy.com?share=eJyVl09P4zAQxb9Lzhx2l1tvbaUuSCxUwHJBCE3TaRvh2JHtUCrEd187aYszHrvdC6Lz3u.Zjv.E_SzKDVSyGP28KCTardJvxejXD.erRrtRy1uosRgV7v.XNdqJUOXbZHfb1gvUxcFz19hKSVOMnj_LdxCtB0CUG6x3Hhobg.ZRgzQr1MZRAhYosp6vCzbpUb2hHAuhtiBL5JOIJ5c0AeE9iS4NLbmcP2hhCRYyOUdLKscPHUr.HO_xxKqxqV4xxjBzoXT3PFs3MX6GDhHDOkNMW61R2rlWjTLd5BKUG

[2022-09-08 16:12] davidmurdoch commented on #3633
Looks like this has been fixed on Alchemy's end: `curl -X POST --data '{"jsonrpc":"2.0","method": "eth_getBlockByNumber", "params": ["earliest", false], "id": 1}' https://eth-mainnet.g.alchemy.com/v2/<KEY HERE>` now works! @AoDev, are you able to confirm?

[2022-09-08 16:19] AoDev commented on #3633
@davidmurdoch Yes I just tried, I forked Arbitrum using Alchemy. It worked and I connected Brownie to it.

Looks good : )

[2022-09-08 16:30] #3633 closed, assigned to nobody

[2022-09-14 06:55] pclaesen opened #3653 "Add stablecoins to default accounts"
When launching Ganache, you automatically get 10 accounts with 1000 ETH.
I'm still looking for an easy way to get DAI, USDC in those wallets.
Would be nice to automatically have DAI and USDC, USDT,... in those wallet when launching.

I have no idea about the technical things that need to happen before this is possible, just figured it'd be a nice addition.

[2022-09-15 12:59] vanilingys99 opened #3661 "fail to install and run ganache"
When **npm install ganache --global**

[code]

[2022-09-15 18:13] davidmurdoch commented on #3661
Can you provide more information about your system? Os, node version, npm version, etc?

[2022-09-15 20:19] MicaiahReid commented on #3607
Quick note for when we work this:
This is a bit tricky because Truffle needs the `networkId` field in order to call `fetchExternal` in the debugger. So Ganache would still need to give Truffle the correct network id of the fork, while also maintaining the user-set network id.

[2022-09-15 20:24] MicaiahReid commented on #3631
To expand on this, if a user starts ganache with `ganache --fork mainnet`, the default hardfork should be `grayGlacier`. However, if `ganache --fork sepolia` is used, the default hardfork should be `london` (because `grayGlacier` has not been implemented on any of the testnets).

[2022-09-15 20:37] MicaiahReid commented on #2256
Closing because this seems to be fixed!

[2022-09-15 20:37] #2256 closed, assigned to tenthirtyone

[2022-09-15 21:46] MicaiahReid opened #3662 "implement `cleanupDirectory` function"
When a database is instantiated, the current function to cleanup the database directory is a no-op. We should fix that.

https://github.com/trufflesuite/ganache/blob/9980cb5513db6f810625783cae325a937587ebb4/src/chains/ethereum/ethereum/src/database.ts#L19

[2022-09-16 03:25] baibinghere commented on #3607
I think a message or warning could be much better for user experience point of view...

[2022-09-16 15:43] kl456123 opened #3667 "fork from avax c-chain using ganache"
something wrong happened when forking from avax c-chain

CodedError: cannot query unfinalized data
    at webpack://Ganache/../../chains/ethereum/ethereum/lib/src/forking/handlers/base-handler.js:174:23
    at process.promise (node:internal/process/task_queues:96:5)
    at async HttpHandler.queueRequest (webpack://Ganache/../../chains/ethereum/ethereum/lib/src/forking/handlers/base-handler.js:178:

[2022-09-16 17:37] davidmurdoch commented on #3667
can you provide reproduction steps?

[2022-09-17 23:35] gcobr opened #3671 "Can ganache be embedded and started from my own code?"
Would I be able to include ganache as package in a Node application and start it from my JS code and parameterise it through code instead of the command line?

If so, would there be any documentation about it?

[2022-09-18 04:35] gcobr commented on #3671
Just realised the readme explains programmatic use.

[2022-09-18 04:35] #3671 closed, assigned to nobody

[2022-09-20 04:22] #3265 closed, assigned to jeffsmale90

[2022-09-20 16:54] adjisb commented on #1575
I'm trying to fix it with: https://github.com/trufflesuite/ganache/pull/3692
I don't know much about ganache. I don't understand why BlockLogs and BlockLogManager.get is so tight to only one block and I'm also not sure if I must deserialize serialize back in getFromFork.

[2022-09-20 18:30] manav2401 commented on #3204
Hi, I would like to consume the "finalized" and "safe" tags for `eth_blockByNumber` api. Is there any way I can do so at this moment with ganache? Also, as a workaround, it would work for me even if returns the latest block when we're calling "finalized" or "safe". Thanks!

@davidmurdoch

[2022-09-20 20:56] davidmurdoch commented on #3204
@manav2401 you can't use them yet, but soon. We are actively working on it. See https://github.com/trufflesuite/ganache/pull/3658 It will return "latest", for requests for "finalized"/"safe".

[2022-09-21 04:46] manav2401 commented on #3204
@davidmurdoch Thanks a lot for the info. Yes, I was following that PR. Could you help me pointing to some steps/docs using which I can build ganache from source (in this case from your specific branch)?

[2022-09-21 14:30] jeffsmale90 opened #3693 "Upgrade of Ethereum JS to v6 has introduced technical debt"
Various changes to types and member accessibility in Ethereum JS has required changes to Ganache. In #3656, an amount of technical debt was introduced in order to support the merge.

Including, but not limited to:
- `any` type assertions
- private / protected members accessed from outside of the instance
- weird and convoluted shimming / facade wrapping of level database stuff
- `@ts-ignore`

[2022-09-21 16:43] MicaiahReid opened #3694 "fork block never has transactions"
If you start Ganache with forking, the fork block doesn't have any transactions. This is because of how we save the genesis block in the blockchain's `initializeGenesisBlock` function: https://github.com/trufflesuite/ganache/blob/274d5521a66a13e9dded95e1109383f70104b6de/src/chains/ethereum/ethereum/src/blockchain.ts#L751

We pass in some data from the fork block (such as the trie root and block nu

[2022-09-21 16:45] MicaiahReid commented on #3694
Closing as duplicate of https://github.com/trufflesuite/ganache/issues/2911

[2022-09-21 16:45] #3694 closed, assigned to nobody

[2022-09-21 20:54] davidmurdoch opened #3695 "We don't currently type check files in our test directories, so the `types.test.ts` test doesn't fail when it should."

[2022-09-21 21:04] MicaiahReid commented on #3693
Some hacks introduced into our build process:
 - 13b6ebae5b51701fb126c67a8fae2881c651f80e
 - fd9fe2570cb00f32b08334a26cf4a3255a69210d
 - 45d9e392809ca2fa7c961519f738713938581209

[2022-09-22 01:54] michaelclubman515 opened #3697 "fail to install ganache in Mac"
Hi there：
I failed to install ganache in terminal ,could you  please help to give some idea to fix this,thanks !

Mac mini(M1 2020) ,macOS Monterey
Node.js V18.9.0

/**(base) liwei@liweideMac-mini-2 npm % ganache-cli -g
Error: ENOENT: no such file or directory, uv_cwd
    at process.wrappedCwd [as cwd] (node:internal/bootstrap/switches/does_own_process_state:126:28)
    at Yargs (/Users/liwei/.con

[2022-09-22 13:30] MicaiahReid opened #3700 "remove deprecated `eth-sig-util`; use `@metamask/eth-sig-util`"

[2022-09-22 15:24] MicaiahReid opened #3701 "implement codehash prefix"
The `ethereumjs/statemanager` has a new `prefixCodeHashes` parameter that is used [to differentiate between a contract deployed with code `0x80` and `RLP([])`](https://github.com/ethereumjs/ethereumjs-monorepo/blob/34f3dcdf37d2fbeffeb41dc3de693f59b91c46bc/packages/statemanager/src/stateManager.ts#L40-L47). Using the prefix would break Ganache for users who have a local Ganache database, as all exi

[2022-09-22 17:25] davidmurdoch commented on #3697
`ganache-cli` is now `ganache`. Try `npm uninstall ganache-cli -g && npm install ganache -g`

[2022-09-22 19:55] PeterFrucht opened #3702 "Create the scaffolding for a local version of a Ganache plugin"

[2022-09-22 20:10] davidmurdoch commented on #3204
Clone the repo, checkout the branch, run `npm i`, and then run `npm start -- <you can put your options here>`. Example one liner to do all that:
`git clone https://github.com/trufflesuite/ganache.git && cd ganache && git checkout merge-things && npm i && npm start -- --fork mainnet --totalAccounts 5`.

Also see https://github.com/trufflesuite/ganache/blob/develop/CONTRIBUTING.md

[2022-09-22 22:46] davidmurdoch opened #3706 "Drop support for deprecated testnets before October 5th 2022"
Kovan, Rinkeby, and Ropsten testnets will be removed from Infura on October 5th. We need to remove native support for these before. then.

[2022-09-23 06:09] baizetianxia opened #3707 "ganache-cli Forking Infura ETH mainnet Endpoint, gets error "The fork provider errored when checking net_version""
When forking https://mainnet.infura.io/v3/project_id, I get the error:
[code]
The URL does respond to a CURL request:
[code]
Dev envirnment
MacOS :12.0.1  , M1
node 12.22.12,16.13.2
Ganache CLI v6.12.2 (ganache-core: 2.13.2)

[2022-09-23 08:28] jeffsmale90 opened #3709 "Detach mode improvements"
Potential improvements to detach mode:
- ability to tag an instance with a meaningful name (instead of the generated name or in addition?)
- ability to access logs from an instance (with `--follow` as an option) see [docker logs command](https://docs.docker.com/engine/reference/commandline/logs/)
- autoassign ports #2643
- Friendly logs when attempting to start ganache with a port that's in use (i

[2022-09-23 12:12] amandesai01 commented on #763
Adding below methods would be straight forward now that we have txpool_content present.
txpool_contentFrom
txpool_inspect
txpool_status

Should I start working on this (if anyone isn't)? Also, if yes, single PR for all or one for each?

[2022-09-23 12:20] amandesai01 commented on #763
Also, https://github.com/trufflesuite/ganache/pull/1539#discussion_r978573015

[2022-09-23 15:50] MicaiahReid commented on #3693
We should also go through @jeffsmale90's review on #3656 for some tech debt he's found

[2022-09-23 17:12] davidmurdoch commented on #763
@amandesai01 Go for it! Regarding that comment about the `processMap` function. Maybe you could move it to a new helper function exported from `transaction-pool.ts`. Maybe name it something like `mapToJSON` (I'm bad at naming things... other ideas welcome!)

[2022-09-23 17:28] davidmurdoch commented on #3707
What is the exact command you are running? Does `ganache --fork mainnet` work for you?

[2022-09-23 19:40] MicaiahReid commented on #3693
ethereumjs also introduced a new hashing library that is much slower as a default, so we need to make ejs use our current keccak instead.

[2022-09-23 19:50] davidmurdoch commented on #3693
We should probably rip out api-extractor and rethink our types approach.

[2022-09-23 19:52] davidmurdoch commented on #3693
We should discuss removing our alternative lightweight ethereumjs classes and replace them with the expected ethereumjs classes. While we'd likely take a performance hit, the maintenance overhead of keeping them feels like too much.

We have our own block, transactions (transactions and transaction factory), and account classes that we may want to reconsider.

[2022-09-23 20:15] davidmurdoch commented on #3693
In tags.ts i added the new tags in two different places... and they are in different orders. It's not an actual problem, but it'll drive me crazy.

[2022-09-23 20:51] MicaiahReid commented on #763
@amandesai01

It's your call, whatever you prefer!

[2022-09-25 08:42] baizetianxia commented on #3707
@davidmurdoch hello, I just exected `ganache-cli --fork https://mainnet.infura.io/v3/project_id`. Got "Error: The fork provider errored when checking net_version: Invalid JSON RPC response: """
`ganache-cli --fork mainnet` didnot wok. Got "Error: The fork provider errored when checking net_version: connection not open on send()"

[2022-09-26 18:07] MicaiahReid commented on #3709
`ganache instances stop all` would be nice to kill all ganache instances

[2022-09-26 18:08] MicaiahReid commented on #3709
`ganache instances stop <pid>` is probably worth considering too

[2022-09-27 10:05] leeeddin opened #3726 "How to listen on mempool"
Hi, Is there any way to listen to the mempool of my local ganache node?

I tried to use `web3.eth.subscribe('pendingTransactions', function (error, result) {...})` but it's not working as expected. Usually, when we do that under geth it will print out the tx info(tx hash, if we use `web3.eth.getTransaction` to get the tx it will also give us other info without block number, block hash, because the

[2022-09-27 10:45] #3726 closed, assigned to nobody

[2022-09-27 21:08] MicaiahReid opened #3727 "Allow "safe" and "finalized" to be specified for `fork.blockNumber`"
Some additional considerations when implementing:
 - If forking from "safe" or "finalized", `--fork.preLatestConfirmations` should be defaulted to 0 and should throw if specified by the user
 - Consider using "safe" or "finalized" as a default for the `--fork.blockNumber` option

[2022-09-28 04:07] 0xganz opened #3729 "Unexpected result via Staticcall call itself"
[code]
[code]

[2022-09-28 07:27] #3729 closed, assigned to nobody

[2022-09-28 07:29] 0xganz commented on #3729
It's my understanding of static call

[2022-09-28 16:27] davidmurdoch commented on #3707
I just noticed you are using Ganache v6, which is very old. Please update to the ganache package by running:

[code]

[2022-09-28 16:31] davidmurdoch commented on #3662
Not always: https://github.com/trufflesuite/ganache/blob/9980cb5513db6f810625783cae325a937587ebb4/src/chains/ethereum/ethereum/src/database.ts#L66

[2022-09-28 17:49] MicaiahReid commented on #3662
:man_facepalming: my miss!

[2022-09-28 17:49] #3662 closed, assigned to nobody

[2022-09-28 19:36] baizetianxia commented on #3707
Thanks a lot. My problem of ganache-cli has been solved according to your suggestions.

[2022-09-28 19:36] #3707 closed, assigned to nobody

[2022-10-03 13:30] #3706 closed, assigned to jeffsmale90

[2022-10-03 20:40] MicaiahReid opened #3754 "consider removing `eth_subscribe` from tests"
Since eth_subscribe/await message stuff is not needed since we default to eager mode should we keep doing it in our tests? :thinking: I'm torn because it is technically correct... buuuuttt the way we do it isn't 100% correct (since maybe something else also subscribed to a some different thing, and then the `once("message")` might not be the message we were waiting for)

_Originally posted by @dav

[2022-10-04 15:19] MicaiahReid opened #3758 "make PR template"

[2022-10-04 20:33] davidmurdoch opened #3765 "Move truffle's `hdwallet` package to ganache and update our wallet to use it."
See: https://github.com/trufflesuite/truffle/pull/5543

Once we move it here and publish, go back to truffle and update truffle to use our package.

[2022-10-05 01:43] wiggledom commented on #1080
Hello
I already have that same issues in node.js
Please let me know how to fix that issues exactly
Thanks

[2022-10-05 12:49] MicaiahReid commented on #1080
@Passionist59 what version of node and Ganache are you running? And on what OS?

[2022-10-05 14:37] wiggledom commented on #1080
I 'm using 18.2.0 version of node
And I don't use Ganache, I 'm using web3.js

[2022-10-05 14:54] davidmurdoch opened #3770 "Add a section to our release notes generator about how to update/install ganache"

[2022-10-05 21:37] davidmurdoch commented on #736
Fixed by #3361

[2022-10-05 21:37] #736 closed, assigned to tenthirtyone

[2022-10-06 19:00] MicaiahReid opened #3773 "consider updating persistent cache to get blocks from fork network by tag"
The persistent cache's `get` function doesn't currently allow passing the "earliest" tag to cache that request:
https://github.com/trufflesuite/ganache/blob/2ec04fa2fe1dc3a5001da9f58a9629d64fdb2530/src/chains/ethereum/ethereum/src/forking/persistent-cache/persistent-cache.ts#L323-L351

This is kind of tricky to work around because of the way we lexicographically encode the requests to store/retrie

[2022-10-06 19:26] MicaiahReid commented on #3773
Related: #3755

[2022-10-06 21:05] davidmurdoch commented on #3754
I think we should do it. If we ever want to run all tests in both modes this would change would suck, but I don't think all tests are consistent enough to do it in either mode as is anyway.

[2022-10-06 21:21] #3400 closed, assigned to davidmurdoch

[2022-10-06 22:02] uNetworkingAB commented on #2320
I'm planning on fixing this. Did not know anyone wanted it fixed.

[2022-10-07 11:42] smacrineanu commented on #1080
Same here, this warning is kind of annoying, I am using Ubuntu 20.04 in WSL.

[2022-10-07 15:35] davidmurdoch commented on #1080
@Passionist59, @smacrineanu This isn't the web3.js repository.

[2022-10-08 06:19] uNetworkingAB commented on #2320
Fixed, will be part of next release

[2022-10-08 08:15] teymourian opened #3779 "Can Ganesh be used as a commercial project?"
Hi friends
Can this project be commercialized as a blockchain?
used to have all the features including security and NFT sales
If not, what project should we use?
Thanks

[2022-10-10 15:23] jeffsmale90 commented on #3779
Definitely not. Ganache is designed to _simulate_ a blockchain. As such, it doesn't include the consensus mechanisms from which blockchains derive their security and trust.

[2022-10-10 15:23] #3779 closed, assigned to nobody

[2022-10-10 17:05] gnidan commented on #3779
you might consider using the Ethereum blockchain for commercial use

[2022-10-11 10:43] satyajeetkolhapure opened #3790 "Implement --unlock-all flag to unlock all accounts (known or not) for eth_signTransaction, eth_sign, and eth_signTypedData_v4"
This option is implemented for eth_sendTransaction in [PR](https://github.com/trufflesuite/ganache/pull/3710)

Note : eth_sendTransaction does not need original private key so fake private key is used. For eth_signTransaction, eth_sign, and eth_signTypedData_v4 there is a dependency on private key and fake private key won't work

for reference - https://github.com/trufflesuite/ganache/issues/3620

[2022-10-11 12:27] teymourian commented on #3779
tnk @jeffsmale90 @gnidan

[2022-10-11 14:59] MicaiahReid opened #3791 "implement optional chaining and nullish coalescing operator"
Now that we're about to drop node 12, we can implement this nifty new operators that were introduced in node 14!

For example: [this line](https://github.com/trufflesuite/ganache/blob/ec09d2715a94e15ab58a48eb64e89bea86efd569/src/chains/ethereum/ethereum/src/blockchain.ts#L148) can take advantage of optional chaining to be simplified to:
[code]

The nullish coalescing operator (`??`) can be used to

[2022-10-11 16:29] davidmurdoch opened #3792 "` this.blockIndexes.close(), `should be `this.blockLogs.close()`."
Related discussion: https://github.com/trufflesuite/ganache/discussions/3789

[2022-10-12 10:06] olehmisar opened #3794 "Ganache mines two different transactions with the same "from" and "nonce""
[Reproduction](https://replit.com/@someguy321/MoralWaterySeahorse#index.ts). You need to fork repl (top right corner) to see the console.

Ethereum does not allow two different transactions with the same from and nonce. But ganache does. In the repro, we can verify that it indeed confirmed those two transactions because the balance of the destination address is `3` (`1 + 2`).

I want simulate tran

[2022-10-12 14:20] jeffsmale90 commented on #3794
Thanks @olehmisar for raising this issue!

@MicaiahReid and myself have looked into the problem, and have identified that the issue is only reproducible when Ganache is running in the same node process as the caller (in this case Ethers).

We were unable to reproduce the issue with:
- Ganache running in a separate process
- nor Interacting with Ganache directly as a provider (`ganache.provider()`)

[2022-10-12 14:35] davidmurdoch commented on #3794
Looks like it is a duplicate of #2489. Let's keep this one open as well since it has good repro steps.

[2022-10-12 15:21] MicaiahReid commented on #3794
@davidmurdoch  I think it's a slightly different issue. #2489 is when Ganache is generating the nonce for the user. This one is when the user is specifying the same nonce for two transactions and Ganache doesn't reject it. Regardless, I think the new queue we've implemented in #3498 will resolve this.

[2022-10-14 19:12] davidmurdoch opened #3804 "Investigate sorting optimization in eth_feeHistory"
This could become a thread. I pose creating an issue, linking here, and moving the optimization out of scope.

Why insertion over a more stable sort like merge?  I agree that the more well-ordered the original list the closer to n runtime insertion becomes, but as the number of transactions increases with scale wouldn't the insertion sort algo drift towards n^2 where one like merge will always pro

[2022-10-15 00:31] sewinter opened #3805 "0 should be a supported port"
1. 0 should be a supported port.
2. Yikes to this error message:

[code]

[2022-10-15 00:39] davidmurdoch commented on #3805
Hey, can you provide reproduction steps? Also, what version are you using?

[2022-10-15 00:44] sewinter commented on #3805
Hi David, I'm on `7.4.4`. Repro:

[code]

[2022-10-15 00:48] davidmurdoch commented on #3805
Looks like a duplicate of https://github.com/trufflesuite/ganache/issues/2643. I'll try to get the priority bumped up on this for you. I suspect it will be an easy fix. Thanks for reporting!

[2022-10-15 00:48] sewinter commented on #3805
Thank you! I ended up writing a utility to find a free port, so it's not super urgent for me.

[2022-10-16 18:25] sahilrajput03 commented on #3095
Hey, @anthdm your suggestion worked, thanks a lot.

I used free domain from https://www.noip.com/ to map to my dynamic IP address so its feasible for anyone out there like me but still I WOULD APPRECIATE A DIRECT WAY FROM GANACHE team TO MAKE IT POSSIBLE FOR SURE):

Dynamic DNS setting so it updates my IP address (I don't have a static IP address) on the no-ip server. no-ip server is free (you nee

[2022-10-17 08:57] AngelPn commented on #3661
I'm having the same issue. Here are some of my system informations.
OS: Windows 10
node: v16.13.0
npm: 8.1.0

[2022-10-17 14:40] davidmurdoch commented on #3661
@AngelPn can you paste the output of `npm install ganache@latest -g`?

[2022-10-17 14:59] anishnaik commented on #3332
@davidmurdoch any updates on this?

[2022-10-17 16:20] davidmurdoch commented on #3332
Can you try `ganache@alpha` and let me know if that fixes it for you??

[2022-10-18 15:17] AngelPn commented on #3661
@davidmurdoch Here is the output:
[code]

[2022-10-18 15:48] davidmurdoch opened #3813 "Remove support for leveldown interfaces for `db`, replacing it with the `level` interface"
https://github.com/Level/memdown is deprecated, replaced with https://github.com/Level/memory-level. The interfaces aren't compatible. We don't want to continue to maintain both interfaces, so we plan on dropping support for the original leveldown interface (like `memdown`) ganache `v8`

[2022-10-18 18:34] anishnaik commented on #3332
Hey @davidmurdoch apologies for the delayed response. `ganache@alpha` worked with the above codebase :)

Is there a timeline for an official release?

[2022-10-19 14:28] davidmurdoch commented on #3332
There is no timeline; we are working now to improve stability.

[2022-10-19 20:33] MicaiahReid commented on #3693
A little something to track the remaining work:

| Problem Description | PR | Status |
| -------- | -------- | -------- |
| Implement suggestions in the review of #3656 | #3912 | Reivew |
| Fix types building/remove associated hacks (fd9fe25, 45d9e39) | #3913, https://github.com/microsoft/rushstack/issues/3702     | Review   |
| Remove webpack hacks 13b6eba |  #3916    | Review     |
| ~~Replace h

[2022-10-20 20:08] davidmurdoch commented on #3667
Closing this. Please comment or open an issue if this is still a problem.

[2022-10-20 20:08] #3667 closed, assigned to nobody

[2022-10-20 20:09] #3697 closed, assigned to nobody

[2022-10-20 20:44] #2135 closed, assigned to nobody

[2022-10-20 20:54] cds-amal commented on #3661
Hi @AngelPn,

I was able to install Ganache without issues on Windows 10 (`Node v16.18.0`, `npm v8.19.2`). Can you try with latest Node v16?

[2022-10-20 23:25] tenthirtyone opened #3827 "Performance optimization for `eth_feeHistory` when forking in fallback mode."
I spent some time exploring @davidmurdoch 's comment [here](https://github.com/trufflesuite/ganache/pull/3351/files/8ac8e75b3fba732d717565902fe95ca1f8d3655b#r967171475).

When a large range of blocks or high number of transactions are involved responses when forking can take a long time. Although we can  process requests concurrently, fallback mode currently relies on a socket connection that is r

[2022-10-21 16:29] davidmurdoch opened #3831 "Feature idea for CLI: add support for `--require <script>.ts|js`"
This will also work really well with `--detach` mode that is in progress.

example:

[code]

where install-contracts.js _could be_ something like:

[code]

But you could also do things like:

[code]

Admittedly, this isn't much different than what you could do with the upcoming `--detach` mode:

[code]

But with the added benefit of the injected ganache `provider`.

---

Obviously we could scope-c

[2022-10-21 16:29] davidmurdoch commented on #3831
Note: it probably shouldn't be named `--require`, it's just the first name I thought of since that is what mocha uses. I kinda think it is a weird name for it though.

[2022-10-21 19:09] #1470 closed, assigned to tenthirtyone

[2022-10-24 18:34] tenthirtyone commented on #3398
Additional Information:

This issue can reliably be reproduced when starting ganache in fallback mode through mainnet forking. In this mode, ganache will rely on a socket connection to Infura.

Initial investigation shows that the connection is reliably terminated after 60 seconds of inactivity. This 60s window can be obscured by long running requests (e.g. a large `feeHistory` request).

It is po

[2022-10-24 19:15] davidmurdoch commented on #3398
Is the determination that Infura is not sending pings? Or that we are just not responding to them in time because we're too busy deadlocks when processing data?

[2022-10-24 21:40] cds-amal opened #3835 "Ganache should update its CI dependencies"
Ganache has some deprecation warnings in CI.

[See this run,,, click me](https://github.com/trufflesuite/ganache/actions/runs/3315424235). I submitted a PR to update most of the issues, but these two remaining ones touch on CI logic. The Ubuntu one may be easy as it is already excluded... but I could be misunderstanding things.

- set-output

- Ubuntu 18.04, which can cause longer queues during pe

[2022-10-24 22:25] davidmurdoch commented on #3835
Re `set-output`, we don't us it directly. I wonder where it is coming from.

Re ubuntu 18.04. We have a PR to fix it here https://github.com/trufflesuite/ganache/pull/3405. It was previously blocked by Node v12 support.

[2022-10-25 00:20] MicaiahReid commented on #3835
@davidmurdoch  we do use `set-output` for the new docker action for our releases. I didn't realize it was deprecated. Seems like it should be an easy fix to remove it.

[2022-10-25 00:22] cds-amal commented on #3835
https://github.com/trufflesuite/ganache/blob/develop/.github/workflows/release.yml#L57
https://github.com/trufflesuite/ganache/blob/develop/.github/workflows/release.yml#L131

[2022-10-25 16:43] davidmurdoch commented on #3835
Ah, I'm working on branch that hasn't rebased to include the docker yaml stuff. Thanks for the correct!

[2022-10-25 17:02] davidmurdoch opened #3838 "We need to export Server's `ServerStatus` from top-level `ganache`"
This export is missing... so it makes it very hard for users to use `server.status`!

[2022-10-25 21:59] davidmurdoch opened #3841 "Investigate removal of potentially extraneous `catch`"
Another "you didn't do it, but..."

[code]

The `catch` here might be extraneous, as we catch "NOTFOUND" exceptions in `manager.ts` https://github.com/trufflesuite/ganache/blob/3a74e07ea9a90ec7d6749cfad5703d679ba0dac1/src/chains/ethereum/ethereum/src/data-managers/manager.ts#L30

Do with that thought what you will.

_Originally posted by @jeffsmale90 in https://github.com/trufflesuite/ganache/pull

[2022-10-25 22:13] davidmurdoch opened #3842 "Ensure `storageRangeAt` doesn't modify state by using the db comparison helper from other tests"
This was old/stale, I left it in but it may not be relevant - Per our chat, it might be worthwhile it to add a unit test to ensure zeroed out storage is being properly handled. I believe it is working just fine but we may not explicitly test for it

_Originally posted by @tenthirtyone in https://github.com/trufflesuite/ganache/pull/3470#discussion_r939022904_

[2022-10-26 03:33] mookim-eth opened #3843 "Can we forward multiple blocks quickly?"
`evm_mine` can only forward one block, and consecutively requesting `evm_mine` for thousand times request a lot of time

Can we add another RPC method for forwarding multiple blocks quickly, like `evm_increaseblocks(10000)`?

I just want to set block height to a bigger value, no need to query these generated/skipped blocks.

[2022-10-26 10:28] fr0zn opened #3844 "BUG: Forking does create a new empty block"
Forking from any network including another ganache istance using "latest" block does generate a new empty block those reporting an invalid height. As an example, running the latest ganache version with:

[code]
Then deploy a contract:

[code]

And finally fork the first chain with ganache on a new terminal:

[code]

### Different eth_blockNumber

If you now check `eth_blockNumber` on both chains,

[2022-10-26 12:11] davidmurdoch commented on #3843
You can. Use `evm_mine` with params `[{ blocks: "0x1234" }]`.

[2022-10-26 12:23] davidmurdoch commented on #3844
Not a bug. The empty block writes your account balances to the trie. We know it's annoying and plan on changing the default behavior in our next major version release (probably in April). https://github.com/trufflesuite/ganache/issues/2911

[2022-10-26 12:23] #3844 closed, assigned to nobody

[2022-10-26 12:54] davidmurdoch opened #3845 "Set `timestampIncrement` option to `1` by default in v8.0"

[2022-10-27 01:36] #3843 closed, assigned to nobody

[2022-10-27 15:40] yehted opened #3851 "`eth_getBlockByNumber` returns block header with non-zero difficulty"
By default, the `--miner.difficulty` option is set to `0x1`. After the merge, shouldn't it be `0x0` by default? This is causing problems if someone uses, for example, the [ethereumjs/block](https://github.com/ethereumjs/ethereumjs-monorepo/tree/master/packages/block) package, method `Block.fromRPC(...)`, where it expects the difficulty to be zero.

[2022-10-27 15:56] davidmurdoch commented on #3851
Are you using `ganache@alpha`

[2022-10-27 16:46] yehted commented on #3851
I'm using v7.4.4

[2022-10-27 16:53] davidmurdoch commented on #3851
The stable/latest releases don't yet support the merge. You can track progress on it here: https://github.com/trufflesuite/ganache/issues/3693#issuecomment-1284540912

In the meantime you can use https://github.com/trufflesuite/ganache/releases/tag/v7.4.4-alpha.0 if you need merge hardfork logic.

[2022-10-27 16:53] #3851 closed, assigned to nobody

[2022-10-31 18:24] tenthirtyone opened #3856 "Default `chain.time` to UTC timezone when no timezone is provided."
The switch for `chain.time` can have different meaning depending on the timezone set by the user's operating system.

`--chain.time 2022-10-20T14:51:49`
`--chain.time 2022-10-20T14:51:49Z`

[code]

quick search of files:
[blockchain.ts](https://github.com/trufflesuite/ganache/blob/cc84f3f28da2710774936b3cf6b4a218d0a5b5ed/src/chains/ethereum/ethereum/src/blockchain.ts#L299)
[chain-options.ts](https

[2022-11-03 06:03] robmcl4 opened #3864 "Support Paris hardfork"
## Current Situation
`ganache` only supports up to the `grayGlacier` ethereum hardfork (see [`src/chains/ethereum/options/src/chain-options.ts:5`](https://github.com/trufflesuite/ganache/blob/cc84f3f28da2710774936b3cf6b4a218d0a5b5ed/src/chains/ethereum/options/src/chain-options.ts#L5)).

However, the [Paris](https://github.com/ethereum/execution-specs/blob/master/network-upgrades/mainnet-upgrades/

[2022-11-03 12:17] davidmurdoch commented on #3864
We do have a release for support under the alpha tag: https://github.com/trufflesuite/ganache/releases/tag/v7.4.4-alpha.0

You can track our progress getting it to stable here: https://github.com/trufflesuite/ganache/issues/3693#issuecomment-1284540912

[2022-11-03 12:17] #3864 closed, assigned to nobody

[2022-11-08 17:26] davidmurdoch commented on #2577
Thing could be made clearer specifically for programmatic use:

 * Was looking through README and docs and most was for UI and CLI tools
 * One of the only sources of documentation was the README, but limited examples (it’s only basic setup)
 * Fleshing out set up docs - snaps I had forking with the provider, db layer, configuration

In ganache, things are given for free (magic):

 * Example: it’s

[2022-11-11 14:39] MicaiahReid opened #3899 "Remove webpack hack to prevent loading ethers"
I've added a [TODO](https://github.com/trufflesuite/ganache/blob/266ae9b96be7cb94d564d13fc823e89d9769602c/src/packages/ganache/webpack/webpack.node.config.ts#L25) to remove this line which prevents importing ethers when webpacking Ganache.

Without this, we get the error `ReferenceError: atob is not defined` when running Ganache after webacking. The new ethereumjs version import ethers, which uses

[2022-11-13 20:30] jeffsmale90 opened #3903 "Consider `ganache instances start` command"
As per comment https://github.com/trufflesuite/ganache/pull/3568#discussion_r1019662643 consider adding command `ganache instances start` as alias to `ganache --detach`.

[2022-11-13 21:35] jeffsmale90 opened #3904 "Consider handling access denied on `instances`"
In some cases, unexpected behaviour can be experienced when attempting to manage detached instances, due to unexpected access permissions.

Tested on MacOs. "... on folder" refers to the `instances-nodejs` folder in which the instance files are stored. `... on file` refers to an individual instance file.

| Permission  | Behaviour |
| ------------- | ------------- |
| -r on folder  | `ganache inst

[2022-11-15 01:55] davidmurdoch commented on #3491
This may be related to this Node bug: https://github.com/nodejs/node/issues/40702

[2022-11-15 04:35] benjamincburns commented on #3491
Assuming that the issue is caused by nodejs/node#40702, you may find that the problem abates on node 16.x.x. You may also find that if you check the output of `lsof -i -P | grep LISTEN | grep 8545`, the `node` process that hosts ganache will be listening on IPv6 (usually the 5th column in the output).

We just encountered and fixed what's likely the same issue with the Truffle dashboard. I wrote u

[2022-11-15 09:52] marcello33 opened #3915 "Solve dependencies vulnerabilities"
## Issue

`ganache-cli@6.12.2` comes with vulnerabilities, as detected by `snyk`.

Please, update the dependencies.

## Steps to Reproduce

Run `snyk test` or - theoretically - any other dependencies' vulnerabilities detector on any project using that version of ganache

## Expected Behavior

No vulnerabilities detected in any indirect dependency

## Actual Results

Issues with no direct upgrade o

[2022-11-15 13:14] davidmurdoch commented on #3915
The `ganache-cli` package is deprecated. You need to switch to `ganache` as indicated in the deprecation message.

[2022-11-15 13:14] #3915 closed, assigned to nobody

[2022-11-15 20:52] DiscRisknBisque commented on #3491
I think this is related, on my machine (which, for context, produced the error @benjamincburns is referencing) if I run ganache on localhost and my `truffle-config` is set to `127.0.0.1` I get the error:
[code]

If I change my `truffle-config` to use `localhost` as well, then it will work. This leads me to believe it is the IP resolution issue.

[2022-11-16 22:12] tobiaskemkes opened #3921 "Cannot read properties of undefined (reading 'toggleStepEvent')"
Hey there,

I’m following the documentation of the Ganache npm package: https://www.npmjs.com/package/ganache.
I use version 7.5.0 of the npm package and ganache as an EIP-1193 provider only.
I run into an error with the ganache:vm:tx:step provider event, all other provider events seem to work fine.
Please see the Typescript code snippet and the error below.

Any help would be much appreciated!

*

[2022-11-16 22:26] davidmurdoch commented on #3921
Thanks for opening this. This is a bug!

You can work around this by changing your code to:

[code]

[2022-11-16 22:30] davidmurdoch commented on #3921
Some backstory: the data that makes up a `"step"` event is expensive to create so we only create it if there is a listener. Some of our internals take a small amount of time to initialize, so when you subscribed to `"ganache:vm:tx:step"` the `provider` tried to tell this internal that it should create and emit step events.... but that internal doesn't exist yet.

Sorry about this! We'll fix it soo

[2022-11-16 23:36] tenthirtyone opened #3922 "Version Check activation code"
VC will deploy disabled.

At a future release, we will activate it.

The only code change will be flipping `enabled` in the config to true.

However, VC will need to check for existing config files whose `lastVersion` is >= the deployment semver for VC and <= activation semver of VC. These VC config files will already exist on the user's disk and have `enable` set to false. VC will not clobber an

[2022-11-17 09:18] tobiaskemkes commented on #3921
Thank you for the quick response and clarification, it works now!

[2022-11-17 21:29] davidmurdoch commented on #3856
I think we should throw if the timezone is missing, despite this potentially breaking for some users that use this time format without a timezone. I think this is a bug; we shouldn't be allowing this. Open to other's opinions 👇 (comment below!)

[2022-11-18 08:13] seinmyung25 opened #3924 "debug_traceTransaction, Invalid string length"
i'm using ganache by brownie
`ganache-cli --chain.vmErrorsOnRPCResponse true --wallet.totalAccounts 10 --hardfork istanbul --miner.blockGasLimit 12000000 --wallet.mnemonic brownie --server.port 8545 --wallet.defaultBalance 1000000000`

[code]

brownie test error
`brownie.exceptions.RPCRequestError: Invalid string length`

correstponding ganache log
[code]

When i call an error transaction to eth_c

[2022-11-18 14:15] davidmurdoch commented on #3924
Are you able to provide complete reproduction steps?

[2022-11-18 14:38] sagarkhatri200 opened #3926 "Ganache using some vulnerable library"
I feel ganache has some security vulnerabilities.  Any data that ganache uses locally should not be exploited or exported over.

[2022-11-18 14:55] #3926 closed, assigned to nobody

[2022-11-18 21:39] yepengding opened #3928 "Contract state inconsistency in forked networks at historical blocks"
I found inconsistent contract states between the forked network and mainnet at block 11129500-11129520.

## Environment
- Mac M1
- ganache v7.5.0 (@ganache/cli: 0.6.0, @ganache/core: 0.6.0)
- node v16.18.1

### Fork
*URL*:
https://mainnet.infura.io/v3/
*Block number*:
11129514 (11129500-11129520)

### Contract
*Address*:
0x1C47343eA7135c2bA3B2d24202AD960aDaFAa81c
*Name*:
[CRVStrategyStableMainnet]

[2022-11-18 22:02] davidmurdoch commented on #3928
@yepengding Is it possible for you to share the code to reproduce so we don't have to write steps 2-4 ourselves?

[2022-11-18 22:11] yepengding commented on #3928
@davidmurdoch Thanks for the prompt reply.
Here is the demo code.

1. `CRVStrategyStableMainnet.py`: contract class
[code]

2. Test script
[code]

3. Run Ganache command
[code]

[2022-11-19 01:40] davidmurdoch commented on #3928
This is likely an issue with the annoying way Ganache currently keeps track of time: we use the system time by default, even for forks.

It's a horrible default and we will fix it in [the next major release](https://github.com/trufflesuite/ganache/issues/3186#issuecomment-1177963245).

But for now, you'll have to find the time of the block number yourself (with millisecond precision), then start G

[2022-11-19 21:14] yepengding commented on #3928
Thanks for the detailed answer. Manually setting the chain time works.
I am glad to hear the updates in the next major release and looking forward to it.

Also, thank you so much for the friendly tips. `miner` option is very helpful. I use the private Infura ID for statistic reasons. The Ganache default is surely enough for common use.

Lastly, may I also suggest a similar enhancement mentioned in

[2022-11-19 21:23] rick-rheo opened #3932 "Invalid value in wallet.unlockedAccounts"
`ganache --fork https://mainnet.infura.io/v3/<my api key> --unlock 00000000219ab540356cbb839cbe05303d7705fa `

returns error

`Invalid value in wallet.unlockedAccounts: 00000000219ab540356cbb839cbe05303d7705fa`

ganache-cli 6.x worked

Is --unlock not supported any more?

[2022-11-19 22:30] davidmurdoch commented on #3932
I'm away from my desk and can't test right now, but I think it's just missing the `0x `prefix.

[2022-11-19 22:31] kkggg55 commented on #3021
I'm facing the same bug. Any fix coming soon?

[2022-11-19 22:32] davidmurdoch commented on #3928
Happy to help! Give that other issue a 👍. We use issue engagement as a strong signal for what we work on.

[2022-11-19 22:32] #3928 closed, assigned to nobody

[2022-11-19 23:00] tenthirtyone commented on #3932
I'm able to confirm the `0x` prefix:
[code]

[2022-11-20 00:08] #3932 closed, assigned to nobody

[2022-11-20 01:27] davidmurdoch commented on #3021
@KhalilJouaneh please open a new issue and provide details.

[2022-11-20 06:56] seinmyung25 commented on #3924
[error.tar.gz](https://github.com/trufflesuite/ganache/files/10049023/error.tar.gz)
This is the failed chain data snapshot(option `--db`).
please check transaction `0x13652715b80a821ff9e3945e2c8b059b0cfec6fd4c65c6e0794348b2051146`.

[2022-11-20 18:50] davidmurdoch commented on #3924
Thanks. I'll try to check it out tomorrow.

[2022-11-22 00:42] davidmurdoch commented on #3924
Sorry, couldn't get to this today. I'll try again tomorrow! 😁

[2022-11-22 20:11] davidmurdoch opened #3948 "Ensure `then`/`catch` pattern usage is correct"
There are at least a few places in ganache where we use `then`/`catch` incorrectly. Like:

https://github.com/trufflesuite/ganache/blob/a18a0f11f4f3709e1c45822ddcc37d14c86b943f/src/packages/core/src/server.ts#L290

The problem here is that the code in the _then_ could throw, which would then be caught by the `catch`. In this specific case our `catch` shouldn't be catching errors from the previous

[2022-11-22 20:17] davidmurdoch opened #3949 "`detach` mode table doesn't render properly on narrow terminal windows"
We need to be able to render on terminal windows as small as 80 columns wide.

On an 80 column terminal window it renders something like:

![image](https://user-images.githubusercontent.com/187813/203412719-174f2860-abd4-4ad6-a6ec-b7d9ab07777c.png)

[2022-11-23 18:21] davidmurdoch opened #3952 "GitHub code blocks have a `Copy` shortcut button, but many of our `console` examples don't work when pasted"
For example, in our README we have:

[code]

markdown:
[code]

which when copied via GitHub's Copy button can't be pasted into a terminal, because it includes the `$`.

Instead, it should probably be:

[code]

markdown:
[code]

Note: `nix` here renders in orange, which is very on brand for Ganache. I am _not_ saying we must use `nix` here. But maybe we could? Discussion needed. /shrug

[2022-11-24 13:14] AoDev opened #3956 "Error on trying to install latest Brownie version with pipx"
Got this error.

[code]

[2022-11-24 13:15] #3956 closed, assigned to nobody

[2022-11-24 13:15] AoDev commented on #3956
Sorry, I opened it on the wrong repo

[2022-11-25 01:16] davidmurdoch opened #3957 "We should let users store their own RPC endpoints on Ganache's config so they can alias mainnet, etc."
Note: we don't have a config yet. But we will soon!

[2022-11-28 18:15] wrong7 commented on #643
Hey how is this feature going? Any ETA?

[2022-11-28 23:06] jeffsmale90 opened #3965 "Detach mode could have simplified file management"
Once the minimum supported version of node is >= 14.14, removal of files could be simplified in detach mode.

`detach.ts` currently uses a mixture of `unlink` and `rmdir` to remove wanted and unwanted files from the instances directory. This could be replaced by `fsPromises.rm`, utilising the `recursive` argument.

https://nodejs.org/api/fs.html#fspromisesrmpath-options

[2022-11-29 21:32] davidmurdoch opened #3967 "Idea: `ganache tutorial` to run a REPL-based tutorial"
See: https://github.com/trufflesuite/trufflesuite.com/issues/1368
Related: https://github.com/trufflesuite/ganache/issues/2103

[2022-11-30 21:05] jeffsmale90 opened #3972 "RPC-METHODS.md doesn't have `eth_getProof`"
Ensure that all Ethereum RPC methods exposed are documented in `/src/chains/ethereum/ethereum/RPC-METHODS.md`