[2019-09-17 16:23] davidmurdoch commented on #447
@ZeeshanAhmadKhalil Do you mind opening a new issue with reproduction steps?

[2019-09-18 03:59] ZeeshanAhmadKhalil commented on #447
@davidmurdoch  My issue was resolved when i used `Ganache-cli 7.0.0` to create accounts `` instead of `using ganache 2.1.1` . Actually  `ganache-cli --version` tells us version and also creates 10 eth accounts on local host for `ganache-cli 7.0.0` .

[2019-09-18 06:28] ZeeshanAhmadKhalil opened #679 "Can't create eth accounts on wifi by using ganache-cli@v7.0.0-beta.0"
I was previously getting `out of gas` error which was resolved by following [this](https://github.com/trufflesuite/ganache-cli/issues/447) issue. Now i installed `ganache-cli@v7.0.0-beta.0` . It creates ethereum accounts on localhost if i write the following command;

The accounts on local host are as follows. If i use these accounts i didn't get out of gas error.

[code]

But now the **problem**

[2019-09-18 09:35] Wiesel2000 commented on #674
Thank you so much for the assistance @davidmurdoch 👍
It all works well now !!
You guys are legend 🥇

[2019-09-18 20:33] davidmurdoch commented on #679
`ganache-cli@7.0.0-beta.0` and `ganache-core@3.0.0-beta.0` are very old and shouldn't be used.

You cannot use specific `ganache-cli` instances with Ganache UI. The hostname feature is the hostname you want to use when connect over RPC to issue commands, it is not a directive for Ganache UI to use a specific cli interface

Can you provide steps to reproduce your Out of Gas issue here?

[2019-09-18 20:34] #674 closed

[2019-09-18 21:29] davidmurdoch commented on #677
Can you expand on the `Run the repo tests against ganache. Take note of the time spent by each test.` step? I've manually updated the truffle config with a hardcoded mnemonic to point to a `ganache-cli@6.4.5` running with the same mnemonic on on 9545, but the tests seem to hang on `Contract: Clovers`.

[2019-09-19 13:35] alcuadrado commented on #677
Ah, sorry @davidmurdoch, I opened this issue in a hurry and didn't notice that it was super incomplete.

Here are more details on how to reproduce it and how to notices this behavior.

[code]

Add this network to `truffle.js`:

[code]

[code]

All the tests should pass, but some of them are consistently somewhat slow. You can note that by looking at Mocha's execution time reporter. For example:

[

[2019-09-21 00:19] davidmurdoch opened #680 "Add option to disable websocket server on startup"

[2019-09-27 15:51] nicholasjpaterno commented on #646
Closing this for now.  Please reopen if this is in error!

[2019-09-27 15:51] #646 closed

[2019-10-02 15:14] feuGeneA opened #682 "Support EIP-695 (eth_chainId)"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5d94b7c966c8b45122573b35

## Expected Behavior

RPC endpoint should respond to the `eth_chainId` method per EIP-695.

## Current Behavior

I'm using Web3.py's `web3.eth.chainId` interface, and getting the following back from ganache-cli:

[code]

## Con

[2019-10-02 22:39] davidmurdoch commented on #682
ganache-cli supports `eth_chainId` since version 6.5.0. You may need to update?

[2019-10-03 20:42] Schwartz10 opened #683 "Ganache-cli blows call stack even when not running"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5d9629a00459254672e9b8c9

## Expected Behavior

requiring ganache should not blow out the callstack when using `fs.createReadStream` in jest test environments.

## Current Behavior

Here's a repo to reproduce the bug: https://github.com/openworklabs/ga

[2019-10-03 23:50] davidmurdoch commented on #683
Woah. This is really weird!

I'm able to reproduce this issue going back to ganache-cli releases from over a year ago!

This looks to be a bug in `graceful-fs`, which is used by some transitive dependencies of ganache-core. `graceful-fs`, when required, looks to be overwriting `fs` module methods, proxying calls to the originals when necessary.

Example from `graceful-fs.js`:
[code]

My hunch is t

[2019-10-08 07:40] Mojicode commented on #466
Is there any solutions for this problem now ?

[2019-10-08 09:07] Mojicode commented on #466
I know my issue now, **I start geth with fast mode, and I use history blocknumber to get address balance**, so it report the "missing trie node". **When I use the latest blockNumber to get addr balance, it is OK.** Hope it's useful for you.

[2019-10-08 12:20] davidmurdoch commented on #466
Thanks, @Mojicode for the additional information! Since this is an external error due to the external forked node not being fully synced i'm going to close this issue.

[2019-10-08 12:20] #466 closed

[2019-10-10 09:17] reuvenpo opened #684 "Question - Is there a way to compile just one contract in the contracts/ folder?"
The title is pretty much my question. Is there a way to compile just one contract in the `contracts/` folder? If i have a lot of contracts in the Contracts forlder, but only need one, i stil have to wait for them all to compile when i compile from a fresh checkout.

## Expected Behavior
executing `truffle compile MyContract` should compile `contracts/MyContract.sol` only, and not all the contracts

[2019-10-11 09:33] damianlluch opened #685 "Show private and public Keys"
Is it possible to list private and public keys with any command?

[2019-10-20 01:26] Wiesel2000 commented on #674
Hi There,

I've tried to use ganache today again and it looks like I am having issues to start it. This is strange as it ended up working fine last month after you assisted in the resolution (see posts above).

I have pasted below what I tried today and the corresponding compilation + errors.
Why does the ganache-cli command is not found whereas ganache-cli appears to be installed?

Last login: Su

[2019-10-21 19:01] davidmurdoch commented on #674
Sounds like your node or npm installation is misconfigured. You might want to try uninstalling and reinstalling node.

[2019-10-22 02:36] hanstf opened #686 "Getting different error in ganache-cli than testnet"
When trying to simulate error, I am getting different result which causes truffle-contract to detect that error as receipt in the extractReceipt function

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [X]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5dad0b13ea0d6159fd9f33c0

## Expected Behavior

Getting the same as testnet
[code]

## Current Beh

[2019-10-22 10:41] Wiesel2000 commented on #674
Thank you for your reply @davidmurdoch

I have uninstalled node by deleting the files as explained in this link:
https://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x

_To completely uninstall node + npm is to do the following:

go to /usr/local/lib and delete any node and node_modules
go to /usr/local/include and delete any node a

[2019-10-22 11:41] SirPhemmiey commented on #625
This happens because you're trying to send a transaction from an address which the node(or ganache) does not know the private key of.

[2019-10-22 22:48] Wiesel2000 commented on #674
Hi @davidmurdoch,

I have checked this forum thread which has a similar error message as I do:
https://github.com/aragon/aragon-cli/issues/328

Hence as recommended I looked at this solution:
https://github.com/nodejs/node-gyp/wiki/Updating-npm%27s-bundled-node-gyp

But I am getting the issues below:

:~ me$ npm explore npm -g -- npm install node-gyp@latest
+ node-gyp@6.0.0
updated 1 package and a

[2019-10-23 03:24] Wiesel2000 commented on #674
Hi @davidmurdoch ,

Here is another update to this long story.
I have upgraded to OS Catalina and I get the following error.
Should I create a new issue btw ok keep posting in here?

:~ me$ npm uninstall -g ganache-cli && npm install -g ganache-cli
removed 88 packages in 0.949s
/Users/me/.npm-global/bin/ganache-cli -> /Users/me/.npm-global/lib/node_modules/ganache-cli/cli.js

  CXX(target) Release

[2019-10-24 10:55] Wiesel2000 opened #687 "Installation issues for ganache cli and Truffle on Mac OS Catalina (version 10.15)"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

## Expected Behavior

Being able to install ganache cli and truffle as expected and run ganache -cli and truffle from the Mac terminal using the commands below:

$ ganache cli
$ truffle

## Current Behavior

When trying to install ganache cli and truffle, the errors pasted below appear and it is not possible to start ganac

[2019-10-24 17:19] davidmurdoch commented on #687
This is likely an issue with your node/npm installation. Do any other globally installed modules work for you? If not, you'll need to figure out what that issue is. You could also try using the [yarn package manager](https://yarnpkg.com/lang/en/).

In the mean time you could use `npx ganache-cli` and `npx truffle`.

[2019-10-24 21:50] fabianorodrigo commented on #543
I've just got the same problem using Ganache CLI v6.7.0 (ganache-core: 2.8.0)

[2019-10-26 04:59] Wiesel2000 commented on #687
Hi @davidmurdoch

Thank you for your answers.

See below my 3 comments:

**1. Other global npm modules**
I have completely uninstalled node and reinstalled from scratch the version 13.0
It seems like the location where the node modules are installed is strange, see below where are the folder globally saved:
:~ me$ node -v
v13.0.1
:~ me$ npm -v
6.12.0
:~ me$ echo $PATH
/usr/local/bin:/usr/bin:/bin:

[2019-10-26 20:19] brockelmore commented on #570
I am encountering this when using ganache-cli@6.7.0 in docker mode and using
[code]
for the creation of ganache. Then I would run `truffle debug --network test 0x98ace240d67339e57e588e1c902102d1b0dde67bd335d16a6467b24d3bd841f9`. It compiles the contracts, then fails to get information about the project and tx.

I've tried increasing `--max-old-space-size=8192`, but to no avail.

Here is the output

[2019-10-27 19:44] NicsTr opened #688 "`ganache-cli` doesn't really lock accounts"
## Expected Behavior

When using `--secure`, `ganache-cli` should not allow transactions from locked accounts.

## Current Behavior

Transactions are done as if the accounts were not locked.

## Possible Solution

## Steps to Reproduce (for bugs)

1. `npx ganache-cli --secure --deterministic -p 8000 -a 11`
2. After right configuration of web3js' provider to ganache : `web3.eth.personal.sendTransac

[2019-10-28 16:18] davidmurdoch commented on #688
Because you are using `personal.sendTransaction` with a password of `''` (the default password when locking accounts via the `--secure` flag) you are temporarily unlocking the account for this transaction. This is by design.

With that said, I think I agree with you that it shouldn't work this way. However, I'm not sure what the default password for accounts locked with `--secure` should be. What

[2019-10-28 16:20] davidmurdoch commented on #570
Thanks @brockelmore for the reproduction steps. Our `debug_traceTransaction` is a bit expensive to run and this reproduction will be very helpful in our optimization!

[2019-10-28 16:26] NicsTr commented on #688
Oh, I surely didn't expect that kind of default behavior.

IMHO, It'll be less strange to add a command-line argument to set the password or use the seed to generate it (and display it) as for the private keys.

[2019-10-28 21:59] sirpy opened #690 "websockets not getting tx receipt with specifying block time with -b"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]
* Link to my question on gitter:

## Expected Behavior
web3.js promieevent resolves with receipt when using websocketprovider

## Current Behavior
on('receipt') not being called
await hangs

## Possible Solution
i've found out it works when adding -b 1 to ganache-cli startup params

## Steps to Reproduce (for bugs)
start ga

[2019-10-29 09:00] sirpy opened #691 "estimategas throws uncatchable exception"
happens on ganache 6.7.0
downgrading to 6.6.0 solves the issue
found that the issue happens if in web3js constructor i pass defaults with
defaultGas: 140000,
removing it also solves the issue on 6.7.0

[2019-10-29 12:37] varasev opened #692 "Bug when using `--hardfork istanbul`"
## Expected Behavior

The code

[code]

should work for `Istanbul`.

## Current Behavior

We have smart contracts with complex unit tests and use `ganache-cli` along with `truffle`. Everything works fine if we don't use `--hardfork istanbul` even for `6.8.0-istanbul.0`, but when we activate the `istanbul`, there is a pretty weird bug.

## Steps to Reproduce

[code]

After that, the unit tests are

[2019-10-29 14:51] nicholasjpaterno commented on #691
@sirpy Thanks for reporting this!  Is it possible to post steps to reproducible steps?  Or a minimal viable contract that seems to cause this?  I don't seem to have any issues with my generic contract with web3js.

[2019-10-29 15:14] sirpy commented on #691
are you using the "defaultGas" in constructor not overriding it when defining contract?
Its a complex set of contracts so i dont think i can produce a minimal viable contract.
i'll try to setup a one click repo with the contracts to reproduce it

[2019-10-29 17:39] davidmurdoch commented on #692
@holgerd77, can you or someone from the ethereumjs-vm team take a look quick look at this to determine if this is a new issue with the istanbul hardfork changes in the VM?

[2019-10-29 17:41] davidmurdoch commented on #690
Thanks for taking the time to open this issue.

Is the `ws` at the end of `ws://localhost:9545/ws` a typo?

[2019-10-29 20:39] brockelmore commented on #570
Update on this: above tx was with a local smart contract deployed. Here is a tx that should fail that is on mainnet and should fail for you as well. 0x985b3c7ed63ecb30e9de94b8ab7377a42c86643536a512ec6331874d6020d127

[2019-11-01 07:06] ZeeshanAhmadKhalil commented on #625
@SirPhemmiey  how we can add another account in ganache using web3 ?

[2019-11-01 09:17] SirPhemmiey commented on #625
@ZeeshanAhmadKhalil  Something like, `--account=<PRIVATE_KEY>, <BALANCE>`

`ganache-cli --account "0x70f1384b24df3d2cdaca7974552ec28f055812ca5e4da7a0ccd0ac0f8a4a9b00,9000000000000000000000"`

[2019-11-01 20:55] holgerd77 commented on #692
From reading the error message from the screenshot above I wonder if @alcuadrado worked on something eventually touching relevant behavior (don't remember the context though) and can eventually help here.

[2019-11-04 12:23] cbruguera commented on #625
In the I figured out that I was generating only 10 accounts upon running ganache and was using accounts[10] from web3. It was fixed by running ganache with `ganache-cli -a 11`

[2019-11-04 18:15] alcuadrado commented on #692
I haven't seen anything like this so far. I could reproduce the error with Ganache, but not with Buidler EVM, so I suspect the problem is in `ganache-core`'s code, and not in `ethereumjs-vm`'s.

Maybe @s1na knows if this can be related to an instanbul change in the VM.

[2019-11-05 11:00] s1na commented on #692
Hm, if it's related to ethereumjs-vm my guess would be EIP-2200 ([PR](https://github.com/ethereumjs/ethereumjs-vm/pull/590)) since the `_pendingValidators` storage item is being modified and they were cleared before `delete _pendingValidators;`. But not sure why Builder EVM is not failing in that case?

[2019-11-05 16:03] alcuadrado commented on #692
But EIP-2200 could only lead to an OOG error, right? That would have a different error message.

[2019-11-06 12:07] naddison36 opened #694 "`eth_call` fails with "the tx doesn't have the correct nonce""
## Expected Behavior

Calls the `eth_call` should not be validating the nonce in the transaction parameter against the current nonce.

## Current Behavior

Ganache is currently treating calls to `eth_call` like a transaction and checking the nonce in the transaction parameter against the expected next nonce. It then throws an error complaining about the nonce. An example error message is `the tx d

[2019-11-07 18:05] davidmurdoch commented on #636
Closing due to no response. Please comment if this issue is still relevant.

[2019-11-07 18:05] #636 closed

[2019-11-07 18:08] davidmurdoch commented on #648
We can't do this right now. But I'd love to be able to do this in the future.

[2019-11-07 18:09] #649 closed

[2019-11-07 18:10] #663 closed

[2019-11-07 18:28] davidmurdoch commented on #685
That is not part of the JSON RPC spec. You can write the accounts and keys to a file using the `--account_keys_path` CLI option.

[2019-11-07 18:28] #685 closed

[2019-11-07 18:32] nicholasjpaterno commented on #687
Closing since you've solved the issue.  Please reopen if this is in error!

[2019-11-07 20:01] alicevhenshaw opened #696 "Web3 personal_ecRecover not supported"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [X]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5dc474cb3d669b28a0527d9d

## Expected Behavior

ganache-cli should successfully ecrecover using ganache addresses.

## Current Behavior

- I have the latest version of ganache-cli `Listening on 127.0.0.1:8545`
- web3.eth.personal has now become the pack

[2019-11-07 21:00] Wiesel2000 commented on #687
Hi There,
The issue has not been resolved yet.
Could you please address my last query before closing.
Thank you.

[2019-11-07 21:02] Wiesel2000 commented on #687
Hello @nicholasjpaterno,
The issue has not been resolved yet.
Could you please address my last query before closing.
Thank you.

[2019-11-08 10:39] s1na commented on #692
Unless there's a bug. I thought EIP-2200 because that seems to be the only istanbul-relevant code that this contract snippet touches.

I recently started to make the VM pass the istanbul state tests in https://github.com/ethereumjs/ethereumjs-vm/pull/607. If there's a bug in the VM it'll most likely surface there.

[2019-11-09 19:41] nolash opened #697 "deprecated dependency; scrypt"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]
* Link to my question on gitter:

## Expected Behavior

`npm install` in repo root should succeed.

## Current Behavior

dependency `scrypt` fails to build, excerpt:

[code]

Building with `--production` not possible as `ganache-core` is a dependency (though only listed in `devDependencies`) which in turn depends on `scrypt

[2019-11-09 21:44] davidmurdoch commented on #697
This should be a build failure of `scrypt` only, and not ganache-cli. Ganache has a pure JS version as fallback for Node 12. Node 8 and 10 still benefit from the native scrypts performance.

Also, you mentioned you are using a commit hash, not a tagged version. Not using the published version could cause issues.

Are you certain the entire ganache-cli installation is failing (and that it is not ju

[2019-11-10 11:53] nolash commented on #697
@davidmurdoch it is `scrypt` that's failing to build. I'm not familiar with the inner workings of how the `node` compiler works, but as I am attempting compile with `node 12.x` I would then assume that it shouldn't be trying to use the scrypt module?

I've downloaded the `6.7.0` release instead and tried to compile. Now I get a different problem, involving `keccak` but with similar errors. If I ch

[2019-11-10 13:04] nolash opened #698 "Cannot find miner.start/stop in RPC"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]
* Link to my question on gitter:

## Expected Behavior

## Current Behavior

The methods cannot be found. When connecting with `truffle console` and `geth attach` (both http), no `miner` module is listed as available, and I cannot find any mentions of the methods in the `web3` object tree either.

## Possible Solution

If t

[2019-11-11 18:16] davidmurdoch commented on #698
It sounds like you are connecting to geth (not ganache-cli)?

Geth's documentation for the management APIs is located here: https://github.com/ethereum/go-ethereum/wiki/Management-APIs#miner_start

[2019-11-11 18:24] davidmurdoch commented on #697
These aren't _actually_ errors in the install of `ganache-cli` (via `npm install ganache-cli` or `npm install ganache-cli -g`). These are compilation errors of _optional_ libraries. If they fail to compile ganache-core should work as usual (just without the performance benefits of the native modules).

Are you certain the entire ganache-cli installation is failing (and that it is not just the nati

[2019-11-12 05:19] MicahZoltu opened #699 "Using an existing DB results in ganache lying about accounts and balances."
First run ganache-cli with a mnemonic and a db path.
[code]
Exit and then run again without a mnemonic, but with the same db path:
[code]
- Notice that the accounts listed in the startup splash are different between runs.
- Notice that the second run indicates each account has 100 ETH balance.
- Notice that if you call `eth_accounts` against the second run it will list the accounts using the rando

[2019-11-12 13:49] nolash commented on #698
@davidmurdoch no, I tried to connect to `ganache` with `truffle console` and `geth attach` as clients respectively.

[2019-11-12 19:45] davidmurdoch commented on #698
Ok. `miner_start` and `miner_stop` are supported by a ganache. I don't know if web3 has support for these miner management methods though (from your description it sounds like it does not).

Ganache's supported management APIs are documented here: https://github.com/trufflesuite/ganache-cli#management-api-methods

[2019-11-12 19:47] davidmurdoch commented on #687
@Wiesel2000 I'm not confident we'll be able to help you, as the issue seems to be with your local node/npm installation. Running npm commands via `sudo` likely had lots of unintended side effects.

[2019-11-12 22:54] Wiesel2000 commented on #687
Hi @davidmurdoch,
Thanks for your comment.
What should I do to restart everything from scratch for item 1 (npm approach)?
Could you please also comment about items 2 and 3 in my post above?
Thank you,
Best regards.

[2019-11-15 14:35] Amxx opened #700 "istanbul chainId opcode returns bad value"
**Steps to reproduce**

1. Start ganache-cli using the following command:

[code]

2. Compile/deploy the following contract:

[code]

3. Call the `chainId()` function.

I expect the returned value to be the chainId passed using the `-i` flag and accessible using `await web3.eth.net.getId();` ... but I get a value of `1`

[2019-11-15 17:14] Amxx commented on #700
After some investigation, this is what I've noticed:

- The chainId is retreived from the `ethereumjs-common` object used by `ethereumjs-vm` (a dependency of ganache-core):
https://github.com/ethereumjs/ethereumjs-vm/blob/master/lib/evm/eei.ts#L288

- In our case, this `common` object is created by the constructor of the ethereumjs-vm. This uses a `chain` field from the opts (or mainnet by default

[2019-11-22 14:29] Wiesel2000 commented on #687
Hi @davidmurdoch & @nicholasjpaterno ,

Following up on your comment above, does it mean that I no other choice than reset my laptop to factory settings (after having done a back up)?
Or is there another way to clean up the unintended side effects you mentioned?

[2019-11-22 15:03] digulla commented on #658
I've tried to solve this by adding

  if (typeof(err) === 'string') {
    err = new Error(err);
  }

at the top of `Runner.prototype.uncaught = function(err) {` in line 711 of `node_modules/mocha/lib/runner.js`.

That at least makes the errors easier to read it still looks weird:

[code]

In my use case, I have `assert.fail()` in a helper function:

[code]

Test looks like so:

[code]

and the con

[2019-11-22 15:41] nicholasjpaterno commented on #687
@Wiesel2000 sorry for the late response, both @davidmurdoch and I haven't had a chance to review this.

Unfortunately, it seems that we won't be able to help with problems 1 and 2.  These are more general node.js issues that seem to have resulted during its installation.

For question 3, `npx` is a replacement for installing global packages since it can reach into the local node_modules to run pac

[2019-11-22 15:41] #687 closed

[2019-11-25 12:35] Wiesel2000 commented on #687
Hi @nicholasjpaterno  and @davidmurdoch,
Just to let you know that I finally managed to resolve this problem with the precious help of the node.js.
If you're interested in the solution, here is the thread: https://github.com/nodejs/help/issues/2312
Best regards.

[2019-11-25 12:37] Wiesel2000 commented on #674
Hi @nicholasjpaterno and @davidmurdoch,
Just to let you know that the problem finally got resolved with the precious help of the node.js.
If you're interested in the solution, here is the thread: nodejs/help#2312
Best regards.

[2019-11-25 16:52] nicholasjpaterno commented on #687
@Wiesel2000 Awesome!  Really glad to hear that you were able to resolve this!  Also, thanks for the link, this is greatly appreciated and will be useful for the next person who might run into this problem!

[2019-11-25 16:56] nicholasjpaterno commented on #687
@Wiesel2000 I just read through the thread.  If you want this to run whenever you start a terminal, add this line `PATH=~/.npm-global/bin:$PATH` to the end of your `~/.bashrc` or `~/.bash_profile` or whatever the mac alternative would be!  Hope this helps!  All the best.

[2019-11-26 04:58] zcstarr commented on #23
Going to just ping this here, I think this is still a good idea 👍 , is there any major blocker to this?

[2019-11-27 12:49] InoMurko commented on #600
Hi, I think there was a regression on this particular issue. I'm getting similar error:
[code]

I tried this with
[code]
and
[code]

My flags are:
[code]

What I was trying to do is create a database snapshot by starting ganache and deploying plasma contracts later. Once the deployment finished, I `docker stop <ganache node id>`. And saved the data directory. A restart of ganache from that same di

[2019-11-28 17:08] JustynaBroniszewska opened #701 "Istanbul: incorrect gas calculations"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: [LINK](https://gitter.im/ConsenSys/truffle?at=5ddf9f69d75ad3721d17114c)

## Expected Behavior

Data gas cost calculation on Istanbul ganache-cli should be compatible with the [EIP - 2028](https://eips.ethereum.org/EIPS/eip-2028).
- non-zero bytes cost 16 gas, zero bytes cost 4 gas.

## Curre

[2019-11-29 06:17] thegostep commented on #570
I am also getting this error. It seems to occur when the call chain is too long.

[2019-12-05 07:36] abhayks1 opened #702 "ganache-cli 6.7.0 - Could not connect to your Ethereum client with the following parameters"
Hi Team,

Our travis tests are running ganache-cli version `6.7.0`.
ganache-cli is behaving strangely. Issue we are facing is that ganache getting killed abruptly.
After restarting the build multiple times, test passes.
Below is build url: https://travis-ci.org/mosaicdao/mosaic-1/builds/620990322
[code]

Below is the truffle config:

[code]

Ganache is being started with below command:
[code]
Belo

[2019-12-06 01:54] wjmelements opened #703 "sporadic ECONNRESET when running for a long time"
Using ganache-cli 6.8.1-beta.0. Also happens on ganache-cli 6.8.0-istanbul.0. It seems to use ganache-core-sc 2.7.0-sc.0.

The error is
```Invalid JSON RPC response: "Error: connect ETIMEDOUT 127.0.0.1:8545\n    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1113:14)"```

The truffle mocha tests run fine for the first 10 minutes or so but then the tests start to take longer and fail sporad

[2019-12-06 02:01] wjmelements commented on #703
I forgot to include a screenshot of the error
![Screen Shot 2019-12-05 at 6 00 43 PM](https://user-images.githubusercontent.com/799573/70289319-38da2400-1789-11ea-9a25-c9a85bd45ea3.png)

[2019-12-06 02:08] wjmelements commented on #703
I have also seen this error twice, though I think it's unrelated because it doesn't happen every time.

[code]

[2019-12-06 02:26] wjmelements commented on #703
New record, 229986ms
![Screen Shot 2019-12-05 at 6 26 00 PM](https://user-images.githubusercontent.com/799573/70290438-b5223680-178c-11ea-9246-635d7d0139f8.png)

[2019-12-06 13:55] kuzdogan commented on #699
I agree the first solution is the right one.

This caused me couple of hours to debug as I've kickstarted the blockchain with a typo in the mnemonic. Only after logging balances in truffle I could realize I have zero balance. For me, the solution was to wipe the db. Now I know why it happened.

[2019-12-07 01:35] wjmelements commented on #703
The failures do not coincide with a dramatic increase in memory, but do coincide with a dramatic drop in CPU utilization from the ganache process.

[2019-12-09 22:37] wjmelements commented on #703
We are working around by running only one file at a time.

[2019-12-09 23:50] wjmelements commented on #703
The aforementioned workaround worked without restarting ganache, so I think this is a truffle issue.

[2019-12-10 04:35] nicholasjpaterno commented on #703
@wjmelements Thanks for taking the time to create and update this issue!  I'm going to cc @CruzMolina and @eggplantzzz for some extra eyes from the truffle side.  Thanks again!

[2019-12-10 06:41] abhayks1 commented on #702
Could this happen because of too many connections on Ganache? Please help us with the solution.

[2019-12-10 07:02] cgewecke commented on #702
@abhayks1 Am investigating this at the moment - it's possible it's a problem with Web3 >= 1.2.2

Is it fixed if you try Web3 1.2.1 and Truffle 5.0.43?

[2019-12-10 07:35] abhayks1 commented on #702
@cgewecke test passes with below package versions:
[code]
Can you please the issue in more details?

[2019-12-11 10:53] chrisbasalo08 commented on #505
Thank you! It solved my issue.

[2019-12-11 14:43] CruzMolina commented on #703
Hey @wjmelements , which version of truffle and node are you using?

[2019-12-12 01:26] wjmelements commented on #703
@CruzMolina 5.1.2

[2019-12-12 01:27] wjmelements commented on #703
I see ganache and truffle both run in node but I don't see node among the dependencies. My globally-installed node version is v10.14.1.

[2019-12-12 03:38] CruzMolina commented on #703
Thanks @wjmelements ! Can you provide a repo for reproduction/debugging purposes? If not, can you try running your tests against truffle@5.0.43 and see if the problem is resolved?

[2019-12-12 03:56] wjmelements commented on #703
https://github.com/trusttoken/true-currencies/commit/5eefff87b678b97985fd150f642853d650199933
npm test at this commit fails for the reason cited in this issue with the
output screenshotted. Note the repo setup instructions in the readme,
particularly the git submodule + npm install.
I believe it also failed for 5.0.44, which is the truffle version at that
commit.

On Wed, Dec 11, 2019 at 7:38 PM C

[2019-12-12 04:10] CruzMolina commented on #703
Thanks! If it's the same issue I think it is, 5.0.44 should fail, but not 5.0.43. Will check this out and get back to you.

[2019-12-12 04:26] CruzMolina commented on #703
Sweet. All tests passed using 5.0.43 on that commit.

It's very likely that this issue is resolved by trufflesuite/truffle#2663.

[2019-12-12 05:24] CruzMolina commented on #703
Yup, ran into the same issues as you did @wjmelements when running the tests against 5.0.44.

There should be a new truffle release by the end of this week that solves this, meanwhile 5.0.43 should be good to pin to 🤞.

[2019-12-12 05:25] wjmelements commented on #703
Thanks, will do!

On Wed, Dec 11, 2019 at 9:24 PM Cruz Molina <notifications@github.com>
wrote:

[2020-01-03 21:50] sumreenali commented on #620
I facing this idssue when I add truffle-config file in ganache and it just throw me this error

An error occurred while running D:\Blockchain-Marketplace-App-Using-Ehereum-Web3-Solidity-and-React\truffle-config.js! Did you forget to `npm install` your project?

module.js:550
    throw err;
    ^

Error: Cannot find module 'C:\Users\Munir\AppData\Local\Temp\ganache12004-5132-w9804b.3q2qe\index.js'

[2020-01-07 10:39] nlordell opened #706 "[Ganache CLI 6.8.1] `eth_sendRawTransaction` Not Working For Signed Transactions"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

`eth_sendRawTransaction` does not seem to be accepting signed transactions with the node's chain ID. It only seems to accept signed transactions with chain ID of `1` despite of what `eth_chainId` call returns (hardcoded to `1337` as far as I can tell). The error message also seems to suggest that the signature V-value is b

[2020-01-07 17:46] davidmurdoch commented on #706
Sorry you're running into this issue! What is happening here is that ganache previously used ethereumjs-vm's default internal chain id, which was `1`, while we simultaneously hard coded `eth_chainId` to `1337`, as you've noticed.

When we updated `ethereumjs-vm` to add `istanbul` support we now needed to specify our own `chain_id` when initializing the vm. For legacy reasons we chose to keep the c

[2020-01-07 20:28] nlordell commented on #706
Ah makes sense. Thanks for looking into this!

[2020-01-08 12:06] jpmonettas opened #707 "Can't get multiple transactions in one block when using -b"
Running ganache-cli(6.1.8) with -b 5 and submitting 4 transactions in a row should result in the 4 transactions being mined in the same block. Instead I'm seeing each transaction being mined in a separate block.

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [X]
* Link to my question on gitter: [January 7, 2020 1:37 PM](https://gitter.im/ConsenSys/truffle?at=5e14b3ac04adee

[2020-01-09 12:50] thegostep opened #524 "Add method for fast-forward account nonce"

[2020-01-09 13:43] fabioberger opened #708 "After calling `evm_mine`, `eth_getLogs` returns same logs for all blocks"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]
* Link to my question on gitter:

## Expected Behavior

`eth_getLogs` should return the logs for the blockHash specified in the request.

## Current Behavior

After executing a `evm_mine` or `evm_increaseTime` call to Ganache, `eth_getLogs` always returns the logs for the latest block _even if_ the request specifies a diffe

[2020-01-09 16:01] nicholasjpaterno commented on #707
@jpmonettas Thanks for opening this issue.  I was unable to reproduce this, is there a chance you can link to a repo with a minimum viable test?  My hunch is that you are sending the transaction and awaiting the receipt which will only be available after the tx was included in a block.

[2020-01-09 16:17] jpmonettas commented on #707
@nicholasjpaterno  how can I see all 4 eth_sendTransaction in ganache console output together immediately and after 5 seconds it start mining blocks putting each of them in separate blocks?

I'm seeing this in the console when running ganache-cli in verbose mode.

[2020-01-10 14:20] nicholasjpaterno commented on #707
@jpmonettas have a look at this case in our test suite: https://github.com/trufflesuite/ganache-core/blob/develop/test/mining.js#L154-L184

[2020-01-10 18:12] jpmonettas commented on #707
@nicholasjpaterno I created a minimal example and wasn't able to reproduce. I'm still not sure of what is causing it but will keep troubleshooting, so closing this for now!

Thanks for your time!

[2020-01-10 19:20] jpmonettas commented on #707
I was able to reproduce the issue. Here is a minimal example repo : https://github.com/jpmonettas/ganache-test

The issue appears when you explicitly add a gas limit  when sending the transaction. Without the gas option it works fine.

[2020-01-10 19:29] jpmonettas commented on #707
Oh I think I'm hitting this exact scenario https://github.com/trufflesuite/ganache-core/blob/develop/test/mining.js#L186

But shouldn't ganache be using tx gas usage instead of tx gas limit to create a new block because it doesn't fit in current?

[2020-01-14 19:45] nicholasjpaterno commented on #707
@jpmonettas You're absolutely right!  I'm working on a fix for this now.  In the meantime you can use an `eth_estimateGas` as a workaround to get an accurate `gasLimit` for your transactions - this should enable you to test several transactions within your blocks!

[2020-01-15 04:33] aakilfernandes opened #709 "Request: chainId Option"
## Expected Behavior

`chainId` should be an option

## Current Behavior

`eth_chainId` rpc call is implemented, but there's no way to set a custom `chainId`.

[2020-01-15 05:05] inje commented on #134
You can also run this and it should fix the issue:
`sed -i -e 's/.\\/build\\/Release\\/scrypt/scrypt/' node_modules/scrypt/index.js`

[2020-01-15 15:14] j-mars opened #710 "Windows Subsystem for Linux - RPC Error when sending transaction"
**Describe the bug**
I have a development environment setup in windows 10 using Windows Subsystem for Linux.
When I execute a send transaction using my Dapp I get the following error in the console:

MetaMask - RPC Error: Error: [ethjs-rpc] rpc error with payload {"id":283255458009,"jsonrpc":"2.0","params":["0xf8b2018504a817c8008303b5d594254dffcd3277c0b1660f6d42efbb754edababc2b82012cb84406ca6af600

[2020-01-15 15:57] davidmurdoch commented on #709
Thanks for opening this issue, @aakilfernandes. This is a feature that will ship in the next version. We are tracking it here: https://github.com/trufflesuite/ganache-core/issues/451 for a list of other breaking changes (this one is breaking because of a bug with how Ganache treats `chainId` internally).

[2020-01-15 15:57] #709 closed

[2020-01-15 16:52] davidmurdoch commented on #710
Confirming that I can reproduce this issue running `ganache-cli@6.8.1` on Windows under WSL and Powershell.

`ganache-cli@6.7.0` works as expected.

`ganache-cli@6.8.2-beta.0` also fails.

We are working on a solution now.

[2020-01-15 16:54] nicholasjpaterno commented on #710
@j-mars Thanks for reporting this issue!  I'm on Linux and can confirm that this is an issue on all versions of ganache-cli after 6.7.0 (ganache-core: 2.8.0) and we are working on a fix now!  In the meantime, v6.7.0 is working correctly and should enable you to continue testing your dApp!

[2020-01-15 16:55] j-mars commented on #710
Thank you very much!

[2020-01-15 18:17] fabioberger commented on #708
Any update on this @benjamincburns?

[2020-01-15 22:33] davidmurdoch commented on #708
I've updated your comment to remove Ben, as he doesn't work on this project anymore.

Thanks for taking the time to file this issue. I've added it to our queue of issues but don't currently have an ETA for the fix.

[2020-01-17 15:53] michael1011 commented on #706
Is fixed in `v6.8.2` @davidmurdoch!

[2020-01-17 18:30] nicholasjpaterno commented on #706
Fixed in https://github.com/trufflesuite/ganache-core/pull/532

[2020-01-27 11:01] MoMannn opened #712 "Event parsing error when multiple events with the same name."
This is linked to https://github.com/trufflesuite/truffle/issues/2449 which should be fixed.

Any plan on fixing this?

[2020-01-28 16:23] Kojo7 commented on #601
@Amxx can you give an example how "web3.eth.signTransaction."  works in metamask, because I tried it and it did not work. Got the same error "Error: Returned error: Method eth_signTransaction not supported"
Ganache version:  2.1.2
web3 version : web3.js@1.0.0-beta.33
Metamask version: 7.7.2

Thanks..!!!

[2020-02-01 14:35] thegostep opened #714 "Add method for fast-forward account nonce"
Right now - the only way to increment an account nonce is create a loop that sends transactions. This is very slow. Would be great to have method where we can skip forward to an arbitrary nonce.

https://github.com/trufflesuite/ganache-core/issues/524

[2020-02-01 14:38] thegostep opened #715 "Add method for deploying contract at arbitrary address"
Right now, the only way to deploy a contract at an arbitrary address is to find the account and nonce required to make such a deployment, then to unlock the account and increment the nonce to where needed. This is a headache. It would be great to have method that simply deploys any contract to any address without needing to worry about the signer. This would make it much easier to replicate mainne

[2020-02-03 17:24] Gudahtt commented on #546
I see; so you're less concerned about legal liability, and more concerned with preventing `event-stream`-like attacks and the negative fallout on your team that might follow. Sure, that makes sense.

I concede that you do have a pretty good reason. There is still a case to be made for removing it though:

* Using shrinkwrap for this purpose is not commonplace; there is no social expectation of _li

[2020-02-07 19:11] brockelmore commented on #570
Shouldn't it just run until its out of gas? Why would an infinite loop cause the error?

[2020-02-07 20:16] thegostep commented on #570
Depends on the ganache evm implementation - seems like there could be a bug in gas accounting

[2020-02-08 01:52] brockelmore commented on #570
Turns out it happens very reproducibly when you perform a snapshot prior to debugging as well it seems. Also ganache-cli —max-old-space-size didn’t seem to actually change the heap size. export NODE_OPTIONS=“ —max-old-space-size=8192” does though. Also seems that there are timeout issues with the provider if you don’t set it manually to be extremely long. All that said, got it to a working state 3

[2020-02-12 13:38] gluxix opened #717 "Update ethereumjs-util to 6.2.0 for solving of Node 12 problem"
Node 12 has a [problem](https://github.com/cryptocoinjs/keccak/issues/10) with [keccak](https://github.com/cryptocoinjs/keccak) package. This problem has been solved since keccak@2.1.0 version. There are packages dependent on old version of keccak, e.g. ethereumjs-util under 6.2.0 version.

[ethereumjs-util@6.2.0](https://github.com/ethereumjs/ethereumjs-util/compare/v6.1.0...v6.2.0) has already u

[2020-02-13 15:12] juharris opened #718 "[WSL] EXDEV: cross-device link not permitted"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]
* Link to my question on gitter:

## Expected Behavior
`ganache-cli` should start.

## Current Behavior
`ganache-cli` does not start.
It did work fine in version `6.5.1`.
## Possible Solution
Use a module like `mv`: https://github.com/andrewrk/node-mv as suggested in https://stackoverflow.com/a/43206506/1226799

## Steps to

[2020-02-13 15:24] juharris commented on #718
Looks like this is already reported in https://github.com/trufflesuite/ganache/issues/1617
and should be corrected by https://github.com/trufflesuite/ganache-core/pull/548

[2020-02-13 15:31] davidmurdoch commented on #718
Yup (closing since this is a duplicate)! We're smoketesting the release today and will release a new version soon.

[2020-02-13 15:31] #718 closed

[2020-02-16 15:17] #717 closed

[2020-02-24 02:52] thegostep opened #719 "address(this).balance fails for solc 0.5.16"

[2020-02-24 12:38] krzkaczor commented on #714
You might want to check out Deth - https://github.com/ethereum-ts/deth it has a flag to ignore nonce errors (perfect to test with Metamask).

[2020-02-26 15:59] nklipa13 commented on #706
Is it possible that this is still a problem when trying to fork mainnet node?

version:
Ganache CLI v6.9.1 (ganache-core: 2.10.2)

Steps to reproduce:
1. Start ganache:
`ganache-cli -f https://mainnet.infura.io/v3/<secret>`
2. Try to call some static method to confirm everything is fine (this should work)
3. Try sending raw transaction, for example:
[code]

Error trace
[code]

[2020-02-26 19:50] nlordell commented on #706
There are way to many Ni[ck]s for one thread to handle!

[2020-03-08 12:22] k06a commented on #248
Any chance to see "Parity trances" implemented?

[2020-03-09 10:08] dfsantamaria commented on #465
I'm experiencing the same issue. I have opened a thread here: https://stackoverflow.com/questions/60581930/web3j-gets-stack-underflow-error-with-ganache/60598228#60598228 . Any solution?

[2020-03-15 10:40] kendricktan opened #721 "Ganache freezes at eth_estimateGas during delegatecalls"
## Solution
Run contract calls with an explicit `gasLimit`

[code]

## Steps to Reproduce (for bugs)
[code]

[code]

1.
2.
3.
4.

## Context

## Your Environment
* Version used:
* Version of Truffle/Remix/Other tools used:
* NodeJS Version: [ ] 6.x, [ ] 7.x (unsupported), [ ] 8.x, [ ] 9.x
* Operating System and version (include distro if Linux):
* Link to your project or repro gist:
* Commit hash

[2020-04-01 11:59] palkeo opened #722 "Ganache not respecting the --port option."
##  Expected Behavior

Should listen to port 8545.

## Current Behavior

Listen to port 8546.

Which doesn't make sense, I explicitly specify "--port 8545" so it should use it.
The --fork option uses the same port, but this node is on a remote machine, it's absolutely fine.

## Possible Solution

Remove this block of code:
https://github.com/trufflesuite/ganache-cli/blob/develop/cli.js#L106-L120

[2020-04-01 16:32] davidmurdoch commented on #722
Oh wow. Great catch! Do you mind putting removing this block of code and putting in a PR?

[2020-04-02 04:06] palkeo commented on #722
Done.
I think another option would be to only do it if the host for the --fork option and the one to listen to are the same.
But personally, I think it's better to not silently fiddle with the port at all: better to have it stop because the port is already taken (which would be the case if you don't use --fork anyway!).

[2020-04-05 14:55] #722 closed

[2020-04-06 12:59] fabioberger opened #554 "Add support for eth_call state-overrides"
Geth has support for [performing state-overrides](https://geth.ethereum.org/docs/rpc/ns-eth#3-object---state-override-set) when doing an `eth_call`. It would be great if Ganache could support this same behavior.

[2020-04-08 16:06] k06a opened #725 "Any chance to see eth_getProof implemented?"
I wish to see this functionality in one of next versions: https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getproof

[2020-04-10 18:14] matthieu-beteille commented on #706
+1, I am having the same issue as @nklipa13

[2020-04-13 03:15] TamirTian opened #726 "About evm(?) performance"
Hi guys, execute a transaction that include call other contract is very slow.

Do you optimize runner of evm?

I have found the pre-issue #117

## Expected Behavior
I hope it execute quickly

## Current Behavior
it's print the ops, but it's slow

## Steps to Reproduce (for bugs)
[code]

[2020-04-13 07:04] TamirTian commented on #726
I review code and log time around the `runBlocks`

Maybe the problem from `ethereumjs-vm`

[2020-04-13 20:30] nicholasjpaterno commented on #727
@cmli93 Great question!

Unfortunately, that solution won't account for things like the "all but one 64th" rule where extra gas is withheld during certain operations in the VM (see: EIP 150 for more info).  In other words, sometimes you need more gas available for a successful transaction then is actually needed by the VM.

Your best bet is to use `eth_estimateGas`.  One thing to keep in mind is t

[2020-04-14 02:46] cmli93 commented on #727
Dear Sir, thank you very much

[2020-04-14 03:03] cmli93 commented on #727
Could you please give me some hint about the difference between the forked mainnet and the actual mainnet?

[2020-04-15 19:59] nicholasjpaterno commented on #727
@cmli93 Anytime! There shouldn't be a difference if you've forked mainnet and ran your estimate.  However, if the state on the main chain has changed your estimate may no longer be accurate on that chain.

[2020-04-16 11:52] rmeissner commented on #724
I encountered a similar error when running the tests in the Gnosis Safe repository with any ganache-cli version after 6.3.0 (that was the laste version were it worked).

Notable change with 6.4.0 was the update of the ganache-core version to support petersburg (even so this is completely unrelated to the occurences)

In the tests were this error occurs the Safe contracts calls itself and that inne

[2020-04-16 21:23] adrianmcli commented on #706
I had a similar issue, turns out you need to set the network ID to 1 when you start ganache.

[2020-04-17 21:35] WyseNynja commented on #706
Just ran into this. The error saying "Missing required chain parameter" was confusing. Could it be changed to say "incorrect chain parameter. expect X. received Y".

I got a little lost trying to figure this out since the docs (https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendrawtransaction) didn't mention anything about the id.

Doing `ganache-cli ... --fork ... --chainId 1` fixed it.

[2020-04-18 15:38] davidmurdoch commented on #706
This is a bug in `ganache-core`'s forking mode, you shouldn't have to use the `--networkId` flag for it to work (`--chainId` isn't a flag ganache-cli supports yet). I'll fix this in an upcoming release!

[2020-04-21 02:24] #706 closed

[2020-04-24 08:44] BogdanHabic opened #730 "Starting ganache with hardfork set to istanbul results in Hardfork with name instanbul not supported error"
* Link to my question on twitter: [Twitter link](https://twitter.com/BogdanHabic/status/1252596733890236418)

## Expected Behavior

Starting `ganache-cli` with `--hardfork` set to `istanbul` should run the CLI with the instabul hardfork enabled.

## Current Behavior

Starting `ganache-cli` with `--hardfork` set to `istanbul` triggers an error:
[code]

## Steps to Reproduce (for bugs)

[code]

## C

[2020-04-24 13:59] nicholasjpaterno commented on #730
@BogdanHabic looks you're misspelling istanbul.  Try `ganache-cli --hardfork istanbul`.  Please reopen if this doesn't solve the problem!

[2020-04-24 13:59] #730 closed

[2020-04-24 17:54] michaelcohen716 opened #731 "VM Exception when interfacing with Kyber contract"
Testing a contract that otherwise works against a ganache mainnet fork but when interfacing with the KyberProxy contract I get `VM Exception while processing transaction: revert`.

Kyber address: `0x818E6FECD516Ecc3849DAf6845e3EC868087B755`

The code is as simple as this
[code]
 and the same code works on mainnet without issue. So we can safely rule out any issues related to contract code. Additio

[2020-04-25 05:08] wanseob opened #732 "Node 14 ganache-cli Error: Callback was already called."
When I use node version 14, ganache exits with Callback was already called error.

## Expected Behavior
[code]

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. `$ nvm use 14`
2. `$ npm install -g ganache-cli`
3. `$ ganache-cli`

## Context

Failed to run a docker based custom test environment, because the docker image `node:alpine` was using node version 14.

[2020-04-26 16:45] BogdanHabic commented on #730
🤦‍♂️, yup, you're correct. It's working as expected when typed in correctly 😅

[2020-04-27 22:25] davidmurdoch opened #733 "Investigate implementing a daemon mode"
For technical reasons, ganache-core cannot queue HTTP requests immediately on initialization -- the underlining HTTP server needs time to start up. This makes it difficult to run automated test suites using `ganache-cli`. Example:

[code]

will _not_ wait for ganache-cli's http server to be ready before sending requests.

The current workaround is to do things like `(sleep 2 && npx truffle test) &

[2020-04-28 13:52] elenadimitrova opened #734 "Deploying large contracts fails"
When testing with `ganache` we use `allowUnlimitedContractSize` switch to allow contracts bigger than 234576 bytes to be deployed. However an `out of gas` error is thrown even though the contract was created, e.g:

[code]

## Your Environment
* Version used: Ganache CLI v6.9.1 (ganache-core: 2.10.2)
* Version of Truffle/Remix/Other tools used: `etherlime`
* NodeJS Version: 10.12
* Operating System

[2020-04-28 14:14] nicholasjpaterno commented on #734
@elenadimitrova can you provide any steps to reproduce this?

We do test for this feature. However, our test case is extremely simple:
https://github.com/trufflesuite/ganache-core/blob/27d59d974664462d4152d9bb6ca213e1a6fc9b55/test/unlimitedContractSize.js#L46-L68

Using this contract:
https://github.com/trufflesuite/ganache-core/blob/27d59d974664462d4152d9bb6ca213e1a6fc9b55/test/contracts/customCo

[2020-04-28 17:58] elenadimitrova commented on #734
We're using the `TestUpgradedMakerV2Manager` [here](https://github.com/argentlabs/argent-contracts/blob/develop/contracts/test/TestUpgradedMakerV2Manager.sol). And the contract  deployment that surfaced the issue is [here](https://github.com/argentlabs/argent-contracts/blob/develop/test/makerV2Manager_loan.js#L527)

[2020-05-01 23:53] moodysalem commented on #715
This would be particularly helpful in the uniswap/uniswap-sdk integration tests, because the SDK hard codes the fixed contract addresses

I would settle for being able to send a transaction from an arbitrary address

[2020-05-02 12:28] gottabpro opened #737 "VM: exception while processing transaction: out of gas"
I have made a contract auction. It is compiling and deploying successfully. While testing it with mocha I am getting an error in 3rd test, that is third 'it' statement. Error is as following:

C:\Users\HackedSoul\auction>npm run test

  Auctions
    √ deploys a creator and an auction
    √ marks caller as the auction owner (61ms)
    1) allows people to place a bid and add their bids to auction

[2020-05-02 18:01] TT1943 commented on #732
I got the same issue. Please help to fix it. Thanks.

[2020-05-03 13:12] colinmccrae commented on #732
I have the same issue also, repeatable on both on my WSL Ubuntu 20.04 and my VirtualBox install of Ubuntu 20.04.

- Version used (ganache-cli): v6.9.1
- Version of Truffle/Remix/Other tools used: v5.1.24
- NodeJS Version: v14.1.0
- Operating System and version (include distro if Linux): Ubuntu 20.04 LTS

[2020-05-04 22:30] davidmurdoch commented on #731
Looks like you are using a version of ganache-cli released over 1 year ago. Please update to latest (`npm install -g ganache-cli`) and try again.

If that doesn't fix it, I don't think there is anything on your side you can do at the moment, this is likely a bug in Ganache core itself. :-/

That said, if you don't have access to [archive data](https://infura.io/docs/ethereum/add-ons/archiveData) a

[2020-05-04 23:32] lavkumarsingh commented on #732
Got the same issue!!!
Please fix it...

[2020-05-05 00:43] davidmurdoch commented on #732
In the meantime, you can specify the specific Docker image you'd like to use in your Dockerfile via `mhart/alpine-node:10`. We currently recommend using Node 10.

For those of you using Node 14, you'll need to launch `ganache-cli` via node 8, 10, or 12 until this is fixed. For example, run `nvm use 12 && npm install ganache-cli -g` to install for node 12, and then run ganache-cli with `nvm use 12

[2020-05-05 03:40] kumavis opened #738 "Non-zero exit code in response to SIGTERM"
### bug

`ganache-cli` does respond to sigterm and shutsdown, but does so with a failure exit code.
since the shutdown happened cleanly, it should exit with a zero error code. this is useful in tests that rely on exit codes detect failures.

### reproduction

start ganache cli
[code]
in another terminal
[code]
back in the other terminal
[code]

[2020-05-05 14:53] michaelcohen716 commented on #731
Troubleshooted with latest ganache version after posting this. Still facing same bug

[2020-05-05 15:20] davidmurdoch opened #574 "--"

[2020-05-05 15:21] #574 closed, assigned to nobody

[2020-05-06 20:13] #738 closed

[2020-05-07 04:28] abcoathup opened #740 "--db option still creates a new network ID when ganache-cli restarted"
`--db` option still creates a new network ID when `ganache-cli` restarted

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter:
https://gitter.im/ConsenSys/truffle?at=5eb2392ba9de3d01b1ee3808

## Expected Behavior
When running ganache-cli and saving the chain database e.g. `npx ganache-cli -d --db Ganache_Data`, when stopping and starting gana

[2020-05-08 14:57] shah-cloud commented on #505
Thank you! It solved my issue.

[2020-05-11 13:41] elenadimitrova commented on #734
Example [contract here](https://gist.github.com/elenadimitrova/4720f774300d35afacb60534fae509ba) with `deployedBytecode` size of `50908 nibbles` or `50908/2 +1 = 25455 bytes` just over the allowed `24576 bytes`. Same contract when shrank below the limit is deployed successfully to ganache.

[2020-05-12 20:09] codenamejason commented on #732
Same issue on Ubuntu 20.04. Ganache CLI v6.9.1 (ganache-core: 2.10.2)
Error: Callback was already called.

[2020-05-15 18:59] WyseNynja opened #745 "Support for EIP 1898- Add `blockHash` to JSON-RPC methods which accept a default block parameter"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [ ]

## Expected Behavior

To keep compatability with geth, we should be able to eth_call (and a few other functions) with a block hash instead of just with a block number.

## Current Behavior

[code]

## Context

https://eips.ethereum.org/EIPS/eip-1898 explains all the newly supported parameters.

Re-orgs are currently hard t

[2020-05-23 14:12] lukwue commented on #732
Same issue here

[2020-05-28 14:09] fedgiac opened #757 "Inconsistent behavior of web3.eth.sign between ganache-cli and hdwallet-provider"
- Question about this asked on [gitter](https://gitter.im/ConsenSys/truffle): [x]
- Link to the question on gitter: https://gitter.im/ConsenSys/truffle?at=5ecd5c0f778fad0b1329b1c0

## Expected Behavior

The output of `web3.eth.sign` should be consistent when using different Ethereum clients, including Ganache.

## Current Behavior

The output of `web3.eth.sign` when using Ganache is different from

[2020-05-28 23:22] WyseNynja commented on #758
I noticed that the call_trace is shorter than I expect:

[code]

It ends with ChiToken, like I expect, but there should be more calls to `UniswapV1Action`. Right now it is only showing `tradeEtherToToken`, but there should also be `tradeTokenToToken` and `tradeTokenToEth`.

[2020-05-28 23:51] WyseNynja commented on #758
So I copied this test and changed it to work for kyber. And the kyber test had the correct return_value set! So I think maybe uniswap using vyper might be related.

[2020-05-29 04:33] WyseNynja commented on #758
If I skip the gas token burning and shorten the amount of calls, it gives a return_value. So I think this is related to some complexities in freeing GST2/CHI

[2020-05-29 07:57] elenadimitrova opened #759 "Should fail when trying to create an instance of an abstract contract (solc 0.6)"
## Expected Behavior
Creating an abstract contract should fail.

## Current Behavior
Returns an address for created contract but calls to that contract fail.

Sorry for not being too detailed with this issue submissions but I'm assuming it's easy to reproduce and might even be that Solidity 0.6 features aren't yet implemented.

## Your Environment
* Version used: Ganache CLI v6.9.1 (ganache-core:

[2020-06-04 20:04] WyseNynja commented on #758
Should I open this on ganache-core instead?

[2020-06-06 08:36] Jatin-8898 commented on #732
Same issue here on both Windows 10 and WSL

[2020-06-12 06:32] sava-1729 commented on #732
Same issue here on Ubuntu 16.04

[2020-06-12 08:43] zemse commented on #732
Looks like this issue is specific on `Node v14` and not specific to your OS. As a temporary workaround you can:
1. Just downgrade your node js version to `12.x`, reinstall the package again (`npm i ganache-cli -g`) and don't worry until this issue is fixed.
2. If you need features of `Node 13+`, use `nvm` to use `Node v12` for `ganache-cli` as mentioned in [above reply](https://github.com/truffles

[2020-06-20 13:05] iamdefinitelyahuman commented on #736
Did I open this in the wrong repo?  Should I move it to `ganache-core`?

[2020-06-20 13:05] iamdefinitelyahuman commented on #729
Did I open this in the wrong repo?  Should I move it to `ganache-core`?

[2020-06-20 15:20] davidmurdoch commented on #729
Either repo is fine. I do prefer to triage these issues in core. We'll be switching to a mono repo Soon™️, so all issues will be merged together anyway.

This sounds like an excellent idea, btw. I'm not sure the best way forward. I'm leaning towards a custom RPC method, but could be persuaded to implement other ideas instead.

[2020-06-20 15:37] #524 closed, assigned to nobody

[2020-06-20 15:37] #714 closed

[2020-06-20 15:37] davidmurdoch commented on #714
Tracking this in trufflesuite/ganache-core#528

[2020-06-23 17:36] WyseNynja commented on #721
Have you tried running against your own node? I've found infura to be very slow for ganache-cli --fork.

[2020-06-23 18:21] davidmurdoch commented on #721
There are improvements coming to forking's performance soon that should hopefully solve this issue.

[2020-06-29 00:13] ItsNickBarry opened #766 "Specified port silently ignored when using --fork option"
## Expected Behavior

The default port of 8545 should be used even if the `--fork` option is used to connect to a remote URL with a port of 8545.

If the `--port` option is explicitly set, an error should be raised if the port cannot be used.

## Current Behavior

When using the `--fork` option with a remote URL with a port of 8545, ganache runs on port 8546, even if `--port 8545` is specified exp

[2020-07-03 07:11] zhanghaoxu commented on #760
I have the same problem,anyone has a  solution?

[2020-07-03 07:17] dipdatta commented on #760
Seems like they are not fixing the issue for long time. Several similar issues open for long. Reverting back to older version solves this issue. For me (Windows 10 Enterprise) below version works:
Ganache CLI v6.8.2 (ganache-core: 2.9.2)

[2020-07-03 07:23] zhanghaoxu commented on #760
ok, thx

[2020-07-03 13:31] davidmurdoch commented on #760
Can you try installing version 6.10.0-beta.2 and let me know if it works for you?

If not, can you try reinstalling with npm instead of yarn?

[2020-07-03 13:39] davidmurdoch commented on #760
Something else to try to help narrow this down... can you try disabling Windows Defender or other anti-virus checks? This may be caused by an anti-virus locking files after they are created, just briefly, but ganache wants to move the file while it is still locked.

[2020-07-13 17:19] michaelcohen716 commented on #7
hitting this error...was there a solution found?

[2020-07-14 14:52] nicholasjpaterno commented on #7
@michaelcohen716 can you open a new issue with a minimum viable test to demonstrate your issue?

[2020-07-16 04:21] karthedew commented on #683
Any resolution to this other than requiring "ganache-core"? I'm getting a traceback error when I try to interact with truffle contract functions through the ABI.

[2020-07-18 03:05] ItsNickBarry commented on #766
Duplicate of #722.
Fixed by #723.

[2020-07-18 03:05] #766 closed

[2020-07-24 14:01] mudgen opened #768 "Node 14 ganache-cli Error: Callback was already called."
I know that [this issue](https://github.com/trufflesuite/ganache-cli/issues/732) was filed 3 months ago but the issue is locked and I don't see any progress.

I need to use Node 14 but I can't because of a bug in ganache-cli.

[2020-07-24 14:07] davidmurdoch commented on #768
Does the workaround provided in that issue not solve the problem while we rewrite some internals for Node 14?

https://github.com/trufflesuite/ganache-cli/issues/732#issuecomment-623782405

[2020-07-24 14:18] mudgen commented on #768
No because I don't want to use nvm and I need to use Node 14.    But I do appreciate that the workaround was given.

[2020-07-27 03:17] boolafish commented on #465
Plus one here, suddenly seeing this issue on our CI: https://app.circleci.com/pipelines/github/omgnetwork/plasma-contracts/2354/workflows/7489954e-7f6b-4909-809c-a279b8bf2b77/jobs/12396

[2020-07-28 09:29] k06a opened #769 "Transaction receipt gas used seems incorrect"
I got this tx receipt from `ganache-cli`:
[code]

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5f1fed9fc1c0090e64aa447

## Expected Behavior

[code]

## Current Behavior

[code]

## Possible Solution

Seems like bug, this tx gas used is really 91k, not 3M of gas.

## Steps to Reproduce (for bugs)

[2020-08-02 11:46] nolash opened #771 "eth_signTransaction not implemented"
getting this trying to use eth_signTransaction with ganache-cli 6.9.1 (core 2.10.2)

[code]

I see this was referenced back in 2018: https://github.com/trufflesuite/ganache-core/issues/408

I don't know what the outcome of that was, but in the meantime it's entered the JSON-RPC spec.

Would be nice to have `personal_signTransaction` too.

[2020-08-08 12:19] urssanj00 commented on #452
sudo su
npm install -g ganache-cli
root@ide:/# cd /usr/bin
root@ide:/usr/bin# ls -lrth

you will get below type of listing
lrwxrwxrwx 1 root root      38 Aug  8 12:09  ganache-cli -> ../lib/node_modules/ganache-cli/cli.js

root@ide:/usr/bin# ./ganache-cli

and it started.

[2020-08-14 13:40] alonmuroch commented on #731
I'm experiencing a similar thing with uniswap when forking

https://github.com/Uniswap/uniswap-v2-periphery/issues/44

[2020-08-15 08:56] rahulseetharaman opened #777 "ganache-cli not getting installed on Ubuntu"
I am getting the following error while trying to install npm install ganache-cli
[code]

I executed the following commands in order.

[code]

## Environment
OS : Xubuntu 20.04
Solidity version used : 0.4.24
Node js version 12.18.3
npm version : 6.14.6

[2020-08-15 08:58] rahulseetharaman commented on #777
Okay, I have resolved it by doing the following.
`npm config set registry http://registry.npmjs.org/`

[2020-08-15 08:58] #777 closed

[2020-08-15 12:44] davidmurdoch commented on #777
Just FYI: you should (almost) NEVER install anything from npm with sudo.

[2020-08-20 14:13] gabrieledm commented on #498
Hello, i've read the thread of this issue and i've tryed to work on it.
I've found that in the "cli.js" file can be set the log level using this line of code `logger.level = process.env.LOG_LEVEL || "info";`.
But in order to work correctly it would be necessary insert this snippet of code
`if (logger.level === "debug") {
    logger.debug(item.method);
}`
in the "httpServer.js" of the [ganache-core

[2020-08-24 04:13] ArjunMenon-96 commented on #345
pwoli saaanam work aayi

[2020-08-24 18:03] Melvillian commented on #682
This should be closed, I had the same error and updating to 6.5.0 fixed it.

[2020-08-24 22:52] davidmurdoch commented on #768
@kende This workaround should work. Can you provide reproduction steps?

[2020-08-27 08:35] SalahAdDin commented on #556
@dumebi, it [does not work](https://github.com/Alethio/memento/issues/18) for me.

[2020-08-27 08:54] seesemichaelj commented on #556
@SalahAdDin can you open a new issue where we can discuss your issue? Please make sure to provide any relevant version information and reproduction steps, including the commands you're executing from which machine to try to connect

[2020-08-27 10:53] hihiben opened #779 "Unexpected reverting to initial state while running into a non-terminating revert"
Having an issue when performing a function call that resets the state unexpectedly while executing through ganache-cli.

* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=5f4784389566774dfe36c1e1

## Expected Behavior

Here's a simplified sample code that runs into the same problem.

[code]

When calli

[2020-08-27 12:37] SalahAdDin commented on #556
@seesemichaelj done!

[2020-08-27 19:32] seesemichaelj commented on #780
it seems that I can't reproduce this as there is missing configuration. What do your various config files look like? make sure to sensor out any sensitive information

[2020-08-28 20:20] SalahAdDin commented on #780
I have this in _memento_ configuration file:
[code]

[2020-08-28 20:22] SalahAdDin commented on #780
And this in the _explorer_ configuration file:
[code]

I followed the tutorials, i copied the default's configuration and I changed just what i need to.

[2020-08-28 22:07] davidmurdoch commented on #780
Ganache listens only on a single port at a time (`8545` by default). The config here looks like it expects http to be over `8545` only and websockets to be over `8546` only. Try changing the `ws: "ws://127.0.0.1:8546" line to `ws: "ws://127.0.0.1:8545"`.

[2020-08-28 23:35] seesemichaelj commented on #780
@SalahAdDin In addition to the 8545/8546 port stuff @davidmurdoch mentioned, it looks like the core of your issues circulates around incorrect docker configuration/misunderstanding how docker works rather than issues with ganache or memento

In both the `explorer` and `memento` services, you point to ganache using `127.0.0.1`. Each of these servers should be considered as separate machines on the

[2020-08-29 17:02] SalahAdDin commented on #780
@seesemichaelj don't close this yet, please.

I made the changes you said and even so:
[code]

Connection refused by the _ganache-cli_.

[2020-08-30 00:44] seesemichaelj commented on #780
@SalahAdDin Unfortunately this isn't an issue with ganache-cli, so I'm going to keep this issue closed. The issue lies in either your memento or docker configuration. However, I did publish my full configuration at https://github.com/seesemichaelj/memento-docker-compose in hopes that you can figure out what it is that you have configured wrong. This configuration works perfectly for me. Hope it he

[2020-08-31 07:16] SalahAdDin commented on #780
@SalahAdDin man, yours does not work for me hahahahaha
I cloned it and _postgresql_ gets a problem because it has `.gitignore` file inside, _explorer_ is not accessible, and _memento_ does not show any track, but ganache is getting transactions, it is something.

[2020-08-31 07:23] seesemichaelj commented on #780
Ah, truthfully, I didn't test it after I added those .gitignore files 😬

Also, I changed the exposed port for `explorer` to be `8080`, so try going to `http://localhost:8080` instead. Binding to port `80` in dev is just a bad idea since some people actually run webservers on their local machines (back in the day, even Skype used to bind to port `80` for some stupid reason)

`memento` may not show

[2020-08-31 07:25] seesemichaelj commented on #780
If you wanted to get past the 10 block thing you can disable lag altogether or change the number of blocks here https://github.com/seesemichaelj/memento-docker-compose/blob/master/.volumes/memento/config.yml#L61-L66

[2020-08-31 07:33] SalahAdDin commented on #780
@seesemichaelj i tested your configuration and i got that bug, with your own configuration, i didn't touch it.

[2020-08-31 07:35] seesemichaelj commented on #780
I don't know what bug your'e talking about. If you're talking about the `.gitignore` files, feel free to remove them before you try running it. all that matters is the configuration files. They work for me, but your machine may vary. Unfortunately we don't support generic Docker or Memento configuration

[2020-08-31 08:08] SalahAdDin commented on #780
THis is really very tricky, now i have a problem with the explorer:
[code]

Unfortunately, they are not answering issues in the main repo, It's sad that _ganache-cli_ doesn't offer its own web interface.

[2020-09-09 15:28] dexterslabor opened #784 "Lock of chain_id for Tezos flavor"
For better integration with other tools, such as [better call dev](https://github.com/baking-bad/bbbox), it is necessary to lock the chain_id by specifying the genesis block hash. Otherwise, other tool configs need to be reset each time the Ganache sandbox is restarted.

#783

[2020-09-09 16:14] alcuadrado opened #785 "scrypt optional dependency"
Hey @davidmurdoch,

As you probably know, we are working with Tenderly (/cc @nebojsa94 ) to migrate the Ethereum ecosystem away from native dependencies that need to be recompiled when you install them.

Most of this work is ready, and we are now waiting for new versions of `ganache-core` and `ganache-cli`, but we just noticed that `scrypt` is now an optional dependency of `ganache-cli`.

We wonde

[2020-09-10 20:22] vporton commented on #786
Rinkeby produced the same results as Ganache. So, it is apparently is a Buidler bug.

[2020-09-15 00:04] thekevinbrown commented on #781
After extensive debugging, this was on our side. It's still strange that ganache insists on sequential nonces, unlike normal clients, but that's likely intended behaviour for some reason, so I'll close this issue. Sorry for the noise!

[2020-09-15 00:21] davidmurdoch commented on #781
Thanks for following up on this, @thekevinbrown! (and sorry I didn't reply sooner)

Yes, you are correct that Ganache doesn't support non-sequential nonces (or pending transactions/blocks). However, it will fully support it in the next major release!

[2020-09-15 19:17] ajb413 commented on #721
I am running ganche cli and whenever it gets to eth_estimateGas the process spikes to 130% cpu usage, my fans start going, and the process is stuck. After a few minutes: `Abort Trap: 6`. Does anyone know of a way to get around this?

[2020-09-15 23:32] davidmurdoch commented on #721
@ajb413 can you open a new issue with details?

[2020-09-15 23:33] davidmurdoch commented on #721
@kendricktan do you know if the lock up still occurs on the latest Ganache release?

[2020-09-16 00:06] ajb413 commented on #721
I was thinking the same thing @davidmurdoch so I uninstalled -g then reinstalled -g earlier today when it first happened.

1. Mainnet fork
2. Successful transaction was "minting" Dai using the mcd join dai address (unlocked)
3. Errors when trying to `mint` cDai on Compound, particularly the `eth_estimateGas` part.

Stack trace:

[code]

[2020-09-28 01:52] saurik commented on #725
Related: https://github.com/trufflesuite/ganache-core/issues/382

[2020-09-28 17:15] davidmurdoch commented on #785
Merged. Thanks!

[2020-09-28 17:15] #785 closed

[2020-09-28 21:51] #682 closed

[2020-10-03 20:50] SujithStellargoldcoin commented on #768
I had the same issue but after downgrading to Node 12.18.0 it is working. It's an issue of Node 14 and Ganache.

What I did is
1. sudo npm install -g n
2. sudo n 12.18.0

Then when you run ganache it will work

[2020-10-04 05:07] slaking opened #794 "Add --forkBlockNumber CLI flag"
It seems the feature to fork at a given block (e.g. http://localhost:8545@1599200) doesn't currently work with Infura. It might be because it gets parsed as part of the infura key. Would it be possible to add a separate flag for the block number to fork at?

[2020-10-04 13:57] davidmurdoch commented on #794
What output does ganache cli give on startup when you try forking via Infura at a specific block?

[2020-10-05 02:29] slaking commented on #794
No error, but it starts from the latest block instead of what I specified in the "@".

[2020-10-05 12:59] davidmurdoch commented on #794
Thanks. What output does ganache cli give on startup when you try forking via Infura at a specific block? I'm looking for all the information it gives on startup. You can and should redact your infura key, of course.

[2020-10-06 17:52] victorleejw commented on #674
I faced the same problem and solve this issue following the guides:
1/ https://github.com/nodejs/help/issues/2312
2/ https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally#manually-change-npms-default-directory

[2020-10-07 15:56] davidmurdoch commented on #646
Thanks for bringing this up, though I don't see any reason to track this feature in two separate issues, so I'm closing this in favor of #91. If you want to be kept apprised of any progress you can comment or subscribe to that issue.

Since you mentioned adding a new rpc method to trigger `changed` events, which would be part of the solution, in addition to `newHeads`. There is a similar issue sug

[2020-10-12 14:12] chaoyue007 commented on #382
怎么解决的？

[2020-10-13 16:02] WilhelmStein commented on #248
To me, it seems that debug_traceTransaction does not return all the storage contents, even though I have 'fullStorage' set to True and 'disableStorage' set to False. Moreso, it seems to only return storage elements that are accessed or about to be accessed by an opcode, but not other storage contents. Has anyone encountered a similar issue?

[2020-10-13 23:05] davidmurdoch commented on #732
Fixed in https://github.com/trufflesuite/ganache-cli/releases/tag/v6.12.0!

[2020-10-13 23:06] #732 closed

[2020-10-16 12:44] fubhy commented on #570
I can also verify that there is definitely a memory leak in ganache. I've also observed it while tracking the it with node `--inspect` in and profiling the memory allocation in chrome devtools (capturing >1 day of data). Memory usage steadily increases including some inexplicable spikes in between. I haven't yet found the culprit though.

[2020-10-21 18:45] davidmurdoch commented on #768
Fixed in https://github.com/trufflesuite/ganache-cli/releases/tag/v6.12.0

[2020-10-21 18:45] #768 closed

[2020-10-23 20:22] PaulRBerg commented on #794
Hey @slaking, as per their [documentation][1] and their responses [here][2] and [here][3], the issue is that Infura doesn't support archival nodes on the free tier. You would have to upgrade to the $250 per month for that. [Alchemy][4] is a good alternative and it supports archival nodes in the free plan.

At any rate, a `--forkBlockNumber` or --fork_block_number` CLI option would be nice.

[1]: h

[2020-10-26 13:02] melitus commented on #636
Run it with ganache-cli instead of testrpc. It will work

[2020-10-26 17:25] davidmurdoch commented on #636
@melitus, `ganache-cli` uses `ganache-core` directly; there shouldn't be any difference.

[2020-10-27 10:37] melitus commented on #636
I don't know whether there is a between ganache-core and ganache-cli, but
you can try ganache-cli to see whether it solves the problem

On Mon, Oct 26, 2020 at 6:25 PM David Murdoch <notifications@github.com>
wrote:

[2020-10-30 23:06] davidmurdoch commented on #799
Hey, so the following code creates a javascript client only (without the webserver). Perhaps that's the issue?

[code]

If you want to launch via docker you'll need to pass ganache-cli options through the docker container. See: https://github.com/trufflesuite/ganache-cli#docker

[2020-11-01 15:14] ZumZoom opened #800 "Extra bytes returned on revert("")"
Calling `revert(string)` in Solidity should return abi-encoded string as if it were a call to `Error(string)` function ([docs](https://solidity.readthedocs.io/en/latest/control-structures.html#revert)).

Therefore when calling revert with empty string `revert("")` I expect to receive correct abi-encoded `Error("")`:
[code]

However ganache-cli appends extra 32 bytes of zeroes in that case and retu

[2020-11-01 18:12] axic commented on #800
Can you open the same issue on https://github.com/ethereum/solidity? It seems to be belonging there and not here. (Also confirming this is happening.)

[2020-11-01 19:36] ZumZoom commented on #800
Sure. Thanks for suggestion.
https://github.com/ethereum/solidity/issues/10170
I also checked that the behaviour is consistent with mainnet, ropsten and ethereumjs-vm.
It is likely a Solidity bug so I'm closing the issue.

[2020-11-01 19:36] #800 closed

[2020-11-03 18:12] dstarke opened #801 "Out of Memory error crash when estimating gas for functions with large input arrays"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]

I have a contract with a public function that accepts as one of its parameters an array of `bytes32` elements and as part of its operation emits an event containing that array. When I call `estimateGas` for this function with a reasonably large payload, Ganache-cli crashes with an out-of-memory error. This occurs in situat

[2020-11-03 18:15] davidmurdoch commented on #801
Hm, interesting issue.

Can you try `NODE_OPTIONS=--max_old_space_size=8192 ganache-cli {your options here}`?

[2020-11-03 18:41] dstarke commented on #801
With the memory size increased to 8192, the number of elements in the array necessary to trigger the issue increases to near 2000 after a fresh launch, but it still happens. Also, `estimateGas` takes something like 30 seconds to execute before failing.

I specify "fresh launch" because the magic number that triggers the issue seems to vary a bit, and was lower in some cases when I hadn't restarted

[2020-11-03 19:19] davidmurdoch commented on #801
Does this increased upper limit unblock your work?

[2020-11-03 20:17] dstarke commented on #801
For the moment, I have a series of workarounds that basically avoid calling the function with larger payloads. I've run my tests with a series of limits that keep the calls below the failing threshold. Those limits are smaller than what I intend to use for actual deployments. My current plan is to create a system for selecting using different limits depending on the environment. This isn't ideal,

[2020-11-07 20:00] remote-gildor opened #803 "How to listen to existing Ganache instance in another Terminal tab or window?"
Let's say I run `ganache-cli` in a terminal tab. Is it possible to listen to the same Ganache instance in another terminal tab or window (and see all the logs)? If yes, how?

[2020-11-07 20:03] davidmurdoch commented on #803
Might be possible on some platforms. Examples can be found on https://askubuntu.com/questions/703516/execute-command-in-one-terminal-and-get-the-output-in-another-terminal-it-it-pos

What is your use case here?

[2020-11-07 20:10] remote-gildor commented on #803
Hi David, my usecase is that I run Ganache through a JavaScript file (like [this](https://github.com/truffle-box/defi-box/blob/master/tests/utils/test-chain.js)), but then I don't see transaction logs in the Terminal whenever I make an ETH transaction.

[2020-11-07 20:14] davidmurdoch commented on #803
Ah, you just need to add `logger: console,` to your `ganache.server` options, like this:

[code]

[2020-11-07 20:16] remote-gildor commented on #803
Nice! Thank you very much David! 🙂

[2020-11-07 20:16] #803 closed

[2020-11-09 07:23] elenadimitrova commented on #702
I am experiencing this issue when testing the [argent-contracts](https://github.com/argentlabs/argent-contracts/tree/experiment/migrate-to-truffle). There are 420 tests in suite and those start failing with
[code]
and ganache starts emitting a lot of `getBlockByNumber` events.

This happens with `truffle 5.1.52` but not with `5.1.48`. Running on `ganache-cli` `6.12.1`.

[2020-11-10 06:46] MaxFeldman1 commented on #702
This just started happening for me when I load a transaction into truffle debug after my project reached some size, it does not happen when I debug transactions from smaller projects

I don't know that it has anything to do with the amount/size of tests perhaps it has something to do with the total amount of bytecode/abi complexity within the project

[2020-11-10 07:04] MaxFeldman1 commented on #702
update I tried with truffle 5.1.48 and still received the same error

[2020-11-16 03:28] 2608027102 commented on #702
I also get this error when I perform multiple tests by `truffle test`.

[code]

[2020-11-19 15:10] sfl0r3nz05 commented on #799
Hey @davidmurdoch,

To deploy successfully ganache on docker-compose, I recommend this configuration:
![image](https://user-images.githubusercontent.com/6643905/99683407-9c379180-2a80-11eb-844f-ad10ca280087.png)

To interact with ganache, i recommend to use websocket to recover events:

const Web3 = require("web3");
const web3 = new Web3(`ws://${process.env.HOST_PROVIDER_GANACHE}:${process.env.POR

[2020-12-10 07:21] slaking commented on #576
Is the answer that it does or doesn't?

"--unlock <addr>" generally doesn't seem to work for me. I don't see the address added to the list of addresses, and I don't know how to use it otherwise.

[2020-12-10 16:04] davidmurdoch commented on #576
Ganache has an internal "wallet" that is used to manage accounts' private keys, `--unlock` does _not_ add these accounts to the list returned by `eth_accounts`, since these accounts are the same as teh accounts used by the `personal` RPC namespace.

`--unlock` allows for the accounts specified to be used by `eth_sendTransaction`, if Ganache doesn't have the private key to the account, it will fake

[2020-12-11 00:05] davidmurdoch commented on #806
You'll want to use `debug_traceTransaction` for that (see https://geth.ethereum.org/docs/rpc/ns-debug#example-2). Note: ganache doesn't support the `tracer` option.

The `o: ` looks to be an issue with webpack minifying the name of the class (`RuntimeError`, I think) into the single letter, `o`. Calling toString() on an Error object causes the `name` of the error object  to be prepended to the err

[2020-12-11 10:09] sfl0r3nz05 commented on #806
Thanks, @davidmurdoch, debug_tracerTransaction is exactly what I would need.

One option could be, collect ganache logs, an once I recover the hash of the failed transaction, via web3 catch error, recover values which normally, "debug.traceTransaction" would return. Does this make sense to you? Any idea to collect these logs? I am thinking, in something similar to this, i.e., definition of a place

[2020-12-11 17:57] davidmurdoch commented on #806
Why can't you use just `debug_traceTransaction`?

[2020-12-11 23:36] sfl0r3nz05 commented on #806
@davidmurdoch, I didn't understand what you meant by the `tracer` option. I see it now. Thank you very much.

[2020-12-17 04:20] Madeindreams opened #809 "Ganache-cli Fork hang on net_version"
When I try to fork the main net with Ganache-cli using this comand

` ganache-cli --fork http://localhost:8545@11468204`

 I get the following output;

[code]

https://gitter.im/ConsenSys/truffle?at=5fdad8f0efa9c806fbd6a66b

## Expected Behavior

I was expecting my 10 accounts to show.

Instead I have the output

`net_version`

And nothing else happen.

I have tried a different port

`ganache-cli

[2020-12-20 17:17] mahmoudafer commented on #600
I'm getting this error on ganache-cli v6.12.1 on Node v15.4.0
the command I'm using is:

`ganache-cli -d --db ./blockchain/db -i 1 --accounts 700 --deterministic -l 1000000000000000 -e 10000000 -g 1500000 -q --mnemonic="MY MNEMONIC"`

[2021-01-01 20:07] banteg opened #810 "Allow delegatecall from an unlocked account"
I'm working on a tool which allows to dry run complex interactions and then repackage receipts into a Gnosis Safe transaction.

The most common usecase is a multisend where you just stuff a few txs into one delegatecall to a multisend contract. To simulate this I just unlock the safe address and do regular calls as if it was an EOA.

This works great, but testing an arbitrary delegatecall is not c

[2021-01-04 16:30] mrwillis opened #811 "Ganache CLI crashing with Number overflow error"
Ganache seems to be crashing

Ganache CLI v6.12.1 (ganache-core: 2.13.1)

  Transaction: 0x726ac1f936f251a9660573e1b90f480f089f097b49329bf00de1e0256b5a87e1
  Gas usage: 30885
  Block Number: 873
Error: Number can only safely store up to 53 bits
    at assert (/home/julian/.nvm/versions/node/v10.20.1/lib/node_modules/ganache-cli/node_modules/bn.js/lib/bn.js:6:21)
    at BN.toNumber (/home/julian/.n

[2021-01-09 07:45] SachinthaWeesinghe commented on #397
Nice, Helped me a lot. Thank you.

[2021-01-12 18:07] davidmurdoch commented on #710
Just release a new version. Can you try again and let me know if this version works for you?

[2021-01-13 11:50] bulgakovk commented on #710
Thanks for the quick response, it works 👍

[2021-01-14 16:21] davidmurdoch commented on #813
What version of ganache-cli is being used?

[2021-01-14 16:35] SteveHigham commented on #813
Ganache CLI v6.12.2 (ganache-core: 2.13.2)

I have just upgraded the Mac to node version 10.23.1 and that has fixed the issue.
I have just checked my Ubuntu machine and it is running node 10.23.0.

I'm fine to close the issue if you like as it is resolved under latest node 10 version. I'm also happy to experiment further if that helps.

[2021-01-14 18:34] davidmurdoch commented on #813
Sounds like it's been resolved. Let's just plan to reopen if it happens again. :-)

[2021-01-14 19:25] mikeseese opened #716 "Implement Filecoin unit tests"
This issue (which may become an Epic) is a placeholder/catch all for implementing unit tests for features I have added/fixed. While up to @davidmurdoch's approval, I'm opting (as I usually do) to test features with system/end-to-end manual smoke tests rather than do unit-test TDD. In my dev cycle, this helps me move quickly. I have been making PRs without tests, and would like to keep doing that s

[2021-01-14 21:51] RomanHiden opened #962 "ganache-cli failing to eth_estimateGas"
running fork with the following command

[code]

for some transaction metamask failing to estimate gas. this is server logs of the failure

[code]

## Your Environment
* Version used: Ganache CLI v6.12.2 (ganache-core: 2.13.2)
* Version of Truffle/Remix/Other tools used: brownie version 1.13.0
* NodeJS Version: v10.22.0
* Operating System and version (include distro if Linux): aws amazon linux
* L

[2021-01-15 01:41] mikeseese commented on #696
Looking into this project more, I don't believe this is worth the effort. Since you can use #694 to see the blocks, and more so use Ganache UI, I don't think using Filscan with Ganache is an applicable use case. Closing for now

[2021-01-15 06:50] mikeseese commented on #697
Hard brakes on this one! This should technically be possible by spooling up the Textile services:
- `powergate` (without IPFS or Lotus)
- Textile `buckd`
- Textile `hubd`

and connect them to the Ganache IPFS and Lotus simulators. However, powergate alone is going to require supporting many more RPC methods, and it's also very likely going to require cryptographic integrity and other things that a

[2021-01-15 06:54] mikeseese opened #720 "Ensure Filecoin types are compliant with the current spec"
While working on the Meme Marketplace investigation, I found some types that were wrong in the `BlockHeader` (we call it `Block`).  This issue is to scrub our current list of types and ensure they match the specifications

[2021-01-18 07:52] mikeseese commented on #690
Resolved in #708

[2021-01-18 07:53] mikeseese commented on #700
Resolved in #703 and #709

[2021-01-18 11:37] jmarrr opened #724 "Web3 methods promise stuck on pending and doesn't return any value using ganache provider with React.js"
I tried to reproduce my issue on a new fresh react project and used ganache core to fork mainnet and still persist the problem where the methods like `getBlockNumber`, `getGasPrice`, etc doesn't return anything.

## Expected Behavior
 `getBlockNumber`, `getGasPrice` or other methods should return their respective value. The `console.log` in the snippet below should return a value.

## Current Beha

[2021-01-18 15:47] sz-piotr commented on #625
This is still not fixed. I encountered the issue also on 2.13.2. Could this be reopened @davidmurdoch?

[2021-01-18 15:53] nebojsa94 commented on #625
Hey @sz-piotr, can you provide steps for reproduction?

[2021-01-18 15:58] sz-piotr commented on #625
This is the contract that I used.
[code]
In the tests i forked mainnet from infura and checked the logs for `GasUsed` in `setNonZero`. The value was ~5000 when forking and ~20000 when not forking.

I am very sorry that I cannot provide a full working example for you.

[2021-01-18 20:30] rodoufu opened #816 "Error running -h "0.0.0.0""
I have created a dockerfile like that:
[code]

## Expected Behavior

I'm starting the image with a docker stack like that:

[code]
When I try to access it:

[code]

I expect a response like this:

[code]

## Current Behavior

But when I run it:

[code]

I'm getting it:
[code]

## Possible Solution

When I check the logs in the container I get:

[code]

## Steps to Reproduce (for bugs)

1. Create t

[2021-01-18 21:48] mikeseese opened #727 "Go back and finalize decisions for TODOs"
This is a catch-all issue for me to come back to code and address TODOs (by either implementing them or designating them out of scope)

[2021-01-18 22:08] davidmurdoch opened #728 "Handle option conflicts in provider/server"
Right now, if you specify `Ganache.provider({wallet:{deterministic: true, seed: 123})` ganache will happily go on using one of those values... but you don't know which!

Ganache should error instead.

[2021-01-18 23:06] davidmurdoch opened #729 "link-ts-references.ts run on Windows changes "/" to "\\" in tsconfig.json unnecessarily"

[2021-01-18 23:45] davidmurdoch commented on #816
Can you try node 14 instead?

[2021-01-19 01:09] mikeseese commented on #698
This seems to be a bit more difficult to verify at the current time (`lotus-devnet` is out of date and is having issues currently). I could look at the old version that the network inspector shipped with, but I'd be verifying on a completely different version of the API

I'm going to defer this until later

[2021-01-19 01:15] mikeseese commented on #699
I'm not sure which parts of the retrieval deal are on the blockchain, but it seems that `Filecoin.ClientRetrieveWithEvents` gives a subscription/channel with `RetrievalEvent`s of the status of the retrieval: https://pkg.go.dev/github.com/filecoin-project/lotus@v1.4.0/markets/loggers#RetrievalEvent

I'm going to also defer this one a little until there's a more clear testing/validation strategy her

[2021-01-19 13:56] nebojsa94 commented on #625
I can confirm that the issue is still present if the state variable is set to the default value in the declaration statement; in this case, if you remove ` = 0` in `uint256 public x = 0;` the SSTORE opcode will cost 20k, which is correct behavior.

[2021-01-19 20:14] ltfschoen commented on #768
if you're still getting this error with the latest version, check that you don't have conflicting Yarn and NPM versions of ganache-cli.

i've been following these instructions to use The Graph https://thegraph.com/docs/quick-start#local-development, where I've had Node.js 14.7 installed (not the latest, but should be sufficient), and ran the following, which says it has installed Ganache CLI v6.12

[2021-01-19 20:32] davidmurdoch opened #736 "Add an upper limit to # of accounts that can be generated by ganache"
1000? 10000? Ganache can handle it, but huge numbers of accounts likely accidental and affect start up and time memory. We primarily want to optimize memory in this case, as we need memory for the future in-memory cache.

[2021-01-19 21:35] rodoufu commented on #816
Same error with [node:14.15.4-slim](https://hub.docker.com/layers/node/library/node/14.15.4-slim/images/sha256-4ec1416247273c7318c0351e04ed997dd8c8059fc53c94e6c5a65773a299395f?context=explore) as base image.

Here is how my services are running:
[code]

[2021-01-19 23:38] mikeseese commented on #738
@davidmurdoch This is ready for review now

[2021-01-20 02:32] davidmurdoch opened #742 "Fix CONTRIBUTING.md link in the README so that it works within github"
The readme is symlinked into the ganache repo, which causes the relative link to get broken. Best way to fix is probably to move contributing.md into the ganache repo, and symlink it back to the root.

[2021-01-20 02:52] davidmurdoch opened #743 "ganache logo on npm isn't centered"
See https://www.npmjs.com/package/ganache/v/3.0.0-internal.14

[2021-01-20 15:30] davidmurdoch opened #744 "published ganache bundle is very large"
we ship separate both cli and a core in one package, but cli should just use the bundled core as is.

The browser bundle is also a bit chunky, should this be shipped as a separate package? Or could we somehow make it use core (probably not, since it needs to polyfill many things)?

[2021-01-20 16:12] davidmurdoch opened #746 "Create docker bundle for cli"

[2021-01-20 16:30] davidmurdoch opened #747 "Figure out versioning"
## What should the main `ganache` package's published version be?

The new `ganache` package replaces both ganache-cli and ganache-core.

 * ganache-cli current version is 6.12.2
 * ganache-core is 2.13.2
 * The existing `ganache` package has an previously published `ganache v6.4.4`
 * ganache-cli is more popular than ganache-core (it has more weekly downloads than ganache-core, and many more gith

[2021-01-20 17:22] davidmurdoch commented on #816
I don't know docker very well, so I'm afraid I won't be of much help. You can read our docker config here: https://github.com/trufflesuite/ganache-cli/blob/develop/Dockerfile or try using our official Docker container: `docker run --publish 8545:8545 trufflesuite/ganache-cli:latest
` (https://hub.docker.com/r/trufflesuite/ganache-cli/)

[2021-01-20 18:10] davidmurdoch commented on #724
Are you running this in a browser?

[2021-01-20 20:16] rodoufu commented on #816
When I use it like that it does work, but the problem is when I run it as a service.

The reason I'm trying to do it like that is that I want to provide the mnemonic for it, is there a way I can provide it to your ganache-cli docker image?
Something like an environment variable or sending parameters to the entry point of the image.

[2021-01-21 02:50] jmarrr commented on #724
Yes

[2021-01-21 03:55] mikeseese commented on #726
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #712
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #714
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #715
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #717
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #718
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #719
We're postponing these reviews until later

[2021-01-21 03:55] mikeseese commented on #722
We're postponing these reviews until later

[2021-01-21 09:33] skyeatshorizon opened #898 "`debug_traceTransaction` crashes on websockets"
- [x] I've asked for help in the [Truffle Gitter](http://gitter.im/Consensys/truffle) before filing this issue.

---------------------------

## Issue

Hi I've been having a problem with the debugger on a certain transaction, where I have a contract, which deploys an ERC777 token over a library. Contract -> calls library -> deploys ERC777 Token. Im getting the following error:
[code]
Thx for helpi

[2021-01-21 15:47] davidmurdoch commented on #724
This is likely because ganache-core isn't currently supported in the browser.

I have released a version of ganache _for internal testing_ that does work in the browser. If you want to try it you can install it by running `npm uninstall ganache-core && npm install --exact ganache@internal` or `yarn remove ganache-core && yard add --exact ganache@internal`.

**However, forking is not yet supported

[2021-01-21 16:08] davidmurdoch opened #751 "Create SECURITY.md"
See https://github.com/trufflesuite/ganache-core/security/policy

[2021-01-21 16:19] davidmurdoch opened #752 "Minimize # of files in root dir"
There are a lot of files in the root. Can of of these be moved elsewhere?

Can `.nycrc`, `.prettierignore`, and `.prettierrc` be moved to the package.json?

When compiling typescript, we can just pass a path to the root `tsconfig.json`, wherever it is used directly (like in ./scripts), and update other tsconfig.json file's `extends` path to whatever the new location is. worth it?

`./patches` is a

[2021-01-21 19:32] haltman-at commented on #898
Thanks for reporting this!  Did you mean to link this git repo with the minimal example?  There doesn't seem to be a link.

[2021-01-21 20:58] davidmurdoch commented on #564
done

[2021-01-21 21:01] davidmurdoch commented on #743
fixed by https://github.com/trufflesuite/ganache-core/pull/745

[2021-01-21 21:01] #743 closed, assigned to nobody

[2021-01-22 13:02] skyeatshorizon commented on #898
@haltman-at The repo is private, but I'll invite you

[2021-01-22 15:51] davidmurdoch commented on #816
From https://github.com/trufflesuite/ganache-CLI#docker:

[code]

so for passing a mnemonic you would:

[code]

Does this solve your issue?

[2021-01-22 16:28] rodoufu commented on #816
I'm going to try that with your image and passing the arguments to the docker service in the docker stack and I get back here with the answer.

@davidmurdoch thanks for all your help so far, I hope it helps someone else in the future as well.

[2021-01-22 23:57] haltman-at commented on #898
OK, thanks, I'll take a look!

[2021-01-23 00:14] haltman-at commented on #898
Unfortunately I'm running into trouble compiling your project.  It looks like you imported the OpenZeppelin contracts using relative imports, expecting them to live in `./openzeppelin-contracts`.  But npm of course put them in `node_modules` at the project root.  Now, of course, Truffle allows importing of such contracts, by just doing `import "openzeppeling-contracts/..."`.  ~~But Truffle expects

[2021-01-23 00:43] haltman-at commented on #898
OK, the problem seems to be occurring where the debugger makes its `debug_traceTransaction` call; this is the call that comes back with an error.  I'm not sure what we can do about this.  But, we'll have to look into it, I suppose.  Thanks for reporting this.

[2021-01-23 01:02] haltman-at commented on #898
Oh, I should tag @davidmurdoch, I suppose, as it seems this may actually be a ganache-core error?

Edit: I wonder if the fact that it's using websockets is relevant?

[2021-01-23 01:19] haltman-at commented on #898
OK, the issue appears to be related to the use of websockets.  If I turn off websockets in the config, the problem goes away.  So, for now, there's your workaround: If you turn off websockets, you should be able to debug just fine.

That said, obviously we should still fix the underlying issue here.  I think that'll require @davidmurdoch to take a look though.

Hope that's helpful in the meantime!

[2021-01-23 01:47] davidmurdoch commented on #898
@skyeatshorizon Is it possible for you to share this project with me so I can debug further?

[2021-01-23 08:14] skyeatshorizon commented on #898
Hi @haltman-at Thank you so far for your help. Im sorry, I forgot to tell you that you have to clone with submodules and yes you need a bit more gas for ganache-cli.
Hey @davidmurdoch you are invited!

[2021-01-23 14:12] rodoufu commented on #816
I've just figured out how to fix that problem, here follows the config:
[code]

[2021-01-23 14:12] #816 closed

[2021-01-26 04:10] mikeseese commented on #716
This was completed in the various branches themselves

[2021-01-26 04:10] #716 closed, assigned to mikeseese

[2021-01-26 04:11] mikeseese opened #754 "Add persistence to Filecoin"

[2021-01-26 16:48] mikeseese opened #756 "Enhance the database to allow for better UX and determinism"
Ideally, running `ganache-cli <flavor> --database.dbPath <path>` should just pick up where you left off, including all of your accounts (either auto generated or manually generated), options, and even random number generator state (in the event that the DB gets copied and reused or to support deterministic behavior when you revert [aka reseed the RNG with the state at the block you're reverting to

[2021-01-29 00:30] mikeseese commented on #757
This isn't ready yet; it doesn't fix it for tests

[2021-01-29 17:28] axic opened #758 "Support Solidity panic codes in the RuntimeError class"
[Here](https://github.com/trufflesuite/ganache-core/blob/develop/src/chains/ethereum/utils/src/errors/runtime-error.ts#L37-L55) revert reasons are processed. This currently only understands the revert strings (which have a signature of `Error(string)`). It would be nice to also support panic codes (with a signature of `Panic(uint256)`).

See https://docs.soliditylang.org/en/v0.8.0/control-structur

[2021-01-30 02:47] davidmurdoch commented on #757
In lieu of these scripts, I wonder if we can do something like `lerna exec -- cross-env-shell cd $LERNA_ROOT_PATH \\&\\& ttsc --project \\$PWD`, but make it work also on Windows. I know `cross-env` works some magic for windows env vars. I haven't tested this script, so it is surely wrong... but the idea is mostly same, I think?

[2021-01-30 02:49] mikeseese commented on #757
What's wrong with these scripts though? If it works and it's a perfectly viable solution, then let's use it?

[2021-01-30 16:50] davidmurdoch commented on #757
This PR changes 17 files, but if we can just change two lines in one file to do the same thing I think it'd be worth it. Again, I haven't tested out my idea, which probably means it is trash; I'm just suggesting that it might be worth investigating.

[2021-01-30 23:06] mikeseese commented on #757
Don't mind the `bar` script name; it's just a placeholder.

`lerna exec -- cross-env-shell cd $LERNA_ROOT_PATH \\&\\& ttsc --project \\$PWD`

![image](https://user-images.githubusercontent.com/549323/106369875-eacb9c80-6309-11eb-926a-794907469adb.png)

No cigar. Tried seeing what `\\$PWD` resolves to:

`lerna exec -- cross-env-shell cd $LERNA_ROOT_PATH \\&\\& echo \\$PWD`

![image](https://user-im

[2021-01-30 23:16] mikeseese commented on #757
I did try updating `cross-env` to the latest version `7.0.3` (we're on `7.0.2`), and it didn't work; though I didn't expect it to since the release notes seemed to be unrelated

[2021-01-31 19:03] ytrezq commented on #759
@axic just a question on a related problem, but does ganache supports connecting to local node using unix socket?

[2021-02-01 16:35] davidmurdoch commented on #759
@ytrezq it does not. Though I do hope to get this working eventually.

[2021-02-01 18:52] davidmurdoch opened #760 "License. Is MIT best for ganache 7?"

[2021-02-01 18:53] davidmurdoch opened #761 "Clean up github Labels; align with Truffle's?"

[2021-02-02 23:13] davidmurdoch opened #762 "Add ganache `evm_getOptions` so tools can align with ganache's miner (and other) settings"
Example: this could be useful for polling clients that need to get the next block, but don't know how long they should wait until it is ready.

cc @gnidan, @haltman-at, @tcoulter, @cds-amal

[2021-02-02 23:27] davidmurdoch commented on #405
@Exef, @princesinha19, since `eth_pendingTransactions` appears to be deprecated we'll be closing this in favor of adding the methods introduced by geth's `txpool` namespace.

[2021-02-02 23:27] davidmurdoch opened #763 "Add `txpool` methods to RPC"
https://geth.ethereum.org/docs/rpc/ns-txpool

- [x] txpool_content
- [ ] txpool_contentFrom
- [ ] txpool_inspect
- [ ] txpool_status

[2021-02-03 12:23] acryptosx opened #818 "eth_getTransactionByHash failing with "Error: Number can only safely store up to 53 bits" when using ganache-cli with fork"
This works fine when connected directly to the un-forked node, but when connected to the local forked ganache-cli node, trying to get a transaction results in:

truffle(bscforktest)> web3.eth.getTransaction('0x023d62577aab3260d6328838ef332216286495b171494b798c74fc7818a94e58')
Uncaught Error: Returned error: Number can only safely store up to 53 bits
    at WebSocketConnection.processFrame (/usr/lo

[2021-02-03 12:23] acryptosx opened #961 "eth_getTransactionByHash failing with "Error: Number can only safely store up to 53 bits" when using ganache-cli with fork"
This works fine when connected directly to the un-forked node, but when connected to the local forked ganache-cli node, trying to get a transaction results in:

truffle(bscforktest)> web3.eth.getTransaction('0x023d62577aab3260d6328838ef332216286495b171494b798c74fc7818a94e58')
Uncaught Error: Returned error: Number can only safely store up to 53 bits
    at WebSocketConnection.processFrame (/usr/lo

[2021-02-03 21:10] acryptosx commented on #961
I loaded up vanilla web3 and tried to getTransaction:

Error: Returned error: Number can only safely store up to 53 bits
    at Object.ErrorResponse (/Users/xx/xx/node_modules/web3-core-helpers/lib/errors.js:28:19)
    at Object.callback (/Users/xx/xx/node_modules/web3-core-requestmanager/lib/index.js:291:36)
    at /Users/xx/xx/node_modules/web3-providers-ws/lib/index.js:114:45
    at Array.forEa

[2021-02-05 05:27] mikeseese commented on #757
Alright @davidmurdoch, looks like windows tests are being picked up now

[2021-02-05 18:55] davidmurdoch opened #772 "Build a real pending block!"
https://github.com/trufflesuite/ganache-core/blob/e3614bc4b446469bea4522f7007b4f2477c5fdc3/src/chains/ethereum/ethereum/src/data-managers/block-manager.ts#L57

[2021-02-05 19:49] tcoulter opened #773 "Ganache 7 CLI doesn't respond correctly to Ctrl+C"
When running Ganache 7's CLI, `Ctrl+C` doesn't work until after `Ctrl-D` is pressed (or put differently, I could only use `Ctrl+D` to reliably close the application).

I dug into this a bit and added some logging to the top of CLI's `closehandler` method. Looks like the first press of `Ctrl+C` changes the server status from `1` to `4`, but does not completely shut down the process.

![image](https

[2021-02-05 21:25] mikeseese opened #775 "Running `npm install` on Windows makes a handful of changes to source controlled files"
Running `npm install` (and really `npm run postinstall` is where it happens) calls `link-ts-references.ts` and on Windows, `path.join` in that script rewrites all the `tsconfig.json` files with `\\` instead of `/` causing several changes in my working tree:

![image](https://user-images.githubusercontent.com/549323/107090737-826f3600-67b5-11eb-9675-daa4431f7776.png)

This doesn't really affect me

[2021-02-05 22:30] eggplantzzz commented on #555
Looking at this issue, it seems like it has been updated. Can anyone here confirm that this is indeed updated and behaving correctly?

[2021-02-05 22:31] eggplantzzz commented on #662
https://github.com/trufflesuite/ganache-core/pull/771 addresses this issue.

[2021-02-05 22:38] acryptosx commented on #961
here are steps to reproduce:

1. run: ganache-cli --fork https://bsc-dataseed.binance.org/

2. run script: https://gist.github.com/acryptosx/6b71e1e767602f9b6905d8270ca77b22

[2021-02-05 23:28] #729 closed, assigned to davidmurdoch

[2021-02-06 14:26] davidmurdoch commented on #775
Fixed in https://github.com/trufflesuite/ganache-core/commit/517795846cac9cf1ce14ff4855ae9457ea6f3f59

[2021-02-06 14:26] #775 closed, assigned to nobody

[2021-02-06 22:13] davidmurdoch opened #776 "Create an architecture.md"
À la https://github.com/rust-analyzer/rust-analyzer/blob/d7c99931d05e3723d878bea5dc26766791fa4e69/docs/dev/architecture.md

[2021-02-07 07:28] nolanjacobson commented on #134
Create a `patch-scrypt.js` file and add the following contents to it

[code]
After adding the above content to the file, run `node ./patch-scrypt.js`

[2021-02-09 17:08] honestbonsai commented on #744
# Notes

develop is default branch
uses npm

uses ttsc NOT tsc, does transformations for you
npm run build, triggers webpack process
will try to build it even if its not compiled, always run tsc before running build
  ts-loader doesnt pick up all the rules from tsconfig
  if its not already compiled, then it will try to compile, but it will do it wrong
there are no tests for the build output, can

[2021-02-09 17:08] honestbonsai commented on #744
https://linuxize.com/post/how-get-size-of-file-directory-linux/

Size of `dist` directory
`du -shc ./dist/*`

[2021-02-09 21:31] eggplantzzz opened #780 "Information about v7 changes"
This issue is a placeholder to provide a spot to add information concerning upgrading to Ganache v7. This will include information about breaking changes.

[2021-02-10 07:02] tytom2003 opened #819 "MetaMask cannot connect to ganache-cli"
## Expected Behavior
When MetaMask connect the ganache-cli. it will show 1000Eth.

## Current Behavior
i use the command to start ganache-cli.
ganache-cli --accounts=10 --defaultBalanceEther=1000 --port=8545 --db="D:\code\blockdb" -d

when i entered private key in metamask. metamask can not connect ganache-cli(127.0.0.1:8545). MetaMask can show not connect and it show 0 ETH balance.

but it will s

[2021-02-10 07:02] tytom2003 opened #960 "MetaMask cannot connect to ganache-cli"
## Expected Behavior
When MetaMask connect the ganache-cli. it will show 1000Eth.

## Current Behavior
i use the command to start ganache-cli.
ganache-cli --accounts=10 --defaultBalanceEther=1000 --port=8545 --db="D:\code\blockdb" -d

when i entered private key in metamask. metamask can not connect ganache-cli(127.0.0.1:8545). MetaMask can show not connect and it show 0 ETH balance.

but it will s

[2021-02-10 18:52] honestbonsai commented on #135
Work on this has begun.

[2021-02-10 19:25] haltman-at commented on #160
Note: this would probably done instead by adding optional parameters to `evm_mine`, to control the block reward and coinbase.

[2021-02-10 19:30] honestbonsai opened #781 "Increase default account balance from 100 ETH to a bigger number"
That bigger number could be like 1000 or 10000.

Note: Check popular projects tests to see if this change will break their existing tests.

[2021-02-11 18:04] davidmurdoch commented on #742
fixed by https://github.com/trufflesuite/ganache-core/pull/769

[2021-02-11 18:04] #742 closed, assigned to nobody

[2021-02-11 18:47] davidmurdoch commented on #760
Yes, sticking with MIT (for now)!

[2021-02-11 18:47] #760 closed, assigned to nobody

[2021-02-11 21:07] mikeseese commented on #768
@tcoulter approved this [on Slack](https://trufflesuite.slack.com/archives/C014QAVA0KA/p1613077582273500?thread_ts=1612808486.218100&cid=C014QAVA0KA)

[2021-02-12 17:59] eggplantzzz commented on #779
Do note @davidmurdoch that I am not against bikeshedding in general. But when I don't feel strongly, I just let others that do decide :)

[2021-02-12 23:04] davidmurdoch opened #786 "Support uncles when forking"
This requires ensure a block's `size` is properly computed with it's uncles. We'd also need to add support for the `eth_getUncle*` RPC methods.

[2021-02-12 23:22] davidmurdoch opened #787 "Fix block `size` calculation due to missing uncles array (even if empty)"

[2021-02-12 23:52] davidmurdoch opened #788 "Remove dead code and comments in runtime-block.ts"

[2021-02-13 00:32] davidmurdoch commented on #777
@seesemichaelj Ah, that's a really good point. I've added a note to `CONTRIBUTING.md`.

[2021-02-16 19:48] mikeseese commented on #757
from @davidmurdoch [on slack](https://trufflesuite.slack.com/archives/C014QAVA0KA/p1613504640330700?thread_ts=1613502402.328500&cid=C014QAVA0KA):

[2021-02-17 18:51] davidmurdoch commented on #188
This was implemented!

[2021-02-17 19:00] davidmurdoch commented on #248
We may enable this in the future, but it would be under a new option, something like `miner.enabled`, where the default is `true`. @seesemichaelj, thoughts on this for the Filecoin implementation?

[2021-02-17 19:04] davidmurdoch commented on #272
Done!

[2021-02-17 19:05] davidmurdoch commented on #273
Fixed in #268

[2021-02-17 19:08] davidmurdoch commented on #279
evm_revert has been rewritten in this is no longer an issue.

[2021-02-17 19:10] mikeseese commented on #248
@davidmurdoch fairly easy to add; I've considered adding it recently for a certain test scenario. I believe this was the intention @tcoulter originally had with `miner.automine`, but I guess we just misinterpreted since `auto` and `insta` are easily confusable.

I can add it in the Filecoin implementation 👍

[2021-02-17 19:13] davidmurdoch commented on #287
@eggplantzzz thinks this may have been resolved on the Truffle side. We still need to investigate a bit more before closing.

[2021-02-17 19:14] davidmurdoch commented on #293
Closing as documentation is auto-generated from source code in the upcoming version of ganache.

[2021-02-17 19:14] eggplantzzz commented on #287
Can anyone confirm that this is still or is no longer an issue?

[2021-02-17 19:34] davidmurdoch commented on #248
@tcoulter was under the impression that you already did this via `blockTime === -1`.

[2021-02-17 19:45] mikeseese commented on #248
Oh, would you look at that:

I must be thinking of a different variable, or my internal time machine is warped by all the different changes I've done 😅 I double checked and the code should work that way; I'll need to update that test. Would you like to keep it as is then or would you prefer that blockTime gets set to `0` if it's negative and require a new variable `miner.enabled` to be set?

[2021-02-17 20:05] mikeseese commented on #248
For anyone following this thread, the above message about a negative block time is only currently available on our upcoming Filecoin-flavored Ganache. As [mentioned](https://github.com/trufflesuite/ganache-core/issues/248#issuecomment-780777681) by @davidmurdoch, this isn't currently supported in the default Ethereum-flavored Ganache

[2021-02-17 22:35] davidmurdoch commented on #248
I suggested adding the blockTime -1 flag to ethereum ganache in an engineering meeting today, and the consensus there was that it weird, that it removes the ability to set an actual blocktime, and this it really is just a different feature and they shouldn't be joined. Those arguments make sense to me.

Since we are going forward with a `miner.enabled` solution on the Ethereum side, Filecoin proba

[2021-02-18 00:03] mikeseese commented on #248
sounds good, i'll make the changes in `@ganache/filecoin`

[2021-02-18 04:53] mrice32 opened #797 "Forking mainnet results in erroneous revert on ganache-cli 6.12.0+"
Opening a new issue because https://github.com/trufflesuite/ganache-core/issues/571 is closed.

We've had a very similar re-entrancy guard issue with ganache forking. This update fixed our issue in ganache-cli release `6.10.2`. But after trying different versions, we noticed a regression in ganache-cli versions `6.12.0`+.

You can repro the issue in this repo: https://github.com/UMAprotocol/launch

[2021-02-18 15:46] davidmurdoch commented on #248
@seesemichaelj looks like `miner.mine (default true)` is the winner

[2021-02-18 15:47] mikeseese commented on #248
Ok..what is the accompanying help text/description that's going to make it clear to the user what it does?

[2021-02-18 16:53] davidmurdoch commented on #248
I think it'll be different depending on the chain. For CLI docs, I'll probably go with something like

```Enable mining. Set to `false` to pause the miner; call `miner_start` to resume.```

[2021-02-18 17:03] mikeseese commented on #248
Ok, I'll add a `Ganache.EnableMiner` method then?

Also does this mean that `Ganache.MineTipset` will not mine a tipset when `miner.mine = false`? The description you provided gives me that impression.

[2021-02-18 17:09] davidmurdoch commented on #248
It would still mine it. `evm_mine` still works after a call to `miner_stop`.

[2021-02-18 17:12] mikeseese commented on #248
Do you want one method `Ganache.EnableMiner` that has a boolean parameter to enable/disable, or two methods with no parameters `Ganache.EnableMiner` and `Ganache.DisableMiner`

Also do you want those to be `StartMiner` and `StopMiner` (or `MinerStart/MinerStop`) instead?

[2021-02-18 17:57] davidmurdoch commented on #248
`Ganache.EnableMiner` and `Ganache.DisableMiner` sound good

[2021-02-19 19:56] davidmurdoch opened #799 "Investigate if an extra `instanceof Quantity` is needed/possible"
https://github.com/trufflesuite/ganache-core/blob/455bf5eb5bd0acea55cc94a96ba174db782598c7/src/chains/ethereum/ethereum/src/data-managers/blocklog-manager.ts#L14

[2021-02-22 23:39] #788 closed, assigned to davidmurdoch

[2021-02-24 16:39] kevinbluer commented on #746
Initial pass of `Dockerfile` at 3675544e199287b8c7a37f0c6e8d5385841b2be3, which is published (for testing) to Docker Hub at the following: https://hub.docker.com/repository/docker/trufflesuite/ganache-core. Note that this will be rolled into `ganache-cli` when upon launch.

[2021-02-24 17:54] #787 closed, assigned to davidmurdoch

[2021-02-24 18:35] gnidan commented on #308
This might not still be a thing. Could it?

[2021-02-24 18:40] gnidan commented on #332
Node.js has a hard limit on the size of strings, that might be the problem here. @davidmurdoch also reports that `JSON.stringify` has its _own_ string length limit. Could anyone here provide more precise reproduction steps?

Barring that, we can probably see about reproducing this error by attempting to `debug_traceTransaction` on a transaction ≥6M gas or so.

If the problem here is with `JSON.str

[2021-02-24 18:43] gnidan commented on #337
If this isn't fixed in the current release, it is certainly already fixed in Ganache v7. Closing!

[2021-02-24 18:45] gnidan commented on #341
@davidmurdoch reports that he is now smarter and that this is, in fact, necessary.

[2021-02-24 18:54] gnidan commented on #384
The implementation currently has no TODOs. Hooray! Closing.

[2021-02-24 18:57] gnidan commented on #402
Ganache v7 is reportedly much harder to crash (according to @davidmurdoch); batching in particular has been revisited. Keeping this open to verify once v7 is out the door.

[2021-02-24 19:22] haltman-at commented on #898
Oh hey should this issue be moved to the ganache-core repo?  Or is there an already an equivalent there?  Otherwise I can make a new one over there for this.

[2021-02-25 21:30] mikeseese opened #805 "Implement deal expiration"

[2021-02-25 21:48] mrossesf opened #806 "safe-buffer not declared in dependencies throws error"
When using Yarn v2 (berry) to run **yarn test** in the [community.optimism.io/tutorial](url), I got the error shown below. I tried to manually add the safe-buffer dependency to the ../node_modules/ganache-core/package.json file, but still got the exact same error.

Error: ganache-core tried to access safe-buffer, but it isn't declared in its dependencies; this makes the require call ambiguous and

[2021-02-25 22:10] mikeseese opened #807 "Ensure filecoin Blockchain gets properly initialized on subsequent runs"
It's possible some Blockchain fields are not getting saved and/or restored on subsequent runs of the same DB (i.e. deals related stuff)

[2021-02-25 22:16] mikeseese opened #808 "Ensure IPFS recovers from a subsequent run with the same db"
I'm guessing that the current implementation starts a new IPFS server regardless if we're using an existing db or making a new one

[2021-02-26 01:06] xklob commented on #759
Would love to see this implemented; IPC is much faster than even WSS in an all-local environment (ie, in the case where you have a node in the same machine you're running ganache-core on)

[2021-02-26 15:06] davidmurdoch commented on #759
The newest version of Ganache will utilize uWebsocket.js, which is on par with IPC, performance wise. That said, we are still strongly considering adding IPC support.

[2021-02-26 19:31] davidmurdoch opened #812 "Investigate npm package tarball size optimization"
I had an idea to further compress the tarball `npm publish` uploads to npm by using more aggressive GZIP options or even using zopfli. I played around with node-zopfli and found I could reduce the size by about 5.5% for both ganache and truffle packages.

The question is: would it be worth it? Some thoughts:

 * users download less data! :+1:
 * once users download the tarball, the decompression i

[2021-02-26 20:22] haltman-at opened #813 "Add support for debug_accountAt RPC method as implemented by Turbo-Geth"
Unlike when talking to external projects I don't think I need to convince you of the value of this, so I'll just link to the original issue where I described it. :)  (Since Turbo-Geth has already implemented this, the placeholder name is now its real name!)

https://github.com/ledgerwatch/turbo-geth/issues/1455

[2021-02-26 20:56] eggplantzzz opened #814 "Clean up error when passing in incompatible options"
When passing in incompatible options, the logging is messy and contains webpack junk. Clean this up.
<img width="1431" alt="Screen Shot 2021-02-26 at 3 56 32 PM" src="https://user-images.githubusercontent.com/14827965/109354057-3743c280-784b-11eb-98d7-1d89c5e1c53c.png">

[2021-02-26 22:23] davidmurdoch opened #815 "Investigate if adding an option to share a single level database is worth while"
A single node process could run multiple instances of a ganache provider. An idea as been thrown around that these instances could all share a single database leveldb database and connection (coudl be done by by prepending a unique string to the keys).

Some thoughts:

 * we should only fully close the database once the last provider disconnects.
 * using an instance manager for the databases migh

[2021-02-27 15:28] luziusmeisser commented on #678
Others googling this issue should note that the --unlock parameter does not check the validity of the provided address. I saw this error after providing a comma-separated list of addresses, i.e. "--unlock 0x123,0x234". Ganache accepts such clearly invalid inputs without complaining.

[2021-03-01 15:33] davidmurdoch opened #820 "Add documentation about how to use ganache in the browser"
We may need to test ganache in more browsers (other than chromium), and also fix any bugs it may have.

[2021-03-01 15:40] davidmurdoch opened #821 "Ship modern ES targets of Ganache along side older ES versions"
We currently publish ganache targeting node 10.7.0, but we could easily create additional builds that target more modern ES versions, which will increase performance for those versions (node 12 and 14, modern browsers, etc).

One feature in particular is ES private fields are compiled to WeakMap lookups, which is costly, as it involves a function call, map.has check, branching, and a map.get/map.s

[2021-03-01 15:42] davidmurdoch opened #822 "Write and organize TypeScript types"
Many types in api.ts are missing (`any`) or are just incorrect (they accept a `Buffer`). These need to be fixed. Additionally, many api types could be organized much better.

[2021-03-01 17:58] satyajeetkolhapure opened #823 "Stub out tezos RPC methods in api"
Add new endpoints for relevant RPC methods from Tezos.

For reference -

[code]

Create request and response models.
`Refer https://github.com/ecadlabs/taquito/blob/master/packages/taquito-rpc/src/types.ts`

Add description for each method

[2021-03-01 17:59] satyajeetkolhapure opened #824 "Investigate build failure happening while running npm run test"
Refer - https://github.com/trufflesuite/ganache-core/actions/runs/599935553

[2021-03-01 18:00] satyajeetkolhapure opened #825 "Support deterministic wallet option for tezos"
Add capability of deterministic wallet option for tezos

[2021-03-01 18:02] satyajeetkolhapure opened #826 "Add mnemonic wallet option for tezos"
Add mnemonic wallet option for tezos

Investigate if we can still use "named" accounts along with mnemonic

[2021-03-01 18:03] satyajeetkolhapure opened #827 "Investigate integration of smartpy's interpreter as a WASM module"
Investigate integration of smartpy's interpreter as a WASM module

`refer https://gitlab.com/SmartPy/smartpy`

[2021-03-01 20:06] mikeseese opened #828 "Fix non-deterministic `Failed to find a square root` issue with SECP256K1 signing/verification"

[2021-03-02 16:24] davidmurdoch opened #829 "ensure tools that use ganache-core can update to the ganache v7"
One issue that comes to mind is that ganache doesn't provide a way for tools to listen directly to the VM step event, which, IIRC, is used by solcoverage.

[2021-03-02 22:04] mikeseese commented on #828
This was just an issue with the test; the functionality is fine. Fixed in f5e1e39d7ee362add792ebe148c700eb94d5fcb5

[2021-03-03 19:27] mikeseese opened #831 "Fix seed randomization"

[2021-03-03 19:43] davidmurdoch commented on #831
Is this related to my PR, https://github.com/trufflesuite/ganache-core/pull/816 ? :-D

[2021-03-03 19:49] mikeseese commented on #831
It appears that the `wallet-options.ts` changes may also fix this for me (especially since I just copied the logic over from ethereum's lol). Is your observed behavior that the seed is always the same random string?

[2021-03-03 19:56] davidmurdoch commented on #831
Yup! The types are wrong, so I used the library wrong.

[2021-03-03 20:00] mikeseese commented on #831
Cool, is #816 ready for review?

[2021-03-03 23:37] davidmurdoch commented on #831
@seesemichaelj yes, it is

[2021-03-04 17:24] mrossesf commented on #806
The issue I encountered was solved by switching to Yarn v1.x. I'm not aware of an issue that is specific to ganache-core, so I am closing this.

[2021-03-04 17:24] #806 closed, assigned to nobody

[2021-03-04 18:33] eggplantzzz commented on #728
merged!

[2021-03-04 18:33] #728 closed, assigned to tcoulter

[2021-03-04 18:33] eggplantzzz commented on #662
merged!

[2021-03-04 18:34] eggplantzzz commented on #60
work for this in #817

[2021-03-04 18:34] eggplantzzz commented on #670
merged!

[2021-03-04 23:47] tpikachu commented on #535
Is there any update on this issue?

[2021-03-05 03:52] mikeseese commented on #839
Woops; didn't meant to rerequest from @tcoulter. He still approves of this one.

[2021-03-05 06:54] seesemichaelj commented on #535
@tpikachu, it looks like I fixed this in #551 which was released in `ganache-cli@6.8.3`, so this bug should be fixed in the most recent version. If you're still having issues, please open a new issue. Thanks!

[2021-03-05 17:51] eyooooo commented on #961
Bumping this issue - i also get weird errors like this.

this fails in web3
`web3.eth.getTransaction('0x6971eb54baa66b420b6c58172bd1ff17e1119e2c11cfdc92c45eb920675c1bf6')`

with error
[code]

yet, directly from the GETH console, this has no issues

[code]

[2021-03-08 14:36] vasapower opened #852 "Opinions on how to resolve slowness when forking mainnet"
I consider the Ganache `fork` option not just a software feature, but an extremely-strategic key for the mass-adoption of the Ethereum ecosystem.

But I always had a lot of issues caused by slowness when using it, even if I have a full node running locally. So I recently created a very simple utility to [pack and run a forked Ganache instance directly in a browser](https://github.com/b-u-i-d-l/gan

[2021-03-08 15:14] davidmurdoch commented on #852
@vasapower ganache is actually fetching storage on-the-fly, and only as needed. It isn't brute-forcing over storage sequentially; which isn't practically feasible, as storage locations are arbitrary. While we could speculate as to the position of storage in many cases, in many other cases we'd be wrong, and this would just cause a slow down. There _is_ a `debug_` RPC method to somewhat solve this,

[2021-03-08 16:10] vasapower commented on #852
@davidmurdoch Thanks for the response. With "semi-brute force" check I mean the same technique described in this [medium post](https://medium.com/aigang-network/how-to-read-ethereum-contract-storage-44252c8af925) I read several months ago (I'm talking about the `for (index = 0; index < 10; index++){` loop located in the second block of code within the article).
It would be very informative and int

[2021-03-08 16:19] davidmurdoch commented on #852
From that medium post,

This bit isn't true in more complex contracts, which are contracts that are likely to see the performance issues we're trying to solve. _Maybe_ this technique could save some time, but I'd have to see some real-world performance benchmarks against some of the popular contracts (like Uniswap) to be convinced. :-)

I'm working on rewriting our forking as we speak, and don't h

[2021-03-09 01:33] haltman-at opened #856 "Ganache 7 prints out garbled transaction hashes in certain logging messages"
When attempting to get the transaction receipt for a transaction that hasn't been mined yet, Ganache 7 will log a message that looks something like this:

[code]

As you can see, the transaction hash is terribly garbled.  As if it were printing out the bytes raw or something rather than converting them to hex.  This happens with every transaction hash I've seen.

I'm having this issue since instal

[2021-03-09 15:50] KaiRo-at opened #858 "Berlin hardfork support"
I like the fact that with tests running against ganache, I can run the same EVM code I deploy on Ethereum testnets and mainnet and that I get the same gas usage numbers so I can accurately estimate what gas usage on live setups will be.

The Berlin hardfork does change gas consumption numbers once again but right now I can not set ganache to give me those, istanbul/muirGlacier is the newest set cu

[2021-03-09 16:02] KaiRo-at opened #959 "Support berlin hardfork"
## Expected Behavior

`ganache-cli --hardfork berlin` should work and behave like other Ethereum nodes running on Berlin hardfork.

## Current Behavior

`Error: Hardfork with name berlin not supported`

## Possible Solution

I guess the solution is obvious, the EIPs in https://github.com/ethereum/eth1.0-specs/blob/master/network-upgrades/berlin.md need to be implemented and followed when that hard

[2021-03-09 19:45] #856 closed, assigned to davidmurdoch

[2021-03-09 19:46] davidmurdoch commented on #858
Thanks, we'll track this in https://github.com/trufflesuite/ganache-cli/issues/821

[2021-03-09 19:46] #858 closed, assigned to nobody

[2021-03-09 22:57] haltman-at opened #859 "Various command-line options in Ganache 7 require hexadecimal input"
In Ganache 7, a number of the command-line parameters require hexadecimal input.  These include:
* `--miner.gasPrice`
* `--miner.blockGasLimit`
* `--miner.defaultTransactionGasLimit`
* `--miner.callGasLimit`

These parameters should accept decimal input as well, like existing Ganache does.

Interestingly, `--miner.difficulty` works fine with decimal input, but its default value is shown in the hel

[2021-03-10 11:06] 0xTimepunk commented on #797
I am having this issue too with the latest ganache version. Comented here as well because the other issue is closed.

@davidmurdoch

https://github.com/compound-finance/ganache-core/pull/5

[2021-03-10 12:47] Gdocal commented on #332
I get this issue often. I use brownie + ganache-cli, when tx reverts (gas usage: 2m) brwonie sends debug_traceTransaction, and ganache crashes after this

file ganache-core.node.cli.js
`
switch (o) {
                            case "POST":
                                var d;
                                try {
                                    d = JSON.parse(f);

[2021-03-10 18:41] haltman-at commented on #430
Given that this happens under Remix as well, it sounds like the issue is probably with the EthereumJS VM.  Would you mind submitting this issue to them? https://github.com/ethereumjs/ethereumjs-monorepo  Thank you!

[2021-03-10 18:46] haltman-at commented on #453
Note: This only affects Ganache when VM errors on RPC response are turned on (since only the responses and not the logs are mangled).  Since that won't be the default in Ganache 7, this is now lower priority.

[2021-03-10 18:59] haltman-at commented on #493
This will be fixed in the next major release.  Thanks for the report!

[2021-03-10 19:01] haltman-at commented on #503
Hi, could you show us how exactly you started Ganache in this instance?  We're wondering if there might have been an error in the parameters.  Thanks!

[2021-03-10 19:03] haltman-at commented on #504
This could also be solved by #464.  We're going to close this for now since #464 is planned, and the problem can be solved that way.

[2021-03-10 19:09] haltman-at commented on #511
Hi, do you know whether this is still an issue on latest Ganache? Thank you!

[2021-03-10 19:17] haltman-at commented on #516
This sounds like correct behavior; whether funds are sufficient is not checked until the node attempts to try to mine the transaction.  So I'm not certain there's an issue here.  I'm going to close this for now, but feel free to comment further if I'm mistaken or there's some other way this can be improved and we can perhaps reopen this.

[2021-03-11 05:17] mrice32 commented on #627
@davidmurdoch is it possible that this PR re-broke https://github.com/trufflesuite/ganache-core/issues/571  and caused https://github.com/trufflesuite/ganache-core/issues/797.

[2021-03-11 05:39] mikeseese commented on #797
While I'm no longer with the Truffle team, @davidmurdoch would likely ask for the same thing; @0xTimepunk, could you provide reproduction steps? The error y'all are seeing is a generic symptom caused by several different issues, so it's possible that a fix for @mrice32 would not be a fix for you @0xTimepunk. Reproduction steps can help whoever ends up looking into this more

[2021-03-11 05:40] mikeseese commented on #627
FWIW forking (especially in it's current state) is a beast, so I wouldn't be surprised if this PR caused more issues.

However, I don't think it rebroke #571 as I believe I implemented specific test scenarios to pinpoint the causes of that issue (and others with similar symptoms). It's likely a different issue with the same symptom. It's very possible that @0xTimepunk's issue is even another

[2021-03-12 06:44] eshaben opened #863 "fix interactive documentation examples for personal namespace"
The following problems exist within the `personal` namespace of the interactive docs:
- `personal_newAccount` example isn't working
- `personal_unlockAccount` example doesn't work because it relies on `personal_newAccount`
- `personal_sendTransaction` example doesn't work because it relies on `personal_newAccount`

The problem is due to the `crypto-browserify` package not being completely compatib

[2021-03-12 06:52] eshaben opened #864 "eth_sendRawTransaction interactive docs example needs a signed transaction"
In order to send a raw transaction we need to be able to sign and serialize the transaction, which is easily done using the `ethereumjs-tx` package. However, for the interactive documentation examples we don't currently have a solution implemented for examples that require `import`s of other packages. Need to find a solution for signing and serializing the transaction within the example. Right now

[2021-03-12 07:04] eshaben opened #865 "eth_estimateGas interactive docs example doesn't return anything"
the interactive docs example for `eth_estimateGas` doesn't return anything as it is, if you add `gas` of "0xb5" to the tx object an empty object is returned. Either way it's broken as of right now... @davidmurdoch indicated that it's probably because we need to use `toArrayLike(Buffer)` in one place.

[2021-03-15 12:11] itungsten commented on #760
my bad. I meet a similar problem today.
It seems OK when I run ganache-cli@beta
But I can't get anything from ws://localhost:8545 whiling http://localhost:8545 returns 400 Bad Request which is normal

[2021-03-15 17:29] tcoulter commented on #680
Erin is working on some of this work. Need to figure out what's in progress vs. what needs to be spec'ed/scoped and put in milestones.

[2021-03-15 19:47] tcoulter commented on #680
@eshaben Thanks for volunteering! Please link the tickets when you're done!

[2021-03-15 19:57] tcoulter commented on #555
Closing this because after review, we think it's no longer an issue. Please open a new ticket if you believe this to still be a problem.

[2021-03-16 11:09] Fredi100 opened #866 "TypeScript Definition of ganache.listen does not allow hostname"
When using ganache in typescript `ganache.listen(PORT, HOSTNAME, function)` is not allowed.
Ignoring this error allows normal execution and properly sets the hostname.

[2021-03-16 15:40] davidmurdoch commented on #866
Thanks @Fredi100 for opening this issue. I'm closing as this will be fixed in the next Ganache release!

[2021-03-16 15:40] #866 closed, assigned to nobody

[2021-03-16 21:05] mikeseese opened #867 "Message signing and potentially CID generation inconsistencies with Lotus and Ganache"
This is a comment in `src/chains/filecoin/filecoin/src/things/address.ts` regarding some Lotus<=>Ganache inconsistencies with message signing I couldn't figure out:

[2021-03-17 02:58] mikeseese commented on #842
alright @davidmurdoch, I added the recursive `setTimeout` stuff in this PR

[2021-03-17 04:06] mikeseese opened #868 "Filecoin Deal optimization in database"
Below is a TODO for the Filecoin flavor's DealInfoManager (`src/chains/filecoin/filecoin/src/data-managers/deal-info-manager.ts`). The general issue is that things could be memory and CPU resource intensive and made a bit more efficient with the below changes (or some variation of them).

[2021-03-17 05:24] mikeseese opened #872 "Fix electron to ship with headers"

[2021-03-17 14:12] davidmurdoch opened #873 "unit test database manager's `batch` method to ensure atomicity"

[2021-03-17 17:41] eggplantzzz commented on #520
@fleupold Thanks for bringing this up! This will finally be implemented (fixed) in upcoming Ganache (v7). There is also a workaround for this; you can use the `--noVMErrorsOnRPCResponse` flag or `vmErrorsOnRPCResponse` options for Ganache.

[2021-03-17 17:54] eggplantzzz commented on #523
This is a duplicate (related issue) of https://github.com/trufflesuite/ganache-core/issues/381.

[2021-03-17 18:49] mikeseese opened #875 "Filecoin Private Key Manager performance optimization"
The filecoin flavor's private key manager stores all of the addresses in which it has a private key for in an array as a "hack" to implementing a more efficient indexing method. There is a TODO in `src/chains/filecoin/filecoin/src/data-managers/private-key-manater.ts` that corresponds to this issue

[2021-03-17 20:42] mikeseese opened #876 "Filecoin account persistence performance"
The filecoin flavor's implementation of the `AccountManager` has a `putAccount` that is called whenver an account is changed (balance, nonce, added private key). I'm not sure of the performance implications here, but it likely has room for improvement for high throughput scenarios

[2021-03-19 17:52] eshaben commented on #680
Created PR #878 for more complete RPC method descriptions and mobile first support.

Outstanding work:
- Of the items listed in the issue description the only one done is mobile layout... everything else still needs to be done.
- There were a few issues with examples that need to be fixed as well:
   - #865 eth_estimateGas interactive docs example doesn't return anything
   - #864 eth_sendRawTrans

[2021-03-21 14:05] krzkaczor opened #879 "Fix sourcemap support once and for all"
## Problem:
1) `ganache-core` requires `source-map-support/register` at top module scope.
2) Loading `source-map-support` multiple times in different versions leads to broken source map support: https://github.com/evanw/node-source-map-support/issues/200
3) This caused a lot of different issues in the Ethereum ecosystem:
- Hardhat- https://github.com/EthWorks/Waffle/issues/281
- Optimism - https:/

[2021-03-21 16:17] davidmurdoch commented on #879
The next version of ganache core will handle source-map-support properly (via # 1), and truffle will soon as well: https://github.com/trufflesuite/truffle/pull/3929

p.s., `resolutions` is a yarn-only feature.

[2021-03-21 16:24] krzkaczor commented on #879
That's perfect @davidmurdoch. Should I close this now or when it gets merged?

[2021-03-21 16:45] alcuadrado commented on #879
This is awesome news! Thanks @davidmurdoch!

[2021-03-23 06:59] t-vila opened #880 "Add eip-155 support"
It would be good to have the ability to enforce eip-155 transactions in Ganache for testing any related changes locally.
Moreover Infura will [support](https://community.infura.io/t/berlin-fork-and-strict-checking-for-eip-155-transaction-compatibility/2609) non-EIP-155 transactions for a little while and some changes cannot be tested in testnets

[2021-03-23 18:27] davidmurdoch commented on #879
@krzkaczor no need to close it. We'll handle it once 7.0 goes out.

[2021-03-24 17:36] gnidan commented on #525
Neat idea @thegostep! We'll have to figure out how this would work - what are you envisioning? How would you want to use this?

A couple ideas we floated internally are:
- Extra param to an RPC method (sendTransaction? Might be kludgy.)
- As a startup option (i.e. specify  "this bytecode should live at this address", kind of like precompiles)

Regardless, love the suggestion! Thank you!

[2021-03-24 17:36] gnidan commented on #525
Marking this as priority-low, but would love to get the conversation started around requirements and/or review a PR for this!

[2021-03-24 17:39] gnidan commented on #528
So to summarize, it sounds like the issue is that Ganache allocates blocks based on the provided gas _limit_, not the actual gas used. Hence why this is a bug.

This should be fixed in the upcoming v7.0.0, since that major version will redo how Ganache allocates block space.

Thanks all!

[2021-03-24 17:41] gnidan commented on #533
We'll need to look into this. Don't like the sound of it!

Thanks for reporting.

[2021-03-24 17:43] gnidan commented on #540
This should be implemented shortly after v7.0.0. Stay tuned! (And thanks for your interest :)

(Edit: sorry, I got my wires crossed writing this comment originally)

[2021-03-24 17:45] gnidan commented on #554
We'll need to look into what Geth does, but this sounds neat! Thanks for suggesting it!

[2021-03-24 17:55] gnidan commented on #570
Thanks for suggesting this! We'll add it to our backlog for consideration after the upcoming v7 release.

[2021-03-24 17:57] davidmurdoch opened #881 "Change `--miner.gasPrice` to `--miner.defaultGasPrice` to avoid conflict with geth's `--miner.gasprice`"
Geth's `--miner.gasprice` represents the _minimum_ gas price wheresas our's is the `default`, to avoid confusion, we may want to change ours.

Related to: #570

[2021-03-24 17:57] gnidan commented on #587
This is likely fixed in the upcoming v7.0.0; we'll add it to our list to validate that this is, in fact, the case.

Thanks! (Also hi @iamdefinitelyahuman 👋 )

[2021-03-24 18:00] gnidan commented on #596
Thanks for reporting this! This _should_ be fixed in our upcoming v7.0.0 release, but we'll add it to the milestone for acceptance validation to make sure.

[2021-03-24 18:09] gnidan commented on #607
Hey @dmihal sorry to drop the ball on this. Do you know if the situation around this method has changed at all? Does geth support it yet (e.g.)?

Regardless, for this PR, it might make sense to target `develop` now, which represents the upcoming Ganache v7.0.0 release. We _could_ get this into the existing major release, but we _are_ seeking to move forward.

Also it might be worth noting that it'

[2021-03-24 18:17] gnidan commented on #618
@davidmurdoch is currently working on reimplementing forking in a more robust fashion, for the upcoming Ganache v7.0.0 release. Pinging you David to get this on your radar.

Thanks all!

[2021-03-24 18:20] gnidan commented on #625
We're currently revamping forking for the upcoming Ganache v7.0.0 release. Adding this to our plate (David's plate) for inclusion there. Thanks David ❤️

And thanks everyone for reporting / getting to the bottom of this!

[2021-03-24 19:04] eggplantzzz commented on #814
This work has been done [here](https://github.com/trufflesuite/ganache-core/pull/851).

[2021-03-24 19:23] davidmurdoch commented on #746
@kevinbluer can you make a PR for this?

[2021-03-24 19:49] eggplantzzz commented on #596
Do note that I ran @wighawag's tests in the repo mentioned above against new Ganache. The tests pass implying this is indeed fixed. I also ran the tests against current Ganache to ensure they failed and they did.

[2021-03-24 21:29] kevinbluer commented on #746
For sure 👌

[2021-03-31 17:54] gnidan commented on #643
We can totally add an RPC method to reset Ganache's internal state to achieve this.

This would be the same as restarting Ganache with the fork option pointing to the new latest. I suppose that's a workaround in the meantime?

Thanks for the discussion on this, all!

[2021-03-31 18:02] taarushv commented on #643
Yup, that’s pretty much what I meant. I’ve been using this script as a workaround but I suspect there’s a more clever/efficient way of doing things https://github.com/taarushv/helios/blob/main/panther/src/index.js

Tx tracing just requires too much custom tooling (which is worth it for complex use cases) but I can see simple use cases (like parsing events of an oracle update tx before it’s mined)

[2021-03-31 18:07] gnidan commented on #674
@eggplantzzz graciously implemented this already.

[2021-03-31 18:09] gnidan commented on #686
Great idea, and with lots of tricky things to consider before this can be possible.

Regardless, closing this issue as duplicate of https://github.com/trufflesuite/ganache-core/issues/643

Thanks for your feedback!

[2021-03-31 18:16] gnidan commented on #724
This should already be fixed as part of the upcoming Ganache v7.0.0 release.

Leaving this issue open so we can validate it upon that release.

Thanks!

[2021-03-31 18:26] mikeseese opened #889 "Remove "not stable" warning for `ethereum` flavor"
There currently is a warning put in place as part of the `internal` and `filecoin` tagged releases that if someone tried to run `ganache` or `ganache ethereum`, it would provide a warning message that ethereum is not stable.

This issue is for removing that warning before releasing the stable version for ethereum

[2021-03-31 18:51] eggplantzzz commented on #587
I did an initial test to try and recreate this behavior on current Ganache and was unable to do so. We'll have to try and do these tests again when forking is ready in v7.

[2021-04-01 19:50] thandal commented on #540
This might be assumed, but will you also be adding support for personal_ecRecover? Thanks.

[2021-04-02 14:33] davidmurdoch commented on #773
Fixed in develop

[2021-04-02 14:33] #773 closed, assigned to davidmurdoch

[2021-04-02 14:34] davidmurdoch commented on #752
Good enough to close.

[2021-04-02 14:34] #752 closed, assigned to nobody

[2021-04-02 14:42] eggplantzzz commented on #674
I'm actually not sure this was done, I implemented a warning when people are using the newer instamine feature and request a tx that is pending. There might be more that this ticket suggests be done.

[2021-04-03 05:13] Chriscorp commented on #812
Good morning @Madeindreams ... I'm having the same issues too even using metamask and after turning ganache to a local blockchain:
EthQuery - RPC Error - Error: [ethjs-query] while formatting outputs from RPC '{"value":{"code":-32603,"data":{"message":"VM Exception while processing transaction: out of gas"

My environment:
Metamask 2.0.0
Node 14.16.0
windows 10 x64
Truffle 5.2.3
web3.js 1.2.9

[2021-04-03 05:30] Madeindreams commented on #812
Hey Chriscorp! The error messages in the case of a fork of the mainnet are often as helpfull as just saying ERROR.

It could be an error in your code or a missing view declaration. It could be anything.

So unless you can get a more explicit error it's really hard to know what is causing this error.

Break your code down in smaller part. It's easyer to debug one thing than 10.

[2021-04-05 19:44] leoyvens commented on #520
@eggplantzzz could you clarify what the fix is? What would be most aligned with what Geth does is to return only the `error` and not the `result`, is that what will be done by default in v7?

[2021-04-05 19:56] davidmurdoch commented on #520
@leoyvens yes, that's how v7 will work.

[2021-04-07 17:59] #754 closed, assigned to mikeseese

[2021-04-07 18:08] #780 closed, assigned to nobody

[2021-04-07 18:15] eggplantzzz commented on #805
@seesemichaelj can we close this or is this still useful to keep open?

[2021-04-07 18:15] eggplantzzz commented on #807
@seesemichaelj can we close this?

[2021-04-07 18:16] eggplantzzz commented on #808
@seesemichaelj can we close this?

[2021-04-07 18:18] #872 closed, assigned to mikeseese

[2021-04-07 18:18] #805 closed, assigned to mikeseese

[2021-04-07 18:19] #807 closed, assigned to mikeseese

[2021-04-07 18:19] #808 closed, assigned to mikeseese

[2021-04-07 18:19] #720 closed, assigned to mikeseese

[2021-04-07 18:20] #828 closed, assigned to mikeseese

[2021-04-07 18:20] #831 closed, assigned to mikeseese

[2021-04-07 18:20] #727 closed, assigned to mikeseese

[2021-04-07 18:22] mikeseese opened #894 "Finish port of uWebSockets to a pure JS implementation"
This issue is to finish the port that @davidmurdoch started in https://github.com/trufflesuite/ganache-core/tree/fix/pure-js-uWebsockets

[2021-04-08 07:33] mzatroch commented on #797
The same issue calling  liquidateBorrow(address,CToken)  from cEther  compound contract  ->  revert  re-entered error returned

[2021-04-08 07:35] mikeseese commented on #797
Hey @mzatroch, please open a new issue. It helps if you provide detailed reproduction steps since the error is a common symptom for several different causes. Thanks!

[2021-04-08 14:51] tapmapp opened #958 "'Runtime Error: revert' - when creating contract from contract"
Hello, I have this basic contracts in solidity but when i try to create a contract from another contract I have this 'Runtime Error: revert'

// SPDX-License-Identifier: GPL-3.0
pragma solidity >=0.6.0 <0.9.0;

contract User {

  string public name;

  constructor(string memory _name) public payable {
    name = _name;
  }

  function getUserName() public view returns(string memory _name) {
    re

[2021-04-08 16:32] davidmurdoch commented on #823
What's the error?

[2021-04-08 23:57] hayesgm commented on #879
For anyone looking for a really quick fix (read: hack), this worked for me in the meanwhile:

**package.json**

[code]

Resolutions, themselves, did not fix the issue for me.

[2021-04-09 08:43] apiscerena opened #957 "fork the mainnet with customized dynamic block height?"
I wanna run an arbitrage test script to get some academic data from the forked ethereum mainnet. I could use ganache-cli  -f https://alchemyapi-link@blockheight, but this method is pretty time-consuming to fork from a new block height.
Is there any way of traveling every block so that I could run my script to check arbitrage opportunities?

[2021-04-15 21:42] coveralls commented on #344
[![Coverage Status](https://coveralls.io/builds/21866582/badge)](https://coveralls.io/builds/21866582)

Coverage remained the same at 81.109% when pulling **3ca08a12a8acda9a8cd8fbac8d14211a1367e1a6 on fix-nonce-gt-255** into **edc0f39b5c572cae1ca2eb359142bde3670eafc4 on develop**.

[2021-04-16 19:48] davidmurdoch opened #896 "Remove evm_setStorageAt as it's untested and definitely broken"
We should totally add it. But right now it is untested and broken. It's broken because once you set the trie root to the block that was given, it never puts it back.

[2021-04-16 20:43] davidmurdoch opened #897 "Investigate usefulness of fork.blockNumber-aware chain rules"
We could add an option that automatically sets the hardfork of the chain based on the current blockNumber. Could be useful for testing the behavior of historic moments in the chain without having to know what the

[2021-04-18 18:31] princearoragithub commented on #959
Hi,

When is this expected to close?

[2021-04-20 15:52] frangio commented on #451
Sorry to bump this. Are there any updates on 3.0? I can't find the `ts` branch.

**Edit:** Ok I just found that it was merged to the `next` branch. I would love any updates about the roadmap to get 3.0 released.

[2021-04-20 23:20] davidmurdoch commented on #451
@frangio It was merged into `develop`. We're working on buttoning some things up and porting the last feature: forking.

[2021-04-21 18:19] gnidan commented on #308
Seems like we just need to verify this.

[2021-04-22 06:56] emilianobonassi commented on #554
+1

[2021-04-24 00:40] Code0x2 commented on #826
You cant do that on binance provided rpcs. They only open the bare minimum methods for metamask/remix to work for people to send transactions. You'll need to point the fork to your own node or a hosted one for ganache to work

[2021-04-25 02:17] wemem commented on #826
@Code0x2 In fact I can only fork the nearest block use binance provided rpcs. if  i want to fork any block,i must use archive nodes.

[2021-04-27 09:06] vekexasia opened #899 "Mine txs in same block with provided sorting"
Hello, I'd like to mine several unrelated transactions in the same block using the order I added them to the pool.

Currently ganache mines them in the same block by picking them using an heap with gasprice in mind. But if I send this in order:

 - tx1 gasPrice 1
 - tx2 gaSprice 3
 - tx3 gasPrice 2

I end up wiht a block mined with the tx in the following orger [tx2,tx3,tx1] (assuming the txs are

[2021-04-28 18:15] davidmurdoch commented on #899
Love this idea!

We could add a new option `miner.order: "fifo" | "gasPrice"`, or something like that, so we can make room for other sorting plans in the future. Thoughts?

I'll add this to our roadmap!

[2021-04-28 18:45] davidmurdoch commented on #430
Closing for issue maintenance.

[2021-05-05 18:35] gnidan commented on #503
Closing this for issue maintenance. If this problem is still happening, please let us know how you're running Ganache, so that we may fix!

Thank you.

[2021-05-05 18:36] gnidan commented on #511
Closing for issue maintenance. Let us know if you're still running into this, and we'll be happy to re-open. Thanks!

[2021-05-05 21:11] ntefa commented on #702
I have the same problem. Truffle does work with Ganache GUI but not with the cli, even though the config file has been adjusted.

[2021-05-10 00:04] Mihaiii commented on #570
I got the same issue when I tried to import `ganache-cli` into a component in order to play with it in browser's console (could have as well use it as the provider, I suppose).

The problem (at least in my specific case) is somewhere between ethereumjs-testrpc v. 2.0.0 (works ok) and v. "2.2.7" (doesn't work ok), both ends included.
I made 3 distinct commit messages:
[One](https://github.com/Mihai

[2021-05-11 22:13] ajb413 commented on #797
Can't seem to run Compound cToken exchangeRateCurrent ([this](https://github.com/compound-finance/compound-protocol/blob/master/contracts/CToken.sol#L318)) without hitting `revert re-entered` when forking mainnet. Using Node.js 12.14.1. MacBook Pro (15-inch, 2019) on macOS Big Sur 11.3. Made an example here https://github.com/ajb413/ganache-bug-example. Instructions for running it are in the readm

[2021-05-12 14:59] AgusVelez5 commented on #961
Hi guys, I have the same issue
I wrote a script that review the data of all transactions on the latest block but fails when execute:
`web3.eth.getTransaction(<hash of last tx of the block>)`
Do you have any update?

[2021-05-13 20:13] haydenyoung opened #956 "Launching ganache with fork is throwing revert errors when communicating with 3rd party contracts"
## Expected Behavior

I run a development chain I fork kovan because I am testing some interactions with 3rd party contracts (mainly defi and oracles).

Some of my smart contracts make calls to chain link and uniswap contracts. These are available on the forked chain.

When I run `truffle test` the tests should complete successfully, even those that communicate with 3rd party contracts via my loca

[2021-05-13 20:18] haydenyoung commented on #958
I was interested in this issue as it sounds like (but may not be) related to a new issue I recently opened https://github.com/trufflesuite/ganache/issues/956.

[2021-05-13 20:32] tapmapp commented on #958
I was able to fix it, it seems it was related with the solidity version I was using on my smart contracts.
With this config on the top of the smart contract everything seems fine.

// SPDX-License-Identifier: MIT
pragma solidity >=0.4.22 <0.9.0;

Cheers! :P

[2021-05-14 12:59] haydenyoung commented on #958
@tapmapp Thanks for the suggestion. Unfortunately, it didn't seem to resolve my issue so assuming it is unrelated.

[2021-05-18 18:06] Code0x2 opened #906 "accounts being created when specified zero"
## Expected Behavior

Creating a provider with options `{fork:'http://',accounts:0}` should start a new fork with zero accounts being generated

## Current Behavior

The fork instance has 10 accounts anyway. When using a number other than 0 in the accounts parameter, it returns the following error: `UnhandledPromiseRejectionWarning: TypeError: t.options.accounts.map is not a function`. Using the `

[2021-05-18 19:40] davidmurdoch commented on #906
Fix for this is in progress here: https://github.com/trufflesuite/ganache-core/pull/817 and will be tracked by https://github.com/trufflesuite/ganache-core/issues/60 Thanks!

[2021-05-18 23:51] Code0x2 commented on #906
note setting a fixed number doesnt work either. 👍

[2021-05-19 17:54] cds-amal commented on #906
Hi @Code0x2,

Not sure what you mean by `a fixed number doesn't work`, can you be a little more specific? Thanks.

[2021-05-19 18:28] Code0x2 commented on #906
Sorry bout that I mean if you set it to any number that isnt zero on `accounts` param it shows `t.options.accounts.map is not a function`

[2021-05-23 15:57] davidmurdoch commented on #906
Ah, that's because the option is `total_accounts`, not `accounts`. Let me know if changing that fixes it for you!

[2021-05-25 10:24] GAUTAMRAJU15 commented on #379
Btw @benjamincburns I am seeing this without metamask as well. I send a transaction, it logs eth_getTransactionReceipt, then keeps on logging eth_getBlockByNumber continously

[2021-05-25 15:20] davidmurdoch commented on #781
Done!

[2021-05-25 15:20] #781 closed, assigned to nobody

[2021-05-25 21:12] jeffywu opened #955 "Large debug traces overflow JSON.stringify"
When issuing `debug_traceTransaction` requests it's possible that the result is larger than the limits of what JSON.stringify can handle. You can see errors such as this when it occurs:

[code]

## Expected Behavior

Expected behavior is that the debug trace is properly returned

## Current Behavior

See stacktrace above.

## Possible Solution

Use a library to handle large JSON objects:
https://w

[2021-05-25 21:15] jeffywu commented on #955
Let me know if this is something the team has run into before, I'm keen to get this fixed so happy to help.

[2021-05-25 21:17] jeffywu commented on #955
Related to this issue: https://github.com/trufflesuite/ganache-core/issues/332

[2021-05-25 21:24] jeffywu commented on #332
Is this where the provider returns data to the client?

https://github.com/trufflesuite/ganache-core/blob/6ec151bca2a4f3c7815869529b507333fe1611c5/src/chains/ethereum/ethereum/src/provider.ts#L214

Wondering if it would be feasible to use JSONStream there instead of JSON.stringify, but I can't say that I'm very familiar with how the code works.
https://www.npmjs.com/package/JSONStream

[2021-05-28 19:54] davidmurdoch commented on #889
Removed!

[2021-05-28 19:54] #889 closed, assigned to nobody

[2021-06-01 06:25] racetrack0616 opened #830 "Runtime revert issue in ganache."
My code is
[code]
It is always giving me following error as in screenshot enter image description here

![image](https://user-images.githubusercontent.com/68948218/120276361-4e72d000-c2d2-11eb-97af-0d32c8ebbbcb.png)
I did some experiments with the code block like below and its is working. I only placed static value in second index of props array.i.e replaced values[i] with 0 and it really worked.

[2021-06-01 06:25] racetrack0616 opened #954 "Runtime revert issue in ganache."
My code is
[code]
It is always giving me following error as in screenshot enter image description here

![image](https://user-images.githubusercontent.com/68948218/120276361-4e72d000-c2d2-11eb-97af-0d32c8ebbbcb.png)
I did some experiments with the code block like below and its is working. I only placed static value in second index of props array.i.e replaced values[i] with 0 and it really worked.

[2021-06-07 20:50] gabmontes opened #910 "Calling eth_getLogs ends with an unhandled EIP155-related error"
## Expected Behavior

When using `ganache-core` to programmatically fork the mainnet Ethereum chain and querying it for logs, any past/existing events should be retrieved as if the request to the Ethereum client the fork was created from.

## Current Behavior

The process ends up crashing with and unhandled promise rejection error:

[code]

## Steps to Reproduce (for bugs)

Run the following code:

[2021-06-08 13:42] huahuayu opened #832 "fork specific block & specific index"
hi, `--fork` can be used to fork a specific block, is it possible to do it a step further to fork at a specific block AND a specific index?

I happened to see [this](http://tenderly.co) service, it can fork chain at a specific block and index, which is really cool!

![image](https://user-images.githubusercontent.com/1725060/121190917-15bc9300-c89e-11eb-9c44-46dedd3d1adf.png)

and then I can do sim

[2021-06-08 13:42] huahuayu opened #952 "fork specific block & specific index"
hi, `--fork` can be used to fork a specific block, is it possible to do it a step further to fork at specific index?

I happened to see [this](http://tenderly.co) service, it can fork chain at a specific block and index, which is really cool!

![image](https://user-images.githubusercontent.com/1725060/121190917-15bc9300-c89e-11eb-9c44-46dedd3d1adf.png)

and then I can do simulation

![image](https

[2021-06-08 17:04] frangio commented on #515
Could this be backported to the current version? It makes it difficult to test contracts that use chainId.

[2021-06-08 17:40] drortirosh commented on #515
not sure why you want it to be backported - it is already available in published ganache-cli@6.12.2

When started with `--chainId 1337` param, `eth_chainId` returns the same value as opcode CHAINID

(they said they will make it the default with next major version)

[2021-06-08 19:13] frangio commented on #515
Thanks, that wasn't clear from the last few comments in the issue. ~I can't get the `_chainId` option to work with `solidity-coverage` but I'll keep trying.~ (Fixed)

I do hope the default gets fixed soon though, because this can be really difficult for people to debug in the context of EIP712 signatures.

[2021-06-10 15:22] artman325 commented on #961
I have the same issue.
Do you have any update?

[2021-06-12 00:15] arushsri515 commented on #809
I have this exact same issue

[2021-06-12 00:16] KevinVitale commented on #910
Running into this issue with a graph-node locally deployed, connected to ganache (both v6.12.1 & v6.12.2).

[code]

[2021-06-12 00:26] Madeindreams commented on #809
ganache-cli -f  <alchemy api url + KEY> -u <address of an account that has funds>

Grab the accounts and mnemonic. Leave the port as default. This setup is working fine with hardhat.
Alchemy provide an archive state.

[2021-06-12 00:26] #809 closed

[2021-06-16 12:38] SaumitraChaskar opened #833 "trufflesuite/ganache-cli docker container on Azure Container Instances returns 400 Bad Request"
I have created an Azure Container Instance using the ganache cli image hosted on Docker Hub, I also exposed the 8545 port for the container,

![image](https://user-images.githubusercontent.com/42095224/122218304-f17b3a80-cecb-11eb-8a53-54b23513a8e8.png)

But when I try to curl to the container on the 8545 port it shows "400 Bad Request"

[code]

The container is running perfectly fine when I check

[2021-06-16 12:38] SaumitraChaskar opened #951 "trufflesuite/ganache-cli docker container on Azure Container Instances returns 400 Bad Request"
I have created an Azure Container Instance using the ganache cli image hosted on Docker Hub, I also exposed the 8545 port for the container,

![image](https://user-images.githubusercontent.com/42095224/122218304-f17b3a80-cecb-11eb-8a53-54b23513a8e8.png)

But when I try to curl to the container on the 8545 port it shows "400 Bad Request"

[code]

The container is running perfectly fine when I check

[2021-06-17 19:23] axic commented on #758
Since 0.8.4 there are also custom errors (with their own selector), fitting the same architecture. Supporting both would be nice.

[2021-06-19 00:20] 0xnero commented on #543
I'm still seeing this issue in the current docker image
![image](https://user-images.githubusercontent.com/83933037/122625343-af402d80-d072-11eb-9e7e-c0aed0dad3c7.png)

[2021-06-22 01:02] frangio commented on #758
One of the issues with custom errors and Ganache is that Ganache is completely agnostic to ABIs at the moment, so it won't be able to parse/decode them. I guess it's Web3.js that should parse them, but I'm not sure if it's possible to implement it at that level right now because I don't know if Ganache forwards the full returndata.

[2021-06-23 12:48] rayyan808 opened #834 "Ganache Crashes on estimateGas"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x ]
* Link to my question on gitter: https://gitter.im/ConsenSys/truffle?at=60d32a378a40b1172823ee30

## Expected Behavior

Ganache should deploy the contract, but during deployment it calls upon estimateGas which causes an assertion failure. This failure has something todo with handling BN's (BigNumbers). At  first I presumed

[2021-06-23 13:18] #834 closed

[2021-06-25 10:45] cryptobrokering commented on #961
Similar error here, when trying to debug a Tx on the BSC Mainnet fork with ganache-cli and truffle, I get the following:
[code]

[2021-06-29 21:23] liam-ot commented on #687
run
`npm bin -g`

if you get something like
`/usr/local/Cellar/node/16.0.0/bin
(not in PATH env variable)`

run
`export PATH=$PATH:/usr/local/git/bin:/usr/local/bin`

on zsh this _also_ works
`path+=(/usr/local/git/bin /usr/local/bin)`

[2021-06-30 17:46] cds-amal commented on #910
Hi @gabmontes, It is strange that EIP155 is relevant in this issue. We'll be looking into this. In the meantime, could you try setting your `chainId` manually to match that of the http provider fork at startup ? For example if you provider is mainnet, you chainId would be 1
[code]

if that doesn't work try adding `_chainId: 1` as well. We will try to reproduce this as well.

[2021-07-01 21:48] gabmontes commented on #910
@cds-amal thanks for replying but I don't think that will work.

The problem is that some transactions existing in the chain have invalid v values and when replied within an eth_getLogs call, the mentioned error is thrown.

[2021-07-02 14:10] nonseodion commented on #961
I get the same error when I use ht ganache-cli with fork and OpenGsn Relay service.

[2021-07-06 03:34] ricmoo opened #835 "The intrinsic gas limit does not throw when violated"
When sending a transaction with a `gas` limit below the intrinsic gas limit for a transaction, no error is thrown; the transaction is simply never mined and a transaction hash is returned.

## Expected Behavior

Different clients give different errors, but for example, here is the error returned from a Geth instance:

[code]

## Current Behavior

Currently nothing bad happens, a transaction hash i

[2021-07-06 03:34] ricmoo opened #950 "The intrinsic gas limit does not throw when violated"
When sending a transaction with a `gas` limit below the intrinsic gas limit for a transaction, no error is thrown; the transaction is simply never mined and a transaction hash is returned.

## Expected Behavior

Different clients give different errors, but for example, here is the error returned from a Geth instance:

[code]

## Current Behavior

Currently nothing bad happens, a transaction hash i

[2021-07-06 08:06] davidmurdoch commented on #950
Thanks for this detailed report! Can you test this with the `ganache@internal` package on npm?

[2021-07-06 08:13] ricmoo commented on #950
That version works perfectly!

I will update ethers with that string (i.e. `"base fee exceeds gas limit"`) as well, so it gets mapped to the correct ethers error.

[2021-07-07 18:12] davidmurdoch commented on #910
@gabmontes Looks like ganache is validating data from that it receives from the `fork` when it really shouldn't be, or at least it should be using different hardfork rules, depending on the context on the transaction it is validating. This will likely be fixed in the upcoming Ganache v7 release. You can try an internal preview of this release by first uninstalling ganache-cli/ganache-core and inst

[2021-07-08 21:58] dogutaskiran commented on #607
Any updates on getting this into the build?

[2021-07-09 07:50] wemem opened #836 "How to replay a transaction on ganache fork network"
Ganache can fork specified block,but can't fork transaction index.so what are some ways to implement this feature?

[2021-07-09 07:50] 0xwhatly opened #953 "How to replay a transaction on ganache fork network"
Ganache can fork specified block,but can't fork transaction index.so what are some ways to implement this feature?

[2021-07-09 13:22] KaiRo-at opened #837 "Support london hardfork"
This is basically the same as  #821 just for London, which is already deployed on Ropsten and Goerli and coming to Ethereum mainnet in early August.

## Expected Behavior

`ganache-cli --hardfork london` should work and behave like other Ethereum nodes running on London hardfork.

## Current Behavior

`Error: Hardfork with name london not supported`

## Possible Solution

I guess the solution is o

[2021-07-09 13:22] KaiRo-at opened #939 "Support london hardfork"
This is basically the same as  trufflesuite/ganache-cli#821 just for London, which is already deployed on Ropsten and Goerli and coming to Ethereum mainnet in early August.

## Expected Behavior

`ganache-cli --hardfork london` should work and behave like other Ethereum nodes running on London hardfork.

## Current Behavior

`Error: Hardfork with name london not supported`

## Possible Solution

I

[2021-07-09 18:31] davidmurdoch commented on #950
@ricmoo That's great to hear!

Interesting that we aren't returning the "intrinsic gas too low error" here; i'll do some digging to figure out why that is, because AFAIK, the first gas check ganache@internal does is to ensure the transaction has the minimum theoretical gas required, and this check errors with the "intrinsic gas" message. So this error _might_ change to "intrinsic gas too low" befo

[2021-07-10 11:25] rayeaster commented on #809
any solution?

[2021-07-11 21:06] KaiRo-at commented on #939
One thing to note is that London also includes EIP-3198, which adds a BASEFEE opcode, so support of this HF is also needed for EVM compatibility.

[2021-07-12 12:00] moda20 opened #838 "Can i use a full node data to fork a new chain using ganache-cli"
## Context

## Your Environment
* Version used:  v6.12.2 (ganache-core: 2.13.2)
* Version of Truffle/Remix/Other tools used:
* NodeJS Version: 14.x
* Operating System and version (include distro if Linux): linux ubuntu

[2021-07-12 12:00] moda20 opened #974 "Can i use a full node data to fork a new chain using ganache-cli"
## Context

I am trying to use the forking feature of ganache-cli to get a dry-run version of an EVM-compatible blockchain. my issue is that after a while of running `ganache-cli` with the `--fork` option, all transactions start to timeout as, in my opinion, ganache loses contact with the original blockchain RPC endpoint that I used when launching. this is a major issue I am facing and my only rea

[2021-07-12 16:11] moda20 opened #839 "is callTracer tracer type available wiht ganache-cli debug_traceTransaction"
is callTracer tracer type available wiht ganache-cli debug_traceTransaction

[2021-07-12 16:11] moda20 opened #949 "is callTracer tracer type available with debug_traceTransaction on ganache-cli"
is callTracer tracer type available with debug_traceTransaction on ganache-cli ?

[2021-07-12 16:34] moda20 commented on #949
Does this mean, it is not available ?

https://github.com/trufflesuite/ganache-core/blob/5a347b3e66288cbc5b5249f6ce2401a4d66bfb9b/src/chains/ethereum/ethereum/src/blockchain.ts#L82

[2021-07-14 14:42] aelmanaa opened #840 "Fails if FROM address is 0x0"
Hi,

I'm running a local blockchain on my computer using ganache-cli  (which was installed via npm).   I was testing a chainlink node to communicate with a smartcontract, during my tests, my ganache fails with the following error

` UnhandledPromiseRejectionWarning: Error: The nonce generation function failed, or the private key was invalid`

which is triggered by

`at Object.ecdsaSign (/node_modu

[2021-07-14 14:42] aelmanaa opened #948 "Fails if FROM address is 0x0"
Hi,

I'm running a local blockchain on my computer using ganache-cli  (which was installed via npm).   I was testing a chainlink node to communicate with a smartcontract, during my tests, my ganache fails with the following error

` UnhandledPromiseRejectionWarning: Error: The nonce generation function failed, or the private key was invalid`

which is triggered by

`at Object.ecdsaSign (/node_modu

[2021-07-20 23:56] paimon0715 opened #914 "Could you help remove vulnerabilities introduced in ganache-core?"
Hi ,@davidmurdoch @seesemichaelj , there are 3 vulnerabilities in your package:
### Issue Description
3 vulnerabilities (1 high and 2medium severity) are introduced in **_ganache-core_**:
1. Vulnerability **CVE-2021-23337** (high severity) is detected in package **_lodash_** (versions:<4.17.21):[https://snyk.io/vuln/SNYK-JS-LODASHTEMPLATE-1088054](https://snyk.io/vuln/SNYK-JS-LODASHTEMPLATE-108805

[2021-07-21 00:04] mikeseese commented on #914
Thanks for the write up; just wanted to let you know I'm no longer an active maintainer for this repo, but @davidmurdoch is so I'm sure he'll address this or delegate it to someone else at Truffle Suite when he has the opportunity.

[2021-07-21 01:39] paimon0715 commented on #914
@seesemichaelj @davidmurdoch Thanks very much for your feedback. Thanks for your help.

[2021-07-21 18:11] eggplantzzz commented on #914
@MicaiahReid

[2021-07-22 16:17] forshtat opened #841 "Dangerously incorrect EVM behaviour when forking"
When using a 'fork' feature of ganache and making calls to existing and popular contracts on mainnet, the behaviour of a smart contract or EVM is visibly incorrect.

If I understand the issue correctly, this indicates a bug in the EVM implementation.

See the repository with a short code to reproduce the bug here: https://github.com/forshtat/ganache-bug-reproduce

## Expected Behavior

When execut

[2021-07-22 16:17] forshtat opened #931 "Dangerously incorrect EVM behaviour when forking"
When using a 'fork' feature of ganache and making calls to existing and popular contracts on mainnet, the behaviour of a smart contract or EVM is visibly incorrect.

If I understand the issue correctly, this indicates a bug in the EVM implementation.

See the repository with a short code to reproduce the bug here: https://github.com/forshtat/ganache-bug-reproduce

## Expected Behavior

When execut

[2021-07-25 20:01] nots29vv opened #842 "unable to fork mainnet or bsc"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter:

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)
using cmd or ubuntu
ganache-cli --fork "https://mainnet.infura.io/v3/5e07c52691444971b59607c3ed96cf46" --unlock "0xCBA47689202d31575bfa204efE70e2C83d29dA4D"

1.in the command line
2. ganache-cl

[2021-07-25 20:01] s29papi opened #947 "unable to fork mainnet or bsc"
* I asked about this on [gitter](https://gitter.im/ConsenSys/truffle): [x]
* Link to my question on gitter:

## Expected Behavior

## Current Behavior

 The fork provider errored when checking the nonce for account 0x51f6c8bb55ebd6731d47a6011d85d47363824a36: Invalid JSON RPC response: ""

## Possible Solution

## Steps to Reproduce (for bugs)
using cmd or ubuntu
ganache-cli --fork "https://mainnet

[2021-07-28 03:12] wolflo opened #915 "evm_increaseTime returns string concatenation if input is hex-encoded"
`evm_increaseTime` accepts one parameter (the amount of time to jump forward) and returns the total time adjustment.

When the provided parameter is hex-encoded, the returned total time adjustment is the previous total time adjustment as a string, concatenated with the hex-encoded parameter as a string.

### To reproduce

`ganache-cli --version` -> `Ganache CLI v6.12.2 (ganache-core: 2.13.2)`

run

[2021-07-28 04:35] davidmurdoch commented on #915
The reason your can't reproduce this in a text case is that the develop branch of the repo is a complete rewrite of ganache; and this big appears to be fixed 😁.

I'm out of office until next week, but hopefully we can look into requesting an alpha version of this rewrite shortly after I get back.

[2021-07-28 12:27] Kreeptonium commented on #452
I faced similar issue for MacOS Catalina.
ganache-cli command not found

Below is the perfect solution worked for me:

run npm bin -g
--
You will get result something like /usr/local/Cellar/node/16.0.0/bin (not in PATH env variable)
run export PATH=$PATH:/Users/bhushanpawar/.npm-global/bin
on zsh this also works path+=(/Users/bhushanpawar/.npm-global/bin)

[2021-07-28 15:06] wolflo commented on #915
Thanks!

[2021-07-28 18:17] gnidan commented on #906
Closing this for issue maintenance. Hopefully this fixes the problem for you! Let us know if it doesn't. Thanks!

[2021-07-28 18:17] #906 closed, assigned to nobody

[2021-07-28 18:30] wolflo opened #916 "Rpc methods too permissive for integer arguments"
Methods that accept integer arguments currently accept both decimal-encoded values and hex strings.

Geth accepts only hex strings for these arguments. I would think that matching geth here is important to prevent divergences between the behavior on mainnet vs. when tested against ganache.

Test methods like `evm_increaseTime` also accept both decimal and hex-encoded values, but I think whether to

[2021-07-28 22:45] wolflo commented on #915
Just for curiosity's sake, another thing that seems to be fixed on develop:

The units / type for `evm_increaseTime` are scrambled when the argument is a hex string.

### Reproducing

`ganache-cli`
[code]

The block timestamp hex values in decimal are:
[code]

So, trying to increase the block timestamp by 5 increases it by 16273491778436. This does not happen if the parameter to `evm_increaseTime`

[2021-07-30 02:18] myuniswap2000 opened #843 "can solidity have console.log()?"
Hello, everyone. In Ganache cli, is there anything like hardhat's console. log()?

[2021-07-30 03:31] davidmurdoch commented on #843
This is actually an experimental truffle feature. See https://github.com/trufflesuite/truffle-logger-example/issues/3 for info.

I don't think ganache itself could handle solidity features like this, as it doesn't even know about solidity; it deals with EVM OpCodes. If the solidity compiler itself allowed for a special opcode for logging ganache could handle it, but as things are now, there's no e

[2021-07-30 05:25] myuniswap2000 commented on #843
thank you very much ! I know.

[2021-07-30 05:25] #843 closed

[2021-08-04 17:41] eggplantzzz commented on #916
Thanks @wolflo for the suggestion! After a little bit of discussion we determined that this would be way too big of a breaking change to Ganache at the moment. This is something that we would consider adding sometime in the future. Would adding a feature flag to enable this behavior be something that would work for you?

We'll leave this issue here to document this request.

[2021-08-05 13:03] wolflo commented on #916
It's not really something that I need, just a concern that it could cause issues for people who aren't aware of the difference between ganache's treatment of arguments and the treatment on mainnet. I would guess that enabling it via a feature flag wouldn't make much of a difference, since anyone who is aware the flag is needed is probably aware that they should be hex-encoding parameters anyway.

[2021-08-06 01:03] davidmurdoch opened #924 "tests: create test for docker build"

[2021-08-06 01:20] davidmurdoch commented on #746
closed by #746

[2021-08-06 01:20] #746 closed, assigned to kevinbluer

[2021-08-06 01:34] davidmurdoch commented on #881
closed by #923

[2021-08-06 01:34] #881 closed, assigned to MicaiahReid

[2021-08-06 01:35] davidmurdoch commented on #865
@MicaiahReid do you remember if this one is complete? If so, can you close?

[2021-08-06 01:36] davidmurdoch commented on #864
@MicaiahReid do you remember if this one is complete? If so, can you close?

[2021-08-06 01:36] davidmurdoch commented on #863
@MicaiahReid do you remember if this one is complete? If so, can you close?

[2021-08-06 01:36] davidmurdoch commented on #744
It is much smaller now. Always room for improvement. But good enough to close!

[2021-08-06 01:36] #744 closed, assigned to davidmurdoch

[2021-08-06 01:37] #814 closed, assigned to eggplantzzz

[2021-08-06 01:39] davidmurdoch commented on #915
Closing as i'm just cleaning up issues that are fixed in develop. 7.0.0-alpha release is coming soon(tm)!

[2021-08-06 01:39] #915 closed, assigned to nobody

[2021-08-06 13:55] eggplantzzz commented on #916
Thanks again @wolfo, we'll definitely consider making this behavior default in the future.

[2021-08-06 16:26] #747 closed, assigned to nobody

[2021-08-06 16:27] davidmurdoch commented on #829
related: https://github.com/trufflesuite/ganache-core/issues/464

[2021-08-06 17:07] #859 closed, assigned to davidmurdoch

[2021-08-06 17:15] #822 closed, assigned to nobody

[2021-08-06 17:22] davidmurdoch commented on #528
Confirmed that this will be fixed in ganache v7! You can try it now by installing our canary version: `npm uninstall ganache-cli -g && npm install ganache@canary -g`

[2021-08-06 18:40] davidmurdoch commented on #522
source-map-support will be removed from the shipped version in the next major release of ganache (v7)

[2021-08-06 18:40] #879 closed, assigned to davidmurdoch

[2021-08-06 18:57] davidmurdoch commented on #587
I've tested in ganache v7 (canary release) with forking and am unable to reproduce!

[2021-08-06 19:05] davidmurdoch commented on #724
@jmarrr I'm going to close this one, as ganache v7 (canary release) works in the browser now. You can find an example of this in our (WIP) interactive docs: https://trufflesuite.github.io/ganache-core/

[2021-08-06 19:05] #724 closed, assigned to nobody

[2021-08-06 22:06] #865 closed, assigned to MicaiahReid

[2021-08-06 22:07] #864 closed, assigned to MicaiahReid

[2021-08-06 22:07] #863 closed, assigned to MicaiahReid

[2021-08-10 23:41] CJ42 commented on #408
I solved this by creating new accounts using `web3.eth.accounts.wallet.create(x)' (where x = number of accounts I want to generate).

I then associated the newly created accounts to some global variables accessible through my tests. See below:

[code]

I was then able to sign data within my tests, using either the:
- `privateKey` property
or
`sign(...)` method, available in each of these new accou

[2021-08-11 01:56] domohawk opened #935 "Quadratic processing time for array responses"
Consider the following contract:
[code]
When SIZE is > ~1000 elements, the time spent waiting for a response to a web3 call() to get() starts to grow in a super-linear fashion.

NumElements: Time
---------------------------
1000: 1.0s
2000: 2.9s
3000: 5.6s
4000: 9.2s
5000: 13.9s
6000: 19.4s
7000: 25.9s

I've tested this both with the truffle web3js client as well as the rust-web3 client, both agai

[2021-08-11 18:01] davidmurdoch opened #936 "Look into using vercel/pkg"
See https://github.com/vercel/pkg

[2021-08-11 18:12] fainashalts commented on #935
Hi @domohawk we're not sure if this is due to a limitation of the vm in general or something with geth as well. This could be a problem with `@ethereumjs/vm`.

Can you try this with the [Ganache canary release](https://www.npmjs.com/package/ganache/v/7.0.0-canary.1337) to see if the issue persists? You'll need to do the following:

[code]
 In the meantime we'll try to dig into this on our end. Tha

[2021-08-11 20:45] davidmurdoch opened #938 "When forking, if we make archive state requests to infura, but we aren't using an archive node, the errors aren't handled at all"

[2021-08-11 21:13] davidmurdoch commented on #674
Discussed this with @eggplantzzz and @micaiahreid and I think we should add this for 7.1.0, if at all. We could do it behind a new opt-in `--hints` flag, or by default behind an opt-out `--no-hints` flag.

[2021-08-12 04:55] domohawk commented on #935
Thanks for the quick response. I tried out ganache@canary, and while the times are much better they are still growing super-linearly, and it's not really feasible to write tests for arrays larger than a few thousand elements:

 ganache@canary
NumElements| Time
------------|---------------
1 | 0.017s
1000 | 0.9s
5000 | 4.6s
25k | 40s
50k | 114s
100k | 388s

It seems like the websocket support in ca

[2021-08-12 10:22] jdevcs opened #844 "security vulnerabilities"
npm audit Found 1756 vulnerabilities (19 low, 622 moderate, ***1114 high, 1 critical***) in 2119 scanned packages

[2021-08-12 13:52] davidmurdoch commented on #844
Closing as this is fixed in the next release.

[2021-08-12 16:21] davidmurdoch commented on #935
@domohawk interesting. My hunch is that this is an issue with @ethereum/vm, but i'll have to dig in a bit more.

As for the websocket support... are you on a mac M1 by any chance?

[2021-08-12 17:12] domohawk commented on #935
@davidmurdoch Nope, I'm running arch linux on Intel. If websockets is expected to work in canary I can file a different bug with the stack trace if that's helpful.

[2021-08-12 17:34] davidmurdoch commented on #935
@domohawk which version of node?

[2021-08-12 17:40] domohawk commented on #935
@davidmurdoch node v16.6.1

[2021-08-12 17:41] davidmurdoch commented on #935
@domohawk Ah ok, can you try websockets on v14?

[2021-08-12 18:32] domohawk commented on #935
@davidmurdoch So using node v14 improves the times more, but still same growth behavior. Both websockets and http have the same times.

ganache@canary, node v14.17.5 (both websockets & http)
NumElements| Time
------------|---------------
1 | 0.015s
1000 | 0.8s
5000 | 4.0s
25k | 25s
50k | 68s
100k | 251s

[2021-08-12 18:37] domohawk opened #941 "Websocket server crashes on connection in Node Latest (v16)"
When using node latest (v16.6.2), ganache-cli crashes upon the connection attempt from the client. I've tested both rust-web3 and truffle web3js clients.

Stacktrace (ganache@canary):
[code]

[2021-08-13 03:10] davidmurdoch commented on #941
We don't fully support Node 16 yet, but I just released a new `@canary` version that fixes some other issues that might fix this issue in Node 16 (it will use a JS based websocket library instead of native). Can you try it and let me know if the error is gone now?

[2021-08-13 04:32] domohawk commented on #941
I updated but am still seeing the same stack trace (with different line numbers).
[code]

[2021-08-16 18:38] mrwillis commented on #961
Anyone have a workaround for this?

[2021-08-17 16:31] fardums opened #845 "[Errno 2] No such file or directory: 'ganache-cli'"
Hi I tried to run script as follow commannd `brownie run scripts/advanced_collectible/deploy_advanced.py`

of this file
`from brownie import AdvancedCollectible, accounts, network, config
  def main():
    dev = accounts.add(config['wallets']['from_key'])
    print(dev)`

However I found the result as follow

  File "brownie/_cli/__main__.py", line 64, in main
    importlib.import_module(f"brownie

[2021-08-18 05:30] #845 closed

[2021-08-18 17:56] davidmurdoch commented on #941
I've got a fix for this specific issue as part of https://github.com/trufflesuite/ganache-core/pull/944, but noticed some other issues with the webpacked build when running in node 16, so it's not quite ready yet.

[2021-08-19 01:27] domohawk commented on #935
I can confirm that geth does not seem to have this growth behavior, it seems to grow pretty linearly.

geth 1.10.6-stable, (both websockets & http)
NumElements| Time
------------|---------------
1000 | 0.006s
5000 | 0.023s
25k |   0.1s
50k |   0.2s
100k | 0.43s
500k | 2.3s
1M    | 4.7s

[2021-08-19 18:48] davidmurdoch opened #945 "Opt-in tracking"

[2021-08-20 01:41] davidmurdoch opened #1049 "automate publishing to docker and github packages"
See https://docs.github.com/en/actions/guides/publishing-docker-images

[2021-08-20 13:56] MicaiahReid opened #1056 "Add `eth_createAccessList` RPC method"
geth includes an RPC method, `eth_createAccessList`, to simplify the creation of access lists. Implement in ganache.

[2021-08-21 14:34] DayBr3ak commented on #910
@davidmurdoch could you give an example? What you describe installs `    Ganache CLI v0.1.1-internal.1341 (ganache-core: 0.1.1-internal.1341)` and it does not solve the problem

[2021-08-21 16:04] #896 closed, assigned to nobody

[2021-08-21 16:06] davidmurdoch commented on #941
@domohawk do you mind testing the latest @canary release once again? `npm install ganache@canary -g`

[2021-08-22 02:38] davidmurdoch commented on #910
@DayBr3ak can you try `npm install -g ganache@canary` and let me know if you still get the error?

[2021-08-22 09:05] DayBr3ak commented on #910
It does work with that package thanks.

For anybody needing this, also launch ganache with `--miner.legacyInstamine true --miner.vmErrorsOnRPCResponse true`
or you'll wonder why things are not working

[2021-08-22 15:13] davidmurdoch commented on #910
@DayBr3ak I'm impressed that you found those flags to switch back to to v6 behavior on your own since I haven't published the documentation or list of breaking changes yet!

The new default mode brings ganache in line with real nodes, but we do lose the immediate error feedback. I suspect we'll learn quickly that users will need some other mechanism for error feedback once the alpha version is rel

[2021-08-22 16:15] DayBr3ak commented on #910
Honestly, I saw the commit you made in your 7.0 branch with the breaking changes.

I'm super new with all the ganache tools so I don't exactly know what I'm doing, but when I do, I'll be sure to give some feedback. I'm actually surprised ganache was not working like real nodes. That just proves I really don't know what I'm doing.

Thanks for the help

[2021-08-23 21:46] domohawk commented on #941
@davidmurdoch I'm no longer seeing the issue, but even more oddly after reinstalling ```ganache-cli```  (Ganache CLI v6.12.2 (ganache-core: 2.13.2)) it still works as well. Did you backport the fixes? I didn't even realize it was able to run a WS server since the pre-7 CLI doesn't have a --server.ws option. I just wanted to make sure I tested this properly.

[2021-08-23 22:10] davidmurdoch commented on #941
No, we haven't back-ported any fixes; this bug must have been a regression in v7.

I'll close this issue since things seem to be resolved. Let me know if I've closed it prematurely! Thanks!

[2021-08-23 22:10] #941 closed, assigned to davidmurdoch

[2021-08-24 18:55] 717a56e1 commented on #91
Has this been started? Or the large refactor is still in progress?

[2021-08-24 19:02] jeffywu commented on #948
@davidmurdoch I'm fairly certain that this issue does not have to do with 0x0 addresses but rather usage of the `unlock` parameter for some accounts. I ran into this issue after having deployed contracts using `unlock` to get a consistent address and then snapshotting the environment into a docker container.

I was using 0x0 addresses during `call` operations before and did not encounter this issu

[2021-08-25 17:58] davidmurdoch commented on #951
Yes, 0.0.0.0 is correct for the Docker container. Have you tried using your host name instead of an IP when sending the curl command?

[2021-08-25 18:04] davidmurdoch commented on #949
Correct, it is not available, and we are tracking this more closely here: https://github.com/trufflesuite/ganache/issues/381

[2021-08-25 18:04] #949 closed, assigned to nobody

[2021-08-25 18:08] davidmurdoch commented on #948
Thanks @aelmanaa for opening this issue, and to @jeffywu for the additional details! Can you try with the [new `ganache@alpha` package](https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.0)? Note: there isn't a published Docker container for this release yet.

[2021-08-25 18:11] davidmurdoch commented on #957
@apiscerena this is a great idea and is something we've been discussing internally. There are some technicalities around why this isn't going to be possible in some cases where state becomes incompatible with new blocks, but I think we'll find ways to work around them.

[2021-08-25 18:17] davidmurdoch commented on #955
Thanks @jeffywu. Yes this is something we're aware of and I have ideas on how to fix it while still maintaining full compatibility with JSON-RPC but I haven't had time to try it yet. I'll close this one in favor of the other which is tracking the same issue.

[2021-08-25 18:17] #955 closed, assigned to nobody

[2021-08-25 18:25] davidmurdoch commented on #956
I have a hunch as to what is happening here and it boils down to managing forking state changes over time being complicated :-). I've added his to our backlog and set a high-priority so it can be worked sooner rather than later.

[2021-08-26 14:14] ErrorEater opened #1080 "bigint: Failed to load bindings, pure JS will be used (try npm run rebuild?)"
[code]

How to fix this `bigint` error?

[2021-08-26 15:26] davidmurdoch commented on #1080
Thanks for trying out the ganache alpha! What node version are you using?

[2021-08-26 15:46] ErrorEater commented on #1080
v14.15.5

[2021-08-26 16:13] davidmurdoch commented on #1080
Ok, thanks. This happens because one of our dependencies (bigint-buffer) runs a compilation step on installation and this can step may fail for a couple of reasons. One of the reasons is that your system might not have the build-tools the library is looking for. You _can_ install these build tools on Windows (see https://www.npmjs.com/package/windows-build-tools), but you don't actually need to as

[2021-08-27 01:09] apiscerena commented on #957
Glad to hear that news. Looking forward to using that new feature. Actually, I'm wondering how the state becomes incompatible with new blocks? Could you give me some hints or do you have any recommended articles to describe the situation?

[2021-08-30 19:43] davidmurdoch commented on #464
@cgewecke, finally getting around to implementing this and will release it this week in a new ganache alpha (we've re-written ganache: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.0).

My current plan is to emit something like:

`vm:tx:before`, `vm:tx:step`, `vm:tx:after`

for `eth_call`, `eth_estimateGas`, `eth_sendTransaction` (and eth_sendRawTransaction, personal_s

[2021-08-30 19:57] davidmurdoch commented on #464
Aside:

I wonder if there is a way we can offset the gas costs of the coverage instrumentation effects internally? Perhaps we can make it so that `vm:tx:step` allows the listener to return a value which can instruct ganache internals to manipulate the run state of the transaction. Perhaps we can temporarily disable the VM's EEI gas accounting? Or maybe this is such a rare edge case it wouldn't eve

[2021-09-01 15:55] davidmurdoch opened #1104 "sort executable/pending transactions that have the same price by the time at which the transaction was submitted"
This way we can ensure determinism in their ordering.

[2021-09-01 17:48] davidmurdoch commented on #954
Not sure what's happening here with the limited code you've provided, but my hunch is that `props[_sn][values[i]]` is out of range at some point; `values.length` and `props.length` are probably not equal.

[2021-09-01 17:54] davidmurdoch commented on #959
`ganache@7.0.0-alpha.0` has partial support for berlin; it is currently missing transaction type 1. I'll be releasing a new alpha soon that will introduce the transaction type and full support for berlin this week or next.

[2021-09-01 18:00] davidmurdoch commented on #958
Closing as it seems the original issue has been resolved. Please comment below if you are still having issues.