[2021-09-01 18:00] #958 closed, assigned to nobody

[2021-09-01 18:01] davidmurdoch commented on #961
Closing as this issue should now be fixed in ganache@7.0.0-alpha.0. Please comment below if you are still seeing this issue in the latest ganache.

[2021-09-01 18:01] #961 closed, assigned to nobody

[2021-09-01 18:08] #953 closed, assigned to nobody

[2021-09-01 18:08] davidmurdoch commented on #953
Closing in favor of https://github.com/trufflesuite/ganache/issues/952

[2021-09-03 15:10] WhiteFeather27 opened #1113 "fd"
hhfkj

[2021-09-03 15:48] #1113 closed, assigned to nobody

[2021-09-03 17:22] itsdeka opened #1114 "Invalid remainder sending raw transactions (type 2)"
Hello,
neither building a raw transaction with TypedTransaction nor using [Etherscan API](https://etherscan.io/getRawTx?tx=0x8e3844a10894f466a45e9568f858f5a4a3adbabf8f33adb65648d4c867761e55) I am able to send a raw type 2 transaction on a local fork using ganache-cli.

[code]

Appreciate any help

[2021-09-05 09:08] moda20 opened #1120 "where is the ganache-cli repository ?"
I am trying to get the docs of the cli version of ganache but they keep redirecting to this repo with no docs for the cli arguments.

[2021-09-06 02:03] davidmurdoch commented on #1120
I apologize for the confusion. The documentation has moved to https://github.com/trufflesuite/ganache-cli-archive

We're combining ganache-core and ganache-cli into `ganache`, but haven't yet finished everything. I'll be sure to put a link into this REPO's README.md pointing to the archive repository until we get everything situated.

That said, the npm module `ganache@7.0.0-alpha.0` (`npm install

[2021-09-06 18:03] aspiers opened #1128 ""ganache-core@2.13.1" is missing a bundled dependency "keccak""
I'm seeing the following warning when running `yarn install`:

    warning "ganache-core@2.13.1" is missing a bundled dependency "keccak". This should be reported to the package maintainer.

and I couldn't find any other mention of this reported here, so I'm filing this issue.

I believe the relevant part of `yarn.lock` is as follows:

[code]

[2021-09-07 15:28] davidmurdoch opened #1133 "The `equals the sum of the difficulty of all blocks` test sometimes fails"
This test uses random numbers, so we need to check if something is wrong with the test, or if there is just something wrong with the code.

[2021-09-08 17:43] kevinbluer commented on #960
Hey @tytom2003, apologies for the slight delay in getting to this...is this still an issue for you (if we so we'll dig in and help you resolve)?

[2021-09-08 18:01] davidmurdoch opened #1145 "When a contract fails to deploy ganache could show helpful information in the console as to what is going on."
It can be confusing if a contract fails to deploy, but the transaction receipt shows a `contractAddress`. This is expected behavior, but can trip some people up. We could log additional information about the transaction, explaining what happened.

[2021-09-08 18:12] kevinbluer commented on #974
Hey @moda20! Technically yes, although there are some known issues with Ganache 6.x...would you be ok to try this with [ganache@7.0.0-alpha.0](https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.0)? It's also worth noting that sometimes a full node is insufficient (vs an archive node)...if you're curious about the differences in node types, there's a good breakdown on ethere

[2021-09-09 15:55] davidmurdoch opened #1150 "`@ganache/filecoin@alpha` doesn't work with `ganache@alpha`"

[2021-09-09 16:01] davidmurdoch opened #1151 "Ensure filecoin flavor can run on M1 Macs"

[2021-09-09 16:25] davidmurdoch opened #1152 "Update filecoin's default FIL amount to 1000 to match our ethereum default"

[2021-09-09 23:02] FeatureSpitter opened #1157 "npm i ganache is deprecated"
I am being forced to use `npm i ganache-cli`.

And by visiting https://www.npmjs.com/package/ganache it shows deprecated.

Following the README instructions didn't work.

[2021-09-10 17:06] davidmurdoch commented on #1157
`ganache-cli` is still the canonical stable release. You can use `npm install ganache@alpha --global` to install the alpha release.

[2021-09-10 17:10] davidmurdoch commented on #1157
related: https://github.com/trufflesuite/ganache/issues/1120

[2021-09-13 11:02] moda20 opened #1171 "ganache-cli, showing the IP addresses of the caller with the nature of the call"
what we have right now when inspecting the console logs of ganache-cli is like this

[code]
what i would like to have

[code]

[2021-09-14 17:39] davidmurdoch opened #1177 "Investigate alternative event-system paradigm"
Alternate event system ideas:

Instead of context, name it token or eventToken.

Because the whole "unique token" thing above is kinda of weird and confusing: Instead of "lifecycle events" (ganache:vm:tx:before, ganache:vm:tx:step, ganache:vm:tx:after) we could emit a single ganache:vm:tx event that contains it's own subscription methods:

[code]

alternatively, it could just be a normal event emi

[2021-09-17 14:39] davidmurdoch opened #1193 "Ensure we stable-sort transactions in the tx pool"
If two identical transactions are in the pool it may be possible to switch the order in which they are "mined" depending on how many times the pool is sorted.

We may need to sort by a secondary key, the `from` address may work without adding any additional properties to the transaction -- though this would bias transaction ordering based on the address' lexicographic sort order -- unless we hash

[2021-09-17 19:13] #939 closed, assigned to davidmurdoch, MicaiahReid

[2021-09-17 19:39] davidmurdoch opened #1196 "Rename `miner` everywhere, including in `options` to something like `engine` or `executionEngine`"
As in an Eth 2 world there are no miners, so this name doesn't make sense (and ganache doesn't "mine" anything as it is)

[2021-09-18 17:38] itsdeka opened #1204 "Release"
Hello @davidmurdoch, awesome job.
Would it be possible to publish a release for latest commit related to EIP1559?

[2021-09-18 19:09] davidmurdoch commented on #1204
Working on it! I found an issue during release testing (it crashes start up, so it's a bit of a show stopper!) that only occurs with the bundled (webpack) release and am working on a fix now.

[2021-09-19 13:34] MannieIW opened #1206 "npm install -g ethereumjs-testrpc"
I have node.js v10.19.0. And have Ubuntu in VirtualBox. I tried to run 'npm install -g ethereumjs-testrpc', but it returned errors.
Please how do I resolve this? I am trying to set up an IDE for Solidity.
Kindly see below:

mannieiw@mannieiw-VirtualBox:~$ node -v
v10.19.0
mannieiw@mannieiw-VirtualBox:~$ npm install -g ethereumjs-testrpc
npm WARN deprecated ethereumjs-testrpc@6.0.3: ethereumjs-test

[2021-09-20 14:38] davidmurdoch commented on #1206
Why are you trying to install `ethereumjs-testrpc` instead of `ganache-cli`?

[2021-09-20 23:14] davidmurdoch opened #1213 "Type 2 gasPrice needs to be handled better"
I believe 1559 TX's `toVmTransaction` should return a `gasPrice` instead of maxPriorityFeePerGas or maxFeePerGas.

We may need to make the transaction's `extra` data include its block's `baseFeePerGas` so we can always compute the `effectiveGasPrice`?

[2021-09-20 23:24] davidmurdoch opened #1214 "`eth_call` needs additional eip-1559 gas logic"
I've prototyped the following, but it is incomplete, and I haven't tested yet. See https://github.com/ethereum/go-ethereum/blob/b1a5e4afdd80e45b570c80fa0319ed2816a5e30b/accounts/abi/bind/backends/simulated.go#L586-L611

[code]

[2021-09-21 06:56] MannieIW commented on #1206
Hi David,

Thank you for your response.

I am running an online training course on "Certified Solidity Developer",
organized by Blockchain Council. As part of setting up my Solidity
Integrated Development Environment (IDE), the online instructor asked to
run "npm install -g ethereumjs-testrpc". And the instructor proceeded to
demonstrate it at the blockchain council website and it worked well. The

[2021-09-21 15:20] davidmurdoch opened #1218 "Replacement transactions are run twice"
If a transaction replaced another transaction in the pool (because it is "better" i.e., has a higher gas price) the better transaction will end up getting executed twice :exploding_head:

[2021-09-21 15:22] davidmurdoch opened #1219 "Transactions that aren't immediately executable can't be replaced by "better" transactions"
The transaction pool only looks at immediately executable transactions (transactions whose `nonce` matches the account's current nonce); it doesn't consider any future nonce transactions for replacement.

[2021-09-21 17:04] davidmurdoch commented on #1206
That must be an old course, as testrpc was renamed to ganache-cli about 4 years ago. Install ganache-cli by running `npm install ganache-cli -g` instead. Let me know if you still have issues.

[2021-09-21 17:04] #1206 closed, assigned to nobody

[2021-09-21 17:06] davidmurdoch commented on #1204
Release PR: https://github.com/trufflesuite/ganache/pull/1222

[2021-09-21 18:21] davidmurdoch commented on #464
release in https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1

[2021-09-21 18:36] davidmurdoch commented on #959
Released in https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1

[2021-09-21 18:36] #959 closed, assigned to nobody

[2021-09-21 18:39] davidmurdoch commented on #1193
closing in favor of https://github.com/trufflesuite/ganache/issues/1104

[2021-09-21 18:41] #1193 closed, assigned to nobody

[2021-09-21 18:52] davidmurdoch opened #1224 "Implement in-memory cache for forking requests"

[2021-09-21 18:53] davidmurdoch opened #1225 "Implement persistent cache for forking requests"

[2021-09-21 19:38] #1120 closed, assigned to davidmurdoch

[2021-09-21 23:27] MannieIW commented on #1206
Hi David,

Thank you for your email.
I just ran *npm install ganache-cli -g*, kindly see below the result.

***@***.***:~$ node -v
v14.17.6
***@***.***:~$ npm -v
6.14.15
***@***.***:~$  npm install ganache-cli -g
npm WARN checkPermissions Missing write access to /usr/lib/node_modules
npm ERR! code EACCES
npm ERR! syscall access
npm ERR! path /usr/lib/node_modules
npm ERR! errno -13
npm ERR! Error:

[2021-09-22 15:28] davidmurdoch commented on #1206
If you've previously tried installing an npm module with the `-g` or `--global` flag along with `sudo` your npm directory permissions are likely misconfigured. See npm's help article on this here: https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2021-09-22 15:30] #938 closed, assigned to nobody

[2021-09-22 15:59] davidmurdoch commented on #931
Fixed in ganache-7.0.0-alpha.0, however, a bug in eth-permit prevents the repo example from working with EIP-712 compliant providers: https://github.com/dmihal/eth-permit/issues/6

[2021-09-22 15:59] #931 closed, assigned to MicaiahReid

[2021-09-22 16:03] davidmurdoch opened #1235 "Implement support for EIP-2831"
web3.js Issue: https://github.com/ChainSafe/web3.js/issues/3723
MetaMask Issue https://github.com/MetaMask/metamask-extension/issues/9174
EIP: https://eips.ethereum.org/EIPS/eip-2831

[2021-09-22 21:48] forshtat commented on #931
Thanks @davidmurdoch! Is there some information about what was the problem here?

[2021-09-22 23:03] davidmurdoch commented on #931
Forking was rewritten from scratch recently. My hunch is that we handle locally deleted values that originated from the forked chain better now (via a time-series database so we know the blocks at which a value is deleted or not).

[2021-09-23 05:30] MannieIW commented on #1206
Thank you for your email.
Will review and revert shortly.

Best regards,

Emmanuel Iwerebon
Mobile: 469-315-9981.

On Wed, Sep 22, 2021 at 10:28 AM David Murdoch ***@***.***>
wrote:

[2021-09-23 17:11] fredlacs opened #1244 "Ganache forking network validation"
A number of users attempt to fork different networks using ganache.

Some networks are evm compatible with an RPC interface that works with ganache forking, but the internals are sometimes different to that of the evm (for example gas metering is different).

By forking these networks with ganache, users might get the impression that their tests are executing correctly but when contracts are deplo

[2021-09-23 20:20] davidmurdoch opened #1245 "get forking working in the browser"
We at least: need to polyfill `http` and `https`, use isomporphic-ws in the browser, and fix the `new URL` issue.

[2021-09-23 20:25] davidmurdoch commented on #1244
I'm not sure we can reliably determine which networks are compatible on our side. Did you something in mind for how to check for this?

[2021-09-23 21:47] moda20 opened #1246 "Odd behavior when sending multiple transactions on forked node"
HI, I am having huge issues when sending multiple smart contract calls (transactions), they don't all pass. when sending more than 1 transaction at the same time only one would pass. I am using the CLI to fork bsc mainnet network from `getBlock`.

I would like to know if there are any limitations on the fork feature on the number of requests sent. Otherwise it would be a problem with my forked pro

[2021-09-23 22:34] davidmurdoch commented on #1246
@moda20 what version of ganache are you using?

[2021-09-23 23:38] moda20 commented on #1246
it's the cli version 6.12.2

[2021-09-24 02:34] davidmurdoch commented on #1246
Thanks! Can you try the latest alpha at the new package name, `ganache`? To install:

[code]

This version actually has a built in rate limiter:

`ganache --fork.url YOURURL --fork.requestsPerSecond 30` will try* to avoid hitting the limit. However, it currently limits all requests, not per rpc call, so if BSC is limiting some calls and not others this might not help too much.

Run `ganache --help

[2021-09-24 08:17] fredlacs commented on #1244
A list of (un)supported chain IDs could work well

[2021-09-24 23:11] moda20 commented on #1246
Was trying your solution, but having issues with unlocking the default accounts on deterministic account generation. it doesn't work with an empty passphrase.

EDIT : I had to not lock accounts in order to not have that issue.

[2021-09-25 13:29] moda20 commented on #1246
Well i tried the new `ganache@alpha` forking method and it seems to take so much more time to handle and mine the transaction, and i keep getting the console logs that a transactions is not yet mined. my transaction can take up to 40 seconds to mine which is not good.

I am really confused by this issue and I'm going to post my test cases here in order to try and get more info on this :

My tests

[2021-09-25 15:22] davidmurdoch commented on #1246
I'm currently working on forking performance issues in ganache@alpha (https://github.com/trufflesuite/ganache/pull/1339 and https://github.com/trufflesuite/ganache/pull/1248), so those performance issues will be resolved very soon; ganache v7-alpha forking should be about 20x times faster than ganache-cli. And thank you for the note about locked accounts, I'll look into that. As far as the other i

[2021-09-27 21:03] #1224 closed, assigned to nobody

[2021-09-27 21:11] tcoulter commented on #910
I got around this issue while using 6.12.2 by forking from a pre-EIP 1559 block (see the @ sign at the end of the fork URL; `10499400` is the block right before the fork)
[code]

This will prevent Ganache 6.12.2 from processing transactions that it doesn't support.

Note that this may not work for you if your app needs more recent data. Fortunately for my use case forking from `10499400` was just

[2021-09-28 20:23] davidmurdoch commented on #820
fixed by https://github.com/trufflesuite/ganache/pull/1247

[2021-09-28 20:23] #820 closed, assigned to MicaiahReid

[2021-09-29 11:32] pal9000i opened #1276 "Takes hundreds of GB of space"
Hello,

Running ganache-cli for my tests takes up hundreds of GB of my computer storage after a while. I am not using --db param, so shouldn't chain state only be in memory? Looks like it is saving the chain state somewhere and not clearing it out after stopping ganache.

How can i clear out this storage?

Thanks

[2021-09-30 15:57] #1218 closed, assigned to MicaiahReid

[2021-09-30 15:57] #1219 closed, assigned to MicaiahReid

[2021-09-30 16:12] davidmurdoch commented on #1276
What OS are you running?

[2021-09-30 16:13] #1204 closed, assigned to nobody

[2021-09-30 16:13] davidmurdoch commented on #1204
released in ganache-7.0.0-alpha.1

[2021-10-04 19:52] its-everdred commented on #1196
From a convo with Micaiah and David, here is a list of potential option changes:

--miner.blockTime -> chain.blockInterval?  (Geth == “period, hardhat == “interval)
--miner.legacyInstamine -> chain.legacyInstamine?

--miner.defaultGasPrice -> tx.defaultGasPrice?
--miner.defaultTransactionGasLimit -> tx.defaultGasLimit
--miner.callGasLimit -> tx.callGasLimit

--miner.blockGasLimit  -> block.gasLimi

[2021-10-06 13:03] arnab-bhowmik opened #1316 "Contract deployment gets stuck on Windows 10 using Truffle v5.4.10 & Ganache CLI v6.12.2 (ganache-core: 2.13.2)"
On Windows 10, not able to deploy Smart Contracts using Truffle v5.4.10 & Ganache CLI v6.12.2. Compilation of the smart contracts go fine but the deployments gets stuck for hours without any output. Kindly refer attached screenshot. The issue is not happening on Ubuntu 18.04 for the mentionedTruffle & Ganache versions.
![Truffle_Issue](https://user-images.githubusercontent.com/66133212/136207580-1

[2021-10-06 20:52] davidmurdoch opened #1327 "Before release: discuss truffle release plan"
We need to ensure truffle can handle the new default instamine mode (not `--legacyInstamine`) mode correctly (not by polling every one second).

cc/ @gnidan

[2021-10-07 02:50] #1049 closed, assigned to MicaiahReid

[2021-10-07 15:03] davidmurdoch opened #1330 "Refactor Transactions"

[2021-10-07 15:35] chris-shyft opened #1331 "address(this).balance [incorrect] vs payable(address(this)).balance [correct] not provoking errors on ganache-cli"
Hey, curious if this should/could be addressed -

https://ethereum.stackexchange.com/questions/78597/solidity-0-6-0-addressthis-balance-throws-error-invalid-opcode

when performing test suite commands using ganache-cli, there is no "Invalid Opcode" error thrown by "address(this).balance", while using a protocol & performing the same transaction tests does.

[2021-10-07 15:36] chris-shyft commented on #1331
tldr; "address(this).balance" should provoke an error message
"payable(address(this)).balance" should not.

[2021-10-07 16:20] davidmurdoch opened #1332 "Use child process IPC for persistent forking cache"
We currently use a non-greedy leveldb db.open->db[operation]->db.close pattern for making persistent cache requests, as leveldb only allows a single connection at a time. We do this so that ganache running in other processes can simultaneously read/write to the database by using a try then retry pattern, somewhat like this:

[code]

The polling seems wasteful and and slow. Additionally, there is n

[2021-10-07 16:27] #1213 closed, assigned to MicaiahReid

[2021-10-07 16:28] #1214 closed, assigned to MicaiahReid

[2021-10-07 17:24] chris-shyft commented on #1331
it seems to me that the geth-y implementations don't care about this semantic difference, but the nethermind-based ones do atm. I'll leave/close this if it's a reproduction error on the nethermind side :)

[2021-10-07 17:38] davidmurdoch opened #1333 "Hapi doesn't work on node 16. We need to update filecoin dependencies (ipfs?) that use it"

[2021-10-07 17:42] davidmurdoch commented on #1331
Before I dig into this further, can you try with `ganache@7.0.0-alpha.1`? You can install by running `npm uninstall ganache-cli -g && npm install ganache@alpha -g`.

[2021-10-07 17:44] davidmurdoch commented on #1331
Just FYI: geth, nethermind, ganache never see your solidity code (`address(this).balance;`); they only see the bytecode/opcodes that the solidity compiler generates. Make sure you are are always using the same version and settings of solidity when compiling.

[2021-10-07 20:21] chris-shyft commented on #1331
we can probably close this, turns out the eip1884 ( https://eips.ethereum.org/EIPS/eip-1884#selfbalance ) wasn't enabled on our POA network setup, ty for your focus @davidmurdoch

[2021-10-07 20:22] chris-shyft commented on #1331
(https://eth.wiki/roadmap/istanbul)

[2021-10-07 20:22] #1331 closed, assigned to nobody

[2021-10-08 13:42] DavLiendoProgramming opened #1335 "Error when running ganache for tezos"
Hi everybody, I'm trying to use ganache for tezos and I'm having on this error:
 ``Ganache CLI v6.12.0-tezos.0 (ganache-core: 2.13.2-tezos.0)

Available Accounts
==================
alice 100 TEZ
  pk: edpkvGfYw3LyB1UcCahKQk4rF2tvbMUk8GFiTuMjL75uGXrpvKXhjn
  pkh: tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
bob 100 TEZ
  pk: edpkurPsQ8eUApnLUJ9ZPDvu98E8VNj4KtJa1aZr16Cr5ow5VHKnz4
  pkh: tz1aSkwEot3L2kmUvcox

[2021-10-08 15:30] davidmurdoch opened #1337 "Create GitHub discussion for ganache v7 instamine explanation"
This is intended to be created as a GitHub discussion and linked (`https://trfl.io/v7-instamine`) from Ganache's `eth_getTransactionReceipt` notice.

## Living draft:

In previous versions Ganache would "instamine" transactions in a such a way that the transaction was guaranteed to be included in a block, or throw an exception, _before_ the transaction's hash was returned to the caller.

If you us

[2021-10-09 08:26] haltman-at opened #1341 "Startup display on Ganache 7 includes "n" after some numbers"
E.g.:

[code]

(Although the real thing is colorized, which is important, because presumably you don't want to fix this in a way that loses the color.)

Presumably, this is happening because this is how `util.inspect` formats bigints.  However, the fact that these numbers are represented internally as bigints is a purely internal matter; no "n" should appear in printouts like this.

[2021-10-09 14:34] LucasColas opened #1346 "'Method eth_signTransaction not supported."
Hello,

When I try to do a transaction I have an error.
My code :
[code]

My error :

I know signTransaction is deprecated in favor of sign_transaction().
But I had the same error when I tried sign_transaction

[2021-10-09 18:00] davidmurdoch commented on #1346
If you are using cli, can you try `ganache@7.0.0-alpha.1`? To install it globally run `npm uninstall -g ganache-cli` then run `npm install -g ganache@alpha`.

[2021-10-11 15:14] sc0Vu opened #1366 "Got negative time and broke ganache in ganache-core 2.13.2"
Hi there,

I found an interesting bug when I tried to `evm_mine` with 2147483648 timestamp, it broke my ganache core (v2.13.2) with integer 53 bits errors.

Then I dig into source code, it turns out the timestamp was negative after doing or caculation.

https://github.com/trufflesuite/ganache/blob/ff312f6ee7f54fa8a8fdce52165fa879eb8bdb20/lib/blockchain_double.js#L1251

I saw this issue was fixed i

[2021-10-11 15:51] davidmurdoch commented on #1366
You can try the fixed version by installing `ganache@7.0.0-alpha.1` today by running `npm run uninstall ganache-cli -g` followed by `npm run install ganache@alpha -g`. Let me know if this next version fixes the issue; we do not currently plan to release any updates to v2 in the future.

[2021-10-11 16:00] davidmurdoch opened #1367 "Update utf-8-validate (everywhere) and move to optional dependencies in `ganache` package"

[2021-10-13 14:10] domob1812 opened #1375 "web3_sha3 should accept hex-encoded string"
The `web3_sha3` RPC method is supposed to accept a hex-encoded string for the data to hash.  So for instance, to get the Keccak hash of `Move(string,string,string,uint256,uint256,address,uint256,address)` (for a Solidity event topic), the call should be:

    web3_sha3 ("0x4d6f766528737472696e672c737472696e672c737472696e672c75696e743235362c75696e743235362c616464726573732c75696e743235362c6164647265

[2021-10-13 14:20] davidmurdoch commented on #1375
Thanks for trying out the alpha. It should work to spec. This will be fixed before release to stable. Thank you for reporting this!

[2021-10-16 02:08] MannieIW commented on #1206
Hi David,

Your earlier email below refers.

I have tried to follow npm's help article but am still missing something.
I am honestly not sure if I did the right thing, but these are the steps
that I took.

Clicking on the help article url, it took me to coreybutler/nvm-windows.
I clicked on 'Code'
Then I clicked on Download ZIP
Then I extracted the ZIP file.
It displayed a folder: nvm-windows-mast

[2021-10-18 13:24] convexman opened #1406 "VM bug: Blake2-256 calculation"
There was a bug in [@ethereumjs/vm](https://www.npmjs.com/package/@ethereumjs/vm) package - blake2-256 precompile ([see EIP-152](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-152.md)) was implemented incorrectly. This was fixed and released in [5.5.3](https://github.com/ethereumjs/ethereumjs-monorepo/blob/master/packages/vm/CHANGELOG.md#553---2021-09-24)

However ganache does not seem to d

[2021-10-19 12:33] ukstv opened #1412 "Recent v7.0.0-alpha.1 does not include proper type declaration"
Using ganache from TypeScript code. Apparently, `index.d.ts` on the latest alpha is effectively empty:
[code]

[2021-10-19 16:42] davidmurdoch commented on #1412
Thanks for trying out the alpha. This is one of the known issues. Ganache bundles all dependencies (to minimize install time and reduce supply chain attacks), and bundling dependency types is not a completely solved problem yet. I'm hoping recent releases of https://github.com/microsoft/rushstack/tree/master/apps/api-extractor will solve enough of the problem now. We tried it, as well as libraries

[2021-10-19 19:43] ukstv commented on #1412
Good to know it's a known issue. Looking forward to having a type declaration in a GA release.

[2021-10-20 09:43] ukstv commented on #1412
BTW, @davidmurdoch I have an unrelated request/question. You guys merged 1559 support, but have not released a new alpha. This 1559 support is pretty huge thing, so IMO is worth a release albeit under alpha tag. How do you decide when to release something?

[2021-10-20 13:52] danhper opened #1417 "London support on npm"
Hi there :wave:
I saw that London support has recently be pushed to the develop branch.
Is there any plan on having a release on npm soon?
Thanks!

[2021-10-20 14:57] davidmurdoch commented on #1417
You can try it now by installing ganache@alpha. Run:

[code]

then

[code]

Check the release notes here: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1

[2021-10-20 14:57] #1417 closed, assigned to nobody

[2021-10-20 14:59] davidmurdoch commented on #1412
@ukstv 1559 support was released in alpha.1 on September 21st. Here are the release notes https://github.com/trufflesuite/ganache/releases#user-content-v7.0.0-alpha.1-highlights

[2021-10-20 15:05] davidmurdoch commented on #1412
@ukstv Since you didn't know we had released it, i'm sure others have missed this information as well. We probably need to expand our messaging about releases. Where did you check to see if there was a ganache release for 1559/London support? I'll try to ensure we have broader release exposure in the future.

[2021-10-20 15:32] ukstv commented on #1412
@davidmurdoch Maybe I do not understand what part of 1559 support landed in alpha.1.

alpha.1 was released 21 days ago, while https://github.com/trufflesuite/ganache/pull/1307 has been merged 13 days ago.

Current alpha.1 responds with a block that misses baseFee.

[2021-10-20 17:20] davidmurdoch commented on #1412
Ah, I see what you mean. Support for Type-2 (EIP-1559) transactions was released in alpha.1; there were some bugs in its implementation that will be fixed by #1307.

[2021-10-21 02:14] danhper commented on #1417
Awesome, thanks!

[2021-10-21 10:04] bgausden commented on #910
I'm having no luck with running graph-node (master branch) against a fork of mainnet from a Chainstack archive node. Was there anything else you could think of that makes it work for you?

[code]

[2021-10-21 12:23] gnomesaregreat opened #1423 "ganache become super slow after thousands of transactions"
I need to check my smart contract on millions of transactions,(1 by 1)
the problem is after around 10k transactions it takes more than 1 hour for a single transaction

that my command

[2021-10-21 12:33] davidmurdoch commented on #1423
@gnomesaregreat can you try the latest alpha version to see if it fixes it for you? The list of breaking changes and installation instructions are here: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1

You may need to enable the --chain.legacyInstamine flag.

[2021-10-21 15:56] gnomesaregreat commented on #1423
Hi so now the mnemonic don't work but it did 40k transactions already and running fast  thanks(:

[2021-10-26 10:36] DenrianWeiss commented on #962
It seems that at [gas-estimator.ts](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/src/helpers/gas-estimator.ts), the functions return any error that it receive, but in the [@ethereumjs/vm impl](https://github.com/ethereumjs/ethereumjs-monorepo/blob/f15f28b580923d040c6bdf9de68ff38cf1f5fab4/packages/vm/src/evm/interpreter.ts#L116), the ERROR.REVERT will return aft

[2021-10-26 19:38] davidmurdoch commented on #1423
Hm, what is the full command (with the actual `mnemonic` redacted, if you need to) you are running that causes the mnemonic to not be applied?

[2021-10-26 19:41] davidmurdoch commented on #910
@bgausden Can you try with the alpha version of ganache? To install you need to run `npm uninstall ganache-cli -g` then `npm install ganache@alpha -g` You want to enable legacy mode with the following flags `--miner.legacyInstamine true --miner.vmErrorsOnRPCResponse true`

[2021-10-27 18:24] davidmurdoch opened #1452 "`debug_traceTransaction` not returning all relevant storage contents"
See https://github.com/trufflesuite/ganache/issues/1037#issuecomment-707843959 for additional context

[2021-10-28 06:45] bgausden commented on #910
[code]
[code]

[2021-10-28 20:03] davidmurdoch commented on #910
@bgausden Ah, sorry, I mixed up the argument namespace. Please try with `--chain.vmErrorsOnRPCResponse`.

p.s., If you use Node.js 12 or 14 the µWS warning will go away.

[2021-10-28 22:29] JimLynchCodes commented on #540
still getting this error... how to fix? 🤔

[2021-10-28 23:44] moda20 opened #1458 "Forking on ganache programatically causes all requests to stall"
I am trying to create a forked new provider for web3 via the programmatic way of running ganache. but i encountered an issue where all my calls hang forever and never finish. here is how i am doing it:

[code]

the getAccounts promise doesn't resolve ever, and all other calls have the same issue. is this a bug and if so, is there a workaround ?

[2021-10-29 18:00] martudev opened #1463 "Error at testing contract from mainnet fork BSC"
Hello how are you?,

I want to test a mainnet contract from BSC, so i use this command to fork it:
`ganache-cli -h 0.0.0.0 --db /home/username/blockchain-db -f https://bsc-dataseed.binance.org/`

I make the code in python and connect my web3 to the localhost. When i run my code after a second i run the forked command, then my code works. But if i run my code after a minute i run the forked command

[2021-10-29 18:52] davidmurdoch commented on #1463
This happens when the data that ganache needs to access is not available on the binance node you are connecting to. You need to use a different RPC endpoint. There are some suggestions on RPC endpoints that include binance archive data here: https://www.reddit.com/r/binance/comments/mrmqji/free_bsc_archive_node/

[2021-10-29 18:52] #1463 closed, assigned to nobody

[2021-10-31 15:32] leroldary opened #1470 "Add `eth_feeHistory` RPC endpoint"
The `eth_feeHistory` API was  introduced in the [JSON-RPC](https://playground.open-rpc.org/?schemaUrl=https://raw.githubusercontent.com/ethereum/eth1.0-apis/assembled-spec/openrpc.json&uiSchema%5BappBar%5D%5Bui:splitView%5D=false&uiSchema%5BappBar%5D%5Bui:input%5D=false&uiSchema%5BappBar%5D%5Bui:examplesDropdown%5D=false) spec as a counterpart to EIP-1559. The API exposes information that is usefu

[2021-11-02 09:03] wei3erHase opened #1478 "Unexpected behaviour with StaticCall [eth_call]"
StaticCall does not atomizes the transaction state changes when calling with `eth_call`. State variable that should be changed inside the transaction do not change when interacting with more than 1 contract.

Contract example: https://goerli.etherscan.io/address/0x26e4977a70d0E4262d1D731b7446B8527EB4E253#code

[code]

When calling `viewState` in TestState Contract, `caller` should be set to `msg.s

[2021-11-02 14:39] davidmurdoch commented on #1478
Which version of ganache are you using?

[2021-11-02 15:57] wei3erHase commented on #1478
[code]

[2021-11-02 17:53] davidmurdoch commented on #1478
Can you try installing `ganache@7.0.0-alpha.1` and using that? You'll need to uninstall `ganache-core` and change the import from `require("ganache-core")` to `require("ganache")` (or ` import "ganache-core"` to ` import "ganache"`). Let me know if you have questions about updating.

[2021-11-03 17:32] #1080 closed, assigned to MicaiahReid

[2021-11-03 18:49] cds-amal commented on #1114
Closing as this is fixed in [ganache@7.0.0-alpha.1](https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1)

[2021-11-03 18:49] #1114 closed, assigned to nobody

[2021-11-03 18:52] cds-amal commented on #1128
Thanks @aspiers, This should be resolved in [Ganache v7.0.0-alpha.1](https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1). Please let us know if you're still experiencing problems and we'll reopen.

[2021-11-03 18:52] #1128 closed, assigned to nobody

[2021-11-04 00:01] davidmurdoch opened #1490 "`evm_(un)lockUnknownAccount` should be named better and work alongside the `personal_` namespace"
`evm_unlockUnknownAccount` currently unlocks accounts for use with `eth_sendTransaction`, but doesn't make the account available for us with `personal_sendTransaction`. It probably should.

Also, the name itself is confusing, what is "unknown" here even mean?

Maybe it should be `evm_addAccount(address, passphrase)` and `evm_removeAccount(address, passphrase)`, and then the user could use the `per

[2021-11-04 12:17] wei3erHase commented on #1478
that made the job! 🎉

{\\__/}
( • . •)
/ > `<3`

[2021-11-04 12:17] #1478 closed, assigned to nobody

[2021-11-04 12:56] wei3erHase opened #1495 "Unexpected console.logs in production"
`version v7.0.0-alpha.1` spawns `eth_call` and `eth_chainId` on each fork request

[2021-11-04 13:26] davidmurdoch commented on #1495
Hey, thanks for trying the alpha! Can you explain the issue a bit more?

[2021-11-04 15:06] domob1812 opened #1496 "eth_call should return JSON-RPC error on revert"
When `eth_call` causes a transaction revert, the JSON-RPC method should return an error rather than a result that just contains the revert data.  Currently (using Ganache from git) `eth_call` returns data like this for a call that reverts:

    0x08c379a00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000008408c379a0000000000

[2021-11-04 16:18] davidmurdoch commented on #1496
If you use ganache@7.0.0-alpha.1 I believe you can enable behavior by setting the `--chain.vmErrorsOnRPCResponse` flag on start up.

[code]

Can you try that and let me know if it returns what you'd expect?

Perhaps we should make this the default mode for `eth_call`. /cc @MicaiahReid

[2021-11-04 17:56] moda20 opened #1497 "ganache-core 'header not found' error when forking on node 14"
I am having an error when forking using the programmable version of ganache (ganache-core version `2.13.2`). the error is 'header not found' :

[code]
this is a very recurrent issue and breaks the usage of ganache forking.

my node version is v14.15.2.

[2021-11-04 18:17] davidmurdoch commented on #1497
Can you try starting ganache with an explicit fork block number that is at least a few blocks old and let me know if it works.

Are you using infura for the fork url?

Example:

`ganache-cli --fork {FORK URL}@13551770`

[2021-11-04 18:22] moda20 commented on #1497
Hi, i am doing the forking programmatically, but I'll try the explicit block number. for forking i am using moralis nodes, it's free archival nodes. it always worked before so I have faith in it.

[2021-11-04 18:31] davidmurdoch commented on #1497
I've seen this issue occur when ganache requests the latest block number, then uses that block number to get the block data, but the node hasn't yet processed it, and instead returns a "header not found" error.

[2021-11-04 19:56] moda20 commented on #1497
Well, that did it. it fixed a lot of the issues I had with the forking, it's weird that it requests block data before having the blocknumber.

[2021-11-04 22:59] davidmurdoch commented on #1497
It doesn't request the block data before the block number, it's just that the external node we interact with _knows_ the block number of the block it is _currently processing_, but because it hasn't finished processing it yet when we request the block itself the node response like it doesn't know about it. It's very frustrating behavior, as you've seen!

An alternative approach for ganache is for

[2021-11-04 22:59] #1497 closed, assigned to nobody

[2021-11-05 09:21] domob1812 commented on #1496
Thanks @davidmurdoch for pointing me to that flag - it indeed does what I need, so for me the issue is resolved.

But I can definitely say that from the point of view of a developer using Ganache's JSON-RPC interface, I certainly expected `eth_call` to throw in case of a revert, so it might make sense to turn that on by default.  (But of course just having the flag is good enough in practice.)

[2021-11-05 11:37] JustinGuese opened #1503 "This version of µWS is not compatible with your Node.js build:"
using the new alpha npm package with ubuntu 21.10

`npm install ganache@alpha --global`

npm 8.1.3
node 17.0.1

**running ganache in command line outputs**

[code]

[2021-11-05 12:52] davidmurdoch commented on #1503
Thanks for trying the alpha! This will be resolved in the next alpha release. It is safe to ignore this message.

[2021-11-05 12:52] #1503 closed, assigned to nobody

[2021-11-05 13:18] domob1812 commented on #763
This is something I ran into with my own project (I need `txpool_content` to be precise).  Is there any particular issue holding this up, or it is just blocked on missing time?  Is this something that will come any time soon, or are many other things higher priority?

[2021-11-05 15:01] MicaiahReid opened #1507 "Add `--experimental` flag to enable future EIPs/Hardforks"
Add an `--experimental` flag that would allow users to enable future EIPs/Hardforks in Ganache.

Possible candidates for relevant EIPs:
- [EIP-4396](https://eips.ethereum.org/EIPS/eip-4396)

[2021-11-05 20:13] davidmurdoch commented on #763
No one else has asked for it, as far as I know. So it hasn't been prioritized.

There are other issues ahead of this, like getting Ganache v7 to a stable release. After that we can evaluate adding these methods.

Please feel free to work this issue if you don't want to wait for us. Here is where our tx pool transactions are held: https://github.com/trufflesuite/ganache/blob/434d971f7305c66dabe7b65

[2021-11-05 21:27] davidmurdoch opened #1509 "Clean up reverted `trie` data"
We don't delete "regular" trie changes during a revert because those are part of the MPT, and must be referenced by their state root. In other words: the data can't be read unless we somehow set the state root to one of these (now deleted) blocks' state roots. Since this can't happen we just let the data live on.

We really should clean it up, at least in those cases where users are persisting the

[2021-11-08 05:39] domob1812 commented on #763
Thanks for the pointers, they seem very helpful!

[2021-11-08 16:45] cds-amal opened #3448 "@truffle/preserve-to-ipfs error with Node 16"
While trying to test Node 16 @lsqproduction and I discovered that **@truffle/preserve-to-ipfs** failed with the following error.

Steps to reproduce
- use Node 16 and npm@6
- bootstrap truffle
- run **@truffle/preserve-to-ipfs** tests

[code]

[2021-11-09 17:23] tuleyko commented on #1458
+1, have the same bug

[2021-11-09 18:50] davidmurdoch commented on #1458
@moda20 and @tuleyko Can you try the ganache v7 alpha release and let me know if it fixes the issue for you? https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.1

[2021-11-09 18:57] moda20 commented on #1458
@davidmurdoch i tried the alpha when trying to debug this error, and it didn't solve my issue. But my issue was related to the forked provider as it wasn't an archive node, and the blockNumber I am using is more than 64 blocks in the past. so @tuleyko, maybe check your provider and see if it s an archive node or not.

[2021-11-09 19:25] davidmurdoch commented on #1458
@moda20 Did ganache v7 alpha at least error on start up instead of hang?

[2021-11-09 20:06] moda20 commented on #1458
@davidmurdoch no I am pretty sure it did hang, but I don't remember if it printed an error message or not.

[2021-11-10 11:13] 0xGorilla opened #1529 "Wait until confirmation from eth_sendTransaction"
Is there any way to send a transaction to a fork using `eth_sendTransaction` and then waiting until the transaction is confirmed?

Currently we are approaching this issue by listening to `ganache:vm:tx:after` right after sending the tx, but the event comes empty, and as well we need to wait at least 100ms after the event for the `TransactionReceipt` to be available

[2021-11-10 11:14] 0xGorilla opened #1530 "Close fork when process exits"
When calling `process.exit()` in order to close the current process, the forks still run on the background.

Is there any way you could subscribe to the exiting of the process from inside Ganache and self-close the forks?

[2021-11-10 11:15] 0xGorilla opened #1531 "Get revert message from eth_sendTransaction"
After sending a transaction that should revert via `eth_sendTransaction` and asking fort the `TransactionReceipt`, we do get `status: 0` but not the revert reason.

Is there any way to get the revert reason from the transaction?

[2021-11-10 11:17] 0xGorilla opened #1532 "Parallel static calls in fork"
Even though we send multiple static calls to a fork at the same time, they are being processed one by one.

Is there any way we can make them work in parallel since they shouldn't affect the state of the EVM?

[2021-11-10 11:22] wei3erHase commented on #1529
this is our implementation, we're using RXJS for observables live interaction between our processes:

[code]

[2021-11-10 11:22] wei3erHase commented on #1531
implementation in #1529

[2021-11-10 15:08] ndzik opened #1534 "Incompatible `Provider` typings with `ethersjs`?"
I was working on creating a minimal example for another issue. When I pulled up the README to start a new project I adapted the following code from the [docs](https://www.npmjs.com/package/ganache-core), which btw differ from what is seen in the README in this repository?):

[code]

Of course I installed `ganache-core` with `yarn add -D ganache-core`. Since I was creating a minimal example either

[2021-11-10 16:38] davidmurdoch opened #1535 "Write and implement an EIP for a "transactionIncluded" (name TBD) event"
Such an EIP would allow for something like:

[code]

The `filterOptions` param could support options like transasctionHash, from, to, logs, etc.

[2021-11-10 16:48] davidmurdoch commented on #1529
The `ganache:vm:tx:after` event you are listening to are related to how the Ethereum Virtual Machine processes individual transactions; they shouldn't be used for detecting when a transaction is stored in the blockchain (the ganache:vm:* events are useful if you want to inspect to the individual "step" events for a transaction).

There are three common ways to detect when a transaction has been in

[2021-11-10 16:52] davidmurdoch commented on #1496
Yes, I think we agree that we should return the error by default. We likely copied our implementation of `eth_call` from geth before they changed and and we should follow suit to make it the default (and only!) behavior.

[2021-11-10 16:54] davidmurdoch commented on #1530
This sounds like a bug to me! Are you able to provide a simple reproduction?

[2021-11-10 16:55] davidmurdoch commented on #1534
Can you try with `ganache@alpha` (`yarn add -D ganache@alpha`) (also uninstall ganache-core and change the require/import to "ganache") and let me know if the included types work better for you?

[2021-11-10 17:04] davidmurdoch commented on #1532
This should be the behavior as things are right now, if not, it is a bug. Can you provide reproduction steps?

[2021-11-10 17:05] ndzik commented on #1534
Glorious thanks! This solves it. Should the README be changed to incorporate such information or was I just blind and did not follow the steps correctly? :sweat_smile:

[2021-11-10 17:06] davidmurdoch commented on #1530
I'm unable to reproduce with this script:

[code]

[2021-11-10 17:20] davidmurdoch opened #1536 "debug_traceTransaction should return a `returnValue`"
This is especially useful when the transaction being traced is reverted, as the `returnValue` would contain the revert string.

[2021-11-10 17:24] davidmurdoch commented on #1531
The _standard way_ is to reissue the transaction with `eth_call`, but due to [this bug](https://github.com/trufflesuite/ganache/issues/1496) you'll have to enable the `chain.legacyInstamine` flag for it to work. You may want to use a package like https://github.com/authereum/eth-revert-reason to make it a bit easier. This big will be fixed before we launch to ganache v7 to stable.

The _non-standa

[2021-11-10 18:20] davidmurdoch commented on #1534
Our repos are just in a confusing state right now. `ganache-core` is the core of `ganache-cli`, which has moved to the [ganache-cli-archive](https://github.com/trufflesuite/ganache-cli-archive) repo. The readme of the `ganache` repo, which ganache-core redirects to, has a notice at the top directing users to the ganache-cli-archive repo.

[2021-11-10 18:20] #1534 closed, assigned to nobody

[2021-11-10 20:50] haltman-at commented on #1536
Wait, does it not already do this?  Whenever I've done this with Ganache 6, there's been `structLogs`, `gas`, and `returnValue`... the debugger doesn't currently *use* `returnValue`, for various reasons, but I've always seen it there...

(If this issue is real, and is a regression in Ganache 7, then presumably this should be marked for 7.0 rather than 7.1!)

[2021-11-10 21:00] davidmurdoch commented on #1536
It returns `""` for `returnValue`: https://github.com/trufflesuite/ganache/blob/efa9c470503f667294fe78df6e0f6ee70382a151/lib/blockchain_double.js#L832

Actually, I think it does return revert reasons in the `err` of the `callback` AND a result with a `returnValue` of `""`, but ganache v6 was weird like that: https://github.com/trufflesuite/ganache/blob/efa9c470503f667294fe78df6e0f6ee70382a151/lib/

[2021-11-10 22:18] haltman-at commented on #1536
Oh, I see.  So it was present, but not useful.  That makes sense.  Well, it's a good thing we never tried to make use of it, then! :P

[2021-11-11 00:45] #1225 closed, assigned to davidmurdoch

[2021-11-11 17:19] ndzik opened #1540 "Contract deployments with `blockTime` set take ~4 seconds"
TLDR:
[Minimal working example (MWE)](https://github.com/ndzik/funwithganache)
Using the the current `ganache@alpha` npm package together with the latest version of `ethersjs` exhibits an unexpected behavior when deploying contracts. The deployment of a single contract takes ~4 seconds **unless** a seemingly random but once found consistent amount of blocks is force mined with the `evm_mine` call.

[2021-11-11 18:40] MicaiahReid commented on #1157
@FeatureSpitter, thanks for bringing this to our attention. We have added a notice at the top of the Ganache README directing ganache-cli users to the CLI documentation.

[2021-11-11 18:40] #1157 closed, assigned to nobody

[2021-11-11 18:43] MicaiahReid commented on #1171
Hi @moda20, thanks for the issue. We have a few other issues in our backlog about adding more log information. We'll add this to that list!

[2021-11-11 19:00] tcoulter commented on #540
+1. I use personal_sign in my project and am using an in-memory Ganache provider within tests. Considering it's not yet supported, it looks like the two options are:

1. Upgrade to v7 alpha. OR:
2. Use Hardhat network with (in my case) an externally running node.

[2021-11-11 19:09] MicaiahReid commented on #1246
@moda20 We think these issues should be resolved in the next alpha version of Ganache that should be out in the next few days! Keep an eye out for that release and let us know if you are still having these issues. Thanks!

[2021-11-11 19:11] MicaiahReid commented on #1276
Closing for issue maintenance. You can open a new issue if this is still a problem and we'd be happy to investigate.

[2021-11-11 19:11] #1276 closed, assigned to nobody

[2021-11-11 19:49] davidmurdoch commented on #1540
Thanks for that MWE! It was very helpful in debugging this.

Keep in mind that most everything here is happening asynchronously. So while your code `await`s in one place, this won't prevent other microtasks (V8's name for deferred tasks, like awaited Promises) from being executed.

What is happening in the 4+ second cases:

1. the deployment transaction _request_ is sent
2. in the meantime, `evm_m

[2021-11-11 19:56] ricmoo commented on #1540
In v5, the getChanges functions are not used in any of the polling providers, since it conflicts with more complex providers, like the FallbackProvider.

I’m working on that part right now for v6, where there is a Subscriber object, which can use polling, subscribe with getChanges or rely on multiplexing duplex channels (like WebSockets, IPC, future things).

For v5, if you use a WebSocket you wil

[2021-11-11 19:58] ricmoo commented on #1540
Oh, also for ganache you should probably also use `provider.pollingInterval = 100;` to reduce the amount of time it waits. Won’t help you with the ordering, but will make things speedier.

[2021-11-11 20:13] davidmurdoch commented on #1540
@ricmoo yes, thank you. That makes sense.

Not sure if ethers.js already handles this today for the providers that do use the getChanges functions, but something to keep in mind with Ganache v7's alpha's new default "mining" mode is that it will now return the transaction hash _before_ the transaction is mined, and will then mine it immediately. Previously ganache would wait to return the hash unt

[2021-11-11 23:20] davidmurdoch opened #1542 "Verify that `content-length: 0` for HTTP 204 responses is no longer required in Safari"
Our old tests checked for a `Content-Length: 0` header in a CORS-related 204 server response, but our new codebase doesn't (always) send it (which is correct, per spec):

https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2 (see page 30)

I found this workaround in express.js's CORS module that ensures Content-Length: 0 is always set? See https://github.com/expressjs/cors/blob/c49ca10e92ac0

[2021-11-12 05:19] ndzik commented on #1540
Thanks a lot for the detailed answers and clarifications :rocket:. So just to be sure: Did I understand correctly that switching to a `WebSocketProvider`, if possible, will yield the expected result?

I will try that later today and respond here again!

[2021-11-12 05:52] ricmoo commented on #1540
@ndzik As best as I would guess, yes, a WebSocketProvider should work. :)

[2021-11-12 13:28] 0xng opened #1547 "eth_call not behaving as it should in alpha version"
In our project we are using the alpha version of Ganache to create forks and then call `eth_call` through Ganache's `request` method. We have noticed two strange behaviours:
- Calling eth_call this way is _dramatically_ slower than calling it directly (118s vs 0.7s)
- The returned data is not right

We wrote the following code so you can replicate it and see the behaviour in action. We are running

[2021-11-12 14:01] 0xGorilla commented on #1530
You are right, after lots of testing in a separate environment I did notice that this is working perfectly. Sorry for that!

[2021-11-12 14:01] #1530 closed, assigned to nobody

[2021-11-12 14:22] davidmurdoch commented on #1530
No apology necessary! Thanks for all the feedback!

[2021-11-12 15:14] 0xGorilla commented on #1529
Perfect! After implementing the solution "Via the EIP-1193 standard interface" it did work as expected!

[2021-11-12 15:14] #1529 closed, assigned to nobody

[2021-11-12 15:32] 0xGorilla commented on #1532
You can use this snippet and you will see that the balance wallet order follows the declaration map order, and it gets processed one by one:

[code]

[2021-11-12 15:34] 0xGorilla commented on #1531
I will try this and reopen the issue if there is any problem, thanks for the great answer!

[2021-11-12 15:34] #1531 closed, assigned to nobody

[2021-11-12 16:26] MicaiahReid opened #1550 "Improve Wallet Startup Performance"
There's a lot of unnecessary loops on wallet initialization that we can condense into one loop. For example:
[code]
loops over the same data 5 times.

[2021-11-12 16:36] davidmurdoch commented on #1547
Thanks for the issue! I've confirmed that this is still a bug against the develop branch.

Interestingly, ganache doesn't forward `eth_call`'s to blocks before the fork to the original node, but instead executes everything locally. This means we have to fetch any state that the transaction interacts with at runtime.

A couple of reasons for doing this

 1. we _currently_ apply ganache's hardfork r

[2021-11-12 18:25] davidmurdoch commented on #1532
Looks like you found a bug in our default values for the `chain.asyncRequestProcessing` option, though the test above doesn't really demonstrate this issue. The `eth_call`s you make will take roughly the same amount of time so they're likely to resolve in the order they were sent.

Try the following code with the `asyncRequestProcessing` flag set to `false` and then `true` to better demonstrate th

[2021-11-13 01:41] davidmurdoch opened #1554 "Add Action that checks that all packages are actually publishable so release doesn't fail"
A release just failed because a package didn't have:

[code]

 in its package.json

 We should have a test or GitHub Action that ensures that all packages are publishable.

[2021-11-13 01:55] davidmurdoch opened #1555 "Switch to esbuild to make build times faster/reasonable"
We can't yet because we use typescript transforms to inject the version, but can find a better way that let's us use `esbuild`, surely!

https://esbuild.github.io/

[2021-11-15 07:34] amihaz commented on #568
worked for me

[2021-11-15 13:11] wei3erHase opened #1573 "allow configuration of `baseFeePerGas`"
each time `evm_mine` is called on a fork, since only 1 tx has been made in that block, it makes the future block to have a minor `baseFee` than the one before. When running calculations that depend on that `baseFee`, advancing blocks seems to disrupt the calculation, and be run with a very low `baseFee` that cannot be set

**context**: `baseFee` of future blocks cannot be predicted beforehand, so

[2021-11-15 17:43] robrichard opened #1575 "eth_getLogs causes JavaScript heap to run out of memory when forking mainnet"
Using latest published alpha version

[code]

Send rpc request
[code]

Result
[code]

increasing memory to 6GB (`node --max-old-space-size=6144`) did not help

[2021-11-15 17:59] davidmurdoch commented on #1575
Can you try ganache@7.0.0-alpha.2 and let me know if it still runs into memory issues? Release notes: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.2

To install globally run:

[code]

[2021-11-15 18:12] davidmurdoch opened #1578 "revert node release version to Node 14 or fully evaluate `lockfileVersion: 2` compat"
Updating the release.yml action's node version to 16 caused us an upgrade to npm 7, which auto upgraded our lock files to v2.

npm 7 is :sparkles: _incredibly_:sparkles: buggy, so I don't trust its generated lock files.

So either change it back to 14 (quick and easy) or evaluate `lockfileVersion: 2` now (very time consuming).

[2021-11-15 19:05] robrichard commented on #1575
@davidmurdoch yes this is the version I am using
[code]

[2021-11-15 19:41] davidmurdoch commented on #1575
Ah, I see the problem in the code. Ganache attempts to fetch every block from `"0x0"` to "latest" _individually_ instead of just asking the remote node for the data directly; this will eat up some memory very quickly. :-)

Until we fixed this you may be able to work around it by requesting the data in chunks (maybe 10000 blocks at a time? you'll have to experiment).

For a known contract like this

[2021-11-15 19:42] davidmurdoch commented on #1575
Related: https://github.com/trufflesuite/ganache/issues/145

[2021-11-15 23:26] rainwater11 opened #1581 "Disabling logging on 7.0.0-alpha.1"
I am seeing several of these being logged to the console and would like to turn them off if possible:
eth_blockNumber
eth_chainId

How can I do this?

[2021-11-16 03:26] davidmurdoch commented on #1581
Looks like the `--quiet` flag has a bug. Thanks for reporting!

[2021-11-16 09:36] rainwater11 commented on #1581
Not a problem! Is there any way I can temporarily fix this?

[2021-11-16 14:17] davidmurdoch commented on #1581
On unix you can redirect all output to nothing: `ganache > /dev/null`. On Windows you may be able to use `ganache >NUL` (I haven't tried it myself).

[2021-11-16 17:55] rainwater11 commented on #1581
Ok but I am using Ganache programmatically and not launching from the command line.

[2021-11-16 18:10] davidmurdoch commented on #1581
Oh. You can pass your own logger to ganache:

[code]

[2021-11-17 03:17] MicaiahReid opened #1594 "Fix `toString` Padding for `Address` types"
The original intent for `Address` was to have the following functionality:
[code]
where the original value, "0x1" is stored, but the `toString()` representation pads the values with zeros to be a proper address. This isn't actually working, and likely points to overall issues in `json-rpc-data` and `json-rpc-base-types` that could have side affects to consider.

As an additional note, this also le

[2021-11-17 16:30] rainwater11 commented on #1581
Hey that works!  Thank you!

[2021-11-17 18:48] #1375 closed, assigned to davidmurdoch

[2021-11-17 19:03] fainashalts commented on #1316
Hi @arnab-bhowmik thank you for bringing this up. Can you try this on the latest version of Truffle and see if the issue persists? Can you also share your Node version?

[2021-11-17 19:22] fainashalts commented on #1335
Hi @DavLiendoProgramming is this still an issue for you? Apologies for the delay in getting back to you.

[2021-11-17 19:26] fainashalts commented on #1346
@LucasColas thank you for bringing this issue up. `ganache@7.0.0-alpha.2` does support this method, so please give it a try! We're closing this issue for maintenance but please reach out if something else comes up!

[2021-11-17 19:26] #1346 closed, assigned to nobody

[2021-11-17 19:28] fainashalts commented on #1366
Hi @sc0Vu thanks for bringing up this issue. Looks like @davidmurdoch has provided steps for a fix so we're going to close this for maintenance. Please reach out if you encounter any new issues!

[2021-11-17 19:28] #1366 closed, assigned to nobody

[2021-11-17 19:31] fainashalts commented on #1423
Hi @gnomesaregreat just wanted to check in on this -- have you been able to get the mnemonic working? If so can you share what was going wrong? Thanks so much!

[2021-11-17 19:47] fainashalts commented on #1458
@tuleyko were you able to reproduce this bug using ganache 7? @moda20 can you give us some more reproduction steps if this is still a problem in ganache 7? We have been unable to reproduce.

[2021-11-17 21:06] #1490 closed, assigned to MicaiahReid

[2021-11-17 22:02] #1406 closed, assigned to nobody

[2021-11-17 22:03] #1578 closed, assigned to davidmurdoch

[2021-11-17 23:20] #1581 closed, assigned to davidmurdoch

[2021-11-18 00:52] #1367 closed, assigned to davidmurdoch

[2021-11-18 04:51] gnomesaregreat commented on #1423
i just remove them and didn't check them again,
there are a few more commands that didn't work for me but it was a long time ago so I don't remember what.
one thing that does happen a lot that if I send big transactions the rpc will get a lot of disconnect

[2021-11-18 09:42] NikZak opened #1609 "bsc fork ganache 7.0.0 alpha 2 on m1 very slow"
Sorry, for a poorly formulated issue. I need to install the alpha version as apparently it has the 'Number can only safely store up to 53 bits' issue solved. So I tried to install in a docker and I get two issues on my Apple M1:

First this:
[code]
Not critical, but maybe related to the second issue: All the eth_calls to a bsc fork that I make become extremely slow. I can bearly make one and alway

[2021-11-18 14:31] davidmurdoch commented on #1609
Are you able to provide a reproduction?

[2021-11-18 21:27] davidmurdoch commented on #607
Released in https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alpha.2

[2021-11-18 23:21] #1341 closed, assigned to davidmurdoch

[2021-11-18 23:42] #1496 closed, assigned to davidmurdoch

[2021-11-22 08:07] NikZak opened #1629 "Dockerfile not building for 7.0.0 beta as no script "clean""
When I try to build the dockerfile here ``https://github.com/trufflesuite/ganache/tree/develop/src/packages/ganache``
*Dockerfile below*
[code]

I get an error
[code]
Indeed ``https://github.com/trufflesuite/ganache/blob/develop/src/packages/ganache/package.json`` does not have "clean" script. Available scripts are
[code]

[2021-11-22 08:24] #1609 closed, assigned to nobody

[2021-11-22 09:37] tuleyko commented on #1458
Hey guys, I've tried to upgrade to alpha v7 but no success. There was a different error than initial. I had no time to wait and I redesigned my app not to use ganache at all

[2021-11-22 13:34] jarretmoses commented on #1333
I've had an issue (not sure if it's related) due to node 16 and `µWS` with an error. If this requires a separate issue let me know.

Stack trace

[code]

[2021-11-22 14:46] davidmurdoch commented on #1629
You have to build it from the root of the project:

[code]

You can also install it from docker hub: https://hub.docker.com/r/trufflesuite/ganache

[2021-11-22 20:28] MatthiasLohr commented on #939
Should that already be available via Docker image `trufflesuite/ganache:v7.0.0-beta.0`? I can run a container using this image with `--hardfork london`, so I assue it to be supported there, but I'm getting the following message with web3py:

```The method eth_maxPriorityFeePerGas does not exist/is not available```

Any idea? Running the same code against geth with london support, it works.

[2021-11-22 21:12] davidmurdoch opened #1632 "Support `eth_maxPriorityFeePerGas`"

[2021-11-22 21:14] davidmurdoch commented on #939
@MatthiasLohr, I've created [an issue](https://github.com/trufflesuite/ganache/issues/1632) to add support for this method. I think we'll just need to return a hardcoded `0x0`. Some further investigation is needed here.

[2021-11-23 09:05] MatthiasLohr commented on #1632
Any (rough) ETA how long it will take to make this available in beta Docker image?

[2021-11-23 09:14] dhorkin opened #1638 "v7.0.0-beta.0 signing issue: Invalid signature v value"
I'm having trouble calling a smart contract method with v7.0.0-beta.0.

The same code executed against ganache-cli v6.12.2 works fine.

web3 code in question:
[code]

When this is run with ganache v7 beta, I get this: `Error: Returned error: Invalid signature v value`

It looks like the v value is 0x2d45 on ganache v6.12.2, but 0x2d46 on v7.0.0-beta-0.

Edit: `v7.0.0-alpha.2` has the same issue

P

[2021-11-23 14:59] davidmurdoch commented on #1638
Hm, interesting. I'll look into this today. Thanks for trying the beta and reporting on this issue!

[2021-11-23 15:13] davidmurdoch commented on #1638
Does your `transactionObject` contain a `chainId` property set to the _`chainId`_ of your ganache instance (the default is `1337`)?

If the `chainId` property is omitted from the `transactionObject` `web3` will [incorrectly use the `net_version` RPC call](https://web3js.readthedocs.io/en/v1.5.2/web3-eth-accounts.html#id4) instead of `eth_chainId` RPC call to get the `chainId` to sign the transacti

[2021-11-23 15:20] davidmurdoch commented on #1638
Note: I've started some testing and found that while web3's latest documentation (labeled v1.5.2) does state that it uses `net_version` it actually  uses `eth_chainId`(tested with web3@latest v1.6.1).

[2021-11-23 16:01] davidmurdoch commented on #1638
I can reproduce this issue if I set the `chainId` value in the `transactionObject` to `5777`, which is not the correct value for the `chainId` (it should be the result of calling `eth_chainId`).

Can you let me know if this is what is happening so I can either close this issue or continue investigating further?

[2021-11-23 17:52] dhorkin commented on #1638
It looks like we're setting `chainId` to the network ID. If I change that to the network ID, the signing issue goes away, but then we get `Error: Returned error: transaction underpriced` no matter what we put for gasPrice. I'm guessing Ganache v7 may have a bug with legacy transactions.

This code works on Rinkeby.

[2021-11-23 18:21] davidmurdoch commented on #1638
The `transaction underpriced` error should mean that you have sent a transaction with a nonce that matches that of a transaction already in the transaction pool, but whose `gasPrice` isn't high enough to actually replace the older transaction (it needs to be 10% greater, IIRC).

Are you trying to send a replacement transaction? (this wasn't supported at all with Ganache v6)

[2021-11-23 18:42] dhorkin commented on #1638
No, we're not trying to send a replacement transaction. I've tried absurd gasPrices and they still don't work.

Here's a slightly more complete picture of the web3 code:

[code]

I've tried the following in **web3j (java)** and get the same error despite not explicitly setting any gas price:
`contract.myFunctionName(address, amount).send();`

[2021-11-23 19:54] MicaiahReid opened #1645 "`--miner.callGasLimit` implementation is wrong"
The purpose of the `miner.callGasLimit` option is to set a cap on gas that is used in an `eth_call`/`eth_estimateGas` RPC call (as in [geth's `--rpc.gascap` option](https://geth.ethereum.org/docs/interface/command-line-options)). The purpose of this option is to prevent a DOS attack wherein a contract is uploaded with an infinite loop and `eth_call` is used on that contract, causing miners to work

[2021-11-23 19:55] MicaiahReid commented on #1196
We're thinking we'll push this off to a Ganache v8, since we'll have more context on if renaming to `validator` makes sense after the merge. Good luck future us!

[2021-11-23 20:06] dhorkin commented on #1638
I'm also getting a `transaction underpriced` error from metamask after trying to speed up or cancel a pending transaction (different contract call). The initial transaction in metamask has been sitting for 20 minutes without being mined, with no other traffic on ganache. With v6, this took far less than 1 minute in similar conditions.

Here's the parameters I'm passing to ganache: `--chain.chainId

[2021-11-23 20:07] davidmurdoch opened #1646 "`evm_setAccount*` is race-conditiony"
Ref: https://github.com/trufflesuite/ganache/pull/1592/commits/c4a5e5a386d5b95ecf576973b2ffdd65be099184

If `evm_setAccountNonce` is called multiple times at the same time only some of them will have the desired effect.

[2021-11-23 20:08] MicaiahReid opened #1647 "Update Ganache Documentation for v7"

[2021-11-23 21:30] davidmurdoch commented on #1638
It sounds like you've somehow skipped a nonce, which puts the transaction in the transaction pool until a transaction with the skipped nonce is sent. We'll need to figure out how a transaction with a nonce higher than intended got sent to ganache. Are you able to provide any additional information or a reproduction?

note: while investigating this we did find that our code to detect a replacement

[2021-11-23 22:04] dhorkin commented on #1638
I don't think this is what is happening. For one, v6 should have had the same behavior then.

In any case, we changed the code as follows and the problem went away. I'm pretty sure at this point that ganache v7 has a bug in how it handles legacy transactions:

Old version:
[code]
New version:
[code]

[2021-11-23 22:50] davidmurdoch commented on #1638
Hmmm, `v6` does not support skipping nonces at all; the transaction doesn't get a chance to enter the pool.

Anyway, I'm not sure why sending a type 2 transaction (by removing `gasPrice`) affects things; I will need more reproduction steps to figure out what's going on here.

The following works for me with ganache@beta, so I wonder what else is going on with your tests and contracts that make it

[2021-11-23 22:56] dhorkin commented on #1638
I'm happy to try and give more reproduction steps, but I don't know what you're looking for at this point - I gave a complete code sample with the exception of the contract code.

I'm running the `trufflesuite/ganache:v7.0.0-beta.0` docker image, if that helps.

No hardcoded nonces. The nonces are being figured out by web3, rather than being done manually.

I do appreciate you being very responsiv

[2021-11-24 03:57] davidmurdoch commented on #1638
I'll take another shot at tracking it down in the morning with a fresh mind.

And thank you for being so responsive as well!

[2021-11-24 18:46] MicaiahReid commented on #1540
Closing for issue maintenance; it doesn't look like there's anything for us to do here.

[2021-11-24 18:46] #1540 closed, assigned to nobody

[2021-11-24 19:08] gnidan commented on #1573
Thanks for opening this! Interesting question. What do you think of `evm_mine` taking a parameter (or having a dedicated method to set the baseFee?). We could add a `baseFee` parameter that could take either a number or `"auto"`, perhaps.

Would love to know more about your use case... you mention that Ganache's behavior disrupts your calculations; could you describe what you're doing in a bit mor

[2021-11-24 19:14] gnidan commented on #1632
Soon!™†*

* your mileage may vary
† terms and conditions may apply

---

just kidding, we're working on it!

[2021-11-24 20:05] #1532 closed, assigned to davidmurdoch

[2021-11-24 21:10] MicaiahReid opened #1657 "Log Transaction Failures"
Sure, we have `--vmErrorsOnRpcResponse`, but I have fallen victim far too many times to a transaction erroring for some reason, not seeing the error anywhere, and thinking I am crazy.

We should log when a transaction fails so that there is _some_ evidence of the failure.

(currently, if a transaction fails in instamine mode there are no logs, no errors, _and_ it mines a new, empty block, so it re

[2021-11-24 21:34] davidmurdoch commented on #1638
I've been unable to reproduce.

I have a reproduction script below. You will need to install `web3@1.6.1` and `solc@0.8.10` before running it.

Can you try this and let me know if it works for you? If it does work, can you see anything different with this code compared to yours that may affect the outcome?

 The ganache command (`dbPath` differs from yours to make it easier to run):

`ganache --ch

[2021-11-24 21:58] #1632 closed, assigned to MicaiahReid

[2021-11-24 22:14] MatthiasLohr commented on #1632
That was fast! Thanks!

Any idea when the fix will be available in the Docker image on DockerHub? That would be awesome to have it there.

[2021-11-24 22:33] davidmurdoch opened #1660 "Should `eth_sign` (and related) allow impersonated accounts to sign data?"
A bug in the ganache v6 tests was causing the test to appear like it was passing when it actually wasn't.

This test should actually fail when run against ganache@v7.0.0-beta.0, but it passes: https://github.com/trufflesuite/ganache/blob/efa9c470503f667294fe78df6e0f6ee70382a151/test/local/accounts.js#L134-L148

The reason is that the `assert.rejects` isn't awaited, so mocha thinks it was successfu

[2021-11-25 05:43] NikZak commented on #1629
Thank you so much for pointing to the hub with latest releases and thanks for keeping it up to date! (Compilation on my Apple m1 still fails and I think this is memory related problem)
I was using this hub before https://hub.docker.com/r/trufflesuite/ganache-cli/tags because it is the one that is first found by google search but looks like it is not the active branch
Maybe you could insert the lin

[2021-11-25 05:45] #1629 closed, assigned to nobody

[2021-11-25 11:48] ndzik commented on #1540
Sorry for the late reply, I got sick shortly after opening this issue and did not come around to it again until today.

Thanks again for all the replies and I can confirm that using `WebSocketProvider` behaves as expected :muscle:

[2021-11-25 14:18] davidmurdoch opened #1668 "Add link to docker in read me"

[2021-11-25 14:22] davidmurdoch commented on #1629
Good call. I've made an issue to do that here : https://github.com/trufflesuite/ganache/issues/1668

I don't have an M1 mac to test with myself. If you do figure out whats wrong with our dockerfile build on M1 please do let us know. Our build process does take a lot of memory right now, so that very well could be the constraint.

[2021-11-25 23:41] saadbhd opened #1671 "Fork sendTransactions - Returned error: header not found"
I'm trying to replay and  to test sendTransactions of some pending transactions.

I fork on the last block with unlocking the adresses needed

<img width="992" alt="Capture d’écran, le 2021-11-26 à 00 38 14" src="https://user-images.githubusercontent.com/46091507/143507956-cb934f91-a12d-4d8b-8b88-555c33a57649.png">

but Im always getting one of this transactions :

* Returned error: header not f

[2021-11-25 23:56] davidmurdoch commented on #1671
Can you try with ganache@7.0.0-beta.1?

[code]

[2021-11-26 00:02] saadbhd commented on #1671
Its not solving the problem

[2021-11-26 00:26] davidmurdoch commented on #1671
Can you paste the complete ganache output here?

[2021-11-26 00:35] saadbhd commented on #1671
<img width="967" alt="Capture d’écran, le 2021-11-26 à 01 35 20" src="https://user-images.githubusercontent.com/46091507/143510629-e66079b5-a091-4a48-b05f-1863b9fb6c74.png">

[2021-11-26 00:46] davidmurdoch commented on #1671
Your are still using ganache-cli. Try with the ganache beta.

[2021-11-26 00:52] saadbhd commented on #1671
When i run it from the terminal , i got this
<img width="635" alt="Capture d’écran, le 2021-11-26 à 01 51 49" src="https://user-images.githubusercontent.com/46091507/143511412-031dc491-9851-4f03-a2a5-906e34be4206.png">

but from the js file I use var ganacheCLI = require(  'ganache-cli'); , and then forking using ganacheCLI

[2021-11-26 00:57] davidmurdoch commented on #1671
From JavaScript install ganache@beta in the project'npm_modules:

`npm install ganache@beta`

Then import it with:

[code]

[2021-11-26 01:21] saadbhd commented on #1671
<img width="1132" alt="Capture d’écran, le 2021-11-26 à 02 20 35" src="https://user-images.githubusercontent.com/46091507/143513026-4db88fd6-1ed8-4a3a-a242-fe70b63bc2ec.png">

Still Having the same issue !!

[2021-11-26 01:26] davidmurdoch commented on #1671
What block number are you forking from?

[2021-11-26 01:28] saadbhd commented on #1671
Im not specifying the block number in order to get the last one , i need to test the tx on last possible block

[2021-11-26 01:30] davidmurdoch commented on #1671
What is blockNb.toString() in your example?

[2021-11-26 01:32] saadbhd commented on #1671
ah Sorry ! its web3.eth.getBlockNumber(),
but now Im using the fork without specifying the block i remove it from the request

[2021-11-26 01:38] davidmurdoch commented on #1671
We don't use the absolute latest block number by default because nodes will report that they know the latest block number, but the block hasn't actually been fully synced yet.

The `header not found` error can occur when a node hasn't synced a block.

The other time this can happen is when your aren't using an "archive node" and the transaction needs to interact with data from older blocks. Is you

[2021-11-26 01:44] saadbhd commented on #1671
no its node an archive node because the archive node in moralis is not up to date.

[2021-11-26 02:07] saadbhd commented on #1671
its wotking now sometimes ... but I got a new error

Ganache `eth_getTransactionReceipt` notice: the transaction with hash

I tried to do before calling the 'eth_getTransactionReceipt'  :
<img width="283" alt="Capture d’écran, le 2021-11-26 à 03 07 06" src="https://user-images.githubusercontent.com/46091507/143516101-108fb5ee-4ae7-4ac4-aaae-904256972bab.png">

but nothing !!

[2021-11-26 02:26] davidmurdoch commented on #1671
That's not an error, but a notice that you've asked for the receipt before it was available.

You may want to enable ganache v7's legacyInstamine mode, which will ensure the transaction is included in a block before the hash is returned:

`Ganache.provider({ miner:{ legacyInstamine: true }})`

Details on this breaking change: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-alp

[2021-11-26 02:28] davidmurdoch commented on #1671
Also, generally, forking requires an archive node, as ganache may need to fetch state from old blocks in order to run new transactions.

It could be an interesting feature to allow for multiple forking urls, where if one fails we can retry with another.

[2021-11-26 02:34] saadbhd commented on #1671
AHHH okey !! thank you so much for your help and advice !!

now I can get the transaction receipt but all my transaction have status: "0x0" which mean fail and that's weird because they are successful  on bscscan

[2021-11-26 02:47] davidmurdoch commented on #1671
Can you provide a full reproduction script so we track down what ganache is doing wrong?

[2021-11-26 02:54] saadbhd commented on #1671
Yes sure : some Im forking one lastblock-1
I build my approveTX : from _transaction : which is a pendingtransaction in mainnet
After Im trying to see if it will pass or not in the localweb3 (fork).

      var localWeb3 = await  new Web3(ganacheBETA.provider({fork: "https://speedy-nodes-nyc.moralis.io/af7342cac22d80aa835f8f48/bsc/mainnet/",  _chainId: 1,  _chainIdRpc: 1 , miner: { legacyInstamine:

[2021-11-26 03:09] davidmurdoch commented on #1671
Thanks for the additional information. Hm, the from address and value changing sounds like a bug in ganache. When I get back into the office next week I'll look into this (I'm actually on Holiday right now).

[2021-11-26 03:12] saadbhd commented on #1671
all right and even the gasPrice is changing  !

okey Im waiting for your help thank you !!

[2021-11-26 03:22] davidmurdoch commented on #1671
Oh, I was just thinking... I know nothing about BSC, but if it doesn't follow Ethereum's hardforks then things might not behave as expected. Do you know if BSC implemented EIP-1559 (part of Ethereum's London hardfork)?

[2021-11-26 03:27] saadbhd commented on #1671
I really don't Know.

I was trying to see from where it can be the problem and now I'm having issue with : "sender account not recognized" even if I'm unlocking the adress of the _transaction.from

[2021-11-26 03:41] davidmurdoch commented on #1671
Another tip then I'm actually taking some time off! If you send the signed transaction (via eth_sendRawTransaction) you won't need to unlock the account and can bypass that whole code path.

[2021-11-26 11:45] saadbhd commented on #1671
I tried to send the signed transaction I cannot sign it me because I don't have the private key of the from adress)

but I get this :

[2021-11-26 14:45] davidmurdoch commented on #1671
You can use the v, r, and s params of the transaction to create the raw transaction.

Start the chain with chain id of 148 so it will pass EIP-155 validation. You only need to set chainId, with ganache 7, not _chainId or _chainIdRpc.

[2021-11-26 14:52] saadbhd commented on #1671
I still Have the problem, even with changing the chainId to 148

And when I try to change it here :
<img width="430" alt="Capture d’écran, le 2021-11-26 à 15 50 20" src="https://user-images.githubusercontent.com/46091507/143598279-df3f8959-98aa-4c40-b58d-29fe85f6db72.png">

I got chain ID 148 not supported .

[2021-11-26 15:13] saadbhd commented on #1671
I Tried this to have the raw :

<img width="902" alt="Capture d’écran, le 2021-11-26 à 16 11 36" src="https://user-images.githubusercontent.com/46091507/143600872-85416670-b759-42e6-9ecd-b04f2a1637ad.png">

but when sending eth_sendRawTransaction , I got this error now 😱:

[2021-11-26 15:19] davidmurdoch commented on #1671
There is a typo in your code. You use `approveTX.approveTX`.

[2021-11-26 15:27] saadbhd commented on #1671
Yes it was a mistake that a fixed after sending the commment,

To, be clear this is my all code :

<img width="1167" alt="Capture d’écran, le 2021-11-26 à 16 25 56" src="https://user-images.githubusercontent.com/46091507/143602683-812560e6-310d-4b6c-8b80-5df6a9924c88.png">

and I'm still having the

[2021-11-26 15:47] saadbhd commented on #1671
another thing is that when a compare the signed transaction with first one using this site : https://app.mycrypto.com/broadcast-transaction

I dont get the same txHash and same from adress. (same r,v,s and data ... )

[2021-11-26 15:51] davidmurdoch commented on #1671
If you have the raw transaction's hex you can just send that to ganache.

[2021-11-26 15:52] saadbhd commented on #1671
No I dans have it

[2021-11-26 15:53] davidmurdoch commented on #1671
Just FYI: it makes it very difficult to try reproduce your issue because you are pasting screenshots instead of code.

[2021-11-26 15:54] saadbhd commented on #1671
I have the JSON var TRANSACTION : with some infos : from,to hash .....

And I tried to build the raw from that.
but when i send it to ganache i have the signature v value error

[2021-11-26 15:55] davidmurdoch commented on #1671
Can you paste the complete JSON here?

[2021-11-26 15:58] saadbhd commented on #1671
this is my function :
_transaction a get it from the pendingTransaction subscribe

[code]

[2021-11-26 16:00] davidmurdoch commented on #1671
Can you just send me the transaction? `console.log(JSON.stringify(_transaction))`

[2021-11-26 16:03] saadbhd commented on #1671
an example of the transaction 👍

[2021-11-26 16:26] davidmurdoch commented on #1671
I can't get that transaction to hash correctly either; the signature doesn't seem to match the given `from` address. The only thing I can think of is that Binance must be using a different algorithms.

Oh, I made a mistake about the `chainId` you should be using earlier, Binance's mainnet chainId is `56`.

[2021-11-26 16:35] saadbhd commented on #1671
okey , me to I can't get to hash correctly and its blocking me 😭😱

[2021-11-28 17:33] saadbhd commented on #1671
hey @davidmurdoch  please any updates about the problem

[2021-11-30 07:27] dyfvicture opened #1704 "How to run ganache in browser"
How to run ganache in browser? Could anyone help to figure out where I am wrong when I fork a provider, thank.

I did a test follow: `https://github.com/trufflesuite/ganache/blob/efa9c470503f667294fe78df6e0f6ee70382a151/test/smoke/forking/infura/simple.js`
[code]

[2021-11-30 14:34] davidmurdoch commented on #1704
Forking doesn't yet work in the browser.

[2021-12-01 01:37] dyfvicture commented on #1704
OK, thanks for your reply

[2021-12-01 01:37] #1704 closed, assigned to nobody

[2021-12-01 18:45] fainashalts commented on #1660
This was discussed in ticket processing and warrants further consideration. Leaving the code as-is is probably alright and the simpler path, but may result in user issues.

[2021-12-01 19:10] fainashalts commented on #1671
Hi @saadbhd it looks like BSC may not compliant with EVM standards on hashing transactions. Unfortunately I'm not sure there's much we can do to resolve this on our end.

We'd love to support BSC if possible, and will put this in our backlog to investigate. Apologies that it can't be a high priority right now. If you figure this out on your end, we'd love to hear about what you learn!

[2021-12-01 19:17] davidmurdoch opened #1718 "Add unlocked accounts to list of eth_accounts"
see https://github.com/trufflesuite/truffle/issues/4469

[2021-12-01 19:43] fainashalts commented on #1246
HI @moda20 can you check this with the newest version of ganache? Please let us know if that helps!

[code]

The release notes for the latest release, in case it helps: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-beta.1

[2021-12-02 11:49] wei3erHase commented on #1573
hi @gnidan, let me onboard you in our case scenario.
we're using ganache as a part of a bot, that has to evaluate a transaction in the future, and if it works, sign and send that transaction

so let's say we're in block 990, and since the process takes a little bit of time, we want to know if in block 1000 a transaction will be profitable. so we fork 990, advance 10 blocks, and run our transaction

[2021-12-04 00:32] davidmurdoch opened #1736 "ganache.provider({fork: legacyProvider}) doesn't work"
If the `legacyProvider` doesn't implement the request function we currently just throw it away.

@eggplantzzz

[2021-12-06 18:53] diwu1989 opened #1758 "On v7.0.0-beta.1, sometimes a forked transaction hit a revert and the getTransactionReceipt always returns null"
I'm sending a transaction to Ganache fork, and `sendTransaction` succeeds and gives a receipt.
I have instamine set to True, when I call `getTransactionReceipt`, it returns null if the transaction hit a revert.

This is what I see in the logs:
[code]

Seems that if there's a revert, with instamine=True, the receipt sometimes never give a txhash.

[2021-12-06 18:57] davidmurdoch commented on #1758
What version of ganache beta are you using?

[2021-12-06 19:04] diwu1989 commented on #1758
v7.0.0-beta.1

I think this might be a race condition because sometimes it happens and sometimes it doesn't.

[2021-12-06 19:05] MicaiahReid commented on #1638
@FFdhorkin Have you been able to run @davidmurdoch's reproduction script above? We still haven't been able to reproduce this issue and we'd love to get this fixed while we're still in beta. Thanks again for all of the time you've taken in reporting/following up with us!

[2021-12-06 19:21] diwu1989 commented on #1758
I think this is related to https://github.com/trufflesuite/ganache/issues/1657

[2021-12-06 19:27] davidmurdoch commented on #1758
Thanks, can you provide a reproduction script?

[2021-12-06 22:43] #1736 closed, assigned to nobody

[2021-12-07 19:35] JMiddey opened #1771 "Ganache-cli command not found"
Hi I have been trying to get ganache-cli working for ages now but no luck, I have tried npm install g- ganache-cli aswell as trying to install it via yarn, both say that I have it installed but yet dont allow me to use the command to run it!

[2021-12-07 19:39] davidmurdoch commented on #1771
have you tried `npm install -g ganache-cli`? If so, can you paste the entire sequence of commands and their output here?

[2021-12-07 19:43] JMiddey commented on #1771
joe@Joes-MacBook-Pro ~ % npm install -g ganache-cli

changed 6 packages, and audited 102 packages in 5s

2 packages are looking for funding
  run `npm fund` for details

8 vulnerabilities (7 moderate, 1 high)

To address issues that do not require attention, run:
  npm audit fix

To address all issues (including breaking changes), run:
  npm audit fix --force

Run `npm audit` for details.

this is

[2021-12-07 20:03] davidmurdoch commented on #1771
did you previously run `npm install -g ganache@beta` (or @alpha)?

[2021-12-07 20:07] JMiddey commented on #1771
all I ran was npm install -g ganache-cli

[2021-12-07 20:12] davidmurdoch commented on #1771
Do you remember ever running `sudo npm install -g ...` (or otherwise running `npm install` as the super user)?

[2021-12-07 20:15] JMiddey commented on #1771
that might have been one of the things I tried, although im not sure!

[2021-12-07 21:54] davidmurdoch commented on #1771
The reason I ask is because `sudo npm install ...` will change the permissions of the npm folder and can cause problems.

It sounds like your npm and or node installation is broken. Can you try uninstalling node (and npm), and then install https://github.com/nvm-sh/nvm to manage your node versions?

[2021-12-07 22:31] JMiddey commented on #1771
I am trying to uninstall node and npm, although npm doesn't seem to be uninstalling and I dont have a node.js application downloaded. Also, from your link, is it just running this line of code?
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash

[2021-12-07 23:03] JMiddey commented on #1771
I have tried to uninstall and reinstall everything, although there are ganache versions that I cannot uninstall for some reason, they are -

and now when I run ganache-cli I get this message:
joe@Joes-MacBook-Pro web3_py_siimple_storage % npm ls
joe@ /Users/joe
├── g@2.0.1
├── ganache-cli@6.5.0 invalid: "^6.12.2" from the root project
└── ganache@7.0.0-alpha.2

Error: error:0308010C:digital envelo

[2021-12-07 23:18] davidmurdoch commented on #1771
run `npm uninstall g -g && npm uninstall ganache -g && npm uninstall ganache-cli -g` then try `npm install ganache-cli -g` again.

[2021-12-07 23:44] JMiddey commented on #1771
joe@Joes-MacBook-Pro web3_py_siimple_storage % npm uninstall g -g && npm uninstall ganache -g && npm uninstall ganache-cli -g

up to date, audited 1 package in 91ms

found 0 vulnerabilities

up to date, audited 1 package in 88ms

found 0 vulnerabilities

up to date, audited 1 package in 90ms

found 0 vulnerabilities
joe@Joes-MacBook-Pro web3_py_siimple_storage % npm install ganache-cli -g

added 1

[2021-12-08 02:06] JMiddey commented on #1771
from what I can tell the issue is to do with ganache(correct me if i'm wrong) as here in all of my npm packages they are all green with "extraneous" as opposed to ganache:
joe@Joes-MacBook-Pro web3_py_simple_storage % npm ls
joe@ /Users/joe
├── @types/bn.js@4.11.6 extraneous
├── @types/node@16.11.6 extraneous
├── @types/pbkdf2@3.1.0 extraneous
├── @types/secp256k1@4.0.3 extraneous
├── ansi-regex@4

[2021-12-08 02:51] davidmurdoch commented on #1771
Can you navigate to `/Users/joe/.config/yarn/global/node_modules/` and delete ganache and ganache-cli from there then try again?

[2021-12-08 11:41] JMiddey commented on #1771
There isnt a .config/yarn path on my laptop, instead they are all in /Users/joe/node_modules (apart from yarn which is in /joe/bin), there was one cli.js file in one of the folders in the yard path which I have now deleted and then reinstalled using both npm and yarn, the following error comes up:

joe@Joes-MacBook-Pro web3_py_simple_storage % npm install -g ganache-cli

added 1 package, and audit

[2021-12-08 12:10] JMiddey commented on #1771
Ok so I have managed to play around with it a bit and now when I input ganache-cli I get this:
joe@Joes-MacBook-Pro web3_py_simple_storage % ganache-cli
Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:67:19)
    at Object.createHash (node:crypto:130:10)
    at p (/Users/joe/.config/yarn/global/node_modules/ganache-cli/build/ganache-core.node.

[2021-12-08 12:18] JMiddey opened #1776 "Error: error:0308010C:digital envelope routines::unsupported"
I have been having trouble with ganache-cli and have not been able to use the ganache-cli command, I have played around with it by uninstalling, reinstalling and updating packages now when I use the ganache-cli command i get this:
joe@Joes-MacBook-Pro web3_py_simple_storage % ganache-cli
Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:67:19)

[2021-12-08 13:08] davidmurdoch commented on #1771
What version of ganache? And what version of node?

[2021-12-08 13:11] JMiddey commented on #1771
joe@Joes-MacBook-Pro web3_py_simple_storage % ganache-cli --version
Ganache CLI v6.12.2 (ganache-core: 2.13.2)
joe@Joes-MacBook-Pro web3_py_simple_storage % node -v
v17.2.0

[2021-12-08 14:34] davidmurdoch commented on #1771
Use node 12 or 14 with the ganache-cli package. The `ganache` packed will work on node 17.

[2021-12-08 15:01] JMiddey commented on #1771
omg thank you so much, this worked! I appreciate the help a lot! this caused me a lot of frustration but finally I can carry on with my work!😂 thanks again you helped a lot!

[2021-12-08 15:02] #1776 closed, assigned to nobody

[2021-12-08 15:03] JMiddey commented on #1776
The above error was fixed by using node 14 instead of node 17, thanks @davidmurdoch 👍

[2021-12-08 16:26] JMiddey commented on #1771
I am now having an error with the solcx module not being found but im guessing thats for another thread😅

[2021-12-08 17:01] davidmurdoch commented on #1771
Ganache doesn't use a `solcx` module, as far as I'm aware. Do you mean `solcx`?

[2021-12-08 17:01] #1771 closed, assigned to nobody

[2021-12-08 17:08] JMiddey commented on #1771
Yeah so the ganache module is working but now the file im trying to run requires solcx and even though when I hover over 'solcx' it says (module) solcx, when I run the file I get line 1, in <module>
Import solcx
InportError: No module named solcx

[2021-12-08 17:35] diwu1989 commented on #1337
With `legacyInstamine=False` I'm still hitting error when running:
[code]
I'm getting error
[code]

[2021-12-08 17:44] diwu1989 commented on #780
The draft seem to be here:
https://github.com/trufflesuite/ganache/issues/1337

[2021-12-08 18:05] diwu1989 commented on #1758
I have a feeling that some of the recent fixes might address this, when will a new beta release be cut? Or any way I can pick up latest build somewhere?

[2021-12-09 08:02] diwu1989 commented on #1332
How about a flag to make the persistent cache access greedy?
If we know that no other processes other than ganache need the db, then the caller can safely enable greedy mode for the extra performance.

[2021-12-09 10:23] caffeinum commented on #1337
@davidmurdoch

This seems to be replaced by
[code]

[2021-12-09 14:30] davidmurdoch commented on #1332
@diwu1989 we ended up scrapping the non greedy mechanism described above for a greedy one. It seems like it'd be very rare for someone to run ganache with forking twice simultaneously, so the first to get access to the database wins.

For completeness we'll likely eventually tackle this issue, but don't have any immediate plans for it

[2021-12-09 17:04] davidmurdoch commented on #1337
@caffeinum ah, thank you. Fixed!

[2021-12-09 17:10] davidmurdoch commented on #780
Thanks @diwu1989 I've updated the URL shortener to point to the right place now

[2021-12-09 20:31] davidmurdoch commented on #897
This was shipped in ganache 7.0.0 beta, you can try it by

[2021-12-09 20:31] #897 closed, assigned to nobody

[2021-12-10 22:31] dhorkin commented on #1638
Code won't run.

`TypeError: soljson.cwrap is not a function` coming from `node_modules/solc/wrapper.js:13`

[2021-12-10 23:42] davidmurdoch commented on #1638
Can you make sure you have the latest version of solc, web3, and ganache installed and try again? What version of node are you using?

[2021-12-14 02:43] davidmurdoch opened #1813 "Remove old Node 10 and Typescript code once typescript is updated"
See: https://github.com/trufflesuite/ganache/blob/956df4af117e3baa255abba4f4a38dee78eb6e64/src/packages/core/src/server.ts#L10-L16

[2021-12-14 02:43] davidmurdoch commented on #1813
blocked by #1781

[2021-12-14 19:47] its-everdred opened #1841 "Infinite loops do not error as expected"
## Issue

While updating the "Debugging a smart contract" guide,  truffle does not error as expected in the infinite loop example.

## Steps to Reproduce

Create a contract like:

[code]

Run `truffle develop` in one terminal and `truffle develop --log` in another.
In the first developer console, run `SimpleStorage.deployed().then(function(instance){return instance.set(4);});` to trigger the infin

[2021-12-15 14:38] cds-amal commented on #1841
I got an OOM w/ ganache on this. Checking with @davidmurdoch
[code]

[2021-12-15 18:01] davidmurdoch commented on #1841
Thanks @kevinweaver! This will be "fixed" in https://github.com/trufflesuite/ganache/pull/1829

This was caused by ganache's default eth_call (and eth_estimateGas) gasLimit to be `Number.MAX_SAFE_INTEGER` by default (we could have used Infinity, but the ethereumjs-vm doesn't allow it). This was intended geth's default (and only) behavior before 2019.

Geth has since change the default to 50,000,00

[2021-12-15 22:39] davidmurdoch opened #1831 "Ganache should fail with `insufficient funds for transfer` error when a transaction is added to the pool with insufficient funds"

[2021-12-15 22:40] davidmurdoch commented on #1831
cc @eggplantzzz

[2021-12-16 02:07] davidmurdoch opened #1833 "Update `blockGasLimit` default to match mainnet"
See https://etherscan.io/chart/gaslimit

[2021-12-16 09:01] vasapower opened #1835 "Runtime storage inconsistency if revert is involved"
Hello all, I've encountered a really annoying storage problem __at runtime__ while using `ganache-core@2.13.2` [(this one)](https://www.npmjs.com/package/ganache-core).

Let's suppose to have these Contracts:
[code]

I've tested and deployed them on Rinkeby:
[SRC](https://rinkeby.etherscan.io/address/0x9913b40194068a7a6930e04baee768774d62eaf2)
[DST](https://rinkeby.etherscan.io/address/0x34e37193c

[2021-12-16 15:39] bakeiro opened #1840 "weird console output when deploying contracct"
Hi!

I'm using web3.js/ether.js for deploying a contract in ganache (for testing/learning proporses), every time I get a weird output in the console, plus computers starts going very slow, plus output never ends (I forced the stop after 5 mins) even if the block seems to be mined correctly...

I did it with Web3.js and Ether.js, so I assume it's a ganache thing?

does anyone knows more about this

[2021-12-16 15:42] bakeiro commented on #1840
my code here (Just in case, contract was compiled before successfully)

[code]

[2021-12-16 16:37] bakeiro commented on #1840
okey, using the poweshell in VSCode give me this output (for some reason) using powershell directly I get the output instantaneously, now I can see the transaction got an error, and that's seems to be the reason of the output, solving that I get the correct output, closing the issue :)

[2021-12-16 16:37] #1840 closed, assigned to nobody

[2021-12-16 16:56] davidmurdoch commented on #1835
Can you try with `ganache@7.0.0-beta.1` and let me know if it is still an issue? Release notes: https://github.com/trufflesuite/ganache/releases/tag/untagged-e163081359db6c575b3e

[2021-12-16 17:46] vasapower commented on #1835
I confirm you that the version `7.0.0-beta.1` __solves__ this problem.
![image](https://user-images.githubusercontent.com/5588727/146422487-7f6b3e45-f83b-4e21-b304-c3c93d229624.png)

[2021-12-16 18:06] davidmurdoch commented on #1835
Awesome to hear that! Thanks for giving the beta a try!

[2021-12-16 18:06] #1835 closed, assigned to nobody

[2021-12-16 19:16] kevinbluer commented on #1758
Hey @diwu1989 just a quick follow-up on this. The latest build should be available soon. In the interim, feel free to try building locally...steps with which to do this are available [here](https://github.com/trufflesuite/ganache/blob/develop/CONTRIBUTING.md#to-build-the-ganache-package).

[2021-12-17 08:23] aldwnesx opened #1845 "Returned values aren't valid, did it run Out of Gas?"
I am trying to connect web3js in the javascript section of my html to my ganache-cli nodejs server

ganache deployment script:

[code]

test function calls script:

[code]

I get the following error:

`(node:21204) UnhandledPromiseRejectionWarning: Error: Returned values aren't valid, did it run Out of Gas? You might also see this error if you are not using the correct ABI for the contract you are

[2021-12-17 14:42] marmistrz-stc commented on #533
I have a slightly different issue. I'm using `eth_getFilterChanges` to get notifications for new blocks. If a block is mined because `eth_sendTransaction` (+ instamine), then I'm properly getting the new block's hash returned by `eth_getFilterChanges`. However, if I use `evm_mine` instead, I don't get any new block notifications.

I'm using Ganache 7.0.0 alpha2.

[2021-12-17 15:06] davidmurdoch commented on #533
@marmistrz-stc can you provide a reproduction script?

[2021-12-17 17:31] #1831 closed, assigned to nobody

[2021-12-17 17:36] #1841 closed, assigned to davidmurdoch

[2021-12-17 18:05] davidmurdoch opened #1848 "Remove the `emittery` dependency from the `ganache` package once dependency is updated"
Remove the `emittery` dependency from the `ganache` package once either of these dependency is "fixed":

 * https://github.com/microsoft/rushstack/issues/2220
 * https://github.com/sindresorhus/emittery/issues/92

 Once this is removed we need to add it to api-extractor.json's `bundledPackages` list

[2021-12-21 03:40] davidmurdoch opened #1879 "Update docker image to latest node 16"

[2021-12-22 18:38] haltman-at commented on #1845
It's hard to say what's going wrong here without more detailed reproduction steps.  Do you possibly have a reproduction example we could check out?  Thanks!

[2021-12-22 19:05] haltman-at commented on #1495
OK, we're going to close this for issue maintenance.  Feel free to explain further though and we can perhaps reopen this.  Thanks!

[2021-12-22 19:05] #1495 closed, assigned to nobody

[2021-12-22 19:07] haltman-at commented on #1335
We're going to close this for issue maintenance, but feel free to file a new issue if there's still a problem here.  Thanks!

[2021-12-22 19:07] #1335 closed, assigned to nobody

[2021-12-22 19:08] haltman-at commented on #1316
Closing this for issue maintenance.  Feel free to open a new issue if there's still a problem here.  Thanks!

[2021-12-22 19:08] #1316 closed, assigned to nobody

[2021-12-22 19:37] haltman-at commented on #974
We're going to close this for issue maintenance, but please let us know if there's still a problem here.  Thanks!

[2021-12-22 19:37] #974 closed, assigned to nobody

[2021-12-22 19:41] haltman-at commented on #960
Closing this for issue maintenance.

[2021-12-22 19:41] #960 closed, assigned to nobody

[2021-12-22 19:43] haltman-at commented on #954
Closing this for issue maintenance.

[2021-12-22 19:43] #954 closed, assigned to nobody

[2021-12-22 19:48] haltman-at commented on #948
We're going to close this for issue maintenance, but please let us know if there's still a problem here and we can take another look.  Thanks!

[2021-12-22 19:48] #948 closed, assigned to nobody

[2021-12-22 19:49] #951 closed, assigned to nobody

[2021-12-22 19:49] haltman-at commented on #951
OK, we're going to close this for issue maintenance, but please let us know if there's still a problem here and we can reopen.  Thanks!

[2021-12-23 01:16] davidmurdoch opened #1889 "Add a way to create or modify arbitrary accounts and storage"
We can already create empty accounts, and set their nonce*, but we can't set their balance, code, or storage.

\* Related: https://github.com/trufflesuite/ganache/issues/1646

[2021-12-23 22:20] DieKant opened #1899 "Can't use ganache-cli because of error:0308010C:digital envelope routines::unsupported"
Hi

I was trying to run a script with ganache-cli (windows 10) and it gave me this error

Error: error:0308010C:digital envelope routines::unsupported
    at new Hash (node:internal/crypto/hash:67:19)
    at Object.createHash (node:crypto:130:10)
    at p (C:\Users\Fedro\AppData\Local\Yarn\Data\global\node_modules\ganache-cli\build\ganache-core.node.cli.js:55:527949)
    at b.set (C:\Users\Fedro\A

[2021-12-24 00:02] davidmurdoch commented on #1899
Are you using node 12-16?

[2021-12-24 18:09] bakeiro commented on #962
I agree with this issue, I execute the estimateGas in the rinkeby network, and the promise works with problems, when I change to ganache blockchain, it fails (catch method of the JS promise is executed), and I get the same error code

[2021-12-24 18:41] DieKant commented on #1899
hi @davidmurdoch

No, I'm using node version v17.2.0 but from your comment I can immagine the solution been switching version to one that is beetween 12 to 16 right?

EDIT: I found this [repo](https://github.com/coreybutler/nvm-windows) that should do the trick but I didn't understand how to download the installer

[2021-12-24 19:38] davidmurdoch commented on #1899
`ganache-cli` doesn't support node 17 (they removed core encryption methods it needs). You shouldn't be using node 17 unless you are attempting to prepare your code for the upcoming release of Node 18, or testing Node 17 for Node itself. Node versions are weird.

NVM-windows works well, and I use it myself.

Alternatively, you can use the newest _beta_ of Ganache with Node 17: ganache@7.0.0-beta.2

[2021-12-24 19:39] davidmurdoch commented on #962
Can you try ganache@7.0.0-beta.2? https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-beta.2

[2021-12-24 20:59] DieKant commented on #1899
Thanks @davidmurdoch

I solved the issue by installing the lts 16.13.1 node version form the nvm repo I linked in my last comment

[2021-12-24 20:59] #1899 closed, assigned to nobody

[2021-12-27 15:22] davidmurdoch opened #1921 "Investigate performance of using Undici for http requests"
https://github.com/nodejs/undici

[2021-12-27 21:18] t-anyu opened #1922 "blockchain.queueTransaction: getting revert reason"
Hey,

I'm very new to ganache and don't know all the reasonings, but I stumbled on

if (this.#instamine && this.#options.miner.legacyInstamine) { ... }

Since legacyInstamine will be deprecated, I wonder if this should be if (this.#instamine && this.#options.chain.vmErrorsOnRPCResponse) in the future? My motivation is that I'd like to get revert reason on eth_sendTransaction in instamine mode. Alt

[2021-12-28 17:24] aymanelya opened #1928 "too many forks stay alive"
So i'm doing some tests regarding calling an async function that forks the mainnet using the ganache npm package in nodejs and executes a transaction,this function is called a couple hundreds of times asynchronously and after awhile my whole computer just freezes.
I wonder at what point the local fork is destroyed (if it is) because i just run 1 transaction and don't need that fork instance to sta

[2021-12-28 17:31] davidmurdoch commented on #1928
Can you try ganache@7.0.0-beta.2? See https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-beta.2 for more information, installation instructions. See the README.md for usage instructions.

[2021-12-28 18:18] aymanelya commented on #1928
The fork itsef isn't working on the new beta 7.0.0-beta.2

##Code Changes:
[code]

[code]

[2021-12-28 20:03] davidmurdoch commented on #1928
What is the value of MAINNET_WS? Also, you are passing extra options to Ganache, instead of to Web3.

[2021-12-28 23:51] aymanelya commented on #1928
just the websocket URL of my bsc node

[2021-12-29 01:12] davidmurdoch commented on #1928
You can try the following. But I don't think BSC is actually EVM compatible, so you probably won't get the correct results, if the transactions even run at all.

[code]

[2021-12-29 01:24] davidmurdoch commented on #1928
Oh, you may also need to call `await localWeb3.currentProvider.disconnect();` to instruct Ganache to shut everything down each time.

That said, there may be a bug here that prevents Ganache from being automatically garbage collected, which would keep the websocket open forever. You should still use `disconnect` every time anyway, but Ganache does need to at least _try_ to allow the garbage collec

[2022-01-03 08:01] Fatorin opened #1966 "leveldown@5.6.0 should be updated to latest to work in Windows 11"
I try install 7.0.0beta2 in my computer, but get some error message.

It issue because Visual Studio 2022 can't be found by node-gyp 8.3.0.

I try update node-gyp version to latest, but didn't work, it still used 8.3.0 to build.

How can I fix this problem?
[code]

[2022-01-03 15:42] mesozoic-technology opened #1968 "Strange crash with RangeError: invalid string length"
I'm using Ganache CLI v6.12.2 (ganache-core: 2.13.2)

Here's my brownie logs for this problem. Right at the top you see a transaction which reverts and that's exactly what I want. But after that, every time, ganache crashes. It takes a snapshot, gets a trace transaction, and increases the time? What's going on here? Is this my fault or ganache's?

[code]

[2022-01-03 15:49] davidmurdoch commented on #1968
This looks like it'd be Ganache's fault. This is probably occuring because debug_traceTransaction here results in a response greater than ~1GB. The debug_traceTransaction issue is fixed in Ganache v7 beta. Can you try it out and let me know if it fixes it for you? Release notes here: https://github.com/trufflesuite/ganache/releases/tag/ganache%407.0.0-beta.2

[2022-01-03 15:49] davidmurdoch commented on #1966
What version of windows are you using?

[2022-01-03 16:15] davidmurdoch commented on #1928
@aymanelya any luck?

[2022-01-03 16:23] davidmurdoch commented on #1922
You can get the revert reason by replaying the transaction as an `eth_call`.

[2022-01-03 16:25] mesozoic-technology commented on #1968
Interesting, why would the trace transaction suddenly be so large? It would be good to know this because I did just make substantial changes to my code. If that limit is the only problem, maybe no big deal. But still, strange and worrying.

[2022-01-03 17:00] mesozoic-technology commented on #1968
Ok, I've installed this next version and I've begun to run my brownie test, but it is taking forever, slowly printing out a deluge of `eth_getTransactionByHash`. Below is an example. This was maybe ten minutes ago and it's still printing out `eth_getTransactionByHash`. This is the only part where it looks like the code associated with my tests was actually running.

[code]

[2022-01-03 17:27] Fatorin commented on #1966
Win11 22471.1000

[2022-01-03 18:12] davidmurdoch commented on #1966
Hm, ganache ships with pre-built Windows binaries for `leveldown`. Can you try to `npm install leveldown` and let me know if it works for you?

[2022-01-03 18:14] davidmurdoch commented on #1968
Try enabling ganache's `legacyInstamine` mode: `ganache --miner.legacyInstamine`

[2022-01-03 18:15] davidmurdoch commented on #1968
I'm not sure what is causing it now, perhaps a very large loop?

[2022-01-03 18:21] Fatorin commented on #1966
I install leveldown success but ganache still install fail.

[2022-01-03 19:10] davidmurdoch commented on #1966
Hm, that's interesting. Ganache's version of leveldown is 5.6.0, which is not latest. Perhaps leveldown has fixed something in a recent version.

Can you try `npm install leveldown@5.6.0` and let me know if it works?

[2022-01-03 19:48] #1412 closed, assigned to davidmurdoch

[2022-01-03 21:01] mesozoic-technology commented on #1968
Yeah shouldn't be. I mainly put some storage variables onto a struct in a central place, accessing that and passing them to inherited contracts. Should be pretty similar from my current understanding.

[2022-01-03 21:02] mesozoic-technology commented on #1968
Now I get this:

[code]

[2022-01-03 23:28] davidmurdoch commented on #1968
Under london hardfork rules transactions can no longer specify a gasPrice of `0` (which is used to compute `maxFeePerGas`). If you don't care about london's EIP-1159 for your tests (ignoring EIP-1559 changes) you can just start ganache with the `istanbul` hardfork instead of the default (`london):  `ganache --chain.hardfork istanbul`

[2022-01-04 01:33] Fatorin commented on #1966
It still can't work.

I try a other way, install new NodeJS version(17.3.0) and try install ganache again.
But I get new errors.
Maybe I should use Linux to set up my development environment.

[2022-01-04 16:18] aymanelya commented on #1928
I had many issues with the beta version, but i find a better way to do things using eth_call instead of forking mainnet then executing the transactions

[2022-01-04 16:26] davidmurdoch commented on #1928
Can you let me know what the issues are so I can fix them?

[2022-01-04 16:28] davidmurdoch commented on #1966
Ok, so it sounds like the version of leveldown Ganache ships with is incompatible with Windows 11. We'll try to update this to fix it in a release soon!

[2022-01-04 18:21] #1833 closed, assigned to nobody

[2022-01-04 18:22] #1668 closed, assigned to nobody

[2022-01-04 20:58] jeffchen006 commented on #952
I second this proposal. I would like to see this advanced feature added to ganache in future.

[2022-01-04 21:06] davidmurdoch commented on #1547
I believe the problem here is that Ganache is using the wrong block `baseFee` when executing the eth_call's message. Ganache calculates the _next_ blocks's base fee, instead of just using the specified block's base fee. This is a bug and will be fixed in a future release.

The reproduction steps you provided were very helpful. They eventually lead me to here: https://etherscan.io/address/0xcb12ac8

[2022-01-04 22:20] davidmurdoch opened #1981 "Optimize forking's `eth_call` on blocks before the fork block number"
Related to https://github.com/trufflesuite/ganache/issues/1547

Ganache doesn't forward eth_call's to blocks before the fork to the original node, but instead executes everything locally. This means we have to fetch any state that the transaction interacts with at runtime.

A couple of reasons for doing this

1. We plan on allowing users to alter historical state, which requires we run the transac

[2022-01-04 22:29] davidmurdoch commented on #852
It's been much longer than a month, but forking is now 30x+ faster in the latest ganache@7.0.0-beta.2 release than it was before, so I'm going to go ahead and close this issue as I we already implement most of the caching suggestions posted here. Thanks!

[2022-01-04 22:29] #852 closed, assigned to nobody

[2022-01-04 22:37] davidmurdoch commented on #1638
Closing for issue maintenance. If this is still an issue please comment below and we'll reopen it!

[2022-01-04 22:37] #1638 closed, assigned to nobody

[2022-01-05 16:50] #1718 closed, assigned to nobody

[2022-01-05 16:51] #1547 closed, assigned to davidmurdoch

[2022-01-05 16:59] davidmurdoch commented on #540
We're now tracking this in https://github.com/trufflesuite/ganache/issues/995

[2022-01-05 16:59] davidmurdoch commented on #631
We're now tracking this in https://github.com/trufflesuite/ganache/issues/995

[2022-01-05 18:01] davidmurdoch opened #1993 "Replace `thing ? thing.prop : null` like checks with `?.` (optional chaining) where possible"

[2022-01-05 18:02] davidmurdoch opened #1994 "Replace `count || fallbackValue` like logic with Nullish coalescing operator (`??`) where possible"

[2022-01-05 19:48] davidmurdoch opened #1995 "When a contract deployment fails we shouldn't show "Contract created" in the output"
Related to #981

[2022-01-05 19:49] its-everdred commented on #1423
Closing this for issue maintenance. If you try again and it doesn't work, please open a new issue and we'll be happy to help!

[2022-01-05 19:49] #1423 closed, assigned to nobody

[2022-01-05 21:31] davidmurdoch opened #1996 "Figure out how to handle instamine over HTTP"
There is no way to subscribe to `newHeads` over HTTP connections, so it becomes impossible for the user to detect when a new block is created (when a transaction is mined) without polling -- which is slow.

One way to "fix" this is to always mine transactions sent over HTTP as if Ganache was in `legacyInstamine` mode (instead of just `instamine` mode).

[2022-01-05 23:51] kitty-swap commented on #1503
I am using ganache `v7.0.0-beta.2` with node `v12.14.1` and still got the same issue

[2022-01-06 15:27] davidmurdoch commented on #1994
This will have to wait until we drop support for Node 12.

[2022-01-06 15:27] davidmurdoch commented on #1993
This will have to wait until we drop support for Node 12.

[2022-01-06 15:29] davidmurdoch opened #2006 "Remove Node 12 support and add Node 18"
Blocked by Node v18 actually being released and Node v12 reaching EOL. :-) This should be possible in May of 2022, as long as Truffle can follow suit.

[2022-01-06 15:29] davidmurdoch commented on #1993
blocked by https://github.com/trufflesuite/ganache/issues/2006

[2022-01-06 15:30] davidmurdoch commented on #1994
blocked by https://github.com/trufflesuite/ganache/issues/2006

[2022-01-07 23:19] davidmurdoch opened #2016 "Ganache v7's Instamine Modes Explained"
This is a Draft of the Ganche v7's Instamine Modes Discussion (related: https://github.com/trufflesuite/ganache/issues/1337)

This will be linked (https://trfl.io/v7-instamine) from Ganache's eth_getTransactionReceipt notice.

---

This post is about Ganache v7's new `--miner.instamine` modes: "eager", the default, and "strict". For ganache@7.0.0-alpha.0 through 7.0.0.beta.2 see [this issue](https

[2022-01-07 23:19] #1337 closed, assigned to nobody

[2022-01-10 18:25] davidmurdoch opened #2029 "`evm_mine` and `miner_start` don't respect --mode.instamine=eager"
`evm_mine` and `miner_start` shouldn't return until all the blocks have been mined, but they do. Additionally, we need to figure out how to handle subscription timings (newHeads, etc); should they be sent _after_ all blocks have been mined (and thus always after the RPCs complete their return), or after each block?

[2022-01-11 08:40] johnfelipe opened #2032 "The command '/bin/sh -c npm run build' returned a non-zero code: 2"
root@eh68221471013:~/ganache# docker build --tag trufflesuite/ganache --file ./src/packages/ganache/Dockerfile .
	Sending build context to Docker daemon  437.9MB
	Step 1/16 : FROM node:14.17.4@sha256:cd98882c1093f758d09cf6821dc8f96b241073b38e8ed294ca1f9e484743858f AS builder
	 ---> 7528ad312b56
	Step 2/16 : WORKDIR /app
	 ---> Using cache
	 ---> 8b1b651629fb
	Step 3/16 : COPY . .
	 ---> Using cach

[2022-01-11 12:13] davidmurdoch commented on #2032
The `INFURA_KEY` environment variable was not supplied at build time. To bypass this check set the environment variable `CREATE_BROKEN_BUILD` to `"I WILL NOT PUBLISH THIS"`.

Sorry about this, we need to update the documentation here.

[2022-01-11 12:39] johnfelipe commented on #2032
can u explain better, that env is directly into command prompt or where?

[2022-01-11 12:49] davidmurdoch commented on #2032
`CREATE_BROKEN_BUILD="I WILL NOT PUBLISH THIS" docker build...`

This will create a build, but the zero-config forking feature won't work.

Is there as reason you are building your own docker image instead of using the published one on docker hub?

[2022-01-11 12:55] johnfelipe commented on #2032
I rerun work cli in Ubuntu but I want to have cheatsheet with docker
standalone
Can u update pls documentation .MD file
Tnks

El mar, 11 de ene. de 2022, 7:49 a. m., David Murdoch <
***@***.***> escribió:

[2022-01-11 13:00] davidmurdoch commented on #2032
I don't understand what you are trying to do here. But if you want to run your own docker build you must follow the instructions I sent above.

[2022-01-12 18:41] kevinbluer commented on #1996
Closing because it's not a high priority and unclear if it's even a problem any more.

[2022-01-12 18:41] #1996 closed, assigned to nobody

[2022-01-12 19:27] kevinbluer commented on #1458
Hey @tuleyko, thanks for the heads up. We'll go ahead and close for issue maintenance, although feel free to provide reproductions steps and we can re-open.

[2022-01-12 19:27] #1458 closed, assigned to nobody

[2022-01-12 19:31] kevinbluer commented on #1573
Many thanks for the explanation @wei3erHase, we've added it to our backlog and we'll address it after the 7.0 stable release.

[2022-01-12 20:57] nepoche opened #2040 "Test infrastructure running multiple ganache instances impacted with removal of server options"
I am testing a bridge application which tries to spawn multiple ganache-server instances for setup. I have the following function which was working fairly well on `ganache-cli: "^6.12.2"`:

[code]
I am testing another process in parallel - a relayer - which listens to events on one ganache instance and issues transactions on the other ganache instances. I am afraid that the latest `"ganache": "^7.

[2022-01-12 21:40] davidmurdoch commented on #2040
What particularly isn't working for you? Are you available to hop on a zoom call with us real quick to discuss?

[2022-01-12 22:03] MicaiahReid opened #2042 "Both `miner.instamine` and `chain.networkId` CLI options have `i` as alias"
Both CLI options have the same alias, `i` set. This causes two issues:
 * network Id can't be set with `-i`
 * `ganache --help` displays `miner.instamine`'s type as `number`

[2022-01-12 22:16] nepoche commented on #2040
Yes, I'd be happy to get in a call and discuss. In particular, it seems multiple ganache instances cannot be instantiated in the same manner.

[2022-01-12 22:21] #2042 closed, assigned to nobody

[2022-01-12 22:40] davidmurdoch commented on #2040
Will you be available at 12:00 PM Eastern Time tomorrow (Jan 13)?

[2022-01-12 23:26] davidmurdoch commented on #1966
@Fatorin A new release just went out. Can you try it on Windows 11? Run `npm install --global ganache@rc` to install globally

[2022-01-13 00:58] davidmurdoch commented on #2040
@nepoche Cool. We'll see you then at https://consensys.zoom.us/j/93659581189 !

[2022-01-13 04:53] Fatorin commented on #1966
I install success!!! And it can work, thanks you!

[2022-01-13 16:38] davidmurdoch commented on #2040
@nepoche you joined an hour early. Does 12 Eastern still work for you?

[2022-01-13 16:42] nepoche commented on #2040
Yeah, just waiting and working on other things in the meantime.

[2022-01-13 17:47] davidmurdoch commented on #1966
Awesome! Thanks for giving it a try.

I'll close this issue since I looks like it's been solved. Let us know if you find any other issues.

[2022-01-13 17:47] #1966 closed, assigned to davidmurdoch

[2022-01-13 18:27] nepoche commented on #2040
@davidmurdoch It seems the latest `"ganache": "^7.0.0-rc.0"` works without changes from the `ganache-cli: "^6.12.2"`. There are still issues with attempting to parameterize the server with blockTime and multiple instances; however, it seems this was an issue in 6.12.2 to begin with. I'd be happy to close this issue and open a different one to track the blockTime configuration.

[2022-01-13 18:38] davidmurdoch commented on #2040
Hm, a `Ganache.server({blockTime: 5})` mines a new block every 5 seconds for me. What are you seeing (feel free to open a new issue for this one)?

[2022-01-13 18:52] nepoche commented on #2040
I'll close this and try to create a minimal reproduction before opening another issue. Thanks again for the earlier meeting!

[2022-01-13 18:52] #2040 closed, assigned to nobody

[2022-01-13 22:06] davidmurdoch opened #2053 "Punch Out list for v7 stable release"
### Must do before release:

- [x] Review blog post
- [x] Review and schedule the announcement tweet (if someone uses a bit.ly link instead of trfl.io/g7 for this I'll die)
  - [x] this needs a cool image. /cc @CombsieZ
- [x] ~~Update website banner~~ Merge [website banner PR](https://github.com/trufflesuite/trufflesuite.com/pull/1146)
- [x] Merge [Docs PR](https://github.com/trufflesuite/ganache/

[2022-01-13 22:13] davidmurdoch opened #2054 "Create a github action to cache forking persistence"
See https://github.com/actions/cache

[2022-01-13 23:24] davidmurdoch opened #2056 "Make our git robot create "verified" (signed) commits"

[2022-01-14 19:56] #1177 closed, assigned to nobody

[2022-01-17 17:57] ghost commented on #2053
Hello! Here's what marketing is working on to support the release :)

- [x] Truffle Blog: Tutorial

- [x] Docs update
David confirmed that Ganache docs (overview and quickstart) will be updated by Wed 1/19.

- [ ] Product Demo Video
Kingsley to deliver draft by 1/18 for review

- [ ] Sponsorship Video on Eat The Blocks
To be delivered on Friday

- [ ] Infura Community Call guest spot
David to demo

[2022-01-17 21:23] davidmurdoch opened #2083 "Add something like hardhat's `evm_setAutomine`"
User request: https://twitter.com/DerekBarrera/status/1483187817182375941?s=20

[2022-01-19 00:33] MicaiahReid opened #2095 "Node.js v12 outputs a µWS warning in the console"
It's real annoying. We should fix it, or drop Node 12 support.

[2022-01-19 00:36] davidmurdoch commented on #2095
I really thought there was an issue for this somewhere but I can't find it. We'll probably do this for `7.0.1`.

[2022-01-19 00:42] MicaiahReid opened #2096 "Reduce Bundle Size"
Our bundle size is larger than ideal. Let's work on reducing it.

[2022-01-19 00:43] MicaiahReid opened #2097 "Correct `eth_maxPriorityFeePerGas` RPC Method"
Update the `eth_maxPriorityFeePerGas` RPC method to return as Geth does, `eth_gasPrice - baseFeePerGas`.

[2022-01-19 00:45] MicaiahReid opened #2098 "Add Support for `eth_feeHistory` RPC Method"
OR ELSE.

[2022-01-19 00:46] MicaiahReid commented on #2098
Closing cause duplicate 😔

[2022-01-19 00:46] #2098 closed, assigned to nobody

[2022-01-19 00:49] MicaiahReid opened #2099 "Support Shanghai Hard Fork"
OR ELSE.

[2022-01-19 00:51] MicaiahReid opened #2100 "Track Real World Ganache Usage"
Track real world Ganache usage (opt-in and anonymized) to better tune performance and drive bug fixes and feature development.

[2022-01-19 00:52] MicaiahReid opened #2101 "Track Test Coverage"
Would be nice to include it in our auto-generated release notes.

[2022-01-19 01:03] MicaiahReid opened #2102 "Allow CLI options to be set by Config File, package.json, or ENV vars"
Pretty pleaaaase 🥺 👉👈

[2022-01-19 01:09] MicaiahReid opened #2103 "Create an Interactive CLI/REPL mode"

[2022-01-19 01:09] MicaiahReid opened #2104 "Create a CLI Daemon Mode"

[2022-01-19 01:47] MicaiahReid opened #2105 "Track Test Performance Metrics"
It would be great to start tracking ASAP so we have these metrics on hand to compare to future releases.

[2022-01-19 01:53] MicaiahReid opened #2106 "`debug_traceTransaction` may crash on Node.js v12"
Node.js v12 doesn't handle memory as well as 14+ and may crash computing very large `debug_traceTransaction` results

[2022-01-19 02:29] davidmurdoch opened #2107 "Ensure accessibility of release notes and markdown documentation"
We use svgs, but might not properly title them, and may be making other accessibility blunders as well.

[2022-01-19 15:47] #1647 closed, assigned to MicaiahReid

[2022-01-19 16:38] davidmurdoch commented on #2016
done: https://github.com/trufflesuite/ganache/discussions/2111

[2022-01-19 16:38] #2016 closed, assigned to nobody

[2022-01-19 20:06] davidmurdoch commented on #1327
closing since we are doing this right now

[2022-01-19 20:06] #1327 closed, assigned to nobody

[2022-01-20 14:48] soulmachine commented on #643
This feature will be useful to build a simulator like <https://www.blocknative.com/simulation-platform> and <https://tenderly.co/transaction-simulator>

[2022-01-20 19:10] davidmurdoch opened #2122 "Add option to set fork block's timestamp to the time the actual block was mined"
See: https://github.com/mds1/convex-shutdown-simulation/issues/7

[2022-01-20 23:05] davidmurdoch opened #2125 "Ganache's provider type is not compatible with Web3"
it's a matter of
`(payload: JsonRpcRequest<...>, callback?: Callback | undefined)`
(the relevant part of the type on Ganache)
vs
`(payload: JsonRPCRequest, callback: Callback<JsonRPCResponse>)`

Full error:

[code]

[2022-01-21 14:05] Uxio0 opened #2133 "Ganache v7.0.0: Javascript traces inside revert message"
We are using ganache to test Gnosis Safe, and we are trying to update from v6 to v7, and we detected a weird behaviour. Even if `--chain.vmErrorsOnRPCResponse false`, when having a `revert` message there are Javascript traces in there that prevent the parsing of the revert error:

[code]

It's not easily reproducible as it involves deploying the Safe contracts https://github.com/gnosis/gnosis-py/r

[2022-01-21 15:18] davidmurdoch commented on #2133
Thanks for opening this. We'll look in to a solution for this ASAP.

[2022-01-21 15:22] gorbak25 opened #2134 "Ganache v7.0.0 - typings are broken"
[code]

Installing the missing dependencies or changing the typeroots doesn't help

[2022-01-21 15:28] gorbak25 commented on #2134
The latest version which correctly typechecks is 7.0.0-beta.1

[2022-01-21 15:44] davidmurdoch commented on #2134
Thanks, looks like a few things went wrong with the rollup here:

1. filecoin-related 3rd party types weren't rolled up; we'll be moving the
2. The packages `abstract-leveldown`, `lru-cache`, and `seedrandom` types were also omitted.

As a workaround you may be able to add `"skipLibCheck": true` to your tsconfig.json, though this is definitely not ideal, as it will also skip _local_ `*.d.ts` type

[2022-01-21 16:53] davidmurdoch commented on #2134
Related: https://github.com/trufflesuite/ganache/issues/2125

[2022-01-21 17:12] davidmurdoch opened #2135 "Benchmark v6 against v7 in large and small projects that use Truffle and Ganache, publish to benchmarks.md"

[2022-01-21 17:12] davidmurdoch opened #2136 "Figure out legacy Docker repo (ganache-cli) deprecation strategy"

[2022-01-21 17:13] #2053 closed, assigned to nobody

[2022-01-21 17:21] davidmurdoch commented on #332
Fixed in v7! See https://github.com/trufflesuite/ganache/releases/tag/v7.0.0#user-content-v7.0.0-highlights-4 for details!

[2022-01-21 17:22] davidmurdoch commented on #407
Added in Ganache v7. See https://github.com/trufflesuite/ganache/releases/tag/v7.0.0 for details!

[2022-01-21 21:56] MicaiahReid opened #2139 "Need a Github Discussion explaining `--chain.vmErrorsOnRPCResponse` flag"
There are so many cases where the flag doesn't really do anything. We need to tabulate that data and create a discussion to make people aware.

[2022-01-21 23:16] davidmurdoch commented on #2133
My _hunch_ is that this is due to a change in the way Ganache v7 handles `eth_call`. The change was made in order to align with Geth. The `vmErrorsOnRPCResponse` setting no longer affects `eth_call`. This wasn't listed as a breaking change in the release notes or upgrade guide, so i'll go add it there in a bit.

See this issue https://github.com/trufflesuite/ganache/issues/1496 for more why this c

[2022-01-22 19:11] fabianorodrigo opened #2152 "Uncaught TypeError: Cannot read property 'return' of null"
Hi,

I'm being successful running my tests on ganache v2.5.4 but when I try run them on ganache v7.0.0.
This is my repository: https://github.com/fabianorodrigo/dappsoccerbet

This is the exception I get:
` "before each" hook for "Should Ether goes to ERC20 owner after destroy contract":
     Uncaught TypeError: Cannot read property 'return' of null
      at Object._extract (/home/fabianorodrigo/.

[2022-01-22 23:39] davidmurdoch commented on #2152
I moved this to truffle, as this is a likely a bug in the way Truffle deals with transaction rejections. Previous issue: https://github.com/trufflesuite/truffle/issues/4639

[2022-01-22 23:39] #2152 closed, assigned to nobody

[2022-01-23 10:45] haseebrabbani opened #2162 "Simulating transactions on Ganache v7 fork throws insufficient funds error"
hey there, appreciate your work on this amazing tool! when trying to integrate the latest version (ganache 7.0.0) into my previously working code (which used ganache-core 2.13.2) I am seeing some non-deterministic behaviour. Sometimes when simulating a transaction on a fork it will throw an `insufficient funds for intrinsic transaction cost` error. But other times, running the exact same code will

[2022-01-24 16:02] Uxio0 commented on #2133
Hi @davidmurdoch, thanks for the quick answer and for taking the time to go into our code and provide a custom solution! That fixed one of our issues! We will keep working on it as soon as `eth_feeHistory ` is supported

[2022-01-24 16:31] davidmurdoch commented on #2133
Here is our `eth_FeeHistory` issue if you want to follow along: https://github.com/trufflesuite/ganache/issues/1470

It is currently a "Priority 2" issue which will be worked after these "Priority 1" issues are resolved: https://github.com/trufflesuite/ganache/labels/priority1%20%F0%9F%9A%A8

[2022-01-24 16:33] Uxio0 commented on #2133
Thank you very much for all the feedback

[2022-01-24 17:20] MicaiahReid opened #2176 "In Geth chain-mode, logic to accept/reject transactions based on gas price/limit should match Geth"
If a transaction gets into the miner's `runTx` function, and it fails in the VM, that `catch` block should probably add the transaction back into the pool.

Check against geth if:
1. a transaction like this: `{"from" : "0x90F8bf6A479f320ead074411a4B0e7944Ea8c9C1", "gas": "0x5b8d80", "maxFeePerGas": "0x1" }` (too low `maxFeePerGas`) immediately returns an error like this `VM Exception while process

[2022-01-24 21:00] MicaiahReid commented on #2162
Hi @haseebrabbani, thanks for opening this issue. We're investigating this now. Is there any chance you could send a repo to help us reproduce this?

[2022-01-24 21:48] lukaville opened #2177 "Zero-pad filter ID"
I'm using web3j library to subscribe to a filter, it doesn't work with ganache but works with geth.

When I create a filter it returns a non-zero padded result.

Actual result:
[code]

Expected result:
[code]

When I specify 0x01 it fails:
[code]

[2022-01-24 22:01] davidmurdoch commented on #2177
Per https://eth.wiki/json-rpc/API#eth_newblockfilter, `eth_newBlockFilter` should return a QUANTITY encoded value and `eth_getFilterChanges` should accept a QUANTITY encoded value. `0x01` is actually an invalid QUANTITY value should probably throw a different exception about the received value being invalid.

[2022-01-24 22:35] davidmurdoch commented on #2133
@Uxio0 Looks like we'll align fully with geth here, so you can expect 7.0.1 release fixing this issue later this week!

[2022-01-24 22:59] Uxio0 commented on #2133
Awesome, so fast!

[2022-01-25 02:51] NikZak opened #2178 "Ganache-cli still faster (forking bsc on mac m1)"
Ok, this is a post of help. I want to figure whether this is just my problem.
I tried
ganache-cli
ganache-7-alpha
ganache-7-beta
ganache-7
hardhat

And I always go back to ganache-cli eventually as it is the fastest and most stable and the only one that let a long chain of operations run till the end. I don't know whether the problem is in my config or smth else as ganache is notoriously hard to d

[2022-01-25 02:59] davidmurdoch commented on #2178
Specify an exact fork block number via
`--fork.blockNumber` and let me know how that goes for you.

Does BSC support the London hardfork?

[2022-01-25 03:37] NikZak commented on #2178
Thanks for replying so fast

Regarding London hardfork - bsc has implemented a [similar mechanism](https://github.com/binance-chain/BEPs/commit/3d4fae6715edd907f09a1e49f2ca51c34f2f14fc) to EIP-1559 but technical details may differ.

Regarding the blockNumber, I tried before but in different notation (with a @xxxxxxx in the end of the url). I tried just now (with an archive node) and still got stop

[2022-01-25 13:23] davidmurdoch commented on #2178
Ah, I wonder if this is a Mac M1 issue. Can you provide complete reproduction steps?

[2022-01-25 13:25] PeterYinusa opened #2185 "Shutting down the Ganache Server v7.0.0"
Platform: macOS Big Sur 11.6
Ganache Version: v7.0.0
Node: v14.17.0
npm: v6.14.13

Description:

Server does not shut down with `Ctrl` + `C`

Steps to reproduce:

1. Run a test build of [MetaMask](https://github.com/MetaMask/metamask-extension#building-locally) by running `yarn build:test`
2. In a separate terminal start Ganache by running `ganache`
3. Press `Ctrl` + `C` to shutdown the server

Ex

[2022-01-25 17:57] teknoxic opened #2187 "Ganache-cli does not restore blockchain correctly after killing the process or reboot"
Version:  **ganache v7.0.0-alpha.2 (@ganache/cli: 0.1.1-alpha.2, @ganache/core: 0.1.1-alpha.2)**
Operating System: **Ubuntu 20.04.3 LTS**

I've noticed an issue with Ganache-cli, when i save the database in a directory using --database.dbPath and reboot my system or kill the process and then restart ganache using the same database it seems to go back in time and doesn't reload the exact state of t

[2022-01-25 18:08] davidmurdoch commented on #2187
Ganache v7.0.0 is out now, but I don't think it will fix this issue (it might, as we updated the database libraries to their latest version).

If you shutdown properly (Ctrl + C) does it save the state correctly?

[2022-01-25 18:25] teknoxic commented on #2187
I've just tested a (CTRL + C) shutdown and confirm the bug still occurs.
I'll test with Ganache v7.0.0 and report back

[2022-01-25 18:37] teknoxic commented on #2187
The same issue occurs with:
**ganache v7.0.0 (@ganache/cli: 0.1.1, @ganache/core: 0.1.1)**
For both reboot and (CTRL + C) shutdown.

I've had ganache v7.0.0-alpha.2  running for a few days, it seems to load the state of a few hours earlier rather than the newest state

[2022-01-25 18:53] davidmurdoch commented on #2187
I'm unable to reproduce (tried with Ctrl + C and KILLing the process, not a reboot). Are you able to provide a full reproduction script or repository?

[2022-01-25 19:44] teknoxic commented on #2187
Just to add, Ganach-cli was running for around 24 hours with around 100 transactions and 7 contracts migrated

[2022-01-25 19:47] lukaville commented on #2177
Yeah, sorry, seems like it is an issue in Web3j: https://github.com/web3j/web3j/issues/1392

[2022-01-25 19:47] #2177 closed, assigned to nobody

[2022-01-25 19:52] davidmurdoch commented on #2187
Hm, interesting. My hunch is that abrupt shutdowns can cause the db (leveldb) to be corrupted. We'll have to investigate further.

[2022-01-25 20:32] teknoxic commented on #2187
I just tried this:
Before shutting ganache down i copied the db to another folder and then started ganache again from the new folder and same issue occurs

[2022-01-25 21:24] #2133 closed, assigned to MicaiahReid

[2022-01-25 22:31] davidmurdoch commented on #2187
My thought is that the reboot/shutdown may have somehow corrupted the existing db. If you are able to find a way to reproduce the issue we could try to figure things out form there.

Are you able to zip up the db and share it?

[2022-01-25 22:39] teknoxic commented on #2187
Sure, db attached.

I'll make some transactions now and log the balance, ill  migrate some contracts and run some other transactions while its running and then check the balance again tomorrow to see if it reverts back to the same point where it is reverting to now, that should show if its got a permanent point of corruption.

Thanks

[2022-01-26 03:29] davidmurdoch commented on #2187
Thanks for this. This was perfect. What is happening is that upon restart a bug is causing ganache to think that the latest block is block 255. It's a quick and easy fix on our side. I'll get the fix in for this ASAP!

[2022-01-26 10:02] haseebrabbani commented on #2162
@MicaiahReid for sure, here is a repo to reproduce: https://github.com/haseebrabbani/ganache-v7-forking-issue-repro

i'm simulating the transaction on a fork over a fixed range of 10 blocks. it seems that the error is thrown on the same blocks everytime. when i initially encountered this issue i was running it on increasing block numbers which made it appear non-deterministic

[2022-01-26 11:19] teknoxic commented on #2187
Great news, thanks for the quick response!

[2022-01-26 14:53] MicaiahReid commented on #2162
@haseebrabbani This is perfect, thank you! We're looking into this now.

[2022-01-26 18:18] #2187 closed, assigned to nobody

[2022-01-26 18:36] gnidan commented on #2083
Seems like HH's "automine" is the same as Ganache's "instamine"? (albeit without eager/strict differentiation ;)

Is the ask here, then, to provide a means by which users can switch mining modes while the application is running?

[2022-01-26 18:49] davidmurdoch commented on #2102
related
https://github.com/trufflesuite/ganache/pull/810
https://github.com/trufflesuite/ganache/pull/811

[2022-01-26 18:50] gnidan commented on #2104
Closing as duplicate of #1001

[2022-01-26 18:50] #2104 closed, assigned to nobody

[2022-01-26 19:22] gnidan commented on #2178
Just adding this comment to note that you might observe different results if you run the Node.js native build, rather than Docker. (Since Docker runs Intel architecture inside M1, the increased virtualization complexity might be causing the trouble here).

But please do let us know how to reproduce so we can get to the bottom of it (since not using Docker isn't a real fix :)

[2022-01-26 21:37] Ruj89 opened #2206 "Websocket logs subscription not supported by Geth Client"
Platform: node:lts-alpine Docker image
Ganache: v7.0.0
Node: v16.13.2
npm: 8.1.2
Go: 1.17.4
go-ethereum: v1.10.15

Description:

When I receive a log, after a subscription, the go-ethereum library try to send through a chan the Log typed object, but it cannot marshal the Ganache websocket message:

`json: cannot unmarshal array into Go value of type types.Log`

Steps to reproduce:
1. Deploy a smar

[2022-01-26 22:00] davidmurdoch commented on #2206
Hi, thanks for opening the issue. We'll look into it!

[2022-01-26 22:23] davidmurdoch opened #2207 "Cache npm deps to speed up CI"
See https://github.com/actions/setup-node#caching-packages-dependencies

[2022-01-26 23:10] davidmurdoch commented on #2187
Fixed! https://github.com/trufflesuite/ganache/releases/tag/v7.0.1

[2022-01-27 00:02] davidmurdoch commented on #2207
npm deps are already cached in a global location, enabling the cache doesn't speed anything up (we tested it)

[2022-01-27 00:02] #2207 closed, assigned to nobody

[2022-01-27 02:16] MicaiahReid commented on #2162
Hi @haseebrabbani, we did some looking into this and think there's a combination of factors contributing to the issue. If you change your `transfer` call to include a `maxFeePerGas`, as follows:
[code]
all of the transfers work. Whenever you fork from a block, the new "latest" block is used to set the `baseFeePerGas` of the next block. When no gas information is specified on a transaction, the def

[2022-01-27 18:23] teknoxic commented on #2187
Tested the fix, it's working perfectly for both killing the process and rebooting. Thanks!

[2022-01-27 20:57] davidmurdoch commented on #485
Version 7 uses a new database format that is much more compact than our old file-based storage, so I'm closing this since I believe it to be resolved. Please comment below or open a new issue if you find this to still be a problem.

[2022-01-28 15:54] davidmurdoch opened #2230 "Investigate transaction type parsing issue"
See: https://github.com/ChainSafe/web3.js/issues/4597

[2022-01-28 16:35] 3commascapital opened #2231 "unable to install rc"
[code]

[2022-01-28 16:53] davidmurdoch commented on #2231
This is probably because you are installing with `sudo`. You probably shouldn't be using sudo with `npm`.

I know it sounds extreme, but if you've used sudo in order to install other npm packages and don't understand the ramifications of doing so (it allows the package author, or any of the authors of dependencies that package relies on to do _anything everything_ they desire with your system; the

[2022-01-29 11:27] haseebrabbani commented on #2162
Appreciate the explanation! However, since this code will be client-facing I wouldn't want to use this workaround (and possibly link to this issue in a comment to explain why I'm setting `maxFeePerGas`). As such, I will hold off on integrating Ganache v7 and stick to `ganache-core` for the time being until a longer-term fix is implemented. Ideally, since users did not have to set this parameter be

[2022-01-29 15:12] davidmurdoch commented on #2162
If you want the revert to ganache-core's gas behavior and you don't care about type 2 transactions (eip-1559) you can set the hardfork option to `"berlin"`, or even back to `istanbul`.

[2022-01-30 14:14] ghost opened #2243 "installed ganache-cli but after running ganache-cli it's not showing options"
I have done this is linux

[2022-01-30 14:32] davidmurdoch commented on #2243
Which version of node? What do you see when you run the command (you absolutely should NOT see options)?

Try `npm uninstall ganache-cli -g && npm install ganache -g && ganache --help` this will install the latest version and show you all options.

[2022-01-30 14:50] ghost commented on #2243
i installed it using "yarn global add ganache-cli", it has got installed but it's not showing anything after running "ganache-cli --version" or "ganache --version". The version of node  is v14.18.2.

[2022-01-30 16:19] davidmurdoch commented on #2243
Did you try what I asked above?

[2022-01-30 17:21] ghost commented on #2243
yes that is giving following error

npm WARN checkPermissions Missing write access to /usr/lib/node_modules
npm ERR! code EACCES
npm ERR! syscall access
npm ERR! path /usr/lib/node_modules
npm ERR! errno -13
npm ERR! Error: EACCES: permission denied, access '/usr/lib/node_modules'
npm ERR!  [Error: EACCES: permission denied, access '/usr/lib/node_modules'] {
npm ERR!   errno: -13,
npm ERR!   code:

[2022-01-30 19:51] davidmurdoch commented on #2243
Looks like you've used `sudo` to install something globally before. You probably shouldn't be using sudo with npm or yarn.

I know it sounds extreme, but if you've used sudo in order to install npm packages and don't understand the ramifications of doing so (it allows the package author, or any of the authors of dependencies that package relies on to do anything everything they desire with your sy

[2022-01-31 15:21] ghost commented on #2243
okay will consider your suggestion, and thank you so much for responding.

[2022-01-31 15:44] #2243 closed, assigned to nobody

[2022-01-31 20:39] haltman-at commented on #2185
Wondering: Is the issue that it *doesn't* shut down, or that it takes a while to do so?  I'd noticed the latter problem, but somehow didn't think to file an issue about it.

[2022-01-31 21:46] davidmurdoch opened #2253 "call `destroy` on forking's HttpAgent when provider is disconnected (and on server.close)"
See https://nodejs.org/docs/latest-v14.x/api/http.html#http_class_http_agent for info.

[2022-01-31 22:39] davidmurdoch commented on #2185
Related: https://github.com/uNetworking/uWebSockets.js/issues/663#issuecomment-1026283415

[2022-01-31 22:57] mikemcclaran opened #2254 ""Unknown argument: ganache" error when trying run ganache 7 using docker-compose file"
Prior to v7, I was able to use ganache-cli to run ganache in docker container using this docker-compose file
[code]

for v7, I changed my docker-compose file to the following
[code]
However, when attempting to start the container, I get the following message `Unknown argument: ganache`

[2022-01-31 23:45] davidmurdoch commented on #2185
@haltman-at It's actually both.

If a client sends a request with a `Connection: Keep Alive` header, and the client:

1) keeps the connection alive for n seconds and
2) always uses the connection _before_ n seconds have elapsed (like polling for the block number every 20 seconds)

then the socket connection will never been closed by the client.

When MetaMask is open it checks both of those boxes

[2022-01-31 23:53] davidmurdoch commented on #2254
Ganache now validates the arguments passed to its executable, whereas previously it did not.

Both the `trufflesuite/ganache-cli` and the `trufflesuite/ganache` images automatically run a command when started (like when you run `docker-compose up`), so `ganache-cli` and `ganache` end up getting passed as command-line _options_ to the Docker container's `ENTRYPOINT` (basically just calling `ganache

[2022-02-01 04:57] canoqb10 opened #2256 "Architecture not supported"
I am trying install ganache by npm cli and it throws the next error

I am on Mac OSX 10.156.7 Catalina
Macbook Pro 12-inch Mid 2012
with nvm and node v14..16.1
and npm v8.3.0

however I can install ganache ui with out troubles.

code 1
npm ERR! path /Users/albertocano/.nvm/versions/node/v12.18.0/lib/node_modules/ganache/node_modules/leveldown
npm ERR! command failed
npm ERR! command sh -c node-gyp

[2022-02-01 14:28] davidmurdoch commented on #2256
You state node 14 but your error is using node 12. Though it should work on both. Additionally, node 14 comes with npm v6, so it looks like you may have manually downgraded to npm v8. And while it possible and unfortunately common to install npm v8 on old node versions, v8 can be very buggy.

Can you try installing npm 6 (npm install npm@6 -g) and trying again? If that doesn't work, can you clarif

[2022-02-01 14:58] ndzik commented on #2206
Just for completeness and because I just encountered this issue: I can confirm this.

`json: cannot unmarshal array into Go value of type types.Log` errors for subscriptions with Ganache: `v7.0.1`.

I can also confirm that Ganache CLI `v6.12.2` works as expected for the time being (:

[2022-02-01 15:37] davidmurdoch commented on #2206
@ndzik Thanks for the additional confirmation. We've found the root cause and are working on a fix now.

[2022-02-01 17:17] mikemcclaran commented on #2254
@davidmurdoch That was the issue.  Thanks for the clarification.  Everything is working now.

[2022-02-01 17:17] #2254 closed, assigned to nobody

[2022-02-02 18:36] davidmurdoch commented on #2231
@3commascapital have you had a chance to try again?

[2022-02-02 19:22] cds-amal commented on #2162
We're closing since it's working as intended. Please subscribe to the linked issues above to track progress.

[2022-02-02 19:22] #2162 closed, assigned to MicaiahReid

[2022-02-02 19:35] cds-amal commented on #1968
Closing for issue maintenance. Please let us know if this is still an issue

[2022-02-02 19:35] #1968 closed, assigned to nobody

[2022-02-02 19:37] cds-amal commented on #1928
Closing for issue maintenance. @aymanelya please let us know if you would like this reopened.

[2022-02-02 19:37] #1928 closed, assigned to nobody

[2022-02-02 19:37] cds-amal commented on #1922
Closing for issue maintenance. Please let us know if you'd like to reopen.

[2022-02-02 19:37] #1922 closed, assigned to nobody

[2022-02-02 22:47] davidmurdoch opened #2269 "Explain what event/log topics are and how to use them in the inline JSDoc comment"

[2022-02-03 14:36] 3commascapital commented on #2231
hey @davidmurdoch , no i don't think this was because i used sudo. in fact this happened to be the first time that i had used sudo ever on this computer.
[code]

[code]

[2022-02-03 16:16] davidmurdoch commented on #2231
Is this on an M1 Mac?

[2022-02-03 16:19] lsqproduction opened #2274 "Add .version to retrieve version info programmtically"
I'm working on https://github.com/trufflesuite/truffle/issues/4678 and it would be great to be able to use `.version`. In the meantime, I will just use truffle's package.json for the version info.

[2022-02-03 16:21] davidmurdoch commented on #2231
I found [this](https://stackoverflow.com/a/60982835/160173), which indicates that Mac OS updates break its own developer tools on each update. The above linked answer suggests running the following commands (NOTE: I haven't tried this myself):

[code]

Please read the answers linked above before running any commands. Let me know if this did or didn't work for you.

[2022-02-03 20:31] davidmurdoch opened #2279 "ci: make sure release makes a v7.*.* tag, not just ganache@7.*.*"

[2022-02-03 20:58] MicaiahReid commented on #2206
This should be fixed in v7.0.2!

[2022-02-03 20:58] #2206 closed, assigned to MicaiahReid

[2022-02-03 21:07] MicaiahReid commented on #2125
Blocked until this web3 PR is merged. https://github.com/ChainSafe/web3.js/pull/4743

[2022-02-04 01:11] ChaosPower commented on #2231
![image](https://user-images.githubusercontent.com/260845/152455766-c676a445-96e3-4965-ab0e-d0b6d4136ccf.png)

Having permission denied issue with a non-sudo user. Tried installing also as root.

![image](https://user-images.githubusercontent.com/260845/152455858-6edacf61-715f-492f-ba46-481be19bd9fd.png)

Currently on Debian 10.

[2022-02-04 14:49] davidmurdoch commented on #2231
@ChaosPower have you ever used root to install an npm package before this? If so, your permissions are likely broken. If this is the case, see https://github.com/trufflesuite/ganache/issues/2231#issuecomment-1024415440

[2022-02-04 19:06] 3commascapital commented on #2231
your link here: https://github.com/trufflesuite/ganache/issues/2231#issuecomment-1029159939 seemed to do it, thanks!

[2022-02-05 02:33] #2231 closed, assigned to nobody

[2022-02-05 04:18] aniketpcsync opened #2289 "complete 1.js file is being displayed in the terminal if ganache used programatically"
In my project i was using ganache programatically and passing options as an argument to the provider. If any error occurs it should show only error but it prints complete 1.js file in the terminal in my node project.
We can handle the issue with, 1. Prettifying minified 1.js file and other is to use try catch whenever using ganache instance.
This problem is similar to solidity's solcjson.js error.

[2022-02-05 14:16] davidmurdoch commented on #2289
Can you try loading the source-map-support package before ganache and let me know if that works? https://www.npmjs.com/package/source-map-support

[2022-02-05 14:23] davidmurdoch commented on #2289
Dev note: We should probably reconsider our minification approach for our node bundle, as I doubt it doesn't anything to decrease bundle size since we ship the source maps anyway. We should keep it for the browser bundle since the browser won't download and parse it unless needed, whereas node's source-map-support eagerly loads and parses it immediately (or maybe we should ship the browser bundle

[2022-02-05 15:27] aniketpcsync commented on #2289
Thank you for the solution ! It is working, can you explain a little about this package and why is this type of error occuring.
Does it have any downsides? is it good for production level code?

there 200kb size difference from minified version but in solc case there was none.

[2022-02-05 19:53] davidmurdoch commented on #2289
We bundle our packages to reduce installation time, and at the same time we minify it all. In doing so we generate source maps, files that can map characters in the minified file to their original source.

Node.js doesn't automatically read these source map files (but browsers do, in certain situations), so you have to use source-map-support to add support.

The downside to using source-map-suppor

[2022-02-06 03:51] aniketpcsync commented on #2289
Thank you so much for the answer !

[2022-02-06 19:30] rmeissner opened #2300 "Building project with tsc fails due to error in Ganache typings"
I try to build a library that depends on Ganache v7. When I run `tsc` I get a bunch of errors for the typings generation.

Node version: 16.9.1 (tried also with 12)
Ganache version: 7.0.2

Compiler output:
[code]

tsconfig.json:
[code]

Not sure if related to the known issues regarding typings.

[2022-02-06 22:56] davidmurdoch commented on #2300
I'm working on [this issue](https://github.com/trufflesuite/ganache/issues/2134)  now. You can work around this for now by enabling skipLibCheck in your ts config. https://www.typescriptlang.org/tsconfig/skipLibCheck.html

[2022-02-06 22:58] davidmurdoch commented on #2300
This might just be a problem with typescript versions. Are you on an old version?

[2022-02-07 18:12] rmeissner commented on #2300
Yes it was actually an old typescript version (3.8.3 compared to 4.5.4). Thanks for the quick help ... is there a way to make `yarn` warn me about this?

[2022-02-07 18:12] #2300 closed, assigned to nobody

[2022-02-07 18:52] davidmurdoch commented on #2300
I don't think there is a way to specify TS version ranges, unfortunately. (let me know if you find out!)

[2022-02-08 08:25] rmeissner commented on #2300
I only found https://github.com/microsoft/TypeScript/pull/26568 on SO. You basically would set the default types to one that throws an error and overwrite for a specific version the type definition to the correct one. Seems a little hacky :grimacing:

Edit: Docs for `typesVersion`: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#version-selection-with-typesversions

[2022-02-08 19:11] phoward-tbpm commented on #1333
running into this issue as well on the pet-shop-tutorial.  What do I need to update?  Newb.

[2022-02-08 19:11] phoward-tbpm commented on #1333
This version of µWS is not compatible with your Node.js build:

Error: Cannot find module './uws_win32_ia32_102.node'
Falling back to a NodeJS implementation; performance may be degraded.

Using network 'development'.

Compiling your contracts...
===========================

   - solc: 0.5.16+commit.9c3226ce.Emscripten.clang

[2022-02-09 00:34] mxork opened #2320 "rpc breaks on `Transfer-Encoding: chunked`"
trufflesuite/ganache:v7.0.2

[code]

[code]

[code]

[2022-02-09 15:32] davidmurdoch commented on #2320
related: https://github.com/uNetworking/uWebSockets.js/issues/669

[2022-02-09 15:33] davidmurdoch commented on #2320
I'm able to reproduce. I'm curious what your use case is, do you mind sharing?

[2022-02-09 15:49] mxork commented on #2320
No legitimate use case here; I'm using an http/1.1 client library which uselessly opts into using `Transfer-Encoding: chunked`. I think its fair to say the issue is on the library's side.

Feel free to close.

[2022-02-09 18:49] davidmurdoch commented on #2320
Interesting. Ganache should support it so we'll leave it open, thanks!

[2022-02-09 19:16] haltman-at commented on #910
Closing this, as it should be fixed in Ganache 7.  If there's still an issue, feel free to file a new one!

[2022-02-09 19:16] #910 closed, assigned to nobody

[2022-02-09 19:37] haltman-at commented on #1758
Closing this for issue maintenance, but do note that Ganache 7 has now been officially released, so I suggest trying this again with that!  If there's still a problem, please open a new issue.

[2022-02-09 19:37] #1758 closed, assigned to nobody

[2022-02-09 19:42] haltman-at commented on #1845
Closing this for issue maintenance.  Please let us know if there's still an issue here.

[2022-02-09 19:42] #1845 closed, assigned to nobody

[2022-02-09 19:47] haltman-at commented on #1246
@moda20 Closing this for issue maintenance.  Do note that Ganache 7 has now been officially released!  If there's still a problem on that, please let us know.

[2022-02-09 19:47] #1246 closed, assigned to nobody

[2022-02-09 22:37] frangio commented on #758
Bumping this. Now that Ganache v7 has been released may be a good time to revisit and think how it could be implemented. We are all eager to use custom errors but Ganache is still lacking support.

[2022-02-10 01:15] mxork commented on #2320
Related issue: the http server is emitting an invalid HTTP/1.1 status line, eg.:

[code]

The RFC is quite clear, however (https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1):

[code]

The Reason-Phrase is allowed to be an empty string, but the separating space is not optional.

I'm unsure whether to open another issue for this, or if https://github.com/uNetworking/uWebSockets.js is whe

[2022-02-10 01:49] davidmurdoch commented on #2320
We should probably just send back the reason string ourselves, though uWS.js might appreciate an Issue on their side too.

[2022-02-10 01:54] davidmurdoch commented on #758
Ganache does forward the whole return data as hex on responses for eth_call.

@haltman-at does Truffle decode these? This seems like a Truffle-side thing.

[2022-02-10 03:48] frangio commented on #758
If so, that's great. For Truffle that would be Web3.js, the new version of which is in development and would include support for custom errors.

[2022-02-10 08:21] haltman-at commented on #758
Truffle Contract currently does not decode panic codes or custom errors; I was thinking that would probably wait until the Contract rewrite, although that seems to have gotten rather delayed.  But we could add support for panic codes into it if people think that should happen sooner?  Custom errors would be more difficult and would likely have to wait, either until the contract rewrite or until th

[2022-02-10 12:06] teknoxic opened #2338 "EVM errors with automine / Transaction Queuing"
i am building a centralised token exchange for ERC20 tokens with ganache-cli.
It's a simple order book system for trading, and each user has their own wallet on Ganache.
It works like this:
**User sends order from frontend to backend NodeJS server > NodeJS sends order to ganache-cli > Ganache-cli sends result to frontend**

**It works quite well when one user makes an order for a token, however wh

[2022-02-10 13:07] rmeissner commented on #1889
This issue seems to be a partial duplicate of https://github.com/trufflesuite/ganache/issues/649

[2022-02-10 14:16] frangio commented on #758
Yes, I was talking about Truffle Contract, specifically about the `Error` that is thrown when the contract reverts with a custom error.

[2022-02-10 15:38] davidmurdoch commented on #758
@haltman-at Should we move this issue to the truffle repo? I don't think there is anything useful Ganache can do, right? (since we return the raw revert hex string already)

[2022-02-10 16:06] davidmurdoch commented on #2338
You've almost got it set up correctly.

If you omit the `nonce` field from the transaction object Ganache will auto increment the nonce automatically and process the transactions in FIFO (first in, first out) order (with exceptions[1]). note this won't work with signed transactions (`eth_sendRawTransaction`), as those always require a nonce.

You can also send transactions with a nonce that is "to

[2022-02-10 19:19] haltman-at commented on #758
There's actually something of an open issue for this already, actually: https://github.com/trufflesuite/truffle/issues/3873.  It got marked not very high priority because custom errors are hard and we'll handle them in the rewrite, right?  That said, panic codes *aren't* that hard, and the rewrite has gotten delayed, so it might be worth re-upping that.  You want to move discussion over to that?

[2022-02-10 21:59] #761 closed, assigned to nobody

[2022-02-10 21:59] davidmurdoch commented on #758
Just realized this may be related to some changes plan to make to our eth_call error _message_ strings that would provide additional information over what we give now. @MicaiahReid, I couldn't find an issue for the new error strings we were talking about adding; they might all map to these specific panic codes.

[2022-02-11 03:09] haltman-at commented on #758
FWIW, [here's](https://docs.soliditylang.org/en/v0.8.11/control-structures.html#panic-via-assert-and-error-via-require) the Solidity documentation of the panic codes, and [here's](https://github.com/trufflesuite/truffle/blob/develop/packages/debug-utils/index.js) the table of panic codes that the debugger uses for interpreting them. :)  (And which Truffle Contract would presumably also use if we a

[2022-02-11 12:19] gintering1000 opened #2346 "may i ask you new package repo"
id like to install ganache-cli for terminal by homebrew without npm install.

for example : brew install ganache-cli
( it doesn't mean "cask" )

may i ask you new feature?

[2022-02-11 13:39] davidmurdoch commented on #2346
No, we don't support brew. If we did, we would have to install npm and node in order to get ganache to work.

[2022-02-11 13:50] gintering1000 commented on #2346
ok i will ask this to downstream. : (

[2022-02-11 13:50] #2346 closed, assigned to nobody

[2022-02-11 21:53] fabianorodrigo opened #2350 "Notifications not supported: code 32004"
Guys,

I was running this dapp perfectly using the Brave browser and Metamask plugin until the beginning of this week. Then, suddenly, it starts to behavior not as expected. Probably there was some automatic Brave update that I didn't noticed. So I disabled the Metamask plugin in order to make use of the Brave's native wallet and it got worst, I received the following error:

[code]
What caught my

[2022-02-11 23:53] davidmurdoch commented on #2350
Ah, I bet Brave Wallet forwards requests like `eth_subscribe` to the connected network (like Ganache) directly, but Brave Wallet _itself_ isn't connected to the `localhost` over WebSockets. The "notifications" error message happens when a client attempts to subscribe via eth_subscribe, but over HTTP instead of WebSockets, which just isn't possible.

[2022-02-12 15:31] robsmith11 opened #2358 "Ganache binding to all network interfaces even with `-h localhost`"
When I run
```ganache --fork -n -h localhost```
I see the following with `lsof`:
```node    488738 root   20u  IPv6 28301584      0t0  TCP *:8545 (LISTEN)```
Because I'm running it on a popular cloud VM without a firewall, I also get a flood of people trying to steal the forked ETH.

[2022-02-12 15:57] davidmurdoch commented on #2358
Confirmed this a bug and I've found the issue. We'll get a fix out for this next week!

[2022-02-14 05:22] robmcl4 opened #2364 "miner.coinbase interprets Address as Number"
Environment:

[code]

What I ran:

[code]

What I expected: ganache starts with address `0xA0a0a0A0A0A0a0a0A0A0a0A0a0A0a0A0A0A0a0a0` as the coinbase address.

What actually happened (output, exits with code 1)

[code]

Note that 0xA0a0a0A0A0A0a0a0A0A0a0A0a0A0a0A0A0A0a0a0 = 9.17...e+47. The command does work if I place a whitespace character at the end of the coinbase, to force interpretation as a

[2022-02-15 21:58] davidmurdoch opened #2382 "Look into adopting https://www.npmjs.com/package/nx"
I'm mostly into the `nx affected:test` magic! https://nx.dev/using-nx/affected

[2022-02-16 18:32] MicaiahReid commented on #2032
Closing for issue maintenance. Please open another issue if this is still happening.

[2022-02-16 18:32] #2032 closed, assigned to nobody

[2022-02-16 19:50] gnidan commented on #2364
Thanks for bringing this up! Sorry about this!

Adding this to our backlog to resolve.

[2022-02-17 14:32] emeraldbrown opened #2392 "About transaction execution performances"
In Ganache v7.0.2, is `eth_sendTransaction` faster and "lighter" than `eth_sendRawTransaction`? Or the transaction speed depends on its own "weight" (in terms of operations/gas use)?

Sometimes both calls hang for a very long time.

Also, I've experimented speed differences between `provider` and `server` mode.

Is that possible?

Thanks

[2022-02-17 15:54] its-everdred opened #2394 "Add support for Arbitrum"
## Issue

I am unable to use ganache and the debugger to inspect transactions on Arbitrum

## Steps to Reproduce

In one terminal run: `ganache --fork.url=https://arbitrum-rinkeby.infura.io/v3/YOUR_KEY`

In another terminal run: `truffle debug --url=http://127.0.0.1:8545 -x 0xb0ec8875a0488e648e3044f2ef86274d4f82eced80bbc34deba63e073a0ce3fb`
^an example transaction on Arbitrum Rinkeby

## Expected

[2022-02-17 17:30] davidmurdoch commented on #2392
can you provide a reproduction?

[2022-02-17 23:58] davidmurdoch opened #2398 "`ganache --miner.defaultTransactionGasLimit estimate` fails with Error `Cannot convert estimate to a BigInt`"
`defaultTransactionGasLimit` cli coercion function needs to take the string `"estimate"` into account when attempting to parse the raw option value.

[2022-02-18 07:14] emeraldbrown commented on #2392
Unfortunately it is an extreme randomic behavior to be reproduced. All that I can say is that the slowness in transaction submit (`eth_sendTransaction`/`eth_sendRawTransaction`) is frequent in `server` mode, even with just one client connected.

[2022-02-18 13:02] davidmurdoch commented on #2392
Might you be sending transactions with the nonce set too high?

[2022-02-22 09:32] 3rdstage opened #2429 "Is there a sample for an array type startup option?"
A few startup options including `--wallet.accounts` and `--wallet.unlockedAccount` are "array" type.  But array format - comma separated, space separated, enclosing bracket needed or ... - for startup option is not clear.

If I would like to unlock preceding 5 accounts, which one is correct ?

[code]

[2022-02-23 18:25] davidmurdoch commented on #2429
Use `--wallet.unlockedAccounts 0 --wallet.unlockedAccounts 1 --wallet.unlockedAccounts 2`

[2022-02-23 19:00] cyai opened #2440 "Unable to Install ganache-cli using yarn!"
I tried to install ganache-cli using the command `yarn global add ganache-cli` but was unable to do so!!!

SOLVED: Try installing ganache-cli using node.js itself by command `npm install -g ganache-cli`

[2022-02-23 19:30] dongmingh commented on #2440
Hi @cyai, ganache-cli (v6) is no longer supported.  Please install ganache (v7),
`npm uninstall ganache-cli && npm install -g ganache` instead.
Thanks!

[2022-02-23 19:30] #2440 closed, assigned to nobody

[2022-02-24 13:20] theblock-dev opened #2489 "Automatic nonce generation race condition"
### Discussed in https://github.com/trufflesuite/truffle/discussions/4774

<div type='discussions-op-text'>

<sup>Originally posted by **theblock-dev** February 24, 2022</sup>
Hi All
While running the truffle migrate --reset command, I am getting into nonce issue. The migration code seems to be fine and I can not seem to find any issue with it. Here is the error I am getting

![image](https://user

[2022-02-24 15:50] eggplantzzz commented on #2489
Hey @theblock-dev, can you give me a little more information about what you are doing? For example, can you tell me what version of Truffle you are using, what network you are migrating to, and what provider you are furnishing? If you have your `truffle-config.js` and wouldn't mind sharing it that would also be helpful. Let me know and I'll try and help troubleshoot!

[2022-02-24 18:32] spinlud opened #2445 "Unable to install Ganache (npm) on MacOS 10.15.7"
When installing Ganache node library:

`npm install -S ganache`

got the following errors:

[code]

I've tried also to uninstall and reinstall the latest command line tools for Catalina 10.15.7 (according to [here](https://xcodereleases.com/) v12.4 should be the latest for Catalina) but that didn't help.

Any idea?

[2022-02-24 19:24] davidmurdoch commented on #2445
related: https://github.com/trufflesuite/ganache/issues/2256

[2022-02-25 04:25] theblock-dev commented on #2489
Hi Tyler
Thanks for reaching out, much appreciated.
Here are the version details

![image](https://user-images.githubusercontent.com/5169927/155653356-c3424a7f-463e-4441-98c0-1e1066c78106.png)

I am migrating it to the local ganache cli. Attached are the truffle-config.js and 2_deploy_contracts.js files ( Pls extract the zip )

[config.zip](https://github.com/trufflesuite/truffle/files/8138472/con

[2022-02-25 14:49] SuvarnaJogdand opened #2461 "Ganache issue"
Error: The nonce generation function failed, or the private key was invalid
    at Object.ecdsaSign (C:\Program Files\WindowsApps\GanacheUI_2.5.4.0_x64__5dg5pnz03psnj\app\resources\static\node\node_modules\ganache-core\node_modules\secp256k1\lib\index.js:265:17)
    at Object.exports.sign (C:\Program Files\WindowsApps\GanacheUI_2.5.4.0_x64__5dg5pnz03psnj\app\resources\static\node\node_modules\gana

[2022-02-25 14:49] #2461 closed, assigned to nobody

[2022-02-25 18:19] eggplantzzz commented on #2489
Sure! Can you try upgrading Truffle to the latest version? Also, if you are using ganache-cli, upgrade to the latest Ganache as well if you can. It has been renamed just ganache. You will have to uninstall ganache-cli first.

So `npm uninstall -g ganache-cli && npm install -g ganache` should install v7 (the latest) for you. You then run it with `ganache`.

Is your project on Github?

[2022-02-26 17:30] theblock-dev commented on #2489
I am using the latest ganache 7.0
![image](https://user-images.githubusercontent.com/5169927/155852517-46387039-fd34-40d0-a2eb-0d87065d9b4d.png)

Also update truffle to the latest version of 5.5.2, however I still have the same issue while running the migration.

[2022-02-28 13:03] theblock-dev commented on #2489
I downgraded the truffle version to 5.4.23, and the issue got resolved automatically. I have not idea why the higher version gave this error.
However, now I have a different issue. Truffle now gives out of gas while running migration.

[2022-02-28 17:12] eggplantzzz commented on #2489
Actually the latest Ganaceh is 7.0.2 I believe. Is your project on GitHub so I can take a look and try to figure out what might be happening? If there is a problem with the latest version of Truffle then I would like to try and document it so we can fix it. Let me know if you have a code sample and steps for reliably reproducing this error.

[2022-02-28 19:26] bgokcol opened #2481 "Instantly mined transactions"
Hi. I'm using **sendTransaction** with Web3. I need instantly mined transactions but even if I use blockTime = 0 it takes 2 seconds. Is there any way to mine transactions instantly (or less than 1 second)?

[2022-02-28 20:49] davidmurdoch commented on #2481
They are mined instantly. It sounds like Web3 is polling for blocks.

What version of Ganache are you using and what are you start up parameters for it?

[2022-03-01 05:09] theblock-dev commented on #2489
Hi Tyler
Here is the link to the project - https://github.com/theblock-dev/ERC20Dex

Here are the version details
![image](https://user-images.githubusercontent.com/5169927/156108671-fa6a555a-26b9-49b9-b882-f6d3f63fbc9f.png)

Steps to replicate -
1) Go to the root of the project
2) open truffle develop environment - truffle develop
3) migrate the project - migrate --reset

Thanks

[2022-03-01 08:57] adridadou commented on #1056
what is the status of this ?

[2022-03-01 15:49] eggplantzzz commented on #2489
Thanks @theblock-dev! I'll go ahead and see if I can reproduce the problem you are having and hopefully have some advice for you.

[2022-03-01 16:25] eggplantzzz commented on #2489
So I have reproduced your error and found the issue. The problem is with how you are asynchronously creating transactions with `transferSeedToken`. You are using `map` to create a bunch of transactions but they are not executing in the order of the nonces, I think this has to do with how Ganache's "instamine" mode works as it tries to process each transaction as it receives it. When Truffle create

[2022-03-01 17:23] bgokcol commented on #2481
Hi @davidmurdoch, first of all thank you for the reply. I also think so, it's probably a problem because of Web3. I tried to set pollinginterval to 1 but not worked.

**Versions:**
+-- ganache@7.0.2
+-- web3@3.0.0-rc.5

**My startup options:**
[code]

My Code:
[code]

It returns something between 2000-3000 ms.

[2022-03-01 17:49] eggplantzzz commented on #2489
So after a bit of troubleshooting with the Ganache team, it looks like there is an issue in Ganache. I'm going to transfer this issue there so we can get it triaged and fixed. Thanks for reporting this @theblock-dev!

[2022-03-01 21:57] Juan-de-Costa-Rica commented on #2489
Just chiming in to say I am having the exact same issue.

I don't run into the issue when using ganache-cli (v6.12.2), only when I upgrade to to ganache v7.0.2

[2022-03-02 06:26] theblock-dev commented on #2489
@eggplantzzz  - thanks a lot for your help and discussing with the ganache team.

[2022-03-02 18:51] eggplantzzz commented on #2481
Hey @bgokcol, I'm not really sure I know much about the version of web3 that you are using. Could you try changing the version of web3 you are using to 1.7.1? Some of these versions (like the release candidate version you are using) may have been abandoned...

Let us know if that resolves your issue! If not we'll try and help you troubleshoot further. Thanks!

[2022-03-02 19:11] bgokcol commented on #2481
Hello @eggplantzzz, I downgraded Web3 to v1.7.1@rc-0 version but sendTransaction process still takes 2-3 seconds. 😐

How can I be sure about that transactions are mined instantly? I'm not sure if problem is in Web3 or Ganache side at the moment.

[2022-03-02 19:17] eggplantzzz commented on #2429
Closing this for issue maintenance, thanks!

[2022-03-02 19:17] #2429 closed, assigned to nobody

[2022-03-02 19:20] eggplantzzz commented on #2350
Closing for issue maintenance, thanks!

[2022-03-02 19:20] #2350 closed, assigned to nobody

[2022-03-02 20:29] davidmurdoch commented on #2481
Is it possible your transaction is slow because you have to interact with the BSC chain? Try setting a hard-coded fork block number and run the code twice. Doing this will make ganache use a persistent cache.

Example:

[code]

[2022-03-03 11:47] MatthiasLohr opened #2509 "transaction can't be replaced, mining has already started"
Hi,

ganache (v7.0.3) is telling me to open an issue here:
[code]

Any idea?

Best regards
Matthias

[2022-03-03 13:08] davidmurdoch commented on #2509
Can you provide reproduction steps?

[2022-03-03 13:25] MatthiasLohr commented on #2509
Actually, not really. I'm running a script of mine (written in Python, using web3py library) which is a simulation of something over and over again and in (roughly estimated) 1 of 250 executions I'm seeing this error.

I have running two processes interacting with Ganache, in alternating roles, sending transactions to Ganache respectively the other process waiting to see that transaction.

I'm run

[2022-03-03 15:33] bgokcol commented on #2481
@davidmurdoch Yes, my code interacts with BSC chain. This is probably the reason.

**fork.blockNumber** worked but for second run. On the first run, it took same time as before. So, is there anyway to run first transaction within a few ms? It's not possible as far as I see but I'd be glad if you can suggest me something else for my purpose.

I've a transaction and want to simulate it in 1 second.

[2022-03-03 15:42] davidmurdoch commented on #2481
Only if you sync the whole chain locally first. :-)

[2022-03-03 15:48] davidmurdoch commented on #2509
This issue happens when Ganache receives a transaction with a nonce that matches the nonce of a transaction that is already in the process of being mined.

If you aren't filling in the nonce yourself, and you are letting Ganache generate it, then this could be due to this issue: https://github.com/trufflesuite/ganache/issues/2489.

If you are filling in the nonce yourself then the bug is _likely_

[2022-03-03 16:55] MatthiasLohr commented on #2509
I did some digging and found the following: I'm filling nonce myself and transaction is sent in a retry loop using `eth_sendRawTransaction`. The error above occurs when the retry loop tries to send the transaction the second time. However, for the first try, I'm getting an error such as "tx is not in the chain after 120 seconds" (where 120 seconds is default timeout by web3py) but ganache does not

[2022-03-03 18:37] davidmurdoch commented on #2509
Before running the retry can you try checking if the transaction is in the transaction pool by calling the RPC method `txpool_content`?

[2022-03-03 19:44] MatthiasLohr commented on #2509
Similar to this:

[code]

[2022-03-03 20:02] MatthiasLohr commented on #2509
Another one:
[code]

[2022-03-03 20:13] davidmurdoch commented on #2509
Are these two transactions the transactions that are being retried?

[2022-03-03 20:14] MatthiasLohr commented on #2509
Yep. These two have not been "mined" or "sealed" after 60 seconds (despite having `--miner.blockTime=1`.

These logs are written *before* the retry was sent. This is 60 seconds after submitting it the first time.

[2022-03-03 20:15] davidmurdoch commented on #2509
Can you also output `eth_getTransactionCount` for the `from` account for the timed-out transaction?

[2022-03-03 20:17] MatthiasLohr commented on #2509
Which block identifier should I use? `latest` or `pending`?

[2022-03-03 20:17] davidmurdoch commented on #2509
`latest`

[2022-03-03 21:14] MatthiasLohr commented on #2509
Ok, I updated the code (sorry, this takes a while and then I have to run it again until the error occurs again).

The result from `eth_getTransactionCount` equals to the key in the dict an the nonce (at least in the first two errors occured).

[2022-03-03 21:23] davidmurdoch commented on #2509
Hm, I was hoping it would be as simple as the `nonce` of the transaction being too high. Is it possible to run this with the `ganache` flags set to `--miner.blockTime 0 --miner.instamine=eager --chain.vmErrorsOnRPCResponse`. These settings will result in an Error being returned for calls to `eth_sendRawTransaction` for transactions that fail.

[2022-03-04 15:40] MatthiasLohr commented on #2509
Sorry for the delay, but for now, with these options, it looks like the error is not showing up... will try again...

[2022-03-04 15:53] MicaiahReid opened #2526 "Include future nonce transactions in the same block as the nonce gap filling transaction (instamine mode)"
When in instamine mode, we currently allow only one transaction per block. However, if a future nonce transaction is waiting in the transaction pool and the nonce gap is filled, we think the expected behavior would be that the nonce gap filling transaction and the future nonce transaction are included in the same block. Thus, immediately executable transactions should remain one per block except f

[2022-03-04 15:56] davidmurdoch commented on #2509
It must be the `blocktime` option that is causing the problem. We're investigating a race condition issues right now and this additional information will help. Thanks!

Possibly related: https://github.com/trufflesuite/ganache/issues/2489

[2022-03-04 18:46] robmcl4 commented on #2364
Closing as this was fixed in [v7.0.3](https://github.com/trufflesuite/ganache/releases/tag/v7.0.3)

[2022-03-04 18:46] #2364 closed, assigned to nobody

[2022-03-04 19:40] #2358 closed, assigned to davidmurdoch

[2022-03-06 05:48] juliusgambe opened #2535 "Unable to install on macOS"
I am trying to install Ganache in my project using `npm install ganache` but ran across this problem:

[code]

I have tried to remove my node modules and clean my npm cache using `npm clean cache --force` but this problem still occurs.
I know there are other issues here that macOS users are facing but for me, it is not an architecture problem.
Thanks!

[2022-03-06 21:48] Thankgod20 opened #2539 "TypeError: r.URL is not a constructor"
I am using ganache cdn and when i call the fork option i get these errors

`Uncaught TypeError: r.URL is not a constructor
    at Object.normalize (ganache:2)
    at fill (ganache:2)
    at ganache:2
    at Array.forEach (<anonymous>)
    at OptionsConfig.normalize (ganache:2)
    at new EthereumProvider (ganache:2)
    at new Connector (ganache:2)
    at GetConnector (ganache:2)
    at Object.ini

[2022-03-06 22:33] linzof commented on #2539
This line should be the cause

I am not sure how the rest of environment is set up.

Since you are in js, you should use a template literal for concatenating strings and variables.

[Template literals (Template strings)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals)

[2022-03-07 00:09] davidmurdoch commented on #2539
Forking is not yet supported in the browser.

[2022-03-07 13:42] MicaiahReid commented on #2535
Related: #2256

[2022-03-08 12:46] codetit4n commented on #678
I had the same issue. What I found is that I was trying to unlock a contract address rather than an individual address. Just unlock non contract addresses and this will work.

[2022-03-08 19:06] szgyuszi1 opened #2558 "EIP-1193-compliant providers"
Ganache forking only supports EIP-1193-compliant providers. Legacy support for send is currently enabled, but will be removed in a future version _without_ a breaking change. To remove this warning, switch to an EIP-1193 provider. This error is probably caused by an old version of Web3's HttpProvider (or ganache < v7)

how i can switch to EIP-1193 provider  on terminal?

[2022-03-08 19:13] davidmurdoch commented on #2558
That message should probably be removed, at least for a few years, as Web3's stable version is not currently an EIP-1193 provider (it was for a brief moment when this code was originally written) and we need to keep compatibility with web3 verisons for a long time.

[2022-03-08 20:15] lsqproduction commented on #2535
@juliusgambe Thank you for opening this issue, may I know if you're using a M1 machine and which version of the OSX you're using?

[2022-03-08 20:27] lsqproduction commented on #2539
@Thankgod20 Thank you for letting us know. Closing this as a duplicate of #1245

[2022-03-08 20:27] #2539 closed, assigned to nobody

[2022-03-08 20:44] lsqproduction commented on #2178
Closing for issue maintenance.

[2022-03-08 20:44] #2178 closed, assigned to nobody

[2022-03-08 22:41] davidmurdoch opened #2560 "Write "known chain" network tests"
Original context: https://github.com/trufflesuite/ganache/pull/2529#discussion_r820967310

/cc @MicaiahReid

[2022-03-08 22:42] davidmurdoch opened #2561 "Ganache forking applies _historic mainnet_ hardfork rules to unknown chains."
It should probably default to the latest known mainnet hardfork for all blocks.

/cc @kevinweaver

[2022-03-09 00:12] juliusgambe commented on #2535
Hi, my macOS version is macOS Monterey 12.0.1. I'm using Intel.

[2022-03-09 17:35] its-everdred commented on #2561
Thanks for creating this @davidmurdoch! Please ping me if you or @MicaiahReid end up working on this so I can see how this works.

[2022-03-10 08:38] MatthieuScarset opened #2571 "Cannot use specific accounts programmatically"
Trying to start Ganache programmatically with a given list of accounts **doesn't work**.

[code]

It **does work** using the CLI:
[code]

I've tried with different options but none works programmatically  in JS:
[code]

Anyone knows what's wrong with my options?
Or if there's another glitch I do not see?

[2022-03-10 14:49] MicaiahReid commented on #2571
I was able to reproduce this and fixed it with:
[code]
This definitely isn't documented well, so I'll mark this as a bug. Let me know if the above fix doesn't work for you.
//cc @davidmurdoch

[2022-03-10 14:51] MicaiahReid opened #2575 "CLI option aliases for `--wallet.accounts` are confusing"
The option `--wallet.accounts` has alias `--account`, but not `--accounts`. This was confusing to me. Maybe I'm dumb. Maybe it would help our users to have both aliases.

[2022-03-10 15:19] MatthieuScarset commented on #2571
Thank you for your answer @MicaiahReid

It works :+1: but the balance seems to be malformatted in your example.

It needs to be "hex encoded and prefixed by 0x", that's what Ganache told me in my terminal :man_shrugging:

I have `Web3` dependency installed so I've used it to format the number to an Hex value.

So here's my final working JS code to start a Ganache chain with custom account options:

[2022-03-10 15:23] #2571 closed, assigned to nobody

[2022-03-10 15:50] MicaiahReid commented on #2571
@MatthieuScarset Oops, yes, good catch on the balance, I meant to type `"0x8AC7230489E80000"`.

[2022-03-10 15:51] MatthieuScarset opened #2576 "Feature request: Use a config file to start Ganache with parameters"
Not sure if this is already available - and not documented - or if it was already requested before.

It would be really helpful to have a configuration file to start Ganache with parameters.

Problem:
- Running Ganache with parameters is a very _long_ command
- ex: `ganache --wallet.seed="I have to copy my seed" --chain.allowUnlimitedContractSize=true  --logging.debug=true ...etc`

Expected behavi

[2022-03-10 15:58] davidmurdoch commented on #2576
Closing as duplicate of https://github.com/trufflesuite/ganache/issues/2102 (or more specifically: https://github.com/trufflesuite/ganache/pull/811). Head over to those issues and give it a "thumbs up" to help further inform our priorities! You can also hit the Subscribe button on those issues to be notified of future updates. Thanks!

[2022-03-10 15:58] #2576 closed, assigned to nobody

[2022-03-10 15:58] MicaiahReid opened #2577 "Document Programmatic Use of Ganache Better"
We don't have any documentation detailing how to use all Ganache options programmatically. Instead, we list the CLI options in detail and say:

However, there are some differences between CLI and programmatic use for particular options*. We should fully document options both for CLI and programmatic use.

*See #2571 and specifically [this comment](https://github.com/trufflesuite/ganache/issues/257

[2022-03-10 16:00] davidmurdoch commented on #2575
The reason for this is that on the command line you can't provide a JavaScript array of _accounts_; you have to provide multiple _account_ options, e.g., `ganache --wallet.account "0xkey,balance" --wallet.account "0xkey,balance"`

[2022-03-10 16:06] andrekreativ commented on #1114
What does "invalid remainder" mean? Is there a workaround to send the raw transaction if we are not in ganache@7.0.0-alpha.1? Thank you.

[2022-03-10 16:09] davidmurdoch commented on #1114
@trackrunner In this case it means ganache-cli@6.*.* doesn't understand what a type 2 transaction is so it can't figure out how to decode the raw transaction data. Use `ganache@7.0.3`.

[2022-03-10 19:34] andrekreativ commented on #1114
I was using Ganache UI for Windows (latest version 2.5.4 as of today). I switched to "ganache cli" to the version you mentioned (ganache@7.0.3), and send_raw_transaction works fine. @davidmurdoch thanks for the help.

[2022-03-11 05:02] MatthieuScarset opened #2580 "Incoherent "Address already in use 127.0.0.1:XXXX" issue when using Ganache programmatically (JS)"
I'm having an issue with Ganache when trying to use it _programmatically_ with a JavaScript script.

Basically **it doesn't want to start** saying **port is already in use** - whereas it is not :shrug:

It **does start** with the same port if I run the CLI directly.

How to reproduce:
- create a script for Ganache (see code below)
- run `node ganache.js` => does not work, results in  "Address alre

[2022-03-11 06:16] martinheidegger commented on #2289
Just to add user story: I tried upgrading a bunch of dependencies including ganache and the tests stopped passing, triage using sourcemaps is one thing, but by deploying ganache as  minimized blob its really hard to add log statements to figure out where/how things fail.

[2022-03-11 13:26] davidmurdoch commented on #2580
Can you try casting the env port to a number?

Also, what version of node and what operating system?

[2022-03-11 13:45] adjisb commented on #948
Hi, I'm unlocking this address: 0xffffFFFfFFffffffffffffffFfFFFfffFFFfFFfE on a mumbai fork to try to emulate polygon system account.
When I send the following transaction I get in the ganache v7.0.0 container log I get the same error "The nonce generation function failed, or the private key was invalid":
`
mumbai_1   |    >  eth_sendTransaction: [
mumbai_1   |    >   {
mumbai_1   |    >     "gas"

[2022-03-11 13:58] davidmurdoch commented on #948
@adjisb can you open a new issue?

[2022-03-11 14:11] MicaiahReid commented on #2575
@davidmurdoch But `ganache --wallet.account "0xkey,balance"` fails, it has to be `--wallet.accounts`. So maybe the answer isn't to add the `--accounts` alias but to change `--wallet.accounts` to `--wallet.account` (but that would be a breaking change so not ideal).

[2022-03-11 14:54] adjisb opened #2586 "Transaction from unlocked account fails with error: "The nonce generation function failed, or the private key was invalid":"
Hi, I'm unlocking this address: `0xffffFFFfFFffffffffffffffFfFFFfffFFFfFFfE` on a mumbai fork to try to emulate polygon system account.
When I send the following transaction I get in the ganache v7.0.0 container log I get the error `"The nonce generation function failed, or the private key was invalid"`:
[code]
Even a transfer tx fails with the same error:
[code]
Is seems this error happens when t

[2022-03-11 14:54] adjisb commented on #948
Sure: https://github.com/trufflesuite/ganache/issues/2586

[2022-03-11 15:12] MatthieuScarset commented on #2580
Good catch! thank you, it seems that the issue was to cast to env

Apparently, `parseInt(process.env.PORT)` fixes the issues.

I've tried several different start/stop with different values and now Ganache "restart" correctly.

Thank you for your help!

---

For the record, here's my implementation of Ganache programmatically:
https://github.com/MatthieuScarset/quick-dapp/blob/develop/ganache.js

[2022-03-11 15:38] davidmurdoch commented on #2586
Can you show how to you initializing ganache? Also, what version of ganache, node.js and what operating system are you using?

[2022-03-11 15:47] adjisb commented on #2586
I'm running ganache in docker, this a section of my docker-compose, aaa, bbb, ccc are other unrelated addresses that I'm unlocking:

[code]

I also tired with latest, same error.

[2022-03-11 16:21] davidmurdoch commented on #2586
Have you tried updating to trufflesuite/ganache:v7.0.3?

[2022-03-11 16:29] davidmurdoch commented on #2586
I'm able to reproduce with that address and am looking into a solution now.

[2022-03-11 16:30] davidmurdoch commented on #2586
I've found the issue. Unfortunately there is no workaround. We'll get a release out with a fix ASAP.

[2022-03-11 16:35] adjisb commented on #2586
Ok, thanks

[2022-03-11 16:35] davidmurdoch commented on #2580
I'm going to reopen this as this is a very common use case we should probably support out of the box!

[2022-03-11 16:56] davidmurdoch commented on #2575
Ohhh, I get it now. Hmmm, yeah, the alias should exist in both locations.

[2022-03-11 17:51] MatthieuScarset commented on #2580
let me know if/how I can help

[2022-03-12 18:36] khelil commented on #2256
Having exactly the same error, had to downgrade npm to make it work.
Here some tests:
❌ node v14.18.1 (npm v8.5.1)
❌ node v10.15.3 (npm v7.5.4)
✅ node v11.1.0 (npm v6.5.0)

[2022-03-13 12:47] theblock-dev commented on #2489
Has this been fixed in the new ganache version 7.0.3? Thanks

[2022-03-13 19:53] Bensnizzle opened #2594 "ganache: command not found"
Ganache does not work for me.  Uninstalling + reinstalling also does not help.

[code]

Anyone know what is wrong?

[2022-03-14 02:18] davidmurdoch commented on #2489
@theblock-dev no, it's not fixed yet. This issue is actively being worked on though.

[2022-03-14 19:30] davidmurdoch commented on #2594
Do other globally installed packages work for you?

[2022-03-14 19:38] davidmurdoch opened #2600 "All transaction signatures whose s-value is greater than secp256k1n/2 are now considered invalid, but ganache accepts them"
According to EIP-2 "All transaction signatures whose s-value is greater than secp256k1n/2 are now considered invalid."
the signature generated by hardware wallet has s component greater than secp256k1n/2 .

Ganache currently permits this greater "s" value.

[2022-03-15 10:13] amandesai01 commented on #2580
I am willing to open a PR fixing this. Let me know if needed.

[2022-03-15 10:17] amandesai01 commented on #2575
Maybe we can update alias to `--wallet.account` and keep `--wallet.accounts` but show a warning when used. And after sometime deprecate it?
I am willing to create a PR to do this, or any other suggestion. Let me know.

[2022-03-15 11:02] amandesai01 commented on #2594
Add `$(npm get prefix)/bin` to your `PATH` (e.g., in `.bashrc`), like so:

`echo "export PATH=$PATH:$(npm get prefix)/bin" >> ~/.bashrc`

For more info, see `npm help npm`

Credits: https://stackoverflow.com/a/15623632

[2022-03-15 14:51] MicaiahReid commented on #2575
@amandesai01 Thanks for offering! A PR would most definitely be welcome. We discussed and decided we want both the `--accounts` and `--wallet.account` aliases added. No warning necessary. Let us know if you need any help! A good starting point is the [wallet-options.ts](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/options/src/wallet-options.ts) file.

[2022-03-16 06:38] jeffsmale90 commented on #2580
Hi @MatthieuScarset  - I just joined the team and picked up this case as a familiarisation task. Feel free to have a look at the change above - I tested with pretty much your exact snippet and it worked as expected.

[2022-03-16 16:35] cds-amal commented on #2338
Closing for issue maintenance.

[2022-03-16 16:35] #2338 closed, assigned to nobody

[2022-03-16 18:51] MicaiahReid commented on #2535
@juliusgambe Could you also confirm that xcode is up to date on your machine? This may be helpful: https://stackoverflow.com/a/61286279

[2022-03-17 03:33] fubuloubu opened #2618 "evm_setTime doesn't update "pending" block timestamp"
Writing a ganache plugin for ape, ran into a problem in my test suite for checking updates to the timestamp

See:
https://github.com/ApeWorX/ape-ganache/blob/e0b3b468c6a6721d194969d5bdc4eb95be73eba2/tests/test_ganache.py#L102-L104

[2022-03-17 06:04] MatthieuScarset commented on #2580
Those changes look good to me - thanks @jeffsmale90
I guess we can close this issue now
WAGMI

[2022-03-17 13:51] MicaiahReid commented on #2618
Thanks for the issue @fubuloubu. I think I'll close this as a duplicate of #772. The deeper issue here is that we don't currently have a real pending block - we just return `block.latest`. Since the latest block has already been mined, it's timestamp is already set. Once we actually have a pending block, the EVM time should have an affect on pending block's timestamp.

[2022-03-17 13:51] #2618 closed, assigned to nobody

[2022-03-17 14:44] davidmurdoch opened #2620 "Update levelup types package"
https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/59192#discussioncomment-2380543

[2022-03-17 20:49] 0xslipk opened #2625 "Extends RPC methods"
Hi Guys,

Do you have a way to extends the current RPC methods?, for example I would like to add a harmony RPC method `hmy_getAccountNonce` to return the account nonce.

[2022-03-17 21:52] #2580 closed, assigned to nobody

[2022-03-17 22:55] davidmurdoch commented on #2625
Not yet. But this is a feature we've been planning on adding.

[2022-03-17 23:21] 0xslipk commented on #2625
I would love to do it or help with it. Do you have a branch or spec of what is need it for implement this feature?

[2022-03-18 01:55] ko3en commented on #248
How can this be done in the latest cli version?

[2022-03-18 02:02] davidmurdoch commented on #248
You need to stop the miner via `miner_stop` after start up.

[2022-03-18 02:32] sebastian-alpha opened #2627 "Implications failed: fork.headers -> url"
I am trying to run the following command:

[code]

but get the following error messages:
[code]

Is there an error with my command and if so, may I have an example of how I can specify a fork url as well as headers?

I'm using `ganache v7.0.3 (@ganache/cli: 0.1.4, @ganache/core: 0.1.4)`

[2022-03-18 13:27] JasperTimm opened #2628 "Unresponsive to calls requiring archive node after long time"
This is an issue created from the discussion here: #2588

To summarise, it seems like after ganache has been running for more than a day or so as a fork of mainnet, calls which require use of an archive node are not responded to. The calls can be seen in logs but there's no response. Other transactions such as ETH transfers between accounts seem fine.

Details:
ganache: 7.0.2
Node: v14.19
OS: Both

[2022-03-18 14:46] davidmurdoch commented on #2627
Thanks  for reporting this. It looks like there is a bug in the `headers`+`url` relationship check.